<%- include('./partials/head') %>
<!-- inline css -->
<style>
.case-study-row.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.case-study-row .cell {
    flex: 1; 
    margin: 5px; 
}

.custom-modal {
     max-width: 1000px;
     max-height: 800px;
 }
 .sub-title-text{
     font-size: 15px;
     font-weight:500;
 }

</style>

<!-- Navbar section -->
<%- include('./partials/header') %>
<!-- This is left sidebar  -->
<%- include('./partials/left-sidebar') %>
<!-- This is right side section -->

<!-- This is right side section -->
<main class="main" id="mainContent">
    <div class="main-content">
        <div class="row">
            <!-- Book Publications -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="/research/book-publication-main/book-publication"
                    class="card_school_vf text-center  d-flex flex-column justify-content-center align-items-center">
                    <img src="/image/publication.png" alt="Book Publications" height="55" />
                    <p>Book Publications</p>
                </a>
            </div>
            <!-- Edited Book Publications -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="/research/book-publication-main/edited-book-publication"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center">
                    <img src="/image/edited.png" alt="Edited Book Publications " height="55" />
                    <p> Edited Book Publications </p>
                </a>
            </div>
            <!-- Book Chapter Publications -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="/book-chapter-publication"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="/image/chapter.png" alt="Book Chapter Publications" height="55" />
                    <p>Book Chapter Publications</p>
                </a>
            </div>
    </div>
</main>
<!-- footer section -->
<%- include('./partials/footer') %>
<%- include('./partials/footer-end') %>
           