<%- include('./partials/head') %>
<!-- inline css -->
<style>
.case-study-row.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.case-study-row .cell {
    flex: 1; 
    margin: 5px; 
}

.custom-modal {
     max-width: 1000px;
     max-height: 800px;
 }
 .sub-title-text{
     font-size: 15px;
     font-weight:500;
 }

</style>

<!-- Navbar section -->
<%- include('./partials/header') %>
<!-- This is left sidebar  -->
<%- include('./partials/left-sidebar') %>
    <!-- This is right side section -->
<main class="main" id="mainContent">
    <div class="base-section coustom-section mt-5 p-5">
        <div class="breadcrumbs-container">
        </div>
        <div class="errorHtml"></div>
        <div class="card table-card">
            <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
                <div>
                    <h5>PROGRAM LIST</h5>
                </div>
                <div class="me-2">
                    <a class="btn btn-danger" href="/admin/programs/download"><i class="fas fa-download"></i>
                        Download </a>
                    <button type="button" id="book-publication-form" class="btn btn-primary add-modal" data-toggle="modal" data-target="#book-publication-modal">
                        <i class="fas fa-plus plus"></i></button>
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <div class="d-flex justify-content-between">
                    <div>
                        <label>Show Entries</label>
                        <select class="form-select" id="changeEntry">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="250">250</option>
                            <option value="300">300</option>
                            <option value="350">350</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="800">800</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                    <div>
                        <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i>
                            </button><input type="search" id="searchkeyword" placeholder="Enter keywords"
                                class="table-searchbar">
                        </div>
                    </div>
                </div>
                <table class="table custom-table " id="book-Publication-list">
                    <thead>
                        <th>#</th>
                        <th>Author's name</th>
                        <th>Publication year</th>
                        <th>Book title</th>
                        <th>ISBN Number</th>
                        <th>Publisher Name</th>
                        <th>Action</th>
                    </thead>
                    <% bookPublicationList.forEach(function(publication) { %>
                        <tr>
                            <td data-publication-id="<%- publication.id %>"><%- publication.id %></td>
                            <td class="author-first-name"><%- publication.author_first_name %></td>
                            <td class="publication-year"><%- publication.publication_year %></td>
                            <td class="book-title"><%- publication.book_title %></td>
                            <td class="isbn-no"><%- publication.isbn %></td>
                            <td class="publisher-name"><%- publication.publisher_name %></td>
                            <td>
                                <a class="view" data-publication-id="<%- publication.id %>"><i class="fa-solid fa-eye view"
                                    data-publication-id="<%- publication.id %>"></i></a>
                                 <a class="edit"data-publication-id="<%- publication.id %>"><i class="fa fa-edit edit"
                                    data-publication-id="<%- publication.id %>"></i></a>
                                 <a class="delete"data-publication-id="<%- publication.id %>"><i class="fa-solid fa-trash delete"
                                    data-publication-id="<%- publication.id %>"></i></a>
                            </td>
                        </tr>
                   <% }); %>
                    
                </table>
                <div class="d-flex justify-content-between">
                    <div>
                        <p>Total entries:1
                        </p>
                    </div>
                    <div>
                        <p id="pagination" class="pagination-search"></p>
                    </div>
                </div>
            </div>
        </div>
        <!--Import Modal -->
        <div class="modal fade" id="open-program-modal" tabindex="-1" aria-labelledby="open-program-modal"
            aria-hidden="true">
        </div>
        <!-- EDIT PROGRAM AND UPDATE -->
        <div class="modal fade" id="edit-program-modal" tabindex="-1" aria-labelledby="editModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Update Program</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="errorHtml"></div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Program Name</label>
                            <input type="text" class="form-control" id="program_name" name="program_name">
                            <input type="hidden" class="form-control" id="hidden_id" name="hidden_id">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Program Type</label>
                            <select class="form-control" name="program_type_lid" id="program_type_lid">

                                <option value="1">Full Time</option>

                                <option value="2">Part Time</option>

                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="abbr" class="form-label">Program Abbr</label>
                            <input type="text" class="form-control" id="abbr" name="abbr">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary updateProgram">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- modal form for Book Publication -->
<div class="modal fade " id="book-publication-modal" tabindex="-1" role="dialog" aria-labelledby="book-publication-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="case-study"> BOOK PUBLICATION </h5>
                <div class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- author's first name -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="form-group col">
                            <label for="firstname" class="form-label  fw-bold">Author's first name</label>
                            <input type="text" name="author-first-name" id="author-first-name" class="form-control"
                                placeholder="First name">
                        </div>
                    </div>
                    <!-- Author's last name -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="form-group col">
                            <label for="lastname" class="form-label  fw-bold">Author's last name</label>
                            <input type="text" name="lname" id="author-last-name" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                    <!-- Title of case study -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="caseStudy" class="form-label fw-bold">Title of book</label>
                        <input type="text" name="titleOfBook" id="book-title" class="form-control"
                            placeholder="Title of Book">
                    </div>
                    <!-- Edition -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="edition" class="form-label fw-bold">Edition (if it isn't the first)</label>
                        <input type="text" name="case-study" id="edition" class="form-control" placeholder="Optional">
                    </div>
                    <!-- Volume number -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="Volume" class="form-label fw-bold">Volume number</label>
                        <input type="text" name="vol" id="volume-number" class="form-control" placeholder="Optional">
                    </div>
                    <!-- Publisher Name -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publisherName" class="form-label fw-bold">Publisher Name</label>
                        <input type="text" name="vol" id="publisher-name" class="form-control"
                            placeholder="Pulisher name">
                    </div>
                    <!-- Publisher Category  -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publisher-category" class="form-label fw-bold mb-3">Publisher Category</label><br>
                        <div class="form-check-inline">
                            <label for="international" class="form-check-label">
                                <input type="radio" class="form-check-input" id="inter-national" name="publisher-category" value="International"> International
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="national" class="form-check-label">
                                <input type="radio" class="form-check-input" id="national" name="publisher-category" value="National"> National
                            </label>
                        </div>
                    </div>
                    <!-- Publication Year -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publicationYear" class="form-label fw-bold">Publication Year</label>
                        <input type="text" name="Year" id="publication-year" class="form-control"
                            placeholder="Publication Year">
                    </div>
                    <!-- URL of the book publication -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="URL of book" class="form-label fw-bold">URL of book</label>
                        <input type="url" name="URL" id="book-url" class="form-control"
                            placeholder="URL">
                    </div>
                     <!-- ISBN Number -->
                     <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="caseStudy" class="form-label fw-bold">ISBN Number</label>
                        <input type="ISBN Number" name="ISBN-Number" id="isbn-no" class="form-control"
                            placeholder="ISBN Number">
                    </div>
                     <!-- DOI of book -->
                     <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="doi-book-id" class="form-label fw-bold">DOI of book</label>
                        <input type="text" name="doi-book-id" id="doi-book-id" class="form-control"
                            placeholder="DOI BOOK ">
                    </div>
                     <!-- Place of Publication -->
                     <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publication-place" class="form-label fw-bold">Place of Publication</label>
                        <input type="text" name="publication-place" id="publication-place" class="form-control"
                            placeholder="publication Place ">
                    </div>
                    <!-- No. of NMIMS Authors -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="NMIMSAuthors" class="form-label fw-bold ">No. of NMIMS Authors</label>
                        <input type="text" name="nmims-authors" id="number-of-nmims-authors"
                            placeholder="No. of NMIMS Authors" class="form-control " />
                    </div>
                    <!-- Name of NMIMS Authors -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="nameOfAuthors" class="form-label fw-bold ">Name of NMIMS Authors</label>
                        <input type="text" name="web-link" id="nmims-authors" placeholder="Name of NMIMS Authors"
                            class="form-control " />
                    </div>
                    <!-- NMIMS Campus - Author -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="campusAuthors" class="form-label fw-bold ">NMIMS Campus Author</label>
                        <input type="url" name="web-link" id="nmims-campus-authors" placeholder="NMIMS Campus Author"
                            class="form-control " />
                    </div>
                    <!--NMIMS School - Author-->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="campusAuthors" class="form-label fw-bold ">NMIMS School Author</label>
                        <input type="url" name="web-link" id="nmims-school-authors" placeholder="NMIMS School Author"
                            class="form-control " />
                    </div>
                      <!-- Upload Supporting Documents-->
                      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="supporting-documents" class="form-label fw-bold">
                            Upload Supporting Documents
                        </label>
                        <input type="file" name="researchSupportingDocument" id="supporting-documents" class="form-control" min='2000-01-01'
                            max="2023-10-02">
                    </div>
                </div>
            </div>
           <!-- Add your modal footer buttons if needed -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button class="btn btn-md btn-success d-none" id="submit-btn">Submit</button>
                <button class="btn btn-md btn-success d-none" id="update-btn">update</button>
            </div>
        </div>
    </div>
</div>
<script>
    const bookPublicationList = document.getElementById('book-Publication-list');
    const submitBtn = document.getElementById('submit-btn');
    const updateBtn = document.getElementById('update-btn');
    const addNewBookPublication = document.getElementById('book-publication-form');
    addNewBookPublication.addEventListener('click' , function(event) {
        console.log('clikeddd')
        if(event.target.tagName === 'BUTTON' && event.target.classList.contains('add-modal') || event.target.classList.contains('plus')){
            updateBtn.classList.add('d-none');
            submitBtn.classList.remove('d-none');
        }
    })
    const  insertBookPublication = async(url) =>{
        const bookPublicationData = new FormData();
        const authorFirstName = document.getElementById('author-first-name').value;
        const authorLastName = document.getElementById('author-last-name').value;
        const booktitle = document.getElementById('book-title').value;
        const edition = document.getElementById('edition').value;
        const isbnNo = document.getElementById('isbn-no').value;
        const publicationPlace = document.getElementById('publication-place').value;
        const publisherCategory = document.querySelector('input[name="publisher-category"]:checked').value;
        const volumeNumber = document.getElementById('volume-number').value;
        const publisherName = document.getElementById('publisher-name').value;
        const publicationYear = document.getElementById('publication-year').value;
        const bookUrl = document.getElementById('book-url').value;
        const doiBookId = document.getElementById('doi-book-id').value;
        const numberOfNmimsAuthors = document.getElementById('number-of-nmims-authors').value;
        const nmimsAuthors = document.getElementById('nmims-authors').value;
        const nmimsCampusAuthors = document.getElementById('nmims-campus-authors').value;
        const nmimsSchoolAuthors = document.getElementById('nmims-school-authors').value;
        const supportingDocuments = document.querySelector('input[type="file"]')

        // appending value
        bookPublicationData.append('authorFirstName' , authorFirstName);
        bookPublicationData.append('authorLastName' , authorLastName);
        bookPublicationData.append('booktitle' , booktitle);
        bookPublicationData.append('edition' , edition);
        bookPublicationData.append('booktitle booktitle' , booktitle);
        bookPublicationData.append('isbnNo' , isbnNo);
        bookPublicationData.append('publicationPlace' , publicationPlace);
        bookPublicationData.append('publisherCategory' , publisherCategory);
        bookPublicationData.append('volumeNumber' , volumeNumber);
        bookPublicationData.append('publisherName' , publisherName);
        bookPublicationData.append('publicationYear' , publicationYear);
        bookPublicationData.append('bookUrl' , bookUrl);
        bookPublicationData.append('doiBookId' , doiBookId);
        bookPublicationData.append('numberOfNmimsAuthors' , numberOfNmimsAuthors);
        bookPublicationData.append('nmimsAuthors' , nmimsAuthors);
        bookPublicationData.append('nmimsCampusAuthors' , nmimsCampusAuthors);
        bookPublicationData.append('nmimsSchoolAuthors' , nmimsSchoolAuthors);
        bookPublicationData.append('researchSupportingDocument' , supportingDocuments.files[0]);

        fetch(url , {
            method : 'POST',
            body : bookPublicationData
        })
        .then((result) => {
            return result.json()
        })
        .then((data) => {
            console.log('data ==>>', data)
        })
    }
    submitBtn.addEventListener('click' , async function() {
       await insertBookPublication('/research/book-publication-main/edited-book-publication/insert')
    })
</script>

<!-- footer section -->
<%- include('./partials/footer') %>
<%- include('./partials/footer-end') %>
           