<%- include('./partials/head') %>
<!-- inline css -->
<style>
.case-study-row.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.case-study-row .cell {
    flex: 1; 
    margin: 5px; 
}

.custom-modal {
     max-width: 1000px;
     max-height: 800px;
 }
 .sub-title-text{
     font-size: 15px;
     font-weight:500;
 }

</style>

<!-- Navbar section -->
<%- include('./partials/header') %>
<!-- This is left sidebar  -->
<%- include('./partials/left-sidebar') %>
<!-- This is right side section -->
<main class="main" id="mainContent">
                <div class="base-section coustom-section mt-5 p-5">
                    <!--DASHBOARD CONTENT START-->
                    <div class="breadcrumbs-container">
                    </div>
                    <div class="errorHtml"></div>
                    <div class="card table-card">
                        <div
                            class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
                            <div>
                                <h3>BOOK CHAPTER PUBLICATION LIST</h3>
                            </div>
                            <div class="me-2">
                                <button id="book-chapter-add-modal" type="button" class="btn btn-primary add-modal" data-toggle="modal"
                                    data-target="#book-chapter-modal">
                                    <i  class="fas fa-plus plus"></i></button>
                                </button>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <label>Show Entries</label>
                                    <select class="form-select" id="changeEntry">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="150">150</option>
                                        <option value="200">200</option>
                                        <option value="250">250</option>
                                        <option value="300">300</option>
                                        <option value="350">350</option>
                                        <option value="400">400</option>
                                        <option value="500">500</option>
                                        <option value="800">800</option>
                                        <option value="1000">1000</option>
                                    </select>
                                </div>
                                <div>
                                    <div class="table-searchbar-container"><button type="button"><i
                                                class="fas fa-search"></i>
                                        </button><input type="search" id="searchkeyword" placeholder="Enter keywords"
                                            class="table-searchbar">
                                    </div>
                                </div>
                            </div>
                            <table class="table custom-table " id="book-chapter-list">
                                <thead>
                                    <th>#</th>
                                    <th>Author's name</th>
                                    <th>Publication year</th>
                                    <th>Book title</th>
                                    <th>ISBN Number</th>
                                    <th>Publisher Name</th>
                                    <th>Action</th>
                                </thead>
                                <% bookChapterData.forEach(function(bookChapter) { %>
                                    <tr row="scope" data-bookChapter-id="<%- bookChapter.id %>" data-author-last-name="<%-bookChapter.author_last_name %>" data-page-number="<%- bookChapter.page_number %>"
                                        data-edition="<%- bookChapter.edition %>" data-volume-number="<%-bookChapter.volume_number %>" data-publisher-category="<%- bookChapter.publisher_category %>"
                                        data-book-url="<%- bookChapter.book_url %>" data-doi-book-id="<%-bookChapter.doi_id %>"
                                        data-number-of-nmims-authors="<%- bookChapter.number_of_nmims_authors %>" data-nmims-authors="<%- bookChapter.nmims_authors %>" data-nmims-campus-authors="<%- bookChapter.nmims_campus_authors %>"
                                        data-nmims-school-authors="<%- bookChapter.nmims_school_authors %>" data-supporting-documents="<%- bookChapter.supporting_documents %>"
                                        data-chapter-title="<%- bookChapter.chapter_title %>" data-editor-name="<%-bookChapter.editor_name %>">
                                        <td data-bookChapter-id="<%- bookChapter.id %>"><%- bookChapter.id %></td>
                                        <td class="author-first-name"><%- bookChapter.author_first_name %></td>
                                        <td class="publication-year"><%- bookChapter.publication_year %></td>
                                        <td class="book-title"><%- bookChapter.book_title %></td>
                                        <td class="isbn-no"><%- bookChapter.isbn_no %></td>
                                        <td class="publisher-name"><%- bookChapter.publisher_name %></td>
                                        <td>
                                            <a class="view" data-bookChapter-id="<%- bookChapter.id %>"><i class="fa-solid fa-eye view"
                                                data-bookChapter-id="<%- bookChapter.id %>"></i></a>
                                             <a class="edit"data-bookChapter-id="<%- bookChapter.id %>"><i class="fa fa-edit edit"
                                                data-bookChapter-id="<%- bookChapter.id %>"></i></a>
                                             <a class="delete"data-bookChapter-id="<%- bookChapter.id %>"><i class="fa-solid fa-trash delete"
                                                data-bookChapter-id="<%- bookChapter.id %>"></i></a>
                                        </td>
                                    </tr>
                                <% }); %>  
                            </table>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p>Total entries:1
                                    </p>
                                </div>
                                <div>
                                    <p id="pagination" class="pagination-search"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Import Modal -->
    <div class="modal fade" id="open-program-modal" tabindex="-1" aria-labelledby="open-program-modal"
                        aria-hidden="true">
    </div>
    <!-- EDIT PROGRAM AND UPDATE -->
    <div class="modal fade" id="edit-program-modal" tabindex="-1" aria-labelledby="editModalLabel"
                        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Update Program</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="errorHtml"></div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Program Name</label>
                        <input type="text" class="form-control" id="program_name" name="program_name">
                        <input type="hidden" class="form-control" id="hidden_id" name="hidden_id">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Program Type</label>
                        <select class="form-control" name="program_type_lid" id="program_type_lid">
                            <option value="1">Full Time</option>
                            <option value="2">Part Time</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="abbr" class="form-label">Program Abbr</label>
                        <input type="text" class="form-control" id="abbr" name="abbr">
                    </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary updateProgram">Update</button>
                    </div>
                </div>
            </div>
        </div>
</main>
<!-- Book Chapter Modal  form -->
<div class="modal fade " id="book-chapter-modal" tabindex="-1" role="dialog" aria-labelledby="book-chapter-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="case-study">BOOK CHAPTER PUBLICATION </h5>
                <div class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- author's first name -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="form-group col">
                            <label for="firstname" class="form-label  fw-bold">Author's first name</label>
                            <input type="text" name="author-first-name" id="author-first-name" class="form-control"
                                placeholder="First name">
                        </div>
                    </div>
                    <!-- Author's last name -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="form-group col">
                            <label for="lastname" class="form-label  fw-bold">Author's last name</label>
                            <input type="text" name="lname" id="author-last-name" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                    <!-- Title of chapter -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="caseStudy" class="form-label fw-bold">Title of chapeter</label>
                        <input type="text" name="titleOfBook" id="chapter-title" class="form-control"
                            placeholder="Title of Book">
                    </div>
                    <!-- Title of BOOK -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="caseStudy" class="form-label fw-bold">Title of book</label>
                        <input type="text" name="titleOfBook" id="book-title" class="form-control"
                            placeholder="Title of Book">
                    </div>
                    <!-- Edition -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="edition" class="form-label fw-bold">Edition (if it isn't the first)</label>
                        <input type="text" name="case-study" id="edition" class="form-control" placeholder="Optional">
                    </div>
                    <!-- EDITOR NAME -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="edition" class="form-label fw-bold">EDITOR</label>
                        <input type="text" name="editor" id="editor-name" class="form-control" placeholder="Optional">
                    </div>
                    <!-- PAGE number -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="Volume" class="form-label fw-bold">Page number</label>
                        <input type="text" name="vol" id="page-number" class="form-control" placeholder="Optional">
                    </div>
                    <!-- Publisher Name -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publisherName" class="form-label fw-bold">Publisher Name</label>
                        <input type="text" name="vol" id="publisher-name" class="form-control"
                            placeholder="Pulisher name">
                    </div>
                    <!-- Publisher Category  -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publisher-category" id="publisher-category" class="form-label fw-bold mb-3">Publisher Category</label><br>
                        <div class="form-check-inline">
                            <label for="inter-national" class="form-check-label">
                                <input type="radio" class="form-check-input" id="inter-national" name="publisher-category" value="International"> International
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="national" class="form-check-label">
                                <input type="radio" class="form-check-input" id="national" name="publisher-category" value="National"> National
                            </label>
                        </div>
                    </div>
                    <!-- Publication Year -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publicationYear" class="form-label fw-bold">Publication Year</label>
                        <input type="text" name="Year" id="publication-year" class="form-control"
                            placeholder="Publication Year">
                    </div>
                    <!-- URL of the book publication -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="URL of book" class="form-label fw-bold">URL of book</label>
                        <input type="url" name="URL" id="book-url" class="form-control"
                            placeholder="URL">
                    </div>
                     <!-- ISBN Number -->
                     <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="caseStudy" class="form-label fw-bold">ISBN Number</label>
                        <input type="ISBN Number" name="ISBN-Number" id="isbn-no" class="form-control"
                            placeholder="ISBN Number">
                    </div>
                     <!-- DOI of book -->
                     <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="doi-book-id" class="form-label fw-bold">DOI of book</label>
                        <input type="text" name="doi-book-id" id="doi-book-id" class="form-control"
                            placeholder="DOI BOOK ">
                    </div>
                     <!-- volume number -->
                     <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="volume-number" class="form-label fw-bold">VOLUME NUMBER</label>
                        <input type="text" name="volume-number" id="volume-number" class="form-control"
                            placeholder="publication Place ">
                    </div>
                    <!-- No. of NMIMS Authors -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="NMIMSAuthors" class="form-label fw-bold ">No. of NMIMS Authors</label>
                        <input type="text" name="nmims-authors" id="number-of-nmims-authors"
                            placeholder="No. of NMIMS Authors" class="form-control " />
                    </div>
                    <!-- Name of NMIMS Authors -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="nameOfAuthors" class="form-label fw-bold ">Name of NMIMS Authors</label>
                        <input type="text" name="web-link" id="nmims-authors" placeholder="Name of NMIMS Authors"
                            class="form-control " />
                    </div>
                    <!-- NMIMS Campus - Author -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="campusAuthors" class="form-label fw-bold ">NMIMS Campus Author</label>
                        <input type="url" name="web-link" id="nmims-campus-authors" placeholder="NMIMS Campus Author"
                            class="form-control " />
                    </div>
                    <!--NMIMS School - Author-->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="campusAuthors" class="form-label fw-bold ">NMIMS School Author</label>
                        <input type="url" name="web-link" id="nmims-school-authors" placeholder="NMIMS School Author"
                            class="form-control " />
                    </div>
                      <!-- Upload Supporting Documents-->
                      <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="supporting-documents" class="form-label fw-bold">
                            Upload Supporting Documents
                        </label>
                        <input type="file" name="researchSupportingDocument" id="supporting-documents" class="form-control" min='2000-01-01'
                            max="2023-10-02">
                    </div>
                </div>
            </div>
            <!-- footer button -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary d-none" id="submit-btn">Submit</button>
                <button type="button" class="btn btn-primary d-none" id="update-btn">update</button>
            </div>
        </div>
    </div>
</div>
<!--   BOOK CHAPTER  publication view modal -->
<div class="modal fade" id="book-chapter-view" tabindex="-1" role="dialog" aria-labelledby="edited-book-view-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">  BOOK CHAPTER PUBLICATION</h5>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times fa"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="row">
                        <!-- author's first name -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">AUTHOR'S FIRST NAME :</div>
                                <label id="view-first-name"></label>
                            </div>
                        </div>
            
                        <!-- Author's last name -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">AUTHOR'S LAST NAME :</div>
                                <label id="view-last-name"></label>
                            </div>
                        </div>
                        <!-- Title of case study -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">TITLE OF BOOK  :</div>
                                <label id="view-book-title"></label>
                            </div>
                        </div>
                        <!-- Publication place -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text"> PLACE OF PUBLICATION :</div>
                                <label id="view-volume-number"></label>
                            </div>
                        </div>
                        <!-- Edition -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">EDITION :</div>
                                <label id="view-edition"></label>
                            </div>
                        </div>
                          <!-- Editor name -->
                          <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">EDITOR NAME :</div>
                                <label id="view-editor-name"></label>
                            </div>
                        </div>
                          <!-- chapter title -->
                          <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">CHAPTER TITLE :</div>
                                <label id="view-chapter-title"></label>
                            </div>
                        </div>
                          <!-- publisher category -->
                          <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">PUBLISHER CATEGORY :</div>
                                <label id="view-publisher-category"></label>
                            </div>
                        </div>
                        <!-- page number -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">PAGE NUMBER :</div>
                                <label id="view-page-number"></label>
                            </div>
                        </div>
                        <!-- doi book id -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">DOI OF BOOK  :</div>
                                <label id="view-doi-book-id"></label>
                            </div>
                        </div>
                        <!-- Publisher Name -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">PUBLISHER NAME :</div>
                                <label id="view-publisher-name"></label>
                            </div>
                        </div>
            
                        <!-- Publication Year -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">PUBLICATION YEAR :</div>
                                <label id="view-publication-year"></label>
                            </div>
                        </div>
                        <!-- Publication Year -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">ISBN NUMBER :</div>
                                <label id="view-isbn-no"></label>
                            </div>
                        </div>
                        <!-- Publication Year -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">URL OF BOOK:</div>
                                <label id="view-book-url"></label>
                            </div>
                        </div>
                        <!-- Number of nmims authors -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text"> NO. OF NMIMS AUTHORS :</div>
                                <label id="view-no-of-nmims-authors"></label>
                            </div>
                        </div>
                        <!-- Publication Year -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text"> NAME OF NMIMS AUTHORS :</div>
                                <label id="view-nmims-authors"></label>
                            </div>
                        </div>
                        <!-- NMIMS CAMPUS AUTHOR -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">NMIMS CAMPUS AUTHOR:</div>
                                <label id="view-nmims-campus-authors"></label>
                            </div>
                        </div>
                        <!-- NMIMS SCHOOL AUTHOR -->
                        <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">NMIMS SCHOOL AUTHOR :</div>
                                <label id="view-nmims-school-authors"></label>
                            </div>
                        </div>
                         <!-- Supporting Document -->
                         <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                            <div class="box">
                                <div class="task-sub-title sub-title-text">SUPPORTING DOCUMENT:</div>
                                <label id="view-support-document"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- inline javascript -->
<script>
    const bookChapterList = document.getElementById('book-chapter-list');
    const submitBtn = document.getElementById('submit-btn');
    const updateBtn = document.getElementById('update-btn');
    const addnewBookChapter = document.getElementById('book-chapter-add-modal');
    let bookChapterId , bookChapterRowToBeUpdated;
    addnewBookChapter.addEventListener('click' , function(event) {
        console.log('clikeddd')
        if(event.target.tagName === 'BUTTON' && event.target.classList.contains('add-modal') || event.target.classList.contains('plus')){
            updateBtn.classList.add('d-none');
            submitBtn.classList.remove('d-none');
        }
    })
    const  insertbookChapter = async(url) =>{
        const bookChapter = new FormData();
        const authorFirstName = document.getElementById('author-first-name').value;
        const authorLastName = document.getElementById('author-last-name').value;
        const bookTitle = document.getElementById('book-title').value;
        const edition = document.getElementById('edition').value;
        const isbnNo = document.getElementById('isbn-no').value;
        const editorName = document.getElementById('editor-name').value;
        const chapterTitle = document.getElementById('chapter-title').value;
        const volumeNumber = document.getElementById('volume-number').value;
        const publisherCategory = document.querySelector('input[name="publisher-category"]:checked').value;
        const pageNumber = document.getElementById('page-number').value;
        const publisherName = document.getElementById('publisher-name').value;
        const publicationYear = document.getElementById('publication-year').value;
        const bookUrl = document.getElementById('book-url').value;
        const doiBookId = document.getElementById('doi-book-id').value;
        const numberOfNmimsAuthors = document.getElementById('number-of-nmims-authors').value;
        const nmimsAuthors = document.getElementById('nmims-authors').value;
        const nmimsCampusAuthors = document.getElementById('nmims-campus-authors').value;
        const nmimsSchoolAuthors = document.getElementById('nmims-school-authors').value;
        const supportingDocuments = document.querySelector('input[type="file"]')

        // appending value
        bookChapter.append('authorFirstName' , authorFirstName);
        bookChapter.append('authorLastName' , authorLastName);
        bookChapter.append('bookTitle' , bookTitle);
        bookChapter.append('edition' , edition);
        bookChapter.append('isbnNo' , isbnNo);
        bookChapter.append('editorName' , editorName);
        bookChapter.append('chapterTitle' , chapterTitle);
        bookChapter.append('volumeNumber' , volumeNumber);
        bookChapter.append('publisherCategory' , publisherCategory);
        bookChapter.append('pageNumber' , pageNumber);
        bookChapter.append('publisherName' , publisherName);
        bookChapter.append('publicationYear' , publicationYear);
        bookChapter.append('bookUrl' , bookUrl);
        bookChapter.append('doiBookId' , doiBookId);
        bookChapter.append('numberOfNmimsAuthors' , numberOfNmimsAuthors);
        bookChapter.append('nmimsAuthors' , nmimsAuthors);
        bookChapter.append('nmimsCampusAuthors' , nmimsCampusAuthors);
        bookChapter.append('nmimsSchoolAuthors' , nmimsSchoolAuthors);
        bookChapter.append('researchSupportingDocument' , supportingDocuments.files[0]);

        fetch(url , {
            method : 'POST',
            body : bookChapter
        })
        .then((result) => {
            return result.json()
        })
        .then((data) => {
           if(data.status === 'done'){
            console.log('data ==>>', data)
            const newBookChapter = document.createElement('tr');
            newBookChapter.setAttribute('data-page-number' , data.bookChapter.pageNumber);
            newBookChapter.setAttribute('data-edition' , data.bookChapter.edition);
            newBookChapter.setAttribute('data-editor-name' , data.bookChapter.editorName);
            newBookChapter.setAttribute('data-chapter-title' , data.bookChapter.chapterTitle);
            newBookChapter.setAttribute('data-volume-number' , data.bookChapter.volumeNumber);
            newBookChapter.setAttribute('data-publisher-category' , data.bookChapter.publisherCategory);
            newBookChapter.setAttribute('data-book-url' , data.bookChapter.bookUrl);
            newBookChapter.setAttribute('data-doi-book-id' , data.bookChapter.doiBookId);
            newBookChapter.setAttribute('data-number-of-nmims-authors' , data.bookChapter.numberOfNmimsAuthors);
            newBookChapter.setAttribute('data-nmims-authors' , data.bookChapter.nmimsAuthors);
            newBookChapter.setAttribute('data-nmims-campus-authors' , data.bookChapter.nmimsCampusAuthors);
            newBookChapter.setAttribute('data-nmims-school-authors' , data.bookChapter.nmimsSchoolAuthors);
            newBookChapter.setAttribute('data-supporting-documents' , data.bookChapter.supportingDocuments);
            newBookChapter.innerHTML = `
                        <td >${data.bookChapterId}</td>
                            <td class="author-first-name">${data.bookChapter.authorFirstName}</td>
                            <td class="publication-year">${data.bookChapter.publicationYear}</td>
                            <td class="book-title">${data.bookChapter.bookTitle}</td>
                            <td class="isbn-no">${data.bookChapter.isbnNo}</td>
                            <td class="publisher-name">${data.bookChapter.publisherName}</td>
                            <td>
                                <a class="view" data-publication-id="${data.bookChapterId}"><i class="fa-solid fa-eye view"
                                    data-publication-id="${data.bookChapterId}"></i></a>
                                 <a class="edit"data-publication-id="${data.bookChapterId}"><i class="fa fa-edit edit"
                                    data-publication-id="${data.bookChapterId}"></i></a>
                                 <a class="delete"data-publication-id="${data.bookChapterId}"><i class="fa-solid fa-trash delete"
                                    data-publication-id="${data.bookChapterId}"></i></a>
                            </td> `;
            bookChapterList.append(newBookChapter);
            $('#book-chapter-modal').modal('hide');
            alert('data inserted successfully');
           }
        })
    }
    submitBtn.addEventListener('click' , async function() {
       await insertbookChapter('/research/book-publication-main/book-chapter-publication/insert')
    })

    bookChapterList.addEventListener('click' , (event) => {
        // for updation
        if(event.target.classList.contains('edit')){
            console.log('clickeddd');
            bookChapterRowToBeUpdated = event.target.closest('tr');
            console.log('bookChapterRowToBeUpdated ==>>', bookChapterRowToBeUpdated);
            bookChapterId = bookChapterRowToBeUpdated.getAttribute('data-bookChapter-id');
            console.log('bookChapterId ==>>', bookChapterId);
            $('#edited-book-modal').modal('show');
            updateBtn.classList.remove('d-none');
            submitBtn.classList.add('d-none');
            const authorFirstName = document.getElementById('author-first-name');
            const authorLastName = document.getElementById('author-last-name');
            const bookTitle = document.getElementById('book-title');
            const edition = document.getElementById('edition');
            const editorName = document.getElementById('editor-name');
            const chapterTitle= document.getElementById('chapter-title');
            const isbnNo = document.getElementById('isbn-no');
            const volumeNumber = document.getElementById('volume-number');
            const publisherCategoryNational = document.getElementById('national');
            const publisherCategoryInternational = document.getElementById('inter-national');
            const pageNumber = document.getElementById('page-number');
            const publisherName = document.getElementById('publisher-name');
            const publicationYear = document.getElementById('publication-year');
            const bookUrl = document.getElementById('book-url');
            const doiBookId = document.getElementById('doi-book-id');
            const numberOfNmimsAuthors = document.getElementById('number-of-nmims-authors');
            const nmimsAuthors = document.getElementById('nmims-authors');
            const nmimsCampusAuthors = document.getElementById('nmims-campus-authors');
            const nmimsSchoolAuthors = document.getElementById('nmims-school-authors');
            const supportingDocuments = document.getElementById('supporting-documents');
            // assigning related row data value
            authorFirstName.value = bookChapterRowToBeUpdated.querySelector('.author-first-name').innerText;
            authorLastName.value = bookChapterRowToBeUpdated.getAttribute('data-author-last-name');
            bookTitle.value = bookChapterRowToBeUpdated.querySelector('.book-title').innerText;
            edition.value = bookChapterRowToBeUpdated.getAttribute('data-edition');
            editorName.value = bookChapterRowToBeUpdated.getAttribute('data-editor-name');
            chapterTitle.value = bookChapterRowToBeUpdated.getAttribute('data-chapter-title');
            publisherName.value = bookChapterRowToBeUpdated.querySelector('.publisher-name').innerText;
            isbnNo.value = bookChapterRowToBeUpdated.querySelector('.isbn-no').innerText;
            volumeNumber.value = bookChapterRowToBeUpdated.getAttribute('data-volume-number');
            const publisherCategory = bookChapterRowToBeUpdated.getAttribute('data-publisher-category');
            if(publisherCategory === 'National'){
                publisherCategoryNational.checked = true;
            }
            else{
                publisherCategoryInternational.checked = true;
            }
            pageNumber.value = bookChapterRowToBeUpdated.getAttribute('data-page-number');
            publicationYear.value = bookChapterRowToBeUpdated.querySelector('.publication-year').innerText;
            bookUrl.value = bookChapterRowToBeUpdated.getAttribute('data-book-url');
            doiBookId.value = bookChapterRowToBeUpdated.getAttribute('data-doi-book-id');
            numberOfNmimsAuthors.value = bookChapterRowToBeUpdated.getAttribute('data-number-of-nmims-authors');
            nmimsAuthors.value = bookChapterRowToBeUpdated.getAttribute('data-nmims-authors');
            nmimsCampusAuthors.value = bookChapterRowToBeUpdated.getAttribute('data-nmims-campus-authors');
            nmimsSchoolAuthors.value = bookChapterRowToBeUpdated.getAttribute('data-nmims-school-authors');
            supportingDocuments.textContent = bookChapterRowToBeUpdated.getAttribute('data-supporting-documents');
            }
        
        //  for delete   
        if(event.target.classList.contains('delete')){
            console.log('clickedddd');
            const bookChapterPublicatRowToBeDeleted = event.target.closest('tr');
            bookChapterId = bookChapterPublicatRowToBeDeleted.getAttribute('data-bookChapter-id');
            console.log('ID ==>>', bookChapterId);

            fetch('/research/book-publication-main/book-chapter-publication/delete' , {
                method : 'POST',
                headers : {
                    'content-type' : 'application/json'
                },
                body : JSON.stringify({bookChapterId})
            })
            .then((result) => {
                return result.json()
            })
            .then((data) => {
                if(data.status === 'done'){
                    console.log('data ==>>', data);
                    bookChapterPublicatRowToBeDeleted.remove();
                }
            })
        }
        
        // for view
        if(event.target.classList.contains('view')){
            console.log('clickedddd');
            const bookChapterRowToBeViewed = event.target.closest('tr');
            bookChapterId = bookChapterRowToBeViewed.getAttribute('data-bookChapter-id');
            console.log('ID ==>>', bookChapterId);
            $('#b00k-chapter-view').modal('show');
            const viewAuthorFirstName = document.getElementById('view-first-name');
            const viewAuthorLastName = document.getElementById('view-last-name');
            const viewBookTitle = document.getElementById('view-book-title');
            const viewEditorName = document.getElementById('view-editor-name');
            const viewChapterTitle = document.getElementById('view-chapter-title');
            const viewEdition = document.getElementById('view-edition');
            const viewIsbnNo = document.getElementById('view-isbn-no');
            const viewVolumeNumber = document.getElementById('view-volume-number');
            const viewPublisherCategory = document.getElementById('view-publisher-category');
            const viewPageNumber = document.getElementById('view-page-number');
            const viewPublisherName = document.getElementById('view-publisher-name');
            const viewPublicationYear = document.getElementById('view-publication-year');
            const viewBookUrl = document.getElementById('view-book-url');
            const viewDoiBookId = document.getElementById('view-doi-book-id');
            const viewNumberOfNmimsAuthors = document.getElementById('view-no-of-nmims-authors');
            const viewNmimsAuthors = document.getElementById('view-nmims-authors');
            const viewNmimsCampusAuthors = document.getElementById('view-nmims-campus-authors');
            const viewNmimsSchoolAuthors = document.getElementById('view-nmims-school-authors');
            const viewSupportingDocuments = document.getElementById('view-support-document');

            fetch('/research/book-publication-main/book-chapter-publication/view' , {
                method : 'POST',
                headers : {
                    'content-type' : 'application/json'
                },
                body : JSON.stringify({bookChapterId})
            })
            .then((result) => {
                return result.json()
            })
            .then((data) => {
                if(data.status === 'done'){
                    console.log('data ==>>', data);
                    viewAuthorFirstName.innerText = data.bookChapterView.author_first_name;
                    viewAuthorLastName.innerText = data.bookChapterView.author_last_name;
                    viewBookTitle.innerText = data.bookChapterView.book_title; 
                    viewEdition.innerText = data.bookChapterView.edition;
                    viewEditorName.innerText = data.bookChapterView.editor_name; 
                    viewChapterTitle.innerText = data.bookChapterView.chapter_title;  
                    viewIsbnNo.innerText = data.bookChapterView.isbn_no; 
                    viewVolumeNumber.innerText = data.bookChapterView.publication_place;
                    viewPublisherCategory.innerText = data.bookChapterView.publisher_category 
                    viewPageNumber .innerText = data.bookChapterView.page_number; 
                    viewPublisherName.innerText = data.bookChapterView.publisher_name; 
                    viewPublicationYear.innerText = data.bookChapterView.publication_year; 
                    viewBookUrl.innerText = data.bookChapterView.book_url; 
                    viewDoiBookId.innerText = data.bookChapterView.doi_id; 
                    viewNumberOfNmimsAuthors.innerText = data.bookChapterView.number_of_nmims_authors; 
                    viewNmimsAuthors.innerText = data.bookChapterView.nmims_authors;
                    viewNmimsCampusAuthors.innerText = data.bookChapterView.nmims_campus_authors; 
                    viewNmimsSchoolAuthors.innerText = data.bookChapterView.nmims_school_authors; 
                    viewSupportingDocuments.innerText = data.bookChapterView.supporting_documents;
                }

            })
        }
    })

    updateBtn.addEventListener('click' , () => {
        const updatedBookChapter = new FormData();
        const updatedAuthorFirstName = document.getElementById('author-first-name').value;
        const updatedaAuthorLastName = document.getElementById('author-last-name').value;
        const updatedBookTitle = document.getElementById('book-title').value;
        const updatedEdition = document.getElementById('edition').value;
        const updatedIsbnNo = document.getElementById('isbn-no').value;
        const updatedEditorName = document.getElementById('editor-name').value;
        const updatedChapterTitle = document.getElementById('chapter-title').value;
        const updatedVolumeNumber = document.getElementById('volume-number').value;
        const updatedPublisherCategory = document.querySelector('input[name="publisher-category"]:checked').value;
        const updatedPageNumber = document.getElementById('page-number').value;
        const updatedPublisherName = document.getElementById('publisher-name').value;
        const updatedPublicationYear = document.getElementById('publication-year').value;
        const updatedBookUrl = document.getElementById('book-url').value;
        const updatedDoiBookId = document.getElementById('doi-book-id').value;
        const updatedNumberOfNmimsAuthors = document.getElementById('number-of-nmims-authors').value;
        const updatedNmimsAuthors = document.getElementById('nmims-authors').value;
        const updatedNmimsCampusAuthors = document.getElementById('nmims-campus-authors').value;
        const updatedNmimsSchoolAuthors = document.getElementById('nmims-school-authors').value;
        const updatedDocuments = document.getElementById('supporting-documents');
        updatedBookChapter.append('bookChapterId' , bookChapterId);
        updatedBookChapter.append('authorFirstName' , updatedAuthorFirstName);
        updatedBookChapter.append('authorLastName' , updatedaAuthorLastName);
        updatedBookChapter.append('bookTitle' , updatedBookTitle);
        updatedBookChapter.append('edition' , updatedEdition);
        updatedBookChapter.append('editorName' ,updatedEditorName);
        updatedBookChapter.append('chapterTitle' , updatedChapterTitle);
        updatedBookChapter.append('isbnNo' , updatedIsbnNo);
        updatedBookChapter.append('volumeNumber' , updatedVolumeNumber);
        updatedBookChapter.append('publisherCategory' , updatedPublisherCategory);
        updatedBookChapter.append('pageNumber' , updatedPageNumber);
        updatedBookChapter.append('publisherName' , updatedPublisherName);
        updatedBookChapter.append('publicationYear' , updatedPublicationYear);
        updatedBookChapter.append('bookUrl' , updatedBookUrl);
        updatedBookChapter.append('doiBookId' , updatedDoiBookId);
        updatedBookChapter.append('numberOfNmimsAuthors' , updatedNumberOfNmimsAuthors);
        updatedBookChapter.append('nmimsAuthors' , updatedNmimsAuthors);
        updatedBookChapter.append('nmimsCampusAuthors' , updatedNmimsCampusAuthors);
        updatedBookChapter.append('nmimsSchoolAuthors' , updatedNmimsSchoolAuthors);
        if(updatedDocuments && updatedDocuments.files && updatedDocuments.files.length > 0){
            updatedBookChapter.append('researchSupportingDocument' , updatedDocuments.files[0]);
         }
        fetch('/research/book-publication-main/book-chapter-publication/update' , {
            method : 'POST',
            body : updatedBookChapter
        })
        .then((result) => {
            return result.json()
        })
        .then((data) => {
            if(data.status === 'done'){
                console.log('data ==>>', data);
                bookChapterRowToBeUpdated.setAttribute('data-page-number' , data.updatedBookChapter.pageNumber );
                bookChapterRowToBeUpdated.setAttribute('data-edition' , data.updatedBookChapter.edition);
                bookChapterRowToBeUpdated.setAttribute('data-volume-number' , data.updatedBookChapter.volumeNumber);
                bookChapterRowToBeUpdated.setAttribute('data-publisher-category' , data.updatedBookChapter.publisherCategory);
                bookChapterRowToBeUpdated.setAttribute('data-editot-name' , data.updatedBookChapter.editorName);
                bookChapterRowToBeUpdated.setAttribute('data-chapter-title' , data.updatedBookChapter.chapterTitle);
                bookChapterRowToBeUpdated.setAttribute('data-book-url' , data.updatedBookChapter.bookUrl);
                bookChapterRowToBeUpdated.setAttribute('data-doi-book-id' , data.updatedBookChapter.doiBookId);
                bookChapterRowToBeUpdated.setAttribute('data-number-of-nmims-authors' , data.updatedBookChapter.numberOfNmimsAuthors);
                bookChapterRowToBeUpdated.setAttribute('data-nmims-authors' , data.updatedBookChapter.nmimsAuthors);
                bookChapterRowToBeUpdated.setAttribute('data-nmims-campus-authors' , data.updatedBookChapter.nmimsCampusAuthors);
                bookChapterRowToBeUpdated.setAttribute('data-nmims-school-authors' , data.updatedBookChapter.nmimsSchoolAuthors);
                bookChapterRowToBeUpdated.setAttribute('data-supporting-documents' , data.updatedBookChapter.supportingDocuments);
                bookChapterRowToBeUpdated.querySelector('.author-first-name').innerText = data.updatedBookChapter.authorFirstName;
                bookChapterRowToBeUpdated.querySelector('.book-title').innerText = data.updatedBookChapter.bookTitle;
                bookChapterRowToBeUpdated.querySelector('.publisher-name').innerText = data.updatedBookChapter.publisherName;
                bookChapterRowToBeUpdated.querySelector('.isbn-no').innerText = data.updatedBookChapter.isbnNo;
                bookChapterRowToBeUpdated.querySelector('.publication-year').innerText = data.updatedBookChapter.publicationYear;
                }
            })
            .catch((error) => {
                console.log('Eroor ::', error);
            })
            $('#edited-book-modal').modal('hide');
            alert('data updated successfully');
    })
</script>
<!-- footer section -->
<%- include('./partials/footer') %>
<%- include('./partials/footer-end') %>
           