<%- include('./partials/head') %>
<!-- inline css -->
<!-- Navbar section -->
<%- include('./partials/header') %>
<!-- This is left sidebar  -->
<%- include('./partials/left-sidebar') %>
<!-- This is right side section -->
<main class="main" id="mainContent">
    <div class="base-section coustom-section">
        <!--DASHBOARD CONTENT START-->
        <div class="breadcrumbs-container">
        </div>
        <div class="errorHtml"></div>
        <div class="card table-card">
            <div class="table-card-header text-uppercase d-flex align-items-center justify-content-between">
                <div>
                    <h3>CASE STUDY LIST</h3>
                </div>
                <div class="me-2">
                    <button id="case-study-add-modal" type="button" class="btn btn-primary add-modal" data-toggle="modal"
                        data-target="#case-study-modal">
                        <i class="fas fa-plus plus"></i></button>
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <div class="d-flex justify-content-between">
                    <div>
                        <label>Show Entries</label>
                        <select class="form-select" id="changeEntry">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="250">250</option>
                            <option value="300">300</option>
                            <option value="350">350</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="800">800</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                    <div>
                        <div class="table-searchbar-container">
                            <button type="button" id="searchBtn"><i class="fas fa-search"></i></button>
                            <input type="search" id="searchKeyword" placeholder="Enter keywords" class="table-searchbar">
                        </div>
                    </div>
                </div>
                <table class="table custom-table table-responsive research-pagination" id="case-studies-data-list">
                    <thead>
                        <th class="cell">#</th>
                        <th class="cell">Author First Name</th>
                        <th class="cell">Author Last Name</th>
                        <th class="cell">Title of Case Study</th>
                        <th class="cell">Edition</th>
                        <th class="cell">Publisher Name</th>
                        <th class="cell">Volume Number</th>
                        <th class="cell">Publication Year</th>
                        <th class="cell">Action</th>
                    </thead>
                    <% caseStudiesData.forEach(function(caseStudy, index) { %>
                        <tr scope="row" data-case-id="<%- caseStudy.id %>" data-page-number="<%- caseStudy.page_number %>"
                            data-url-of-casestudy="<%- caseStudy.url_of_case_study %>"
                            data-number-of-nmims-authors="<%- caseStudy.number_of_nmims_authors %>"
                            data-nmims-authors="<%- caseStudy.nmims_authors %>"
                            data-nmims-campus-authors="<%- caseStudy.nmims_campus_authors %>"
                            data-nmims-school-authors="<%- caseStudy.nmims_school_authors %>"
                            data-publisher-category="<%- caseStudy.publisher_category %>">
                            <td > <%- index+1 %> </td>
                            <td class="cell author-first-name"> <%- caseStudy.author_first_name %> </td>
                            <td class="cell author-last-name"> <%- caseStudy.author_last_name %> </td>
                            <td class="cell title-of-case-study"> <%- caseStudy.title_of_case_study %> </td>
                            <td class="cell edition"><%- caseStudy.edition %> </td>
                            <td class="cell publisher-name "> <%- caseStudy.publisher_name %> </td>
                            <td class="cell volume-number "> <%- caseStudy.volume_number %> </td>
                            <td class="cell publication-year"> <%- caseStudy.publication_year %> </td>
                            <td class="cell ">
                                <label class="view" data-case-id="<%- caseStudy.id %>"><i class="fa-solid fa-eye view text-danger"
                                    data-case-id="<%- caseStudy.id %>"></i></label>
                                <label class="edit" data-case-id="<%- caseStudy.id %>"><i class="fa fa-edit edit text-danger"
                                    data-case-id="<%- caseStudy.id %>"></i></label>
                                <label class="delete" data-case-id="<%- caseStudy.id %>"><i class="fa-solid fa-trash delete text-danger"
                                    data-case-id="<%- caseStudy.id %>"></i></label>
                            </td>
                        </tr>
                        <% }); %>
                </table>
                <div class="d-flex justify-content-between">
                    <div>
                        <label> Total entries: <%- rowCount %> </label>
                        <label class="d-none" id="row-count"> <%- rowCount %> </label>
                    </div>
                    <div>
                        <button id="prevBtn" class="btn btn-primary">Previous</button>
                        <button id="nextBtn" class="btn btn-primary">Next</button>
                        <p id="pagination" class="pagination-search"></p>
                    </div>
                </div>
            </div>
        </div>
        <!--Import Modal -->
        <div class="modal fade" id="open-program-modal" tabindex="-1" aria-labelledby="open-program-modal"
            aria-hidden="true">
        </div>
        <!-- EDIT PROGRAM AND UPDATE -->
        <div class="modal fade" id="edit-program-modal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Update Program</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="errorHtml"></div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Program Name</label>
                            <input type="text" class="form-control" id="program_name" name="program_name">
                            <input type="hidden" class="form-control" id="hidden_id" name="hidden_id">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Program Type</label>
                            <select class="form-control" name="program_type_lid" id="program_type_lid">
                                <option value="1">Full Time</option>
                                <option value="2">Part Time</option>
                            </select>
                        </div>
    
                        <div class="mb-3">
                            <label for="abbr" class="form-label">Program Abbr</label>
                            <input type="text" class="form-control" id="abbr" name="abbr">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary updateProgram">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- case study Modal  form -->
<div class="modal fade " id="case-study-modal" tabindex="-1" role="dialog" aria-labelledby="case-study"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content validate-input">
            <div class="modal-header">
                <h4 class="modal-title" id="case-study">Case Study </h4>
                <div class="close" data-dismiss="modal" aria-label="Close">
                    <span type="button" aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- author's first name -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="form-group col">
                            <label for="author-first-name" class="form-label  fw-bold">Author's First Name</label>
                            <input type="text" name="author-first-name" id="author-first-name" data-validate="isEmpty,isAlphabeticWords" data-err-msg="This field is required and min length > 1." class="form-control"  required>
                        </div>
                    </div>

                    <!-- Author's last name -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="author-last-name" class="form-label  fw-bold">Author's Last Name</label>
                        <input type="text" name="lastName" id="author-last-name" class="form-control" data-validate="isEmpty,isAlphabeticWords" data-err-msg="This field is required and min length > 1." required>
                    </div>
                    <!-- Title of case study -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="title-of-case-study" class="form-label fw-bold">Title Of Case Study</label>
                        <input type="text" name="titleOfCaseStudy" id="title-of-case-study" class="form-control" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="This field is required and min length > 1." required>
                    </div>
                    <!-- Edition -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="edition" class="form-label fw-bold">Edition</label>
                        <input type="text" name="edition" id="edition" data-validate="isEmpty,isAlphaNumeric" data-err-msg="AlphaNumeric value is required." class="form-control" required>
                    </div>
                    <!-- Volume number -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="volume-number" class="form-label fw-bold">Volume Number</label>
                        <input type="number" name="volumeNumber" id="volume-number" data-validate="isEmpty,isNumber" data-err-msg="Numeric value is required." class="form-control" required>
                    </div>
                    <!-- Publisher Name -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publisher-name" class="form-label fw-bold">Publisher Name</label>
                        <input type="text" name="publisherName" id="publisher-name" data-validate="isEmpty,isAlphabeticWords" class="form-control" data-err-msg="This field is required and min length > 1." required>
                    </div>

                    <!-- Publication Year -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publication-year" class="form-label fw-bold">Publication Year</label>
                        <input type="number" name="publicationYear" id="publication-year"  data-validate="isEmpty,isNumber,isValidYear"class="form-control" data-err-msg="Publication year is required." required>
                    </div>

                    <!-- Page numbers -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="page-number" class="form-label fw-bold">Page Number</label>
                        <input type="number" name="pageNumber" id="page-number" class="form-control" data-validate="isEmpty,isNumber" data-err-msg="Numeric value is required ." required>
                    </div>

                    <!-- URL of the Case Study -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="url-of-case-study" class="form-label fw-bold">URL Of The Case Study</label>
                        <input type="text" name="urlOfCaseStudy" id="url-of-case-study" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="This field is required and min length > 1." class="form-control" required>
                    </div>
                    <!-- Publisher Category  -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publisher-category" id="publisher-category" class="form-label fw-bold mb-3">Publisher Category</label><br>
                        <div class="form-check-inline">
                            <label for="inter-national" class="form-check-label">
                                <input type="radio" class="form-check-input" id="inter-national" name="publisher-category" value="International"> International
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="national" class="form-check-label">
                                <input type="radio" class="form-check-input" id="national" name="publisher-category" value="National" checked> National
                            </label>
                        </div>
                    </div>
                    <!-- No. of NMIMS Authors -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="number-of-nmims-authors" class="form-label fw-bold ">No. Of NMIMS Authors</label>
                        <input type="number" name="numberOfNmimsAuthors" id="number-of-nmims-authors" data-validate="isEmpty,isNumber" data-err-msg="Numeric value is required." class="form-control" required/>
                    </div>
                    <!-- Name of NMIMS Authors -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="nmims-authors" class="form-label fw-bold ">Name Of NMIMS Authors</label>
                        <input type="text" name="nmimsAuthors" id="nmims-authors" data-validate="isEmpty,isAlphabeticWords" data-err-msg="This field is required and min length > 1." class="form-control" required/>
                    </div>
                    <!-- NMIMS Campus - Author -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="nmims-campus-authors" class="form-label fw-bold ">NMIMS Campus Author</label>
                        <input type="text" name="nmimsCampusAuthors" id="nmims-campus-authors" data-validate="isEmpty,isAlphabeticWords" data-err-msg="This field is required and min length > 1." class="form-control" required/>
                    </div>
                    <!--NMIMS School - Author-->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="nmims-school-authors" class="form-label fw-bold ">NMIMS School Author</label>
                        <input type="text" name="nmimsSchoolAuthors" id="nmims-school-authors" data-validate="isEmpty,isAlphabeticWords" data-err-msg="This field is required and min length > 1." class="form-control" required/>
                    </div>
                </div>
            </div>
            <!-- footer button -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary d-none" id="submit-btn">Submit</button>
                <button type="button" class="btn btn-primary d-none" id="update-btn">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- case study  view modal -->
<div class="modal fade " id="case-view-modal" tabindex="-1" role="dialog" aria-labelledby="case-study"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content validate-input">
            <div class="modal-header">
                <h4 class="modal-title" id="case-study"> CASE STUDY </h4>
                <div class="close" data-dismiss="modal" aria-label="Close">
                    <span type="button" aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- author's first name -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Authors First Name:</div>
                            <label class="view-content" id="view-first-name"></label>
                        </div>
                    </div>
        
                    <!-- Author's last name -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Authors Last Name :</div>
                            <label class="view-content" id="view-last-name"></label>
                        </div>
                    </div>
                    <!-- Title of case study -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">title Of Case Study :</div>
                            <label class="view-content" id="view-title-of-case-study"></label>
                        </div>
                    </div>
        
                    <!-- Edition -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Edition :</div>
                            <label class="view-content" id="view-edition"></label>
                        </div>
                    </div>
                    <!-- Volume number -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Volume Number :</div>
                            <label class="view-content" id="view-volume-number"></label>
                        </div>
                    </div>
        
                    <!-- Publisher Name -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Publisher Name :</div>
                            <label class="view-content" id="view-publisher-name"></label>
                        </div>
                    </div>

                    <!-- publisher category -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Publisher Category :</div>
                            <label class="view-content" id="view-publisher-category"></label>
                        </div>
                    </div>
                    <!-- Publication Year -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Publication Year :</div>
                            <label class="view-content" id="view-publication-year"></label>
                        </div>
                    </div>
                    <!-- Page Number -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Page Number:</div>
                            <label class="view-content" id="view-page-number"></label>
                        </div>
                    </div>
                    <!-- Url Of The Case Study -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Url Of The Case Study :</div>
                            <label class="view-content" id="view-url-of-case-study"></label>
                        </div>
                    </div>
                    <!-- No. Of NMIMS Authors -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> No. Of NMIMS Authors :</div>
                            <label class="view-content" id="view-no-of-nmims-authors"></label>
                        </div>
                    </div>
                    <!-- Name Of NMIMS Authors -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> Name Of NMIMS Author's :</div>
                            <label class="view-content" id="view-nmims-authors"></label>
                        </div>
                    </div>
                    <!-- Publication Year -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">NMIMS Campus Author's:</div>
                            <label class="view-content" id="view-nmims-campus-authors"></label>
                        </div>
                    </div>
                    <!-- Publication Year -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">NMIMS School Authors's :</div>
                            <label class="view-content" id="view-nmims-school-authors"></label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer button -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- inline javascript -->
<script>
    //   for index icrement
    const rowCount = document.getElementById('row-count');
    let rowIndex = rowCount.innerText;
    let indexValue = parseInt(rowIndex, 10);
    const caseStudiesDataList = document.getElementById('case-studies-data-list');
    const submitBtn = document.getElementById('submit-btn');
    const updateBtn = document.getElementById('update-btn');
    const addNewCaseStudyData = document.getElementById('case-study-add-modal');
    let caseStudyId , rowToBeUpdate;

    addNewCaseStudyData.addEventListener('click' , async function(event){
        if(event.target.tagName === 'BUTTON' && event.target.classList.contains('add-modal') || event.target.classList.contains('plus')){
            // for button visualization
            submitBtn.classList.remove('d-none');
            updateBtn.classList.add('d-none');
            document.getElementById('author-first-name').value = '';
            document.getElementById('author-last-name').value = '';
            document.getElementById('title-of-case-study').value = '';
            document.getElementById('edition').value = '';
            document.getElementById('volume-number').value = '';
            document.getElementById('publisher-name').value = '';
            document.getElementById('publication-year').value = '';
            document.getElementById('page-number').value = '';
            document.getElementById('url-of-case-study').value = '';
            document.getElementById('number-of-nmims-authors').value = '';
            document.getElementById('nmims-authors').value = '';
            document.getElementById('nmims-campus-authors').value = '';
            document.getElementById('nmims-school-authors').value = '';
        }
    })
    
    const insertCaseStudy = async(url) => {
        console.log('clickeddd');
        const caseStudyData = {};
        caseStudyData.authorsFirstName = document.getElementById('author-first-name').value;
        caseStudyData.authorLastName = document.getElementById('author-last-name').value;
        caseStudyData.titleOfCaseStudy = document.getElementById('title-of-case-study').value;
        caseStudyData.edition = document.getElementById('edition').value;
        caseStudyData.publisherCategory = document.querySelector('input[name="publisher-category"]:checked').value;
        caseStudyData.volumeNumber = document.getElementById('volume-number').value;
        caseStudyData.publisherName = document.getElementById('publisher-name').value;
        caseStudyData.publicationYear = document.getElementById('publication-year').value;
        caseStudyData.pageNumber = document.getElementById('page-number').value;
        caseStudyData.urlOfCaseStudy = document.getElementById('url-of-case-study').value;
        caseStudyData.numberOfNmimsAuthors = document.getElementById('number-of-nmims-authors').value;
        caseStudyData.nmimsAuthors = document.getElementById('nmims-authors').value;
        caseStudyData.nmimsCampusAuthors = document.getElementById('nmims-campus-authors').value;
        caseStudyData.nmimsSchoolAuthors = document.getElementById('nmims-school-authors').value;
        console.log('caseStudyData.nmimsSchoolAuthors' , caseStudyData.nmimsSchoolAuthors)

        const payload = {
            caseStudyData : caseStudyData
        }

        fetch(url , {
            method : 'POST',
            headers : {
                'content-type' : 'application/json'
            },
            body : JSON.stringify(payload)
        })
        .then((result) => {
            return result.json();
        })
        .then ((data) => {
            console.log('data ==>>' , data);
            if(data.status === 'done'){
                caseStudyId = data.caseStudyId;
                console.log('caseStudyId', caseStudyId);
                const newCaseStudy = document.createElement('tr');
                newCaseStudy.setAttribute('data-page-number', caseStudyData.pageNumber);
                newCaseStudy.setAttribute('data-url-of-caseStudy', caseStudyData.urlOfCaseStudy);
                newCaseStudy.setAttribute('data-number-of-nmims-authors', caseStudyData.numberOfNmimsAuthors);
                newCaseStudy.setAttribute('data-nmims-authors', caseStudyData.nmimsAuthors);
                newCaseStudy.setAttribute('data-publisher-category' , caseStudyData.publisherCategory);
                newCaseStudy.setAttribute('data-nmims-campus-authors', caseStudyData.nmimsCampusAuthors);
                newCaseStudy.setAttribute('data-nmims-school-authors', caseStudyData.nmimsSchoolAuthors);
                newCaseStudy.innerHTML = `
                        <td class="cell" id="rowCount">${indexValue}</td>
                        <td class="cell author-first-name">${caseStudyData.authorsFirstName}</td>
                        <td class="cell author-last-name">${caseStudyData.authorLastName}</td>
                        <td class="cell title-of-case-study">${caseStudyData.titleOfCaseStudy}</td>
                        <td class="cell edition">${caseStudyData.edition}</td>
                        <td class="cell volume-number">${caseStudyData.volumeNumber}</td>
                        <td class="cell publisher-name">${caseStudyData.publisherName}</td>
                        <td class="cell publication-year">${caseStudyData.publicationYear}</td>
                        <td class="cell actions">
                            <label class="view" data-case-id="${caseStudyId}"><i data-case-id="${caseStudyId}" class="fa-solid fa-eye view text-danger"></i></label>
                            <label class="edit" data-case-id="${caseStudyId}"><i data-case-id="${caseStudyId}" class="fa fa-edit edit text-danger"></i></label>
                            <label class="delete" data-case-id="${caseStudyId}"><i data-case-id="${caseStudyId}" class="fa-solid fa-trash delete text-danger"></i></label>  
                        </td> `;
                        
                        caseStudiesDataList.appendChild(newCaseStudy);
                        $('#case-study-modal').modal('hide');
                        alert('data saved successfully');
            }
        })
        .catch((error) => {
            console.log('ERROR' , error);
        })
    }
    
    submitBtn.addEventListener('click' , async function(){
        const isValid = validateRequiredFormFields(submitBtn);
            if (isValid) {
                await insertCaseStudy('<%- BASE_URL %>research/case-study/insert');
                indexValue += 1
                console.log('data inserted successfully');
            }
            else {
                alert('validation failed due to error');
            }
    });

    caseStudiesDataList.addEventListener('click' , async function(event) {
        if(event.target.classList.contains('view')){
            caseStudyId = event.target.getAttribute('data-case-id');
            const viewAuthorFirstName = document.getElementById('view-first-name');
            const viewAuthorLastName = document.getElementById('view-last-name');
            const viewTitleOfCaseStudy =document.getElementById('view-title-of-case-study');
            const viewEdition = document.getElementById('view-edition');
            const viewVolumeNumber = document.getElementById('view-volume-number');
            const viewPublisherName =document.getElementById('view-publisher-name');
            const viewPublisherCategory = document.getElementById('view-publisher-category');
            const viewPublicationYear = document.getElementById('view-publication-year');
            const viewPageNumber = document.getElementById('view-page-number');
            const viewUrlOfCaseStudy = document.getElementById('view-url-of-case-study');
            const viewNoOfNmimsAuthors = document.getElementById('view-no-of-nmims-authors');
            const viewNmimsAuthors = document.getElementById('view-nmims-authors');
            const viewNmimsCampusAuthors = document.getElementById('view-nmims-campus-authors');
            const viewNmimsSchoolAuthors = document.getElementById('view-nmims-school-authors');

            fetch('<%- BASE_URL %>research/case-study/view' , {
                method : 'POST',
                headers : {
                    'content-type' : 'application/json'
                },
                body : JSON.stringify({
                    caseStudyId : caseStudyId
                })
            })
            .then((result) => {
                return result.json();
            })
            .then((data) => {
                console.log('data ==>>', data);
                viewAuthorFirstName.innerText = data[0].author_first_name;
                viewAuthorLastName.innerText = data[0].author_last_name;
                viewTitleOfCaseStudy.innerText = data[0].title_of_case_study;
                viewEdition.innerText = data[0].edition;
                viewPublisherCategory.innerText = data[0].publisher_category; 
                viewVolumeNumber.innerText = data[0].volume_number;
                viewPublisherName.innerText = data[0].publisher_name;
                viewPublicationYear.innerText = data[0].publication_year;
                viewPageNumber.innerText = data[0].page_number;
                viewUrlOfCaseStudy.innerText = data[0].url_of_case_study;
                viewNoOfNmimsAuthors.innerText = data[0].number_of_nmims_authors;
                viewNmimsAuthors.innerText = data[0].nmims_authors;
                viewNmimsCampusAuthors.innerText = data[0].nmims_campus_authors;
                viewNmimsSchoolAuthors.innerText = data[0].nmims_school_authors;      
            })
            .catch((error) => {
                console.log('ERROR :', error);
            })

            $('#case-view-modal').modal('show');
        }

        // for deleting
        if(event.target.classList.contains('delete')){
            console.log('clickkeddd');
            caseStudyId = event.target.getAttribute('data-case-id');
            const rowToBeDelete = event.target.parentElement.parentElement.parentElement;
            console.log('==>>>', rowToBeDelete)
            console.log('ID', caseStudyId);
            let confirmDelete = confirm("Do you want to delete the Case Study?");
            if(!confirmDelete) {
                return;
            }
            fetch('<%- BASE_URL %>research/case-study/delete' , {
                method : 'POST',
                headers : {
                    'content-type' : 'application/json'
                },
                body : JSON.stringify({
                    caseStudyId : caseStudyId
                })
            })
            .then((result) => {
                return result.json();
            })
            .then((data) => {
                if(data.status === 'done'){
                    console.log('data ==>>', data);
                    rowToBeDelete.remove();
                    location.reload();
                    
                }
            })
            .catch((error) => {
                console.log('ERROR ::', error);
            })
        }

        if(event.target.classList.contains('edit')){
            console.log('clickeddddd');
            removeErrorMsg();
            $('#case-study-modal').modal('show');
            // button visualization
            submitBtn.classList.add('d-none');
            updateBtn.classList.remove('d-none');
            caseStudyId = event.target.getAttribute('data-case-id');
            console.log('ID For Updation' , caseStudyId);
            rowToBeUpdate = event.target.parentElement.parentElement.parentElement;
            // capturing specific data
            const pageNumber =  rowToBeUpdate.getAttribute('data-page-number');
            const urlOfCaseStudy = rowToBeUpdate.getAttribute('data-url-of-caseStudy');
            const numberOfNmimsAuthors = rowToBeUpdate.getAttribute('data-number-of-nmims-authors');
            const nmimsAuthors = rowToBeUpdate.getAttribute('data-nmims-authors');
            const publisherCategoryNational = document.getElementById('national');
            const publisherCategoryInternational = document.getElementById('inter-national');
            const nmimsCampusAuthors  = rowToBeUpdate.getAttribute('data-nmims-campus-authors');
            const nmimsSchoolAuthors = rowToBeUpdate.getAttribute('data-nmims-school-authors');
            const authorsFirstName = rowToBeUpdate.querySelector('.author-first-name');
            const authorLastName = rowToBeUpdate.querySelector('.author-last-name');
            const titleOfCaseStudy = rowToBeUpdate.querySelector('.title-of-case-study');
            const edition = rowToBeUpdate.querySelector('.edition');
            const volumeNumber = rowToBeUpdate.querySelector('.volume-number');
            const publisherName = rowToBeUpdate.querySelector('.publisher-name');
            const publicationYear = rowToBeUpdate.querySelector('.publication-year');

            //showing actually stored value  
            document.getElementById('author-first-name').value = authorsFirstName.innerText.trim();
            document.getElementById('author-last-name').value = authorLastName.innerText.trim();
            document.getElementById('title-of-case-study').value = titleOfCaseStudy.innerText.trim();
            document.getElementById('edition').value = edition.innerText.trim();
            document.getElementById('volume-number').value = volumeNumber.innerText.trim();
            document.getElementById('publisher-name').value = publisherName.innerText.trim();
            document.getElementById('publication-year').value = publicationYear.innerText.trim();
            document.getElementById('page-number').value = pageNumber.trim();
            const publisherCategory = rowToBeUpdate.getAttribute('data-publisher-category');

            if(publisherCategory === 'National'){
                publisherCategoryNational.checked = true;
            }
            else{
                publisherCategoryInternational.checked = true;
            }
            document.getElementById('url-of-case-study').value = urlOfCaseStudy.trim();
            document.getElementById('number-of-nmims-authors').value = numberOfNmimsAuthors.trim();
            document.getElementById('nmims-authors').value = nmimsAuthors.trim();
            document.getElementById('nmims-campus-authors').value = nmimsCampusAuthors.trim();
            document.getElementById('nmims-school-authors').value = nmimsSchoolAuthors .trim();
        }
    })
    
    const updateCaseStudy = async(url) => {
        console.log('data is updated');
        const updatedName = document.getElementById('author-first-name').value;
        const updatedPage = document.getElementById('page-number').value;
        const updateLastName = document.getElementById('author-last-name').value;
        const updatedEdition = document.getElementById('edition').value;
        const updatedPublisherCategory = document.querySelector('input[name="publisher-category"]:checked').value;
        const updatedVolume = document.getElementById('volume-number').value;
        const updatedPublisher = document.getElementById('publisher-name').value;
        const updatedPublicationYear = document.getElementById('publication-year').value;
        const updatedUrl = document.getElementById('url-of-case-study').value;
        const updatedNmimsAuthors = document.getElementById('nmims-authors').value;
        const updatedNumberOfNmimsAuthor = document.getElementById('number-of-nmims-authors').value;
        const updatedCampus = document.getElementById('nmims-campus-authors').value;
        const updatedschool = document.getElementById('nmims-school-authors').value;
        const updatedtitle = document.getElementById('title-of-case-study').value;
        console.log(' updatedPageNumber ===>>', updatedPage);

        const updatedCaseStudies = {};
        updatedCaseStudies.caseStudyId = caseStudyId;
        updatedCaseStudies.authorsFirstName = updatedName;
        updatedCaseStudies.authorLastName = updateLastName;
        updatedCaseStudies.pageNumber = updatedPage;
        updatedCaseStudies.edition = updatedEdition;
        updatedCaseStudies.volumeNumber = updatedVolume;
        updatedCaseStudies.publisherCategory = updatedPublisherCategory;
        updatedCaseStudies.publicationYear =updatedPublicationYear;
        updatedCaseStudies.publisherName = updatedPublisher;
        updatedCaseStudies.urlOfCaseStudy = updatedUrl;
        updatedCaseStudies.nmimsAuthors = updatedNmimsAuthors;
        updatedCaseStudies.numberOfNmimsAuthors = updatedNumberOfNmimsAuthor;
        updatedCaseStudies.nmimsCampusAuthors = updatedCampus;
        updatedCaseStudies.nmimsSchoolAuthors = updatedschool;
        updatedCaseStudies.titleOfCaseStudy = updatedtitle;

        fetch(url , {
            method : 'POST',
            headers : {
                'content-type' : 'application/json'
            },
            body : JSON.stringify(updatedCaseStudies)
        })
        .then((result) => {
            return result.json();
        })
        .then((data) => {
            console.log('data ===>>>' , data);
            if(data.status === 'done'){
                console.log('caseID >>>', caseStudyId);
                rowToBeUpdate.querySelector('.author-first-name').innerText = updatedCaseStudies.authorsFirstName;
                rowToBeUpdate.querySelector('.author-last-name').innerText = updatedCaseStudies.authorLastName;
                rowToBeUpdate.querySelector('.edition').innerText = updatedCaseStudies.edition;
                rowToBeUpdate.querySelector('.volume-number').innerText = updatedCaseStudies.volumeNumber;
                rowToBeUpdate.querySelector('.publication-year').innerText = updatedCaseStudies.publicationYear;
                rowToBeUpdate.setAttribute('data-page-number', updatedPage);
                rowToBeUpdate.setAttribute('data-publisher-category' , updatedPublisherCategory);
                rowToBeUpdate.setAttribute('data-url-of-caseStudy', updatedUrl);
                rowToBeUpdate.setAttribute('data-numberOfNmimsAuthors', updatedNumberOfNmimsAuthor);
                rowToBeUpdate.setAttribute('data-nmims-authors', updatedNmimsAuthors);
                rowToBeUpdate.setAttribute('data-nmims-campus-authors', updatedCampus);
                rowToBeUpdate.setAttribute('data-nmims-school-authors', updatedschool);
                $('#case-study-modal').modal('hide');
                alert('data Updated SuccessFully');            }
        })
    };

    updateBtn.addEventListener('click' , async() => {
        const isValid = validateRequiredFormFields(updateBtn);
            if (isValid) {
                await updateCaseStudy('<%- BASE_URL %>research/case-study/update');

            }
            else {
                alert('Data Validation Failed');
            }
                
    })

</script>
<!-- footer section -->
<%- include('./partials/pagination') %>
<%- include('./partials/footer') %>
<%- include('./partials/footer-end') %>
           