<%- include('./partials/head') %>
    <!-- inline css -->
    <!-- Navbar section -->
    <%- include('./partials/header') %>
        <!-- This is left sidebar  -->
        <%- include('./partials/left-sidebar') %>
            <!-- This is right side section -->
            <main class="main" id="main-content">
                <div class="base-section coustom-section">
                    <!--DASHBOARD CONTENT START-->
                    <div class="errorHtml"></div>
                    <div class="breadcrumbs-container">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-link">
                                <a href="<%- BASE_URL %>dashboard-page"> Dashboard </a>
                            </li>
                            <li class="breadcrumb-link">
                                <a href="<%- BASE_URL %>research"> Research </a>
                            </li>
                            <li class="breadcrumb-link">Case Study</li>
                        </ul>
                    </div>
                    <div>
                        <div class="table-card-header text-uppercase d-flex align-items-center justify-content-between">
                            <div>
                                <h5 class="pl-2">CASE STUDY LIST</h5>
                            </div>
                            <div>
                                <button id="case-study-add-modal" type="button" class="btn btn-primary add-modal"
                                    data-toggle="modal" data-target="#case-study-modal">ADD
                                    <i class="fas fa-plus plus"></i></button>
                                </button>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <!-- <label>Show Entries</label>
                                    <select class="form-select" id="changeEntry">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="150">150</option>
                                        <option value="200">200</option>
                                        <option value="250">250</option>
                                        <option value="300">300</option>
                                        <option value="350">350</option>
                                        <option value="400">400</option>
                                        <option value="500">500</option>
                                        <option value="800">800</option>
                                        <option value="1000">1000</option>
                                    </select> -->
                                </div>
                                <div>
                                    <!-- <div class="table-searchbar-container">
                                        <button type="button" id="searchBtn"><i class="fas fa-search"></i></button>
                                        <input type="search" id="searchKeyword" placeholder="Enter keywords"
                                            class="table-searchbar">
                                    </div> -->
                                </div>
                            </div>
                            <table class="table vertical-lines custom-table table-responsive"
                                id="case-studies-data-list">
                                <thead>
                                    <th class="col-lg-1">Serial no</th>
                                    <th class="col-lg-1">Authors Names</th>
                                    <th class="col-lg-1">Title of Case Study</th>
                                    <th class="col-lg-1">Edition</th>
                                    <th class="col-lg-1">Publisher Name</th>
                                    <th class="col-lg-1">Volume Number</th>
                                    <th class="col-lg-1">Publication Year</th>
                                    <th class="col-lg-1">Action</th>
                                </thead>
                                <tbody class="data-list">
                                    <% caseStudiesData.forEach(function(caseStudy, index) { %>
                                        <tr scope="row" data-case-id="<%- caseStudy.id %>"
                                            data-page-number="<%- caseStudy.page_number %>"
                                            data-url-of-casestudy="<%- caseStudy.url_of_case_study %>"
                                            data-number-of-nmims-authors="<%- caseStudy.number_of_nmims_authors %>"
                                            data-nmims-authors="<%- caseStudy.nmims_authors %>"
                                            data-nmims-campus-authors="<%- caseStudy.nmims_campus_authors %>"
                                            data-nmims-school-authors="<%- caseStudy.nmims_school_authors %>"
                                            data-publisher-category="<%- caseStudy.publisher_category %>"
                                            data-supporting-documents="<%- caseStudy.supporting_documents %>">
                                            <td class="col-lg-1"> <%- index+1 %> </td>
                                            <td class="cell author-first-name col-lg-1"> <%- caseStudy.author_first_name
                                                    %> </td>
                                            <td class="cell title-of-case-study col-lg-1"> <%-
                                                    caseStudy.title_of_case_study %> </td>
                                            <td class="cell edition col-lg-1"><%- caseStudy.edition %> </td>
                                            <td class="cell publisher-name col-lg-1"> <%- caseStudy.publisher_name %>
                                            </td>
                                            <td class="cell volume-number col-lg-1"> <%- caseStudy.volume_number %>
                                            </td>
                                            <td class="cell publication-year col-lg-1"> <%- caseStudy.publication_year
                                                    %> </td>
                                            <td class="cell col-lg-1">
                                                <label class="view" data-case-id="<%- caseStudy.id %>"><i class="fa-solid fa-eye view text-danger"
                                                        data-case-id="<%- caseStudy.id %>"></i></label>
                                                <label class="edit" data-case-id="<%- caseStudy.id %>"><i class="fa fa-edit edit text-danger"
                                                        data-case-id="<%- caseStudy.id %>"></i></label>
                                                <label class="delete" data-case-id="<%- caseStudy.id %>"><i class="fa-solid fa-trash delete text-danger"
                                                        data-case-id="<%- caseStudy.id %>"></i></label>
                                            </td>
                                            <!-- <td colspan="3px" style="display:flex;justify-content: center;">
                                                <b title="View" class="view border-right-0" style="cursor: pointer;"
                                                    data-case-id="<%- caseStudy.id %>">
                                                    &#128065;
                                                </b>&ensp;&ensp;&ensp;
                                                <b title="Edit" class="edit border-right-0" style="cursor: pointer;"
                                                    data-case-id="<%- caseStudy.id %>">
                                                    &#9998;
                                                </b>&ensp;&ensp;&ensp;
                                                <b title="Delete" class="delete border-right-0" style="cursor: pointer;"
                                                    data-case-id="<%- caseStudy.id %>">
                                                    &#128465;
                                                </b>
                                            </td> -->
                                        </tr>
                                        <% }); %>
                                </tbody>
                                <tr>
                                    <div id="no-records-message"
                                        style="display: none; color: red; margin-top: 10px; padding-left: 40%;">
                                        <b class="no-record">No records found.</b>
                                    </div>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <label id="total-row-count"></label>
                            <label class="d-none" id="row-count"></label>
                        </div>
                        <div>
                            <!-- <button id="prevBtn" class="btn btn-primary">Previous</button>
                            <button id="nextBtn" class="btn btn-primary">Next</button>
                            <p id="pagination" class="pagination-search"></p> -->
                        </div>
                    </div>
                    <!--Import Modal -->
                    <div class="modal fade" id="open-program-modal" tabindex="-1" aria-labelledby="open-program-modal"
                        aria-hidden="true">
                    </div>
                    <!-- EDIT PROGRAM AND UPDATE -->
                    <div class="modal fade" id="edit-program-modal" tabindex="-1" aria-labelledby="editModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Update Program</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div id="errorHtml"></div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Program Name</label>
                                        <input type="text" class="form-control" id="program_name" name="program_name">
                                        <input type="hidden" class="form-control" id="hidden_id" name="hidden_id">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Program Type</label>
                                        <select class="form-control" name="program_type_lid" id="program_type_lid">
                                            <option value="1">Full Time</option>
                                            <option value="2">Part Time</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label for="abbr" class="form-label">Program Abbr</label>
                                        <input type="text" class="form-control" id="abbr" name="abbr">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary updateProgram">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- case study Modal  form -->
            <div class="modal fade " id="case-study-modal" tabindex="-1" role="dialog" aria-labelledby="case-study"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
                    <div class="modal-content modal-content-data validate-input">
                        <div class="modal-header">
                            <h4 class="modal-title" id="case-study">Case Study </h4>
                            <div class="close" data-dismiss="modal" aria-label="Close">
                                <span type="button" aria-hidden="true"><i class="fas fa-times"></i></span>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                  <!--NMIMS School - Author-->
                                  <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <label for="nmims-school-authors" class="form-label fw-bold ">NMIMS School
                                        Authors <i style="color: red;">*</i></label>
                                    <input type="text" name="nmimsSchoolAuthors" id="nmims-school-authors"
                                        data-validate="isEmpty,isExist,isLength:2:255" data-err-msg="Provide Valid Input"
                                        class="form-control" required />
                                </div>
                                       <!-- NMIMS Campus - Author -->
                                       <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                        <label for="nmims-campus-authors" class="form-label fw-bold ">NMIMS Campus
                                            Authors <i style="color: red;">*</i> </label>
                                        <input type="text" name="nmimsCampusAuthors" id="nmims-campus-authors"
                                            data-validate="isEmpty,isExist,isLength:2:255" data-err-msg="Provide Valid Input"
                                            class="form-control" required />
                                    </div>
                                  
                                <!-- author's first name -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <label for="author-first-name" class="form-label  fw-bold">Authors
                                        Names <i style="color: red;">*</i> </label>
                                    <input type="text" name="author-first-name" id="author-first-name"
                                        data-validate="isEmpty,isExist,isLength:2:255" data-err-msg="Provide Valid Input"
                                        class="form-control" required>
                                </div>
                            
                         
                            
                                <!-- Author's last name -->
                                <!-- <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <label for="author-last-name" class="form-label  fw-bold">Author's Last Name</label>
                                    <input type="text" name="lastName" id="author-last-name" class="form-control"
                                        data-validate="isEmpty,isNotNumber,isExist,isNotSpecialChar" data-err-msg="Provide Valid Input" required>
                                </div> -->
                                <!-- Title of case study -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <label for="title-of-case-study" class="form-label fw-bold">Title Of Case
                                        Study <i style="color: red;">*</i></label>
                                    <input type="text" name="titleOfCaseStudy" id="title-of-case-study" class="form-control"
                                        data-validate="isEmpty,isAlphaNumericWithSpaceNoLeadingSpace" data-err-msg="Provide Valid Input" required>
                                </div>
                                <!-- Edition -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <label for="edition" class="form-label fw-bold">Edition </label>
                                    <input type="text" name="edition" id="edition" data-validate="isExist,isAlphaNumericWithSpaceNoLeadingSpace"
                                        data-err-msg="Provide valid input." class="form-control" >
                                </div>
                                <!-- Volume number -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <label for="volume-number" class="form-label fw-bold">Volume Number <i style="color: red;">*</i></label>
                                    <input type="text" name="" id="volume-number" data-validate="isExist,isExist,isLength:1:255"
                                        data-err-msg="Provide valid input." class="form-control" required>
                                </div>
                                <!-- Publisher Name -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <label for="publisher-name" class="form-label fw-bold">Publisher Name <i style="color: red;">*</i></label>
                                    <input type="text" name="publisherName" id="publisher-name"
                                        data-validate="isEmpty,isExist,isAlphaNumericWithSpaceNoLeadingSpace" class="form-control"
                                        data-err-msg="Provide Valid Input" required>
                                </div>
                            
                                <!-- Publication Year -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <label for="publication-year" class="form-label fw-bold">Publication Year <i style="color: red;">*</i></label>
                                    <input type="number" name="publicationYear" id="publication-year" data-validate="isEmpty,isNumber,isValidYear"
                                        class="form-control" data-err-msg="Publication year is required." required>
                                </div>
                            
                                <!-- Page numbers -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <label for="page-number" class="form-label fw-bold">Page Number</label>
                                    <input type="text" name="pageNumber" id="page-number" class="form-control" data-validate="isEmpty,isExist,isLength:1:255"
                                        data-err-msg="Provide valid input .">
                                </div>
                            
                                <!-- URL of the Case Study -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <label for="url-of-case-study" class="form-label fw-bold">URL Of The Case
                                        Study <i style="color: red;">*</i></label>
                                    <input type="text" name="urlOfCaseStudy" id="url-of-case-study"
                                        data-validate="isEmpty,isValidHttpUrl,isLength:2:255" data-err-msg="Provide Valid Input"
                                        class="form-control" required>
                                </div>
                                <!-- Publisher Category  -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <label for="publisher-category" id="publisher-category" class="form-label fw-bold mb-3">Publisher
                                        Category</label><br>
                                    <div class="form-check-inline">
                                        <label for="inter-national" class="form-check-label">
                                            <input type="radio" class="form-check-input" id="inter-national" name="publisher-category"
                                                value="International"> International
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label for="national" class="form-check-label">
                                            <input type="radio" class="form-check-input" id="national" name="publisher-category" value="National"
                                                checked> National
                                        </label>
                                    </div>
                                </div>
                                <!-- No. of NMIMS Authors -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <label for="number-of-nmims-authors" class="form-label fw-bold ">No. Of NMIMS
                                        Authors <i style="color: red;">*</i></label>
                                    <input type="number" name="numberOfNmimsAuthors" id="number-of-nmims-authors" data-validate="isExist,isNumber"
                                        data-err-msg="Numeric value is required." class="form-control" required />
                                </div>
                                <!-- Name of NMIMS Authors -->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <label for="nmims-authors" class="form-label fw-bold ">Name Of NMIMS Authors <i style="color: red;">*</i></label>
                                    <input type="text" name="nmimsAuthors" id="nmims-authors"
                                        data-validate="isEmpty,isExist,isLength:2:255" data-err-msg="Provide Valid Input"
                                        class="form-control" required />
                                </div>
                            
                                <!-- Upload Supporting Documents-->
                                <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                                    <label class="form-label fw-bold ">
                                        Upload Supporting Documents <i style="color: red;">*</i>
                                        <div id="uploadNewSupportDocumentDiv">
                                            <label for="uploadNewSupportDocument"><small>Click to Upload New File</small></label>
                                            <input type="checkbox" name="uploadNewSupportDocument" id="uploadNewSupportDocument">
                                        </div>
                                    </label>
                                    <div class="d-flex">
                                        <input type="file" name="supporting-documents" id="supporting-documents" class="col-md-12 form-control"
                                            data-validate="isEmpty,isExist,isFile" data-err-msg="File is required." required multiple>
                                        <button class="download-btn download-file" id="case-study-doc-edit"><i
                                                class="fas fa-download text-danger"></i>Download</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- footer button -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary d-none" id="submit-btn">Submit</button>
                            <button type="button" class="btn btn-primary d-none" id="update-btn">Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- case study  view modal -->
            <div class="modal fade " id="case-view-modal" tabindex="-1" role="dialog" aria-labelledby="case-study"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
                    <div class="modal-content modal-content-data">
                        <div class="modal-header">
                            <h4 class="modal-title" id="case-study"> CASE STUDY VIEW</h4>
                            <div class="close" id="close-cross-button" data-dismiss="modal" aria-label="Close">
                                <span type="button" aria-hidden="true"><i class="fas fa-times"></i></span>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                   <!-- Publication Year -->
                                   <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">NMIMS School Authors :</div>
                                        <label class="view-content" id="view-nmims-school-authors"></label>
                                    </div>
                                </div>
                                  <!-- Publication Year -->
                                  <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">NMIMS Campus Authors:</div>
                                        <label class="view-content" id="view-nmims-campus-authors"></label>
                                    </div>
                                </div>
                             
                                <!-- author's first name -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Authors Names:</div>
                                        <label class="view-content" id="view-first-name"></label>
                                    </div>
                                </div>
                                  
                                

                                <!-- Author's last name
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Authors Last Name :</div>
                                        <label class="view-content" id="view-last-name"></label>
                                    </div>
                                </div> -->
                                <!-- Title of case study -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">title Of Case Study :</div>
                                        <label class="view-content" id="view-title-of-case-study"></label>
                                    </div>
                                </div>

                                <!-- Edition -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Edition :</div>
                                        <label class="view-content" id="view-edition"></label>
                                    </div>
                                </div>
                                <!-- Volume number -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Volume Number :</div>
                                        <label class="view-content" id="view-volume-number"></label>
                                    </div>
                                </div>

                                <!-- Publisher Name -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Publisher Name :</div>
                                        <label class="view-content" id="view-publisher-name"></label>
                                    </div>
                                </div>

                                <!-- publisher category -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Publisher Category :</div>
                                        <label class="view-content" id="view-publisher-category"></label>
                                    </div>
                                </div>
                                <!-- Publication Year -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Publication Year :</div>
                                        <label class="view-content" id="view-publication-year"></label>
                                    </div>
                                </div>
                                <!-- Page Number -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Page Number:</div>
                                        <label class="view-content" id="view-page-number"></label>
                                    </div>
                                </div>
                                <!-- Url Of The Case Study -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Url Of The Case Study :</div>
                                        <label class="view-content" id="view-url-of-case-study"></label>
                                        <!-- <a class="view-content" id="view-url-of-case-study"></a> -->
                                    </div>
                                </div>
                                <!-- No. Of NMIMS Authors -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text"> No. Of NMIMS Authors :</div>
                                        <label class="view-content" id="view-no-of-nmims-authors"></label>
                                    </div>
                                </div>
                                <!-- Name Of NMIMS Authors -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text"> Name Of NMIMS Author's :</div>
                                        <label class="view-content" id="view-nmims-authors"></label>
                                    </div>
                                </div>
                            
                            <!-- case study documents -->
                            <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                <div class="box">
                                    <div class="sub-title-text sub-title">
                                        <button class="btn btn-primary h-10 w-10 download-file"
                                            id="supporting-document">
                                            <i class="fas fa-download text-danger"></i> Case Study Documents
                                        </button>
                                    </div>
                                    <label class="view-content" id="view-patent-file"></label>
                                </div>
                            </div>
                        </div>
                        </div>
                        <!-- footer button -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" id="footer-close-view" data-dismiss="modal">Close</button>
                        </div>
                </div>
            </div>

            <!-- inline javascript -->
            <script>
                //   for index icrement
                let rowCount = document.getElementById('row-count');
                const totalRowCount = document.getElementById('total-row-count');
                let rowIndex = rowCount.innerText;
                let indexValue = parseInt(rowIndex, 10);

                const caseStudiesDataList = document.getElementById('case-studies-data-list');
                const submitBtn = document.getElementById('submit-btn');
                const updateBtn = document.getElementById('update-btn');
                const addNewCaseStudyData = document.getElementById('case-study-add-modal');
                let caseStudyId, rowToBeUpdate;

                addNewCaseStudyData.addEventListener('click', async function (event) {
                    if (event.target.tagName === 'BUTTON' && event.target.classList.contains('add-modal') || event.target.classList.contains('plus')) {
                        // for button visualization
                        $('#case-study-modal').modal({
                            backdrop: 'static'
                        });

                        removeErrorMsg()
                        submitBtn.classList.remove('d-none');
                        updateBtn.classList.add('d-none');
                        document.getElementById('case-study').innerHTML = 'CASE STUDY';

                        document.querySelector('#supporting-documents').classList.remove('d-none');
                        document.querySelector('#uploadNewSupportDocumentDiv').classList.add('d-none');
                        document.querySelector('#uploadNewSupportDocument').checked = false;
                        document.querySelector('#case-study-doc-edit').classList.add('d-none');

                        document.getElementById('author-first-name').value = '';
                        // document.getElementById('author-last-name').value = '';
                        document.getElementById('title-of-case-study').value = '';
                        document.getElementById('edition').value = '';
                        document.getElementById('volume-number').value = '';
                        document.getElementById('publisher-name').value = '';
                        document.getElementById('publication-year').value = '';
                        document.getElementById('page-number').value = '';
                        document.getElementById('url-of-case-study').value = '';
                        document.getElementById('number-of-nmims-authors').value = '';
                        document.getElementById('nmims-authors').value = '';
                        document.getElementById('nmims-campus-authors').value = '';
                        document.getElementById('nmims-school-authors').value = '';
                    }
                })

                const insertCaseStudy = async (url) => {
                    console.log('clickeddd');
                    const caseStudyData = new FormData();

                    const authorsFirstName = document.getElementById('author-first-name').value;
                    // const authorLastName = document.getElementById('author-last-name').value;
                    const titleOfCaseStudy = document.getElementById('title-of-case-study').value;
                    const edition = document.getElementById('edition').value;
                    const publisherCategory = document.querySelector('input[name="publisher-category"]:checked').value;
                    const volumeNumber = document.getElementById('volume-number').value;
                    const publisherName = document.getElementById('publisher-name').value;
                    const publicationYear = document.getElementById('publication-year').value;
                    const pageNumber = document.getElementById('page-number').value;
                    const urlOfCaseStudy = document.getElementById('url-of-case-study').value;
                    const numberOfNmimsAuthors = document.getElementById('number-of-nmims-authors').value;
                    const nmimsAuthors = document.getElementById('nmims-authors').value;
                    const nmimsCampusAuthors = document.getElementById('nmims-campus-authors').value;
                    const nmimsSchoolAuthors = document.getElementById('nmims-school-authors').value;

                    const caseStudyDoc = document.getElementById('supporting-documents');
                    const caseStudyFiles = caseStudyDoc.files;
                    console.log('caseStudyFiles ===>>>', caseStudyFiles)
                    for (let i = 0; i < caseStudyFiles.length; i++) {
                        console.log('file name  ==>>', caseStudyFiles[i].name);
                        caseStudyData.append('caseStudyDocuments', caseStudyFiles[i]);
                    }

                    caseStudyData.append('authorsFirstName', authorsFirstName)
                    // caseStudyData.append('authorLastName', authorLastName)
                    caseStudyData.append('titleOfCaseStudy', titleOfCaseStudy)
                    caseStudyData.append('edition', edition)
                    caseStudyData.append('publisherCategory', publisherCategory)
                    caseStudyData.append('volumeNumber', volumeNumber)
                    caseStudyData.append('publisherName', publisherName)
                    caseStudyData.append('publicationYear', publicationYear)
                    caseStudyData.append('pageNumber', pageNumber)
                    caseStudyData.append('urlOfCaseStudy', urlOfCaseStudy)
                    caseStudyData.append('numberOfNmimsAuthors', numberOfNmimsAuthors)
                    caseStudyData.append('nmimsAuthors', nmimsAuthors)
                    caseStudyData.append('nmimsCampusAuthors', nmimsCampusAuthors)
                    caseStudyData.append('nmimsSchoolAuthors', nmimsSchoolAuthors)

                    // const payload = {
                    //     caseStudyData : caseStudyData
                    // }

                    fetch(url, {
                        method: 'POST',
                        body: caseStudyData
                    })
                        .then((result) => {
                            return result.json();
                        })
                        .then((data) => {
                            console.log('data ==>>', data);
                            if (data.status === 'Done') {
                                //         console.log('')
                                //         const caseStudyData = data.caseStudyData[0];
                                //         const rowCountInteger = parseInt(data.rowCount, 10);
                                //         const IndexEntry = rowCountInteger + indexValue;
                                //         indexValue = IndexEntry;
                                //         console.log('IndexEntry ===>>>', IndexEntry);

                                //         console.log('caseStudyId', caseStudyId);
                                //         const newCaseStudy = document.createElement('tr');

                                //         newCaseStudy.setAttribute('data-case-id', data.caseStudyId)
                                //         newCaseStudy.setAttribute('data-page-number', caseStudyData.pageNumber);
                                //         newCaseStudy.setAttribute('data-url-of-casestudy', caseStudyData.urlOfCaseStudy);
                                //         newCaseStudy.setAttribute('data-number-of-nmims-authors', caseStudyData.numberOfNmimsAuthors);
                                //         newCaseStudy.setAttribute('data-nmims-authors', caseStudyData.nmimsAuthors);
                                //         newCaseStudy.setAttribute('data-publisher-category', caseStudyData.publisherCategory);
                                //         newCaseStudy.setAttribute('data-nmims-campus-authors', caseStudyData.nmimsCampusAuthors);
                                //         newCaseStudy.setAttribute('data-nmims-school-authors', caseStudyData.nmimsSchoolAuthors);
                                //         newCaseStudy.setAttribute('data-supporting-documents', data.caseStudyFiles)
                                //         newCaseStudy.innerHTML = `
                                // <td class="cell" id="rowCount">${IndexEntry}</td>
                                // <td class="cell author-first-name">${caseStudyData.authorsFirstName}</td>
                                // <td class="cell author-last-name">${caseStudyData.authorLastName}</td>
                                // <td class="cell title-of-case-study">${caseStudyData.titleOfCaseStudy}</td>
                                // <td class="cell edition">${caseStudyData.edition}</td>
                                // <td class="cell volume-number">${caseStudyData.volumeNumber}</td>
                                // <td class="cell publisher-name">${caseStudyData.publisherName}</td>
                                // <td class="cell publication-year">${caseStudyData.publicationYear}</td>
                                // <td title="View" class="border-right-0 view" style="cursor: pointer;"  data-case-id="${data.caseStudyId}">
                                //         &#128065;
                                // </td>
                                // <td title="Edit" class="border-right-0 edit" style="cursor: pointer;"  data-case-id="${data.caseStudyId}">
                                //         &#9998;
                                // </td>
                                // <td title="Delete" class="border-right-0 delete" style="cursor: pointer;"   data-case-id="${data.caseStudyId}">
                                //         &#128465;
                                // </td> `;

                                //         caseStudiesDataList.appendChild(newCaseStudy);
                                $('#case-study-modal').modal('hide');
                                // rowCount.classList.remove('d-none');
                                // totalRowCount.classList.add('d-none');
                                // rowCount.innerText = `Total entries : ${IndexEntry}`
                                Swal.fire({
                                    position: "top-center",
                                    icon: "success",
                                    title: `${data.message}`,
                                    allowOutsideClick: false,
                                    showConfirmButton: true,
                                    confirmButtonText: "OK",
                                    confirmButtonColor: "#DD6B55"

                                }).then(() => {
                                    document.location.reload()
                                });
                            }
                            else {
                                console.log('data in failed condition ====>>>>', data)
                                Swal.fire({
                                    position: "top-center",
                                    icon: "error",
                                    title: "Failed To Insert",
                                    color: "red",
                                    with: "20PX",
                                    showConfirmButton: true,
                                    allowOutsideClick: false,
                                    confirmButtonText: "OK",
                                    confirmButtonColor: "#DD6B55"
                                });
                            }
                        })
                        .catch((error) => {
                            console.error("ERROR:", error);
                            const message = "Internal Server Error";
                            const errTitle = error
                            Swal.fire({
                                position: "top-center",
                                icon: "error",
                                title: `${message}`,
                                allowOutsideClick: false,
                                color: "red",
                                with: "20PX",
                                html: `<span style="color: red;">${errTitle}</span>`,
                                showConfirmButton: true,
                                confirmButtonText: "OK",
                                confirmButtonColor: "#DD6B55"
                            });
                        })
                }

                submitBtn.addEventListener('click', async function () {
                    const isValid = validateRequiredFormFields(submitBtn);
                    if (isValid) {
                        await insertCaseStudy('<%- BASE_URL %>research/case-study/insert');
                    }
                    else {
                        Swal.fire({
                            position: "top-center",
                            icon: "error",
                            title: "Validation Failed",
                            allowOutsideClick: false,
                            color: "red",
                            showConfirmButton: true,
                            confirmButtonText: "OK",
                            confirmButtonColor: "#DD6B55"
                        });
                    }
                });

                caseStudiesDataList.addEventListener('click', async function (event) {
                    if (event.target.classList.contains('view')) {
                        $('#case-view-modal').modal({
                            backdrop: 'static'
                        });
                        const rowToBeView = event.target.closest('tr');
                        caseStudyId = rowToBeView.getAttribute('data-case-id');
                        const viewAuthorFirstName = document.getElementById('view-first-name');
                        // const viewAuthorLastName = document.getElementById('view-last-name');
                        const viewTitleOfCaseStudy = document.getElementById('view-title-of-case-study');
                        const viewEdition = document.getElementById('view-edition');
                        const viewVolumeNumber = document.getElementById('view-volume-number');
                        const viewPublisherName = document.getElementById('view-publisher-name');
                        const viewPublisherCategory = document.getElementById('view-publisher-category');
                        const viewPublicationYear = document.getElementById('view-publication-year');
                        const viewPageNumber = document.getElementById('view-page-number');
                        const viewUrlOfCaseStudy = document.getElementById('view-url-of-case-study');
                        const viewNoOfNmimsAuthors = document.getElementById('view-no-of-nmims-authors');
                        const viewNmimsAuthors = document.getElementById('view-nmims-authors');
                        const viewNmimsCampusAuthors = document.getElementById('view-nmims-campus-authors');
                        const viewNmimsSchoolAuthors = document.getElementById('view-nmims-school-authors');

                        $('#case-view-modal').modal('show');

                        fetch('<%- BASE_URL %>research/case-study/view', {
                            method: 'POST',
                            headers: {
                                'content-type': 'application/json'
                            },
                            body: JSON.stringify({
                                caseStudyId: caseStudyId
                            })
                        })
                            .then((result) => {
                                return result.json();
                            })
                            .then((data) => {
                                console.log('data ==>>', data);
                                setFileNameInButtons(data)
                                viewAuthorFirstName.innerText = data.caseStudyData[0].author_first_name;
                                // viewAuthorLastName.innerText = data.caseStudyData[0].author_last_name;
                                viewTitleOfCaseStudy.innerText = data.caseStudyData[0].title_of_case_study;
                                viewEdition.innerText = data.caseStudyData[0].edition;
                                viewPublisherCategory.innerText = data.caseStudyData[0].publisher_category;
                                viewVolumeNumber.innerText = data.caseStudyData[0].volume_number;
                                viewPublisherName.innerText = data.caseStudyData[0].publisher_name;
                                viewPublicationYear.innerText = data.caseStudyData[0].publication_year;
                                viewPageNumber.innerText = data.caseStudyData[0].page_number;
                                let caseStudyAnchor = document.createElement('a');
                                caseStudyAnchor.href = data.caseStudyData[0].url_of_case_study;
                                caseStudyAnchor.target = "_blank"; 
                                caseStudyAnchor.innerText = data.caseStudyData[0].url_of_case_study;
                                viewUrlOfCaseStudy.appendChild(caseStudyAnchor);
                                // viewUrlOfCaseStudy.innerText = data.caseStudyData[0].url_of_case_study;
                                viewNoOfNmimsAuthors.innerText = data.caseStudyData[0].number_of_nmims_authors;
                                viewNmimsAuthors.innerText = data.caseStudyData[0].nmims_authors;
                                viewNmimsCampusAuthors.innerText = data.caseStudyData[0].nmims_campus_authors;
                                viewNmimsSchoolAuthors.innerText = data.caseStudyData[0].nmims_school_authors;
                            })
                            .catch((error) => {
                                console.log('ERROR :', error);
                            })
                    }

                    // for deleting
                    if (event.target.classList.contains('delete')) {
                        console.log('clickkeddd');
                        const rowToBeDelete = event.target.closest('tr');
                        caseStudyId = rowToBeDelete.getAttribute('data-case-id');

                        console.log('==>>>', rowToBeDelete)
                        console.log('ID', caseStudyId);

                        let confirmDelete = "Do you want to delete the Case Study?";
                        if (confirmDelete) {
                            Swal.fire({
                                title: "Are you sure?",
                                text: "You won't be able to revert this!",
                                icon: "warning",
                                showCancelButton: true,
                                allowOutsideClick: false,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Yes, delete it!"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    // Execute fetch request here after confirmation
                                    fetch('<%- BASE_URL %>research/case-study/delete', {
                                        method: 'POST',
                                        headers: {
                                            'content-type': 'application/json'
                                        },
                                        body: JSON.stringify({ caseStudyId })
                                    })
                                        .then((result) => result.json())
                                        .then((data) => {
                                            if (data.status === 'done') {
                                                console.log('data ==>>', data);
                                                rowToBeDelete.remove();
                                                Swal.fire({
                                                    title: "Deleted!",
                                                    text: "Record has been deleted.",
                                                    icon: "success",
                                                    showConfirmButton: true,
                                                    allowOutsideClick: false,
                                                    confirmButtonText: "OK",
                                                    confirmButtonColor: "#DD6B55"
                                                }).then(() => {
                                                    location.reload();
                                                });
                                            }
                                        })
                                        .catch((error) => {
                                            console.error('Error:', error);
                                            const message = error;
                                            Swal.fire({
                                                position: "top-center",
                                                icon: "error",
                                                title: `${message}`,
                                                color: "red",
                                                showConfirmButton: true,
                                                allowOutsideClick: false,
                                                confirmButtonText: "OK",
                                                confirmButtonColor: "#DD6B55"
                                            });
                                        });
                                }
                            });
                        }
                        else {
                            return
                        }
                    }

                    if (event.target.classList.contains('edit')) {
                        $('#case-study-modal').modal({
                            backdrop: 'static'
                        });
                        console.log('clickeddddd');
                        removeErrorMsg();
                        $('#case-study-modal').modal('show');
                        document.querySelector('#supporting-documents').classList.add('d-none');
                        document.querySelector('#uploadNewSupportDocumentDiv').classList.remove('d-none');
                        document.querySelector('#case-study-doc-edit').classList.remove('d-none');
                        // button visualization
                        submitBtn.classList.add('d-none');
                        updateBtn.classList.remove('d-none');
                        document.getElementById('case-study').innerHTML = 'CASE STUDY EDIT';
                        // caseStudyId = event.target.getAttribute('data-case-id');
                        // console.log('ID For Updation' , caseStudyId);
                        rowToBeUpdate = event.target.closest('tr');
                        console.log('rowToBeUpdate ===>>>>>>', rowToBeUpdate);
                        caseStudyId = rowToBeUpdate.getAttribute('data-case-id');
                        setFileNameAttributeToBeDownload(rowToBeUpdate)

                        console.log('caseStudyId ===>>>>>>', caseStudyId)
                        // capturing specific data
                        const pageNumber = rowToBeUpdate.getAttribute('data-page-number');
                        const urlOfCaseStudy = rowToBeUpdate.getAttribute('data-url-of-caseStudy');
                        const numberOfNmimsAuthors = rowToBeUpdate.getAttribute('data-number-of-nmims-authors');
                        const nmimsAuthors = rowToBeUpdate.getAttribute('data-nmims-authors');
                        const publisherCategoryNational = document.getElementById('national');
                        const publisherCategoryInternational = document.getElementById('inter-national');
                        const nmimsCampusAuthors = rowToBeUpdate.getAttribute('data-nmims-campus-authors');
                        const nmimsSchoolAuthors = rowToBeUpdate.getAttribute('data-nmims-school-authors');
                        const authorsFirstName = rowToBeUpdate.querySelector('.author-first-name');
                        // const authorLastName = rowToBeUpdate.querySelector('.author-last-name');
                        const titleOfCaseStudy = rowToBeUpdate.querySelector('.title-of-case-study');
                        const edition = rowToBeUpdate.querySelector('.edition');
                        const volumeNumber = rowToBeUpdate.querySelector('.volume-number');
                        const publisherName = rowToBeUpdate.querySelector('.publisher-name');
                        const publicationYear = rowToBeUpdate.querySelector('.publication-year');

                        //showing actually stored value  
                        document.getElementById('author-first-name').value = authorsFirstName.innerText.trim();
                        // document.getElementById('author-last-name').value = authorLastName.innerText.trim();
                        document.getElementById('title-of-case-study').value = titleOfCaseStudy.innerText.trim();
                        document.getElementById('edition').value = edition.innerText.trim();
                        document.getElementById('volume-number').value = volumeNumber.innerText.trim();
                        document.getElementById('publisher-name').value = publisherName.innerText.trim();
                        document.getElementById('publication-year').value = publicationYear.innerText.trim();
                        document.getElementById('page-number').value = pageNumber.trim();
                        const publisherCategory = rowToBeUpdate.getAttribute('data-publisher-category');

                        if (publisherCategory === 'National') {
                            publisherCategoryNational.checked = true;
                        }
                        else {
                            publisherCategoryInternational.checked = true;
                        }
                        document.getElementById('url-of-case-study').value = urlOfCaseStudy.trim();
                        document.getElementById('number-of-nmims-authors').value = numberOfNmimsAuthors.trim();
                        document.getElementById('nmims-authors').value = nmimsAuthors.trim();
                        document.getElementById('nmims-campus-authors').value = nmimsCampusAuthors.trim();
                        document.getElementById('nmims-school-authors').value = nmimsSchoolAuthors.trim();
                    }
                })

                const updateCaseStudy = async (url) => {
                    console.log('data is updated');
                    const updatedCaseStudies = new FormData
                    const authorsFirstName = document.getElementById('author-first-name').value;
                    // const authorLastName = document.getElementById('author-last-name').value;
                    const titleOfCaseStudy = document.getElementById('title-of-case-study').value;
                    const edition = document.getElementById('edition').value;
                    const publisherCategory = document.querySelector('input[name="publisher-category"]:checked').value;
                    const volumeNumber = document.getElementById('volume-number').value;
                    const publisherName = document.getElementById('publisher-name').value;
                    const publicationYear = document.getElementById('publication-year').value;
                    const pageNumber = document.getElementById('page-number').value;
                    const urlOfCaseStudy = document.getElementById('url-of-case-study').value;
                    const numberOfNmimsAuthors = document.getElementById('number-of-nmims-authors').value;
                    const nmimsAuthors = document.getElementById('nmims-authors').value;
                    const nmimsCampusAuthors = document.getElementById('nmims-campus-authors').value;
                    const nmimsSchoolAuthors = document.getElementById('nmims-school-authors').value;

                    const caseStudyDoc = document.getElementById('supporting-documents');
                    const caseStudyFiles = caseStudyDoc.files;
                    console.log('caseStudyFiles ===>>>', caseStudyFiles);
                    caseStudyFiles ?
                        Array.from(caseStudyFiles).forEach(file => {
                            console.log('file name  ==>>', file.name);
                            updatedCaseStudies.append('caseStudyDocuments', file);
                        }) :
                        (caseStudyFiles = null, updatedCaseStudies.append('caseStudyDocuments', caseStudyFiles));

                    updatedCaseStudies.append('caseStudyId', caseStudyId)
                    updatedCaseStudies.append('authorsFirstName', authorsFirstName)
                    // updatedCaseStudies.append('authorLastName', authorLastName)
                    updatedCaseStudies.append('titleOfCaseStudy', titleOfCaseStudy)
                    updatedCaseStudies.append('edition', edition)
                    updatedCaseStudies.append('publisherCategory', publisherCategory)
                    updatedCaseStudies.append('volumeNumber', volumeNumber)
                    updatedCaseStudies.append('publisherName', publisherName)
                    updatedCaseStudies.append('publicationYear', publicationYear)
                    updatedCaseStudies.append('pageNumber', pageNumber)
                    updatedCaseStudies.append('urlOfCaseStudy', urlOfCaseStudy)
                    updatedCaseStudies.append('numberOfNmimsAuthors', numberOfNmimsAuthors);
                    updatedCaseStudies.append('nmimsAuthors', nmimsAuthors)
                    updatedCaseStudies.append('nmimsCampusAuthors', nmimsCampusAuthors)
                    updatedCaseStudies.append('nmimsSchoolAuthors', nmimsSchoolAuthors)

                    fetch(url, {
                        method: 'POST',
                        body: updatedCaseStudies
                    })
                        .then((result) => {
                            return result.json();
                        })
                        .then((data) => {
                            console.log('data ===>>>', data);
                            if (data.status === 'Done') {
                                // const updatedCaseStudies = data.updatedCaseStudies
                                // console.log('caseID >>>', caseStudyId);
                                // rowToBeUpdate.querySelector('.author-first-name').innerText = updatedCaseStudies.authorsFirstName;
                                // rowToBeUpdate.querySelector('.author-last-name').innerText = updatedCaseStudies.authorLastName;
                                // rowToBeUpdate.querySelector('.edition').innerText = updatedCaseStudies.edition;
                                // rowToBeUpdate.querySelector('.volume-number').innerText = updatedCaseStudies.volumeNumber;
                                // rowToBeUpdate.querySelector('.publication-year').innerText = updatedCaseStudies.publicationYear;
                                // rowToBeUpdate.setAttribute('data-page-number', updatedCaseStudies.pageNumber);
                                // rowToBeUpdate.setAttribute('data-publisher-category', updatedCaseStudies.publisherCategory);
                                // rowToBeUpdate.setAttribute('data-url-of-caseStudy', updatedCaseStudies.urlOfCaseStudy);
                                // rowToBeUpdate.setAttribute('data-numberOfNmimsAuthors', updatedCaseStudies.numberOfNmimsAuthors);
                                // rowToBeUpdate.setAttribute('data-nmims-authors', updatedCaseStudies.nmimsAuthors);
                                // rowToBeUpdate.setAttribute('data-nmims-campus-authors', updatedCaseStudies.nmimsCampusAuthors);
                                // rowToBeUpdate.setAttribute('data-nmims-school-authors', updatedCaseStudies.nmimsSchoolAuthors);
                                // rowToBeUpdate.setAttribute('data-supporting-documents', data.caseStudyFiles);
                                

                                $('#case-study-modal').modal('hide');
                                Swal.fire({
                                    position: "top-center",
                                    icon: "success",
                                    title: `${data.message}`,
                                    showConfirmButton: true,
                                    allowOutsideClick: false,
                                    confirmButtonText: "OK",
                                    confirmButtonColor: "#DD6B55"
                                    // timer: 1500
                                }).then(() => {
                                    location.reload(); // Reload the page after the user clicks OK
                                });
                            }
                            else {
                                Swal.fire({
                                    position: "top-center",
                                    icon: "error",
                                    title: "Updation Failed",
                                    allowOutsideClick: false,
                                    color: "red",
                                    with: "20PX",
                                    showConfirmButton: true,
                                    confirmButtonText: "OK",
                                    confirmButtonColor: "#DD6B55"
                                });
                            }

                        })
                        .catch((error) => {
                            console.log("ERROIR : ", error);
                            const errTitle = "Internal Server Error";
                            const message = error
                            // alert('An error occurred while updating the element');
                            Swal.fire({
                                position: "top-center",
                                icon: "error",
                                title: `${message}`,
                                color: "red",
                                with: "20PX",
                                html: `<span style="color: red;">${errTitle}</span>`,
                                allowOutsideClick: false,
                                showConfirmButton: true,
                                confirmButtonText: "OK",
                                confirmButtonColor: "#DD6B55"
                            });
                        })
                };

                updateBtn.addEventListener('click', async () => {
                    formGroup = updateBtn.closest('.validate-input')
                    console.log("formGroup::::::::", formGroup)
                    formGroup.querySelectorAll('input[type="file"]')?.forEach(elm => {
                        if(elm.files.length > 0){
                            const validate = elm.getAttribute('data-validate');
                            const elemVal = elm.value;
                        }
                        
                        else{
                            elm.removeAttribute('data-validate')
                        }
                        
                    })

                    const isValid = validateRequiredFormFields(updateBtn);
                    if (isValid) {
                        await updateCaseStudy('<%- BASE_URL %>research/case-study/update');

                    }
                    else {
                        Swal.fire({
                            position: "top-center",
                            icon: "error",
                            title: "Validation Failed",
                            color: "red",
                            showConfirmButton: true,
                            allowOutsideClick: false,
                            confirmButtonText: "OK",
                            confirmButtonColor: "#DD6B55"
                        });
                    }

                })


                function setFileNameInButtons(data) {
                    console.log('data ==>>>', data);
                    let caseStudyDocuments = document.getElementById('supporting-document');
                    caseStudyDocuments.setAttribute('data-filename', data.caseStudyData[0].supporting_documents);
                }

                //eventlistner for download files
                document.addEventListener('click', async function (event) {
                    const button = event.target.closest('button');
                    if (button && button.id && button.classList.contains('download-file')) {
                        console.log('button ===>>>', button)
                        try {
                            const fileDataString = button.getAttribute('data-filename');
                            if (!fileDataString) {
                                throw new Error('Data filename attribute not found on button.');
                            }

                            const fileArray = fileDataString.split(',').map(fileName => fileName.trim()).filter(Boolean);
                            if (fileArray.length === 0) {
                                throw new Error('No file names found in data filename attribute.');
                            }

                            const downloadPromises = fileArray.map(async (fileName) => {
                                console.log('fileName ===>>>', fileName)
                                const fileUrl = `<%- BASE_URL %>research/case-study/download/${fileName}`;
                                downloadFile(fileName, fileUrl)
                                try {
                                    const response = await fetch(fileUrl);
                                    if (!response.ok) {
                                        throw new Error(`Failed to download file: ${fileName}`);
                                    }
                                    console.log('File downloaded successfully:', fileName);
                                    return fileName;
                                } catch (error) {
                                    console.error('Error downloading file:', error);
                                    throw error;
                                }
                            });

                            const downloadedFiles = await Promise.all(downloadPromises);
                            console.log('All files downloaded successfully:', downloadedFiles);
                        } catch (error) {
                            console.error('Error downloading files:', error);
                            alert(`There was a problem downloading files: ${error.message}`);
                        }
                    }
                });


                // set string file value into button
                function setFileNameAttributeToBeDownload(data) {
                    console.log('data row in side function ===>>', data);
                    const caseStudyFiles = document.getElementById('case-study-doc-edit');
                    caseStudyFiles.classList.remove('d-none');
                    const caseStudyDocString = data.getAttribute('data-supporting-documents');
                    console.log('caseStudyDocString ====>>>>>>', caseStudyDocString);
                    // setAttribute into button
                    caseStudyFiles.setAttribute('data-filename', caseStudyDocString);

                };

                $("#case-studies-data-list").DataTable({
                    "pageLength": 5,
                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                })

document.querySelector('#uploadNewSupportDocument').addEventListener('click',function(e){
    let is_checked = document.querySelector('#uploadNewSupportDocument').checked;
    console.log("is_checked :",is_checked);
    if(is_checked){
        document.querySelector('#supporting-documents').classList.remove('d-none');
    }else{
        document.querySelector('#supporting-documents').classList.add('d-none');
    } 
    
})

                document.getElementById('footer-close-view').addEventListener('click', () => {
                                    document.location.reload();
                                });

                document.getElementById('close-cross-button').addEventListener('click', () => {
                    document.location.reload();
                });

            </script>
            <!-- footer section -->
            <!-- <%- include('./partials/pagination') %> -->
            <%- include('./partials/footer') %>
                <%- include('./partials/footer-end') %>