<%- include('./partials/head') %>

<%- include('./partials/header') %>
<!-- This is left sidebar  -->
<%- include('./partials/left-sidebar') %>
<!-- inline css -->
<!-- Navbar section -->
<main class="main" id="main-content">
    <div class="base-section coustom-section">
      <div class="errorHtml"></div>
      <div class="breadcrumbs-container">
          <ul class="breadcrumb">
              <li class="breadcrumb-link">
                  <a href="<%- BASE_URL %>research"> Dashboard </a>
              </li>
              <li class="breadcrumb-link">Dashboard</li>
          </ul>
      </div>
      <div class="">
        <div class="table-card-header text-uppercase d-flex align-items-center justify-content-between p-1">
            <div>
                <h3>CHRONICLE EDITION </h3>
            </div>
            <div class="me-2">
                <!-- <button id="journal-paper-add-modal" type="button" class="btn btn-primary add-modal" data-toggle="modal"
                    data-target="#journal-paper-modal">
                    <i  class="fas fa-plus plus"></i></button>
                </button> -->
            </div>
        </div>
        <div class="card-body table-responsive">
            <div class="d-flex justify-content-between">
                <div>
                    <label>Show Entries</label>
                    <select class="form-select" id="changeEntry">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="25">25</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="150">150</option>
                        <option value="200">200</option>
                        <option value="250">250</option>
                        <option value="300">300</option>
                        <option value="350">350</option>
                        <option value="400">400</option>
                        <option value="500">500</option>
                        <option value="800">800</option>
                        <option value="1000">1000</option>
                    </select>
                </div>
                <div>
                    <div class="table-searchbar-container">
                        <button type="button" id="searchBtn"><i class="fas fa-search"></i></button>
                        <input type="search" id="searchKeyword" placeholder="Enter keywords" class="table-searchbar">
                    </div>
                </div>
            </div>
            <div class="table custom-table table-responsive research-pagination" id="journal-paper-list">
              <div class="row">
                <div class="form-group col-lg-1 col-md-6 col-sm-12 mb-4">#</div>
                <div class="form-group col-lg-2 col-md-6 col-sm-12 mb-4">VC Office</div>
                <div class="form-group col-lg-2 col-md-6 col-sm-12 mb-4">Research</div>
                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">Meeting Stakeholders Aspiration</div>
                <div class="form-group col-lg-2 col-md-6 col-sm-12 mb-4">Branding</div>
                <div class="form-group col-lg-2 col-md-6 col-sm-12 mb-4">ACTION</div>
              </div>
            </div>
            <div class="d-flex justify-content-between">
                <div>
                    <label >Total entries : 
                    </label>
                </div>
                <div>
                    <button id="prevBtn" class="btn btn-primary">Previous</button>
                    <button id="nextBtn" class="btn btn-primary">Next</button>
                    <p id="pagination" class="pagination-search"></p>
                </div>
            </div>
        </div>
    </div>
        <div class="main-content">
            <div id="accordion">
                <div class="card">
                  <div class="card-header" id="research-chronicle">
                    <h5 class="mb-0">
                      <button class="btn offset-btn-item-link" data-toggle="collapse" data-target="#vc-collapse" aria-expanded="true" aria-controls="vc-collapse">
                        From Vice Chancellor's Desk #1
                      </button>
                    </h5>
                  </div>
              
                  <div id="vc-collapse" class="collapse" aria-labelledby="research-chronicle" data-parent="#accordion">
                    <div class="card-body">
                        <strong >From Vice Chancellor's Desk</strong>
                        <div id="vc-data-editor">
                            <p>This is some sample content.</p>
                        </div>
                        <button id="vc-data" type="button" class="btn btn-primary insert-chronicle">Submit</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="research-heading">
                    <h5 class="mb-0">
                      <button class="btn offset-btn-item-link collapsed" data-toggle="collapse" data-target="#research" aria-expanded="false" aria-controls="research">
                        Research #2
                      </button>
                    </h5>
                  </div>
                  <div id="research" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        <strong> Research </strong>
                        <div id="research-data-editor">
                            <p>This is some sample content.</p>
                        </div>
                        <button id="research-data" type="button" class="btn btn-primary insert-chronicle">Submit</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header" id="meeting-header">
                    <h5 class="mb-0">
                      <button class="btn offset-btn-item-link collapsed" data-toggle="collapse" data-target="#meeting-collapse" aria-expanded="false" aria-controls="meeting-collapse">
                         Meeting Stackholders #3
                      </button>
                    </h5>
                  </div>
                  <div id="meeting-collapse" class="collapse" aria-labelledby="meeting-header" data-parent="#accordion">
                    <div class="card-body">
                        <strong> Meeting Stackholders </strong>
                        <div id="meeting-data-editor">
                            <p>This is some sample content.</p>
                        </div>
                        <button id="meeting-data" type="button" class="btn btn-primary insert-chronicle">Submit</button>
                    </div>
                  </div>
                </div>
                <div class="card">
                    <div class="card-header" id="branding-header">
                      <h5 class="mb-0">
                        <button class="btn offset-btn-item-link collapsed" data-toggle="collapse" data-target="#branding-collapse" aria-expanded="false" aria-controls="branding-collapse">
                          Branding #4
                        </button>
                      </h5>
                    </div>
                    <div id="branding-collapse" class="collapse" aria-labelledby="branding-header" data-parent="#accordion">
                        <div class="card-body">
                            <strong> Branding </strong>
                            <div id="advertising-data-editor">
                                <p>This is some sample content.</p>
                            </div>
                            <button id="advertising-data" type="button" class="btn btn-primary insert-chronicle">Submit</button>

                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
  </main>
  <script src="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.js"></script>
  <script>

    const idContainerArray = [
      "#vc-data-editor",
      "#advertising-data-editor",
      "#research-data-editor",
      "#meeting-data-editor",
    ];

    // Object to store CKEditor instances
    const editorInstances = {};

    // Initialize CKEditor for each ID
    Promise.all(idContainerArray.map(id => {
      return ClassicEditor
        .create(document.querySelector(id))
        .then(editor => {
          console.log(`CKEditor initialized successfully for ${id}`);
          // Store the editor instance using its ID
          editorInstances[id] = editor;
          console.log(`editorInstances[id] ===>>>> ${id}`, editor);
        })
        .catch(error => {
          console.error(`Error initializing CKEditor for ${id}:`, error);
        });
    }));

    // Function for inserting Chronicle Edition Data 
    const insertChronicleEdition = async (url, editorId) => {
      const editor = editorInstances[editorId];
      console.log('editor ==>>>', editor)
      if (editor) {
        const chronicalEditorData = editor.getData();
        console.log('chronicalEditorData ===>>>>', chronicalEditorData)
        if (chronicalEditorData) {
          const parser = new DOMParser();
          const doc = parser.parseFromString(chronicalEditorData, 'text/html');
          const editorDataPlainText = doc.body.textContent.trim();
          console.log('editorDataPlainText ===>>>', editorDataPlainText)
          const editorData = {
            editorDataPlainText: editorDataPlainText
          };

          await fetch(url, {
            method: 'POST',
            headers: {
              'content-type': 'application/json'
            },
            body: JSON.stringify(editorData)
          })
            .then(response => {
              if (response.ok) {
                return response.json()
              }
            })
            .then(data => {
              console.log('Server response:', data);
            })
            .catch(error => {
              console.error('Error sending data to server:', error);
            });
        } else {
          console.error('CKEditor instance not available.');
        }
      } else {
        console.error(`CKEditor instance not found for ${editorId}`);
      }
    }

    // Event listener for the submit button
    document.addEventListener('click', async function (event) {
      const button = event.target.closest('button');
      if (button && button.classList.contains('insert-chronicle')) {
        const buttonId = button.id;
        console.log('buttonId ===>>>', buttonId);
        const editorId = `#${buttonId}-editor`;
        console.log('editorId ===>>>', editorId)
        await insertChronicleEdition(`/chronicle-edition/${buttonId}/insert`, editorId);
      }
    });

  </script>
<%- include('./partials/pagination') %>
<%- include('./partials/footer') %>
<%- include('./partials/footer-end') %>