<%- include('./partials/head') %>
<!-- inline csss -->
<style>
       .custom-modal {
        max-width: 1000px;
        max-height: 800px;
    }
    .sub-title-text{
        font-size: 15px;
        font-weight:500;
    }
</style>
<!-- Navbar section -->
<%- include('./partials/header') %>
<!-- This is left sidebar  -->
<%- include('./partials/left-sidebar') %>
<!-- This is right side section -->
<main class="main" id="mainContent">
    <div class="base-section coustom-section mt-5 p-5">
        <!--DASHBOARD CONTENT START-->
        <div class="breadcrumbs-container">
            <ul class="breadcrumb">
                <li><a href="../html/dashboard.html">ADMIN</a></li>
                <li><a href="">conference-publication</a></li>
            </ul>
        </div>
        <div class="errorHtml"></div>
        <div class="card table-card">
            <div class="card-header table-card-header text-uppercase d-flex align-items-center justify-content-between">
                <div>
                    <h5>PROGRAM LIST</h5>
                </div>
                <div class="me-2">
                    <a class="btn btn-danger" href="/admin/programs/download"><i class="fas fa-download"></i>
                        Download </a>
                    <button type="button" class="btn btn-primary"  data-toggle="modal" data-target="#conference-publication-modal">
                        <i id="confrence-modal-form" class="fas fa-plus plus"></i></button>
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <div class="d-flex justify-content-between">
                    <div>
                        <label>Show Entries</label>
                        <select class="form-select" id="changeEntry">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="250">250</option>
                            <option value="300">300</option>
                            <option value="350">350</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="800">800</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                </div>
                <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i>
                    </button><input type="search" id="searchkeyword" placeholder="Enter keywords"
                        class="table-searchbar">
                </div>
            </div>
        </div>
        <table class="table custom-table " id="conference-publication-list">
            <thead>
                <th>#</th>
                <th>Title of the Paper</th>
                <th>Name and Place of Conference</th>
                <th>Proceedings Details</th>
                <th>ISSN/ISNB No</th>
                <th>Action</th>
            </thead>
           <% conferenceData.forEach(function(conference) { %>
            <tr scope="row" data-conference-id="<%- conference.id %>" data-publisher-category="<%- conference.publisher_category %>" data-is-presenter="<%- conference.is_presenter %>" 
                data-author-type="<%- conference.author_type %>" data-publication-details="<%- conference.publication_details %>" data-vol-and-issue-no="<%- conference.vol_and_issue_no %>"
                data-doi-weblink="<%- conference.doi_weblink %>" data-upload-files="<%- conference.upload_files %>" data-award-for-presentation="<%- conference.award_for_presentation %>"
                data-upload-proof="<%- conference.upload_proof %>">
                <td data-conference-id="<%- conference.id %> "><%- conference.id %> </td>
                <td class="title-of-paper"><%- conference.title_of_paper %></td>
                <td class="name-and-place"><%- conference.name_and_place %> </td>
                <td class="proceedings-detail"><%- conference.proceedings_detail %></td>
                <td class="issn-isbn-no"><%- conference.issn_isbn_no %></td>
                <td>
                    <a class="view" data-conference-id="<%- conference.id %>"><i class="fa-solid fa-eye view"
                       data-conference-id="<%- conference.id %>"></i></a>
                    <a class="edit"data-conference-id="<%- conference.id %>"><i class="fa fa-edit edit"
                       data-conference-id="<%- conference.id %>"></i></a>
                    <a class="delete"data-conference-id="<%- conference.id %>"><i class="fa-solid fa-trash delete"
                       data-conference-id="<%- conference.id %>"></i></a>
                </td>
            </tr>

          <% }); %>
        </table>
        <div class="d-flex justify-content-between">
            <div>
                <p>Total entries:1
                </p>
            </div>
            <div>
                <p id="pagination" class="pagination-search"></p>
            </div>
        </div>
    </div>
    </div>
    <!--Import Modal -->
    <div class="modal fade" id="open-program-modal" tabindex="-1" aria-labelledby="open-program-modal"
        aria-hidden="true">
    </div>
    <!-- EDIT PROGRAM AND UPDATE -->
    <div class="modal fade" id="edit-program-modal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Update Program</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="errorHtml"></div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Program Name</label>
                        <input type="text" class="form-control" id="program_name" name="program_name">
                        <input type="hidden" class="form-control" id="hidden_id" name="hidden_id">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Program Type</label>
                        <select class="form-control" name="program_type_lid" id="program_type_lid">

                            <option value="1">Full Time</option>

                            <option value="2">Part Time</option>

                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="abbr" class="form-label">Program Abbr</label>
                        <input type="text" class="form-control" id="abbr" name="abbr">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary updateProgram">Update</button>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Modal form for conference publication -->
<div class="modal fade " id="conference-publication-modal" tabindex="-1" role="dialog" aria-labelledby="case-study"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="case-study">Conference Publication </h5>
                <div class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!--  Title of the Paper -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="form-group col">
                            <label for="titlOfProject" class="form-label  fw-bold">Title of the Paper</label>
                            <input type="text" name="title-project" id="title-of-paper" class="form-control"
                                placeholder="Title of Project" />
                        </div>
                    </div>
                    <!-- Name and Place of Conference -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="form-group col">
                            <label for="nameAndPlace" class="form-label  fw-bold"> Name and Place of Conference </label>
                            <input type="text" name="name-and-place" id="name-and-place" class="form-control"
                                placeholder="Name and Place of Conference" />
                        </div>
                    </div>

                    <!-- Proceedings Detail -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="procedingDetail" class="form-label fw-bold"> Proceedings Detail </label>
                        <input type="text" name="proceedings-detail" id="proceedings-detail" class="form-control"
                            placeholder="Proceedings Detail">
                    </div>

                    <!-- Publisher Category  -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publisher-category" class="form-label fw-bold mb-3">Publisher Category</label><br>
                        <div class="form-check-inline">
                            <label for="international" class="form-check-label">
                                <input type="radio" class="form-check-input" id="international" name="publisher-category" value="International" checked> International
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="national" class="form-check-label">
                                <input type="radio" class="form-check-input" id="national" name="publisher-category" value="National"> National
                            </label>
                        </div>
                    </div>


                    <!-- Are you the Presenter? -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="is-presenter" class="form-label fw-bold mb-3"> Are you the Presenter ? </label><br>
                        <div class="form-check-inline">
                            <label for="Yes" class="form-check-label">
                                <input type="radio" class="form-check-input" id="yes" name="is-presenter" value="Yes">
                                Yes
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="no" class="form-check-label">
                                <input type="radio" class="form-check-input" id="no" name="is-presenter" value="No"> No
                            </label>
                        </div>
                    </div>
                    <!-- Author Details -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="author-type" class="form-label fw-bold mb-3">Which type of authors ?</label><br>
                        <div class="form-check-inline">
                            <label for="internal" class="form-check-label">
                                <input type="radio" class="form-check-input" id="internal" name="author-type"
                                    value="Internal"> Internal
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="external" class="form-check-label">
                                <input type="radio" class="form-check-input" id="external" name="author-type"
                                    value="External"> External
                            </label>
                        </div>
                    </div>
                    <!-- Publication Details -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publication-details" class="form-label fw-bold">
                            Publication Details
                        </label>
                        <input type="text" name="publicaton-detail" id="publication-details" class="form-control"
                            placeholder="Publication Details">
                    </div>
                    <!-- Vol and issue no [e.g 9 (12)] -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="volAndIssue" class="form-label fw-bold">
                            Vol and issue no [e.g 9 (12)]
                        </label>
                        <input type="text" name="vol-issues" id="vol-and-issue-no" class="form-control"
                            placeholder="Vol and issue no.">
                    </div>
                    <!-- ISSN/ISNB No -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="ISBNNumber" class="form-label fw-bold">
                            ISSN/ISNB No.
                        </label>
                        <input type="text" name="ISBN-Number" id="issn-isbn-no" class="form-control"
                            placeholder="ISSN/ISNB No.">
                    </div>
                    <!-- DOI/Weblink of paper -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="form-group">
                            <label for="Weblink" class="form-label  fw-bold">
                                DOI/Weblink of paper
                            </label>
                            <input type="text" name="web-link" id="doi-weblink" placeholder="DOI/Weblink of paper"
                                class="form-control" />
                        </div>
                    </div>
                    <!-- Upload Files -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="form-group">
                            <label for="upload" class="form-label fw-bold ">Upload Files</label>
                            <input type="file" name="upload-file" class="form-control " id="upload-files"
                                placeholder="upload-file">
                        </div>
                        <button class="d-none" type="button" id="preview-update-btn">Preview and Update</button>
                        <div id="file-preview"></div>
                    </div>

                    <!-- Any award for presentation -->
                    <div class="col-lg-4 col-md-6 col-sm-12  mb-4">
                        <label for="award-for-presentation" class="form-label fw-bold mb-3">Any award for presentation</label><br>
                        <div class="form-check-inline">
                            <label for="award-yes" class="form-check-label">
                                <input type="radio" class="form-check-input" id="yes" name="award-for-presentation" value="Yes">
                                Yes
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="award-no" class="form-check-label">
                                <input type="radio" class="form-check-input" id="no" name="award-for-presentation" value="No">
                                No
                            </label>
                        </div>
                    </div>
                    <!-- if any award of presentation then this below upload button visible. -->
                    <!-- Upload Files -->
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="form-group">
                            <label for="upload" class="form-label fw-bold ">Upload Proof</label>
                            <input type="file" name="upload-file" class="form-control " id="upload-proof"
                                placeholder="upload-file">
                        </div>
                    </div>
                </div>
            </div>
             <!-- footer button -->
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary " id="submitBtn">Submit</button>
                <button type="button" class="btn btn-primary d-none" id="updateBtn">update</button>
            </div>
        </div>
    </div>
</div>
<!-- conference-publication-view-modal -->

<div class="modal fade" id="conference-publication-view-modal" tabindex="-1" role="dialog" aria-labelledby="conference-publication-view-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal " role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-center" id="exampleModalLongTitle">CONFERENCE PUBLICATION</h5>
          <div type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"><i class="fas fa-times fa"></i></span>
          </div>
        </div>
        <div class="modal-body">
            <div class="row">
                <!-- Title of the Paper -->
                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                    <div class="box">
                        <div class="task-sub-title sub-title-text">TITLE OF THE PAPER :</div>
                        <label id="view-title-of-paper"></label>
                    </div>
                </div>

                <!-- Name and Place of Conference -->
                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                    <div class="box">
                        <div class="task-sub-title sub-title-text">NAME AND PLACE OF CONFERENCE:</div>
                        <label id="view-name-and-place"></label>
                    </div>
                </div>
                <!-- Proceedings Detail -->
                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                    <div class="box">
                        <div class="task-sub-title sub-title-text">PROCEEDINGS DETAILS:</div>
                        <label id="view-proceedings-detail"></label>
                    </div>
                </div>
                <!-- Publisher Category -->
                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                    <div class="box">
                        <div class="task-sub-title sub-title-text">PUBLISHER CATEGORY:</div>
                        <label id="view-publisher-category"></label>
                    </div>
                </div>
                <!-- Are you the Presenter ? -->
                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                    <div class="box">
                        <div class="task-sub-title sub-title-text">ARE YOU THE PRESENTER ?:</div>
                        <label id="view-is-presenter"></label>
                    </div>
                </div>

                <!-- Which type of authors ? -->
                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                    <div class="box">
                        <div class="task-sub-title sub-title-text">WHICH TYPE OF AUTHORS ?:</div>
                        <label id="view-author-type"></label>
                    </div>
                </div>

                <!-- Publication Details -->
                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                    <div class="box">
                        <div class="task-sub-title sub-title-text">PUBLICATION DETAILS:</div>
                        <label id="view-publication-details"></label>
                    </div>
                </div>
                <!--Vol and issue no [e.g 9 (12)]-->
                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                    <div class="box">
                        <div class="task-sub-title sub-title-text">VOL AND ISSUE NO [e.g 9 (12)]:</div>
                        <label id="view-vol-and-issue-no"></label>
                    </div>
                </div>
                <!-- ISSN/ISNB No. -->
                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                    <div class="box">
                        <div class="task-sub-title sub-title-text">ISSN/ISNB NO.:</div>
                        <label id="view-issn-isbn-no"></label>
                    </div>
                </div>
                <!-- DOI/Weblink of paper -->
                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                    <div class="box">
                        <div class="task-sub-title sub-title-text">DOI/WEBLINK OF PAPER:</div>
                        <label id="view-doi-weblink"></label>
                    </div>
                </div>
                <!-- Upload Files -->
                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                    <div class="box">
                        <div class="task-sub-title sub-title-text">UPLOAD FILES:</div>
                        <label id="view-upload-files"></label>
                    </div>
                </div>
                <!-- Any award for presentation -->
                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                    <div class="box">
                        <div class="task-sub-title sub-title-text">ANY AWARD FOR PRESENTATION:</div>
                        <label id="view-award-for-presentation"></label>
                    </div>
                </div>
                <!-- Upload Proof -->
                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                    <div class="box">
                        <div class="task-sub-title sub-title-text">UPLOAD PROOF:</div>
                        <label id="view-upload-proof"></label>
                    </div>
                </div>
               
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<script>
   
    const fileInput = document.getElementById('upload-files');
    const conferencePublicationList = document.getElementById('conference-publication-list');
    let conferenceId;
    const conferenceModal = document.getElementById('confrence-modal-form');
    const submitBtn = document.getElementById('submitBtn');
    const updateBtn = document.getElementById('updateBtn');
    //modal for button visualization
    conferenceModal.addEventListener('click' , function(event){
        if(event.target.classList.contains('plus')){
            console.log('plus clickeddddd')
            updateBtn.classList.add('d-none');
            submitBtn.classList.remove('d-none');
        }
    })
   
    submitBtn.addEventListener('click' , function() {
        console.log('clickedddd');
        //for file upload 
        const formData = new FormData();
        formData.append('uploadedFile', fileInput.files[0]);
        const conferencePublications = {
            upload_files: formData.get('uploadedFile')
        };
        const selectedPublisherCategory = document.querySelector('input[name="publisher-category"]:checked');
        console.log('selectedPublisherCategory ==>' , selectedPublisherCategory);
        if (selectedPublisherCategory) {
            conferencePublications.publisher_category = selectedPublisherCategory.value;
        } 
        const selectedAuthorType = document.querySelector('input[name="author-type"]:checked');
        if(selectedAuthorType){
            conferencePublications.author_type = selectedAuthorType.value;
        }
        const selectAward = document.querySelector('input[name="award-for-presentation"]:checked');
        if(selectAward){
            conferencePublications.award_for_presentation = selectAward.value;
        }
        const selectIsPresentor = document.querySelector('input[name="is-presenter"]:checked');
        if(selectIsPresentor){
            conferencePublications.is_presenter = selectIsPresentor.value;
        }
        conferencePublications.title_of_paper = document.getElementById('title-of-paper').value;        
        conferencePublications.name_and_place = document.getElementById('name-and-place').value;
        conferencePublications.proceedings_detail = document.getElementById('proceedings-detail').value;
        conferencePublications.publication_details = document.getElementById('publication-details').value;
        conferencePublications.vol_and_issue_no = document.getElementById('vol-and-issue-no').value;
        conferencePublications.issn_isbn_no = document.getElementById('issn-isbn-no').value;
        conferencePublications.doi_weblink = document.getElementById('doi-weblink').value;
        conferencePublications.upload_files = document.getElementById('upload-files').value;
        conferencePublications.upload_proof = document.getElementById('upload-proof').value;
        payload = {
            conferencePublications : conferencePublications
        }
        fetch('/research/conference-publication/insert' , {
            method : 'POST',
            headers : {
                'content-type' : 'application/json'
            },
            body : JSON.stringify(payload)
        })
        .then((result) => {
            return result.json();
        })
        .then((data) => {
            console.log('Data ==>>>',data);
            if(data.status === 'done'){
                conferenceId = data.conferenceId;
                console.log('ID ==>>', conferenceId);
                console.log('Data ==>>', data);
                const newConference = document.createElement('tr');
                newConference.setAttribute('data-publisher-category' , conferencePublications.publisher_category);
                newConference.setAttribute('data-is-presenter' , conferencePublications.is_presenter);
                newConference.setAttribute('data-author-type' , conferencePublications.author_type);
                newConference.setAttribute('data-publication-details' , conferencePublications.publication_details);
                newConference.setAttribute('data-vol-and-issue-no' , conferencePublications.vol_and_issue_no);
                newConference.setAttribute('data-doi-weblink' , conferencePublications.doi_weblink);
                newConference.setAttribute('data-upload-files' , conferencePublications.upload_files);
                newConference.setAttribute('data-award-for-presentation' , conferencePublications.award_for_presentation);
                newConference.setAttribute('data-upload-proof' , conferencePublications.upload_proof);
                newConference.innerHTML = `
                <td>${conferenceId}</td>
                <td class="title-of-paper">${conferencePublications.title_of_paper}</td>
                <td class="name-and-place">${conferencePublications.name_and_place} </td>
                <td class="proceedings-detail">${conferencePublications.proceedings_detail}</td>
                <td class="issn-isbn-no">${conferencePublications.issn_isbn_no}</td>
                <td>
                    <a class="view"data-conference-id="${conferenceId}"><i class="fa-solid fa-eye view"
                       data-conference-id="${conferenceId}"></i></a>
                    <a class="edit"data-conference-id="${conferenceId}"><i class="fa fa-edit edit"
                       data-conference-id="${conferenceId}"></i></a>
                    <a class="delete"data-conference-id="${conferenceId}"><i class="fa-solid fa-trash delete"
                       data-conference-id="${conferenceId}"></i></a>
                </td>  ` ;
                conferencePublicationList.appendChild(newConference);
                $('#conference-publication-modal').modal('hide');
                        alert('data saved successfully');
            }
        })
    })
     
    conferencePublicationList.addEventListener('click' , function(event){
        if(event.target.classList.contains('view')){
            console.log('clickkedd');
            conferenceId = event.target.getAttribute('data-conference-id');
            console.log('ID ::', conferenceId);
            rowToBeView = event.target.closest('tr');
            const viewTitle_of_paper = document.getElementById('view-title-of-paper');
            const viewName_and_place = document.getElementById('view-name-and-place');
            const viewProceedings_detail = document.getElementById('view-proceedings-detail');
            const viewPublisher_category = document.getElementById('view-publisher-category');
            const viewIs_presenter = document.getElementById('view-is-presenter');
            const viewAuthor_type = document.getElementById('view-author-type');
            const viewPublication_details = document.getElementById('view-publication-details');
            const viewVol_and_issue_no = document.getElementById('view-vol-and-issue-no');
            const viewIssn_isbn_no = document.getElementById('view-issn-isbn-no');
            const viewDoi_weblink = document.getElementById('view-doi-weblink');
            const viewUpload_files = document.getElementById('view-upload-files');
            const viewAward_for_presentation = document.getElementById('view-award-for-presentation');
            const viewUpload_proof = document.getElementById('view-upload-proof');

            fetch('/research/conference-publication/view' , {
                method : 'POST',
                headers : {
                    'content-type' : 'application/json'
                },
                body : JSON.stringify({
                    conferenceId : conferenceId
                })
            })
            .then((result) => {
                return result.json();
            })
            .then((data) => {
                if(data){
                    console.log('Data ==>>' , data);
                    viewTitle_of_paper.innerText = data[0].title_of_paper;
                    viewName_and_place.innerText = data[0].name_and_place;
                    console.log('dayt ====>>', data[0].name_and_place);
                    viewProceedings_detail.innerText = data[0].proceedings_detail;
                    viewPublisher_category.innerText = data[0].publisher_category;
                    viewIs_presenter.innerText = data[0].is_presenter;
                    viewAuthor_type.innerText = data[0].author_type;
                    viewPublication_details.innerText = data[0].publication_details;
                    viewVol_and_issue_no.innerText = data[0].vol_and_issue_no;
                    viewIssn_isbn_no.innerText = data[0].issn_isbn_no;
                    viewDoi_weblink.innerText = data[0].doi_weblink;
                    viewUpload_files.innerText = data[0].upload_files;
                    viewAward_for_presentation.innerText = data[0].award_for_presentation;
                    viewUpload_proof.innerText = data[0].upload_proof;
                }
            })
            $('#conference-publication-view-modal').modal('show');
        }
        // for delete
        if(event.target.classList.contains('delete')){
            console.log('clikedddd');
            conferenceId = event.target.getAttribute('data-conference-id');
            const rowToBeDelete = event.target.closest('tr');
            fetch('/research/conference-publication/delete' , {
                method : "POST",
                headers : {
                    'content-type' : 'application/json'
                },
                body :  JSON.stringify({
                    conferenceId : conferenceId
                })
            })
            .then((result) => {
                return result.json();
            })
            .then((data) => {
                if(data.status === 'done'){
                    rowToBeDelete.remove();
                }
            })
        }

        // for edit
        if(event.target.classList.contains('edit')){
            console.log('edit clikeddddd');
            updateBtn.classList.remove('d-none');
            submitBtn.classList.add('d-none');
            $('#conference-publication-modal').modal('show');
            const rowToBeUpdate = event.target.closest('tr');
            console.log('row For Updateion ==>>', rowToBeUpdate);
            conferenceId = event.target.getAttribute('data-conference-id');
            console.log('ID For Updation ==>>', conferenceId);
            //capturing specific row

            const title_of_paper = document.querySelector('.title-of-paper');    
            const name_and_place  = document.querySelector('.name-and-place');
            const proceedings_detail = document.querySelector('.proceedings-detail');
            const issn_isbn_no = document.querySelector('.issn-isbn-no');
            const publisher_category = rowToBeUpdate.getAttribute('data-publisher-category');
            const is_presenter = rowToBeUpdate.getAttribute('data-is-presenter');
            const author_type = rowToBeUpdate.getAttribute('data-author-type');
            const publication_details = rowToBeUpdate.getAttribute('data-publication-details');
            const vol_and_issue_no = rowToBeUpdate.getAttribute('data-vol-and-issue-no')
            const doi_weblink = rowToBeUpdate.getAttribute('data-doi-weblink')
            const upload_files = rowToBeUpdate.getAttribute('data-upload-files');
            const award_for_presentation = rowToBeUpdate.getAttribute('data-award-for-presentation') ;
            const upload_proof = rowToBeUpdate.getAttribute('data-upload-proof');
            
            //assigning value already loaded data
            document.getElementById('title-of-paper').value = title_of_paper.textContent;
            console.log('title ==>',title_of_paper.textContent);   
            document.getElementById('name-and-place').value = name_and_place.textContent;
            document.getElementById('proceedings-detail').value = proceedings_detail.textContent;
            document.getElementById('issn-isbn-no').value = issn_isbn_no.textContent;
            document.getElementById('publication-details').value = publication_details;
            document.getElementById('vol-and-issue-no').value = vol_and_issue_no;
            document.getElementById('doi-weblink').value = doi_weblink;
            

            
            


        }
    })

</script>
<!-- inline script -->
<%- include('./partials/footer') %>
<%- include('./partials/footer-end') %>