<%- include('./partials/head') %>
<!-- inline csss -->
<!-- Navbar section -->
<%- include('./partials/header') %>
<!-- This is left sidebar  -->
<%- include('./partials/left-sidebar') %>
<!-- This is right side section -->
<main class="main" id="mainContent">
    <div class="base-section coustom-section">
        <!--DASHBOARD CONTENT START-->
        <div class="breadcrumbs-container">
        </div>
        <div class="errorHtml"></div>
        <div class="card table-card">
            <div class="table-card-header text-uppercase d-flex align-items-center justify-content-between">
                <div>
                    <h5>CONFERENCE PUBLICATION LIST</h5>
                </div>
                <div class="me-2">
                    <button id="confrence-modal-form"  type="button" class="btn btn-primary add-modal"  data-toggle="modal" data-target="#conference-publication-modal">
                        <i class="fas fa-plus plus"></i></button>
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <div class="d-flex justify-content-between">
                    <div>
                        <label>Show Entries</label>
                        <select class="form-select" id="changeEntry">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="250">250</option>
                            <option value="300">300</option>
                            <option value="350">350</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="800">800</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                </div>
                <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i>
                    </button><input type="search" id="searchkeyword" placeholder="Enter keywords"
                        class="table-searchbar">
                </div>
            </div>
        </div>
        <table class="table custom-table" id="conference-publication-list">
            <thead>
                <th>#</th>
                <th>Title of the Paper</th>
                <th>Name and Place of Conference</th>
                <th>Proceedings Details</th>
                <th>ISSN/ISNB No</th>
                <th>Action</th>
            </thead>
           <% conferenceData.forEach(function(conference) { %>
            <tr scope="row" data-conference-id="<%- conference.id %>" data-publisher-category="<%- conference.publisher_category %>" data-is-presenter="<%- conference.is_presenter %>" 
                data-author-type="<%- conference.author_type %>" data-publication-details="<%- conference.publication_details %>" data-vol-and-issue-no="<%- conference.vol_and_issue_no %>"
                data-doi-weblink="<%- conference.doi_weblink %>" data-upload-files="<%- conference.upload_files %>" data-award-for-presentation="<%- conference.award_for_presentation %>"
                data-upload-proof="<%- conference.upload_proof %>">
                <td data-conference-id="<%- conference.id %> "><%- conference.id %> </td>
                <td class="title-of-paper"><%- conference.title_of_paper %></td>
                <td class="name-and-place"><%- conference.name_and_place %> </td>
                <td class="proceedings-detail"><%- conference.proceedings_detail %></td>
                <td class="issn-isbn-no"><%- conference.issn_isbn_no %></td>
                <td>
                    <a class="view" data-conference-id="<%- conference.id %>"><i class="fa-solid fa-eye view"
                       data-conference-id="<%- conference.id %>"></i></a>
                    <a class="edit"data-conference-id="<%- conference.id %>"><i class="fa fa-edit edit"
                       data-conference-id="<%- conference.id %>"></i></a>
                    <a class="delete"data-conference-id="<%- conference.id %>"><i class="fa-solid fa-trash delete"
                       data-conference-id="<%- conference.id %>"></i></a>
                </td>
            </tr>

          <% }); %>
        </table>
        <div class="d-flex justify-content-between">
            <div>
                <p>Total entries:1
                </p>
            </div>
            <div>
                <p id="pagination" class="pagination-search"></p>
            </div>
        </div>
    </div>
    <!--Import Modal -->
    <div class="modal fade" id="open-program-modal" tabindex="-1" aria-labelledby="open-program-modal"
        aria-hidden="true">
    </div>
    <!-- EDIT PROGRAM AND UPDATE -->
    <div class="modal fade" id="edit-program-modal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Update Program</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div id="errorHtml"></div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Program Name</label>
                        <input type="text" class="form-control" id="program_name" name="program_name">
                        <input type="hidden" class="form-control" id="hidden_id" name="hidden_id">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Program Type</label>
                        <select class="form-control" name="program_type_lid" id="program_type_lid">

                            <option value="1">Full Time</option>

                            <option value="2">Part Time</option>

                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="abbr" class="form-label">Program Abbr</label>
                        <input type="text" class="form-control" id="abbr" name="abbr">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary updateProgram">Update</button>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Modal form for conference publication -->
<div class="modal fade " id="conference-publication-modal" tabindex="-1" role="dialog" aria-labelledby="case-study"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content validate-input">
            <div class="modal-header">
                <h5 class="modal-title" id="conference-publication">Conference Publication </h5>
                <div class="close" data-dismiss="modal" aria-label="Close">
                    <span type="button"><i class="fas fa-times fa-2x"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!--  Title of the Paper -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="title-of-paper" class="form-label  fw-bold">Title Of The Paper</label>
                        <input type="text" name="title-project" id="title-of-paper" class="form-control"
                            data-validate="isEmpty,isAlphabeticWords" placeholder="Title of Project" required />
                    </div>
                    <!-- Name and Place of Conference -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="form-group col">
                            <label for="name-and-place" class="form-label  fw-bold"> Name and Place of Conference </label>
                            <input type="text" name="name-and-place" id="name-and-place"
                                data-validate="isEmpty,isAlphabeticWords" class="form-control"
                                placeholder="Name and Place of Conference" required />
                        </div>
                    </div>
                    <!-- Proceedings Detail -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="proceedings-detail" class="form-label fw-bold"> Proceedings Detail </label>
                        <input type="text" name="proceedings-detail" id="proceedings-detail"
                            data-validate="isEmpty,isString" class="form-control" placeholder="Proceedings Detail">
                    </div>
                    <!-- Publisher Category  -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publisher-category" class="form-label fw-bold mb-3">Publisher Category</label><br>
                        <div class="form-check-inline">
                            <label for="international" class="form-check-label">
                                <input type="radio" class="form-check-input" id="inter-national" name="publisher-category"
                                    value="International"> International
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="national" class="form-check-label">
                                <input type="radio" class="form-check-input" id="national" name="publisher-category"
                                    value="National"> National
                            </label>
                        </div>
                    </div>
                    <!-- Are you the Presenter? -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="is-presenter" class="form-label fw-bold mb-3"> Are You The Presenter ? </label><br>
                        <div class="form-check-inline">
                            <label for="Yes" class="form-check-label">
                                <input type="radio" class="form-check-input" id="yes" name="is-presenter" value="Yes">
                                Yes
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="no" class="form-check-label">
                                <input type="radio" class="form-check-input" id="no" name="is-presenter" value="No"> No
                            </label>
                        </div>
                    </div>
                    <!-- Author Details -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="author-type" class="form-label fw-bold mb-3">Which Type Of Authors ?</label><br>
                        <div class="form-check-inline">
                            <label for="internal" class="form-check-label">
                                <input type="radio" class="form-check-input" id="internal" name="author-type"
                                    value="Internal">
                                Internal
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="external" class="form-check-label">
                                <input type="radio" class="form-check-input" id="external" name="author-type"
                                    value="External">
                                External
                            </label>
                        </div>
                    </div>
                    <!-- Publication Details -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publication-details" class="form-label fw-bold">
                            Publication Details
                        </label>
                        <input type="text" name="publicaton-detail" id="publication-details"
                            data-validate="isEmpty,isString" class="form-control" placeholder="Publication Details">
                    </div>
                    <!-- Any award for presentation -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12  mb-4">
                        <label for="award-for-presentation" class="form-label fw-bold mb-3">Any Award For
                            Presentation</label><br>
                        <div class="form-check-inline">
                            <label for="award-yes" class="form-check-label">
                                <input type="radio" class="form-check-input" id="is-award-yes" name="award-for-presentation"
                                    value="Yes">
                                Yes
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="award-no" class="form-check-label">
                                <input type="radio" class="form-check-input" id="is-award-no" name="award-for-presentation"
                                    value="No">
                                No
                            </label>
                        </div>
                    </div>
                    <!-- Vol and issue no [e.g 9 (12)] -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="volAndIssue" class="form-label fw-bold">
                            Vol and issue no [e.g 9 (12)]
                        </label>
                        <input type="text" name="vol-issues" id="vol-and-issue-no" data-validate="isEmpty,isNumber"
                            class="form-control" placeholder="Vol and issue no.">
                    </div>
                    <!-- ISSN/ISNB No -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="isbn-no" class="form-label fw-bold">
                            ISSN/ISNB No.
                        </label>
                        <input type="text" name="ISBN-Number" id="issn-isbn-no" data-validate="isEmpty,isNumber"
                            class="form-control" placeholder="ISSN/ISNB No.">
                    </div>
                    <!-- DOI/Weblink of paper -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="form-group">
                            <label for="doi-weblink" class="form-label  fw-bold">
                                DOI/Weblink of paper
                            </label>
                            <input type="text" name="web-link" id="doi-weblink" data-validate="isEmpty,isLink"
                                placeholder="DOI/Weblink of paper" class="form-control" />
                        </div>
                    </div>
                    <!-- Upload Files -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="form-group">
                            <label for="upload" class="form-label fw-bold ">Upload Files</label>
                            <input type="file" id="conference-file" data-validate="isEmpty,isFile" name="conferenceDocument"
                                class="form-control" placeholder="conference-file-name">
                        </div>
                    </div>
                    <!-- upload proof -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <div class="form-group">
                            <label for="upload" data-validate="isEmpty,isFile" class="form-label fw-bold ">Upload
                                Proof</label>
                            <input type="file" id="conference-proof" name="conferenceProof" class="form-control "
                                placeholder="upload-conference-proofe">
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer button -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary " id="submit-btn">Submit</button>
                <button type="button" class="btn btn-primary d-none" id="update-btn">update</button>
            </div>
        </div>
    </div>
</div>
<!-- conference-publication-view-modal -->
<div class="modal fade " id="conference-publication-view-modal" tabindex="-1" role="dialog" aria-labelledby="case-study"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content validate-input">
            <div class="modal-header">
                <h5 class="modal-title" id="conference-publication">Conference Publication </h5>
                <div class="close" data-dismiss="modal" aria-label="Close">
                    <span type="button"><i class="fas fa-times fa-2x"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Title of the Paper -->
                    <div class=" col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> Title Of The Paper:</div>
                            <label class="view-content" id="view-title-of-paper"></label>
                        </div>
                    </div>
        
                    <!-- Name and Place of Conference -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Name And Place of Conference:</div>
                            <label class="view-content" id="view-name-and-place"></label>
                        </div>
                    </div>
                    <!-- Proceedings Detail -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Proceedings Details:</div>
                            <label class="view-content" id="view-proceedings-detail"></label>
                        </div>
                    </div>
                    <!-- Publisher Category -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Publisher Category:</div>
                            <label class="view-content" id="view-publisher-category"></label>
                        </div>
                    </div>
                    <!-- Are you the Presenter ? -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Are you the Presenter ?:</div>
                            <label class="view-content" id="view-is-presenter"></label>
                        </div>
                    </div>
        
                    <!-- Which type of authors ? -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Which Type of Authors ?:</div>
                            <label class="view-content" id="view-author-type"></label>
                        </div>
                    </div>
        
                    <!-- Publication Details -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Publication Details:</div>
                            <label class="view-content" id="view-publication-details"></label>
                        </div>
                    </div>
                    <!--Vol and issue no [e.g 9 (12)]-->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Vol And Issue No :</div>
                            <label class="view-content" id="view-vol-and-issue-no"></label>
                        </div>
                    </div>
                    <!-- ISSN/ISNB No. -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">ISSN/ISNB NO.:</div>
                            <label class="view-content" id="view-issn-isbn-no"></label>
                        </div>
                    </div>
                    <!-- DOI/Weblink of paper -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">DOI/Weblink Of Paper:</div>
                            <label class="view-content" id="view-doi-weblink"></label>
                        </div>
                    </div>
                    <!-- Upload Files -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Upload Files:</div>
                            <label class="view-content" id="view-conference-document"></label>
                        </div>
                    </div>
                    <!-- Any award for presentation -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Any Award For Presentation:</div>
                            <label class="view-content" id="view-award-for-presentation"></label>
                        </div>
                    </div>
                    <!-- Upload Proof -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Upload Proof:</div>
                            <label class="view-content" id="view-conference-proof"></label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer button -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
  
<!-- inline script -->
<script>
   
    const conferencePublicationList = document.getElementById('conference-publication-list');
    let conferenceId, conferenceRowToBeUpdated;
    const conferenceAddModal = document.getElementById('confrence-modal-form');
    const submitBtn = document.getElementById('submit-btn');
    const updateBtn = document.getElementById('update-btn');
    //modal for button visualization
    conferenceAddModal.addEventListener('click' , function(event){
        if(event.target.tagName === 'BUTTON' && event.target.classList.contains('add-modal') || event.target.classList.contains('plus')){
            updateBtn.classList.add('d-none');
            submitBtn.classList.remove('d-none');
            const titleOfPaper = document.getElementById('title-of-paper');      
            const nameAndPlace = document.getElementById('name-and-place');
            const procedingDetail = document.getElementById('proceedings-detail');
            const publicationDetails = document.getElementById('publication-details');
            const volAndIssueNo = document.getElementById('vol-and-issue-no');
            const issnIsbnNo = document.getElementById('issn-isbn-no');
            const doiWebLink = document.getElementById('doi-weblink');
            const isPublisherCategoryNational = document.getElementById('national');
            const isPublisherCategoryInterNational = document.getElementById('inter-national');
            const isPresenterYes = document.getElementById('yes');
            const isPresenterNo = document.getElementById('no');
            const isAuthorEnternal = document.getElementById('internal');
            const isAuthorExternal = document.getElementById('external');
            const isAwardYes = document.getElementById('is-award-yes');
            const isAwardno = document.getElementById('is-award-no');
            const conferenceDocument = document.getElementById('conference-file'); 
            titleOfPaper.value = '';   
            nameAndPlace.value = ''; 
            procedingDetail.value = ''; 
            publicationDetails.value = ''; 
            volAndIssueNo.value = ''; 
            issnIsbnNo.value = '';
            doiWebLink.value = ''; 
            isPublisherCategoryNational.checked = false; 
            isPublisherCategoryInterNational.checked = false; 
            isPresenterYes.checked = false; 
            isPresenterNo.checked = false; 
            isAuthorEnternal.checked = false; 
            isAuthorExternal.checked = false; 
            isAwardYes.checked = false; 
            isAwardno.checked = false; 
            conferenceDocument.value = ''; 
        }
    })
    const insertConferencePublicationForm = async (url) => {
        const conferenceData = new FormData();
        const conferenceDocument = document.querySelector('input[name="conferenceDocument"]');
        const conferenceProof = document.querySelector('input[name="conferenceProof"]');
        const titleOfPaper = document.getElementById('title-of-paper').value;       
        const nameAndPlace = document.getElementById('name-and-place').value;
        const procedingDetail = document.getElementById('proceedings-detail').value;
        const publicationDetails = document.getElementById('publication-details').value;
        const volAndIssueNo = document.getElementById('vol-and-issue-no').value;
        const issnIsbnNo = document.getElementById('issn-isbn-no').value;
        const doiWebLink = document.getElementById('doi-weblink').value;
        const selcetPublisherCategory = document.querySelector('input[name="publisher-category"]:checked').value;
        const selectIsPresenter = document.querySelector('input[name="is-presenter"]:checked').value;
        const selectAuthortype = document.querySelector('input[name="author-type"]:checked').value;
        const selectAward = document.querySelector('input[name="award-for-presentation"]:checked').value;

    //    for setup of key value paire to send form data
        conferenceData.append('conferenceDocument' , conferenceDocument.files[0]);
        conferenceData.append('conferenceProof' , conferenceProof.files[0]);
        conferenceData.append('titleOfPaper' , titleOfPaper);
        conferenceData.append('nameAndPlace' , nameAndPlace);
        conferenceData.append('procedingDetail' , procedingDetail);
        conferenceData.append('publicationDetails' , publicationDetails);
        conferenceData.append('volAndIssueNo' , volAndIssueNo);
        conferenceData.append('issnIsbnNo' , issnIsbnNo);
        conferenceData.append('doiWebLink' , doiWebLink);
        conferenceData.append('publisherCategory' , selcetPublisherCategory);
        conferenceData.append('isPresenter' , selectIsPresenter);
        conferenceData.append('authorType' , selectAuthortype);
        conferenceData.append('awardForPresentation' , selectAward );

        fetch(url , {
            method : 'POST',
            body : conferenceData
        })
        .then((result) => {
            return result.json()
        })
        .then((data) => {
            if(data.status == 'done'){
                console.log('data ==>>', data);
                const newConferenceFormData = document.createElement('tr');
                newConferenceFormData.setAttribute('data-publisher-category' , data.conferenceData.publisherCategory);
                newConferenceFormData.setAttribute('data-is-presenter' , data.conferenceData.isPresenter);
                newConferenceFormData.setAttribute('data-author-type' , data.conferenceData.authorType);
                newConferenceFormData.setAttribute('data-publication-details' , data.conferenceData.publicationDetails);
                newConferenceFormData.setAttribute('data-vol-and-issue-no' , data.conferenceData.volAndIssueNo);
                newConferenceFormData.setAttribute('data-doi-weblink' , data.conferenceData.doiWebLink);
                newConferenceFormData.setAttribute('data-upload-files' , data.ConferenceDocument);
                newConferenceFormData.setAttribute('data-award-for-presentation' , data.conferenceData.isPresenter);
                newConferenceFormData.setAttribute('data-upload-proof' , data.conferenceData.ConferenceProof);
                newConferenceFormData.innerHTML = `
                    <td>${data.conferenceId}</td>
                    <td class="title-of-paper">${data.conferenceData.titleOfPaper}</td>
                    <td class="name-and-place">${data.conferenceData.nameAndPlace}</td>
                    <td class="proceedings-detail">${data.conferenceData.procedingDetail}</td>
                    <td class="issn-isbn-no">${data.conferenceData.issnIsbnNo}</td>
                    <td>
                        <a class="view" data-conference-id="${data.conferenceId}"><i class="fa-solid fa-eye view"
                        data-conference-id="${data.conferenceId}"></i></a>
                        <a class="edit"data-conference-id="${data.conferenceId}"><i class="fa fa-edit edit"
                        data-conference-id="${data.conferenceId}"></i></a>
                        <a class="delete"data-conference-id="${data.conferenceId}"><i class="fa-solid fa-trash delete"
                        data-conference-id="${data.conferenceId}"></i></a>
                    </td>
                `;
                conferencePublicationList.append(newConferenceFormData)
            }
            $('#conference-publication-modal').modal('hide');
        })
        .catch((error) => {
            console.error('Error ==>' , error)
        })

    }
    submitBtn.addEventListener('click', async () => {
        const isValid = validateRequiredFormFields(submitBtn);
            if (isValid) {
                await insertConferencePublicationForm('/research/conference-publication/insert');
                console.log('data inserted successfully');
            }
            else {
                alert('validation failed');
            }
    });

    // for delete
    conferencePublicationList.addEventListener('click' , (event) => {
        if(event.target.classList.contains('delete')){
        conferenceId = event.target.getAttribute('data-conference-id');
        console.log('id for deletion ==>', conferenceId);
        conferenceRowToBeDelete = event.target.closest('tr');

        fetch('/research/conference-publication/delete' , {
            method : 'POST',
            headers : {
                'content-type' : 'application/json'
            },
            body : JSON.stringify({conferenceId})
        })
        .then((result) => {
            return result.json()
        })
        .then((data) => {
            if(data.status === 'done'){
                conferenceRowToBeDelete.remove();
            }
        })
        }
      
        // for view
        if(event.target.classList.contains('view')){
            console.log('clickeddd');
            const conferenceRowToBeViewed = event.target.closest('tr');
            conferenceId = conferenceRowToBeViewed.getAttribute('data-conference-id');
            console.log('ID For View', conferenceId);
            const viewConferenceDocument = document.getElementById('view-conference-document');
            const viewConferenceProof = document.getElementById('view-conference-proof');
            const viewTitleOfPaper = document.getElementById('view-title-of-paper');     
            const viewNameAndPlace = document.getElementById('view-name-and-place');
            const viewProcedingDetail = document.getElementById('view-proceedings-detail');
            const viewPublicationDetails = document.getElementById('view-publication-details');
            const viewVolAndIssueNo = document.getElementById('view-vol-and-issue-no');
            const viewIssnIsbnNo = document.getElementById('view-issn-isbn-no');
            const viewDoiWebLink = document.getElementById('view-doi-weblink');
            const viewPublisherCategory = document.getElementById('view-publisher-category');
            const viewIsPresenter = document.getElementById('view-is-presenter');
            const viewAuthortype = document.getElementById('view-author-type');
            const viewAward = document.getElementById('view-award-for-presentation');
            $('#conference-publication-view-modal').modal('show');

            fetch('/research/conference-publication/view' , {
                method : 'POST',
                headers : {
                    'content-type' : 'application/json'
                },
                body : JSON.stringify({conferenceId})
            })
            .then((result) => {
                return result.json()
            })
            .then((data) => {
                if(data.status === 'done'){
                    console.log('data ==>>', data);
                    viewTitleOfPaper.innerText = data.viewConferenceData[0].title_of_paper;
                    viewConferenceDocument.innerText = data.viewConferenceData[0].upload_files;
                    viewConferenceProof.innerText = data.viewConferenceData[0].upload_proof;    
                    viewNameAndPlace.innerText = data.viewConferenceData[0].name_and_place;
                    viewProcedingDetail.innerText = data.viewConferenceData[0].proceedings_detail;
                    viewPublicationDetails.innerText = data.viewConferenceData[0].publication_details;
                    viewVolAndIssueNo.innerText = data.viewConferenceData[0].vol_and_issue_no;
                    viewIssnIsbnNo.innerText = data.viewConferenceData[0].issn_isbn_no;
                    viewDoiWebLink.innerText = data.viewConferenceData[0].doi_weblink;
                    viewPublisherCategory.innerText = data.viewConferenceData[0].publisher_category;
                    viewIsPresenter.innerText = data.viewConferenceData[0].is_presenter;
                    viewAuthortype.innerText = data.viewConferenceData[0]. author_type;
                    viewAward.innerText = data.viewConferenceData[0].award_for_presentation;

                }
            })
        }
        // for update
        if(event.target.classList.contains('edit')){
            console.log('clickedddd');
            conferenceId = event.target.getAttribute('data-conference-id');
            conferenceRowToBeUpdated = event.target.closest('tr');
            console.log('ID ==>>', conferenceId);
            $('#conference-publication-modal').modal('show');
            updateBtn.classList.remove('d-none');
            submitBtn.classList.add('d-none');
            const titleOfPaper = document.getElementById('title-of-paper');      
            const nameAndPlace = document.getElementById('name-and-place');
            const procedingDetail = document.getElementById('proceedings-detail');
            const publicationDetails = document.getElementById('publication-details');
            const volAndIssueNo = document.getElementById('vol-and-issue-no');
            const issnIsbnNo = document.getElementById('issn-isbn-no');
            const doiWebLink = document.getElementById('doi-weblink');
            const isPublisherCategoryNational = document.getElementById('national');
            const isPublisherCategoryInterNational = document.getElementById('inter-national');
            const isPresenterYes = document.getElementById('yes');
            const isPresenterNo = document.getElementById('no');
            const isAuthorEnternal = document.getElementById('internal');
            const isAuthorExternal = document.getElementById('external');
            const isAwardYes = document.getElementById('is-award-yes');
            const isAwardno = document.getElementById('is-award-no');
            const conferenceDocument = document.getElementById('conference-file'); 
        
            // assigning value which already stored
            titleOfPaper.value = conferenceRowToBeUpdated.querySelector('.title-of-paper').innerText;
            nameAndPlace.value = conferenceRowToBeUpdated.querySelector('.name-and-place').innerText;
            procedingDetail.value = conferenceRowToBeUpdated.querySelector('.proceedings-detail').innerText
            const publisherCategoryValue = conferenceRowToBeUpdated.getAttribute('data-publisher-category');
            if(publisherCategoryValue === 'National'){
                isPublisherCategoryNational.checked = true
            }
            else{
               isPublisherCategoryInterNational.checked = true
            }
            const isPresentervalue = conferenceRowToBeUpdated.getAttribute('data-is-presenter');
            if(isPresentervalue === 'Yes'){
                isPresenterYes.checked = true
            }
            else{
                isPresenterNo.checked = true
            }
            const authorType = conferenceRowToBeUpdated.getAttribute('data-author-type');
            if(authorType === 'External'){
                isAuthorExternal.checked = true
            }
            else{
                isAuthorEnternal.checked = true
            }
            publicationDetails.value = conferenceRowToBeUpdated.getAttribute('data-publication-details');
            volAndIssueNo.value = conferenceRowToBeUpdated.getAttribute('data-vol-and-issue-no');
            issnIsbnNo.value = conferenceRowToBeUpdated.querySelector('.issn-isbn-no').innerText;
            doiWebLink.value = conferenceRowToBeUpdated.getAttribute('data-doi-weblink');
            const isPresentaionAward = conferenceRowToBeUpdated.getAttribute('data-award-for-presentation');
            console.log('isPresentaionAward' , isPresentaionAward);
            if(isPresentaionAward === 'Yes'){
                isAwardYes.checked = true
            }
            else{
                isAwardno.checked = true
            }
           const conferenceDocumentData = conferenceRowToBeUpdated.getAttribute('data-upload-files');
           const conferenceFileName = document.getElementById('conference-file-name');
           if(conferenceFileName && conferenceDocumentData){
            conferenceFileName.textContent = conferenceDocumentData
            console.log('conferenceFileName', conferenceFileName.textContent)
           }
           const conferenceProof = conferenceRowToBeUpdated.getAttribute('data-upload-proof');
           const conferenceProofName = document.getElementById('conference-proof-name');
           if(conferenceProofName && conferenceProof){
            conferenceProofName.textContent = conferenceProof
           }
            
        }
    })

    updateBtn.addEventListener('click' , () => {
        console.log('clickedddd')
        const updatedConferenceData = new FormData();
        const updatedTitleOfPaper = document.getElementById('title-of-paper').value;
        const updatedNameAndPlace = document.getElementById('name-and-place').value;
        const updatedProceedingDetails = document.getElementById('proceedings-detail').value;
        const updatedPublisherCategory = document.querySelector('input[name="publisher-category"]:checked').value;
        const updatedIsPresenter = document.querySelector('input[name="is-presenter"]:checked').value;
        const updatedAuthortype = document.querySelector('input[name="author-type"]:checked').value;
        const updatedPublicationDetails = document.getElementById('publication-details').value;
        const updatedVolAndIssueNo = document.getElementById('vol-and-issue-no').value;
        const updatedIssnIsbnNo = document.getElementById('issn-isbn-no').value;
        const updatedDoiWebLink = document.getElementById('doi-weblink').value;
        const updatedAward = document.querySelector('input[name="award-for-presentation"]:checked').value;
        const updatedConferenceFile = document.getElementById('conference-file');
        const updatedConferenceProof = document.getElementById('conference-proof');
        
        // appending currunt updated value 
        updatedConferenceData.append('conferenceId', conferenceId)
        if (updatedConferenceFile && updatedConferenceFile.files && updatedConferenceFile.files.length > 0) {
            updatedConferenceData.append('conferenceDocument', updatedConferenceFile.files[0]);
        }
        if (updatedConferenceProof && updatedConferenceProof.files && updatedConferenceProof.files.length > 0) {
            updatedConferenceData.append('conferenceProof', updatedConferenceProof.files[0])
        }
        updatedConferenceData.append('titleOfPaper' , updatedTitleOfPaper);
        updatedConferenceData.append('nameAndPlace' ,updatedNameAndPlace);
        updatedConferenceData.append('procedingDetail' , updatedProceedingDetails);
        updatedConferenceData.append('publicationDetails' , updatedPublicationDetails);
        updatedConferenceData.append('volAndIssueNo' , updatedVolAndIssueNo);
        updatedConferenceData.append('issnIsbnNo' , updatedIssnIsbnNo);
        updatedConferenceData.append('doiWebLink' , updatedDoiWebLink);
        updatedConferenceData.append('publisherCategory' , updatedPublisherCategory);
        updatedConferenceData.append('isPresenter' , updatedIsPresenter);
        updatedConferenceData.append('authorType' , updatedAuthortype);
        updatedConferenceData.append('awardForPresentation' , updatedAward);

        fetch('/research/conference-publication/update' , {
            method : 'POST',
            body : updatedConferenceData
        })
        .then((result) => {
            return result.json()
        })
        .then((data) => {
            if(data.status === 'done'){
                console.log('updated Data ==>>', data);
                conferenceRowToBeUpdated.querySelector('.title-of-paper').innerText = data.upadtedConferenceData.titleOfPaper;
                conferenceRowToBeUpdated.querySelector('.name-and-place').innerText = data.upadtedConferenceData.nameAndPlace;
                conferenceRowToBeUpdated.querySelector('.proceedings-detail').innerText = data.upadtedConferenceData.procedingDetail;
                conferenceRowToBeUpdated.querySelector('.issn-isbn-no').innerText = data.upadtedConferenceData.issnIsbnNo;
                conferenceRowToBeUpdated.setAttribute('data-publisher-category' , data.upadtedConferenceData.publisherCategory);
                conferenceRowToBeUpdated.setAttribute('data-is-presenter' , data.upadtedConferenceData.isPresenter);
                conferenceRowToBeUpdated.setAttribute('data-author-type' , data.upadtedConferenceData.authorType);
                conferenceRowToBeUpdated.setAttribute('data-publication-details' , data.upadtedConferenceData.publicationDetails);
                conferenceRowToBeUpdated.setAttribute('data-vol-and-issue-no' , data.upadtedConferenceData.volAndIssueNo);
                conferenceRowToBeUpdated.setAttribute('data-doi-weblink' , data.upadtedConferenceData.doiWebLink);
                conferenceRowToBeUpdated.setAttribute('data-upload-files' , data.ConferenceDocument);
                conferenceRowToBeUpdated.setAttribute('data-award-for-presentation' , data.upadtedConferenceData.isPresenter);
                conferenceRowToBeUpdated.setAttribute('data-upload-proof' , data.upadtedConferenceData.ConferenceProof);
            }
        })
        $('#conference-publication-modal').modal('hide');
        alert('data updated succesfully');
    })

</script>
<%- include('./partials/footer') %>
<%- include('./partials/footer-end') %>
