<%- include('./partials/head') %>
<!-- inline css -->
<!-- Navbar section -->
<%- include('./partials/header') %>

<!-- This is left sidebar  -->
<%- include('./partials/left-sidebar') %>

<!-- This is right side section -->
<main class="main" id="mainContent">
    <div class="base-section coustom-section">
        <!--DASHBOARD CONTENT START-->
        <div class="breadcrumbs-container">
        </div>
        <div class="errorHtml"></div>
        <div class="card table-card">
            <div class="table-card-header text-uppercase d-flex align-items-center justify-content-between">
                <div>
                    <h3>JOURNAL PAPER LIST</h3>
                </div>
                <div class="me-2">
                    <button id="journal-paper-add-modal" type="button" class="btn btn-primary add-modal" data-toggle="modal"
                        data-target="#journal-paper-modal">
                        <i  class="fas fa-plus plus"></i></button>
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <div class="d-flex justify-content-between">
                    <div>
                        <label>Show Entries</label>
                        <select class="form-select" id="changeEntry">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="250">250</option>
                            <option value="300">300</option>
                            <option value="350">350</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="800">800</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                    <div>
                        <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i>
                            </button><input type="search" id="searchkeyword" placeholder="Enter keywords"
                                class="table-searchbar">
                        </div>
                    </div>
                </div>
                <table class="table table-responsive" id="journal-paper-list">
                    <thead>
                        <th class="cell">#</th>
                        <th class="cell">Year</th>
                        <th class="cell">School</th>
                        <th class="cell">Campus</th>
                        <th class="cell">Policy Cadre</th>
                        <th class="cell">Publisher</th>
                        <th class="cell">All authors</th>
                        <th class="cell">Total No. of Authors</th>
                        <th class="cell">Name of NMIMS Authors</th>
                        <th class="cell">Journal Name</th>
                        <th class="cell">Action</th>
                    </thead>
                    <% journalData .forEach(function(journalPaper) { %>
                        <tr scope="row" data-count-other-faculty ="<%- journalPaper.count_other_faculty %>"   data-volume="<%- journalPaper.volume %>" 
                            data-iss="<%- journalPaper.iss %>" data-pages="<%- journalPaper.pages %>" data-issn-no="<%- journalPaper.issn_no %>" data-scs-cite-score="<%- journalPaper.scs_cite_score %>"
                            data-impact-factor="<%- journalPaper.impact_factor %>" data-scs-indexed="<%- journalPaper.scs_indexed %>" data-wos-indexed="<%- journalPaper.wos_indexed %>"
                            data-gs-indexed="<%- journalPaper.gs_indexed %>" data-title-of-paper="<%- journalPaper.title_of_paper %>" data-abdc-indexed="<%- journalPaper.abdc_indexed %>" data-ugc-indexed="<%- journalPaper.ugc_indexed %>"
                            data-web-link="<%- journalPaper.web_link %>" data-uid="<%- journalPaper.uid %>" data-date-of-publishing="<%- journalPaper.date_of_publishing %>"
                            data-research-type="<%- journalPaper.research_type %>" data-nmims-authors-count="<%- journalPaper. nmims_authors_count%>"  >
                            <td class="cell" data-journalPaper-id="<%- journalPaper.id %>"> <%- journalPaper.id %> </td>
                            <td class=" cell year"> <%- journalPaper.year %> </td>
                            <td class=" cell school"> <%- journalPaper.school %> </td>
                            <td class=" cell campus"> <%- journalPaper.campus %> </td>
                            <td class=" cell policy-cadre"><%- journalPaper.policy_cadre %></td>
                            <td class=" cell publisher"><%- journalPaper.publisher %></td>
                            <td class=" cell all-authors"><%- journalPaper.all_authors %></td>
                            <td class=" cell total-authors"><%- journalPaper.total_authors %></td>
                            <td class=" cell nmims-authors"><%- journalPaper.nmims_authors %></td>
                            <td class=" cell journal-name"><%- journalPaper.journal_name %></td>
                            <td> 
                                <a class=" view" data-journalPaper-id="<%- journalPaper.id %>"><i class="fa-solid fa-eye view" data-journalPaper-id="<%- journalPaper.id %>"></i></a>
                                <a  class="edit" data-journalPaper-id="<%- journalPaper.id %>"><i class="fa fa-edit edit" data-journalPaper-id="<%- journalPaper.id %>"></i></a>
                                <a  class="delete"  data-journalPaper-id="<%- journalPaper.id %>"><i class="fa-solid fa-trash delete"  data-journalPaper-id="<%- journalPaper.id %>"></i></a>
                            </td>
                        </tr>
                        <% }); %>
                </table>
                <div class="d-flex justify-content-between">
                    <div>
                        <label>Total entries:1
                        </label>
                    </div>
                    <div>
                        <label id="pagination" class="pagination-search"></label>
                    </div>
                </div>
            </div>
        </div>
        <!--Import Modal -->
        <div class="modal fade" id="open-program-modal" tabindex="-1" aria-labelledby="open-program-modal"
            aria-hidden="true">
        </div>
        <!-- EDIT PROGRAM AND UPDATE -->
        <div class="modal fade" id="edit-program-modal" tabindex="-1" aria-labelledby="editModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title" id="editModalLabel">Update Program</div>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="errorHtml"></div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Program Name</label>
                            <input type="text" class="form-control" id="program_name" name="program_name">
                            <input type="hidden" class="form-control" id="hidden_id" name="hidden_id">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Program Type</label>
                            <select class="form-control" name="program_type_lid" id="program_type_lid">
                                <option value="1">Full Time</option>
                                <option value="2">Part Time</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="abbr" class="form-label">Program Abbr</label>
                            <input type="text" class="form-control" id="abbr" name="abbr">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- journal paper modal form  -->
<div class="modal fade " id="journal-paper-modal" tabindex="-1" role="dialog" aria-labelledby="journal-paper-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content validate-input">
            <div class="modal-header">
                <h4 class="modal-title" id="journal-paper-title">Journal Papers</h4>
                <div class="close" data-dismiss="modal" aria-label="Close">
                    <span type="button" aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Date -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="year" class="form-label fw-bold">Year</label>
                        <input type="text" name="year" id="year" data-validate="isEmpty,isYear" class="form-control" placeholder="2023" />
                    </div>
                    <!-- school -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="campus" class="form-label fw-bold">School:</label>
                        <input type="text" name="SchoolName" id="school" data-validate="isEmpty,isAlphabeticWords" class="form-control"
                            placeholder="Name of Campus" />
                    </div>
                    <!-- Campus -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="campus" class="form-label fw-bold">Campus:</label>
                        <input type="text" name="campusname" id="campus" data-validate="isEmpty,isAlphabeticWords" class="form-control"
                            placeholder="Name of Campus"/>
                    </div>
                    <!--Policy Cadre -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="policyCadre" class="form-label fw-bold">Policy Cadre:</label>
                        <input type="text" name="policy-cadre" id="policy-cadre" data-validate="isEmpty,isString" class="form-control"
                            placeholder="policyCadre" />
                    </div>
                    <!-- All authors -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="all-authors" class="form-label fw-bold">All authors</label>
                        <input type="text" name="all-authors" id="all-authors" data-validate="isEmpty,isString" class="form-control"
                            placeholder="All authors">
                    </div>
                    <!-- Total No. of Authors -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="totalAuthors" class="form-label fw-bold">Total No. of Authors</label>
                        <input type="text" name="total-authors" id="total-authors" data-validate="isEmpty,isNumber" class="form-control"
                            placeholder="Total No. of Authors">
                    </div>
                    <!-- Name of NMIMS Authors -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="nmims-authors" class="form-label fw-bold">Name of NMIMS Authors</label>
                        <input type="text" name="nmims-authors" id="nmims-authors" data-validate="isEmpty,isName" class="form-control"
                            placeholder="Name of NMIMS Authors">
                    </div>
                    <!-- No. of NMIMS Authors -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="NMIMSAuthors" class="form-label fw-bold">No. of NMIMS Authors</label>
                        <input type="text" name="volumes" id="nmims-authors-count" data-validate="isEmpty,isNumber" class="form-control"
                            placeholder="No. of NMIMS Authors">
                    </div>
                    <!-- Journal Name -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="journalName" class="form-label fw-bold">Journal Name</label>
                        <input type="text" name="journal-name" id="journal-name" data-validate="isEmpty,isName" class="form-control"
                            placeholder="Journal Name">
                    </div>
                    <!-- Publisher -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="publisher" class="form-label fw-bold"> Publisher </label>
                        <input type="text" name="publisher" id="publisher" data-validate="isEmpty,isAlphabeticWords" class="form-control"required/>
                    </div>
                    <!-- Count of Other Faculty -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="count-other-faculty" class="form-label fw-bold">Count of Other Faculty</label>
                        <input type="text" name="count-other-faculty" id="count-other-faculty"  data-validate="isEmpty,isNumber" class="form-control" placeholder="Count of Other Faculty" required/>
                    </div>

                    <!-- Volume -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="volume" class="form-label fw-bold">Volume (Vols)</label>
                        <input type="text" name="volume" id="volume" class="form-control" data-validate="isEmpty,isNumber" placeholder="Volume">
                    </div>
                    <!-- Iss -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="iss" class="form-label fw-bold">ISS</label>
                        <input type="text" name="iss" id="iss" data-validate="isEmpty,isNumber" class="form-control" placeholder="ISS">
                    </div>
                    <!-- Pages-->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="page" class="form-label fw-bold">Pages</label>
                        <input type="text" name="pages" id="pages" class="form-control" data-validate="isEmpty,isNumber" placeholder="Pages">
                    </div>
                    <!-- ISSN No. -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="issNo" class="form-label fw-bold">ISSN No.</label>
                        <input type="text" name="iss-no" id="issn-no" class="form-control" data-validate="isEmpty,isNumber" placeholder="ISSN No.">
                    </div>
                    <!-- SCS Cite Score -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="scs-cite-score" class="form-label fw-bold">SCS Cite Score</label>
                        <input type="text" name="scsCiteScores" id="scs-cite-score" data-validate="isEmpty,isNumber" class="form-control" placeholder="SCS Cite Score">
                    </div>
                    <!-- Impact Factor -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="impact-factor" class="form-label fw-bold">Impact Factor</label>
                        <input type="text" name="impactFactors" id="impact-factor" data-validate="isEmpty,isString" class="form-control" placeholder="Impact Factor">
                    </div>
                    <!-- SCS Indexed -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="scs-indexed" class="form-label fw-bold">SCS Indexed</label>
                        <input type="text" name="scs-indexed" id="scs-indexed" data-validate="isEmpty,isNumber" class="form-control" placeholder="SCS Indexed">
                    </div>
                    <!-- WoS Indexed -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="wos-indexed" class="form-label fw-bold">WoS Indexed</label>
                        <input type="text" name="wos-indexed" id="wos-indexed"data-validate="isEmpty,isNumber" class="form-control" placeholder="WoS Indexed">
                    </div>
                    <!-- GS Indexed -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="gs-index" class="form-label fw-bold">GS Indexed</label>
                        <input type="text" name="gs-indexed" id="gs-indexed" data-validate="isEmpty,isNumber" class="form-control" placeholder="GS Indexed">
                    </div>
                    <!-- ABDC Indexed -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="abdc-indexed" class="form-label fw-bold">ABDC Indexed</label>
                        <input type="text" name="abdc-indexed" id="abdc-indexed" data-validate="isEmpty,isNumber" class="form-control" placeholder="ABDC Indexed">
                    </div>
                    <!-- UGC Indexed -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="ugc-indexed" class="form-label fw-bold">UGC Indexed</label>
                        <input type="text" name="abdc-indexed" id="ugc-indexed" data-validate="isEmpty,isNumber" class="form-control" placeholder="UGC Indexed">
                    </div>
                    <!-- Weblink-DOI Number -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="web-link" class="form-label fw-bold">WEB Link</label>
                        <input type="text" name="webLinks" id="web-link"  data-validate="isEmpty,isLink"class="form-control" placeholder="Weblink-DOI Number">
                    </div>
                    <!-- UID -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="uid" class="form-label fw-bold">UID</label>
                        <input type="text" name="uid-number" id="uid" class="form-control" data-validate="isEmpty,isNumber" placeholder="UID Number">
                    </div>
                    <!-- Date of Publishing -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="date-of-publishing" class="form-label fw-bold">Date of Publishing</label>
                        <input type="text" name="dop" id="date-of-publishing" data-validate="isEmpty,isDate" class="form-control" placeholder="Date of Publishing">
                    </div>
                    <!-- title-of-paper -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="title-of-paper" class="form-label fw-bold">Title Of Paper</label>
                        <input type="text" name="dop" id="title-of-paper" data-validate="isEmpty,isName" class="form-control" placeholder="title-of-paper">                    
                    </div>
                    <!-- Rsearch Type -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="research-type" class="form-label fw-bold">Rsearch Type</label>
                        <input type="text" name="dop" id="research-type" data-validate="isEmpty,isName" class="form-control" placeholder="Research type">
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary d-none" id="submit-btn">Submit</button>
                <button type="button" class="btn btn-primary d-none " id="update-btn">updateBtn</button>
            </div>
        </div>
    </div>
</div>
<!-- modal form for view -->
<div class="modal fade " id="journal-paper-modal-view" tabindex="-1" role="dialog" aria-labelledby="journal-paper-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content validate-input">
            <div class="modal-header">
                <h4 class="modal-title" id="journal-paper-title">Journal Papers</h4>
                <div class="close" data-dismiss="modal" aria-label="Close">
                    <span type="button" aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Year -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Year:</div>
                            <label class="view-content" id="view-year"></label>
                        </div>
                    </div>
                    <!-- school -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">School:</div>
                            <label class="view-content" id="view-school"></label>
                        </div>
                    </div>
                    <!-- Campus -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Campus:</div>
                            <label class="view-content" id="view-campus"></label>
                        </div>
                    </div>
                    <!--Policy Cadre -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Policy Cadre:</div>
                            <label class="view-content" id="view-policy-cadre"></label>
                        </div>
                    </div>
                    <!-- All authors -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">All authors:</div>
                            <label class="view-content" id="view-all-authors"></label>
                        </div>
                    </div>
                    <!-- Total No. of Authors -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Total No. of Authors:</div>
                            <label class="view-content" id="view-total-authors"></label>
                        </div>
                    </div>
                    <!-- Name of NMIMS Authors -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Name Of NMIMS Authors:</div>
                            <label class="view-content" id="view-nmims-authors"></label>
                        </div>
                    </div>
                    <!-- Journal Name -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Journal Name:</div>
                            <label class="view-content" id="view-journal-name"></label>
                        </div>
                    </div>
                    <!-- Publisher -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Publisher:</div>
                            <label class="view-content" id="view-publisher"></label>
                        </div>
                    </div>
                    <!-- Count Faculty -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Count Other Faculty:</div>
                            <label class="view-content" id="view-count-of-other-faculty"></label>
                        </div>
                    </div>
                    <!-- iss -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">ISS:</div>
                            <label class="view-content" id="view-iss"></label>
                        </div>
                    </div>
                    <!-- iss -number -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">ISSN No:</div>
                            <label class="view-content" id="view-issn-no"></label>
                        </div>
                    </div>
                    <!-- volume -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Volume:</div>
                            <label class="view-content" id="view-volume"></label>
                        </div>
                    </div>
                    <!-- pages -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Pages:</div>
                            <label class="view-content" id="view-pages"></label>
                        </div>
                    </div>
                    <!-- Scs-cite-score -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Scs Cite Score:</div>
                            <label class="view-content" id="view-scs-cite-score"></label>
                        </div>
                    </div>
                    <!-- impact-factor -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Impact Factor:</div>
                            <label class="view-content" id="view-impact-factor"></label>
                        </div>
                    </div>
                    <!--scs-indexed -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Scs Indexed:</div>
                            <label class="view-content" id="view-scs-indexed"></label>
                        </div>
                    </div>
                    <!--wos-indexed -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Wos Indexed:</div>
                            <label class="view-content" id="view-wos-indexed"></label>
                        </div>
                    </div>
                    <!--gs-index-->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Gs Indexed:</div>
                            <label class="view-content" id="view-gs-indexed"></label>
                        </div>
                    </div>
                    <!--abdc-indexed-->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Abcd Indexed:</div>
                            <label class="view-content" id="view-abdc-indexed"></label>
                        </div>
                    </div>
                    <!--ugc-indexed -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Ugc Indexed:</div>
                            <label class="view-content" id="view-ugc-indexed"></label>
                        </div>
                    </div>
                    <!--web-link -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Web Link:</div>
                            <label class="view-content" id="view-web-link"></label>
                        </div>
                    </div>
                    <!--UID -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">UID:</div>
                            <label class="view-content" id="view-uid"></label>
                        </div>
                    </div>
                    <!--date-of-publishing -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Date Of Publishing:</div>
                            <label class="view-content" id="view-date-of-publishing"></label>
                        </div>
                    </div>
                    <!--Title of Paper -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Title Of Paper :</div>
                            <label class="view-content" id="view-title-of-paper"></label>
                        </div>
                    </div>
                    <!--research Type -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">Research Type :</div>
                            <label class="view-content" id="view-research-type"></label>
                        </div>
                    </div>
                    <!--nmims_authors_count -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="sub-title-text sub-title">NMIMS Authors Count :</div>
                            <label class="view-content" id="view-nmims-authors-count"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- inline Javascript -->

<script>
    const journalPaperModal = document.getElementById('journal-paper-modal');
    const journalPaperModalView = document.getElementById('journal-paper-modal-view');
    journalPaperModalView.style.display ='none';
    const journalTable = document.getElementById('journal-paper-list');
    const submitBtn = document.getElementById('submit-btn');
    const updateBtn = document.getElementById('update-btn');
    const journalPaperAddModal = document.getElementById('journal-paper-add-modal');
    journalPaperAddModal.addEventListener('click' , async function(event){
        if(event.target.tagName === 'BUTTON' && event.target.classList.contains('add-modal') || event.target.classList.contains('plus')){
           console.log('clicked');
            // for button visualization
            submitBtn.classList.remove('d-none');
            updateBtn.classList.add('d-none');
            // make input field empty
            document.getElementById('year').value = '';
            document.getElementById('school').value = '';
            document.getElementById('campus').value = '';
            document.getElementById('policy-cadre').value = '';
            document.getElementById('publisher').value = '';
            document.getElementById('all-authors').value = '';
            document.getElementById('total-authors').value = '';
            document.getElementById('nmims-authors').value = '';
            document.getElementById('journal-name').value = '';
            document.getElementById('count-other-faculty').value = '';
            document.getElementById('volume').value = '';
            document.getElementById('iss').value = '';
            document.getElementById('pages').value = '';
            document.getElementById('issn-no').value = '';
            document.getElementById('scs-cite-score').value = '';
            document.getElementById('impact-factor').value = '';
            document.getElementById('scs-indexed').value = '';
            document.getElementById('wos-indexed').value = '';
            document.getElementById('gs-indexed').value = '';
            document.getElementById('abdc-indexed').value = '';
            document.getElementById('ugc-indexed').value = '';
            document.getElementById('web-link').value = '';
            document.getElementById('uid').value = '';
            document.getElementById('date-of-publishing').value = '';
            document.getElementById('title-of-paper').value = '';
            document.getElementById('research-type').value = '';
            document.getElementById('nmims-authors-count').value = '';
        }
    })

    let rowToBeUpdated, journalPaperId;
   const insertJournalPaper = async(url) => {
        const year = document.getElementById('year')
        console.log('year value ==>>', year.value);
        const journalDetails = {};
        journalDetails.year = document.getElementById('year').value;
        journalDetails.school = document.getElementById('school').value;
        journalDetails.campus = document.getElementById('campus').value;
        journalDetails.policyCadre = document.getElementById('policy-cadre').value;
        journalDetails.publisher = document.getElementById('publisher').value;
        journalDetails.allAuthors = document.getElementById('all-authors').value;
        journalDetails.totalAuthors= document.getElementById('total-authors').value;
        journalDetails.nmimsAuthors = document.getElementById('nmims-authors').value;
        journalDetails.journalName = document.getElementById('journal-name').value;
        journalDetails.countOtherFaculty = document.getElementById('count-other-faculty').value;
        journalDetails.volume = document.getElementById('volume').value;
        journalDetails.iss= document.getElementById('iss').value;
        journalDetails.pages = document.getElementById('pages').value;
        journalDetails.issnNo  = document.getElementById('issn-no').value;
        journalDetails.scsCiteScore = document.getElementById('scs-cite-score').value;
        journalDetails.impactFactor = document.getElementById('impact-factor').value;
        journalDetails.scsIndexed = document.getElementById('scs-indexed').value;
        journalDetails.wosIndexed = document.getElementById('wos-indexed').value;
        journalDetails.gsIndexed = document.getElementById('gs-indexed').value;
        journalDetails.abcdIndexed = document.getElementById('abdc-indexed').value;
        journalDetails.ugcIndexed = document.getElementById('ugc-indexed').value;
        journalDetails.webLink = document.getElementById('web-link').value;
        journalDetails.uid = document.getElementById('uid').value;
        journalDetails.dateOfPublishing = document.getElementById('date-of-publishing').value;
        journalDetails.titleOfPaper = document.getElementById('title-of-paper').value;
        journalDetails.researchType = document.getElementById('research-type').value;
        journalDetails.nmimsAuthorsCount = document.getElementById('nmims-authors-count').value;

        // inserting data from frontEnd
        console.log('journalDetails==>>',journalDetails);
        const payload = {
            journalDetails: journalDetails
        }

        console.log('PAYLOAD : ', payload);

        fetch(url, {
            method: 'POST',
            headers: {
                'content-type': 'application/json'
            },
            body: JSON.stringify(payload)
        })
            .then((result) => {
                return result.json()
            })
            .then((data) => {
                console.log('data ===>>>', data);
                if (data.status === 'done') {
                    journalPaperId = data.journalPaperId;
                    console.log('journalPaperId ==>', journalPaperId);
                    //insert new row to the journal_papers table 
                    const newJournalPaper = document.createElement('tr');
                    newJournalPaper.setAttribute('data-count-other-faculty', journalDetails.countOtherFaculty);
                    newJournalPaper.setAttribute('data-volume', journalDetails.volume);
                    newJournalPaper.setAttribute('data-iss', journalDetails.iss);
                    newJournalPaper.setAttribute('data-pages', journalDetails.pages);
                    newJournalPaper.setAttribute('data-issn-no', journalDetails.issnNo);
                    newJournalPaper.setAttribute('data-scs-cite-score', journalDetails.scsCiteScore);
                    newJournalPaper.setAttribute('data-impact-factor', journalDetails.impactFactor);
                    newJournalPaper.setAttribute('data-scs-indexed', journalDetails.scsIndexed);
                    newJournalPaper.setAttribute('data-wos-indexed', journalDetails.wosIndexed);
                    newJournalPaper.setAttribute('data-gs-indexed', journalDetails.gsIndexed);
                    newJournalPaper.setAttribute('data-abdc-indexed', journalDetails.abcdIndexed);
                    newJournalPaper.setAttribute('data-ugc-indexed', journalDetails.ugcIndexed);
                    newJournalPaper.setAttribute('data-web-link', journalDetails.webLink);
                    newJournalPaper.setAttribute('data-uid', journalDetails.uid);
                    newJournalPaper.setAttribute('data-date-of-publishing', journalDetails.dateOfPublishing);
                    newJournalPaper.setAttribute('data-title-of-paper', journalDetails.titleOfPaper);
                    newJournalPaper.setAttribute('data-research-type', journalDetails.researchType);
                    newJournalPaper.setAttribute('data-nmims-author-count', journalDetails.nmimsAuthorsCount);
                    newJournalPaper.innerHTML = `
                            <td >${journalPaperId}</td>
                            <td class="year">${journalDetails.year}</td>
                            <td class="school">${journalDetails.school}</td>
                            <td class="campus">${journalDetails.campus}</td>
                            <td class="all-authors">${journalDetails.allAuthors} </td>
                            <td class="total-authors">${journalDetails.totalAuthors}</td>
                            <td class="nmims-authors">${journalDetails.nmimsAuthors}</td>
                            <td class="journal-name">${journalDetails.journalName}</td>
                            <td class="policy-cadre">${journalDetails.policyCadre}</td>
                            <td class="publisher">${journalDetails.publisher}</td>
                            <td>
                                <a class="view" data-journalPaper-id="${journalPaperId}"><i data-journalPaper-id="${journalPaperId}" class="fa-solid fa-eye view"></i></a>
                                <a class="edit"  data-journalPaper-id="${journalPaperId}"><i  data-journalPaper-id="${journalPaperId}" class="fa fa-edit edit"></i></a>
                                <a class="delete" data-journalPaper-id="${journalPaperId}"><i  data-journalPaper-id="${journalPaperId}" class="fa-solid fa-trash delete"></i></a>
                            </td>  ` ;
                    journalTable.appendChild(newJournalPaper);
                    $('#journal-paper-modal').modal('hide');
                    alert('data is inserted  successFully');
                    // for clear input field
                }
            }).catch((error) => {
                console.error("ERROR:", error);
            })
    };

    submitBtn.addEventListener('click', async () => {
        const isValid = validateRequiredFormFields(submitBtn);
            if (isValid) {
                await insertJournalPaper('/research/journal-paper/insert')

                console.log('data inserted successfully');
            }
            else {
                alert('validation failed');
            }
    });
    
    // for deleting
    journalTable.addEventListener('click', function (event) {

        if (event.target.classList.contains('delete')) {
            const journalPaperRowData = event.target.parentElement.parentElement.parentElement;
            const journalPaperId = event.target.getAttribute('data-journalPaper-id');
            console.log('journalPaperId for delete :', journalPaperId);
            // fetching api for delete
            fetch('/research/journal-paper/delete', {
                method : 'post',
                headers: {
                    'content-type' : 'application/json'
                },
                body: JSON.stringify({ journalPaperId })
            })
                .then((result) => {
                    return result.json();
                })
                .then((data) => {
                    if (data.status === 'done') {
                        journalPaperRowData.remove();
                    } else {
                        alert('Unable to delete element: ' + data.message);
                    }
                })
                .catch((error) => {

                    console.log(error)
                });
        }
        // for updating 
        if (event.target.classList.contains('edit')) {
            $('#journal-paper-modal').modal('show');
            rowToBeUpdated = event.target.closest('tr');
            console.log('rowToBeUpdated ==>>', rowToBeUpdated)
            journalPaperId = event.target.getAttribute('data-journalPaper-id');
            // for button visualization
            submitBtn.classList.add('d-none');
            updateBtn.classList.remove('d-none');
            // Capturing  the specific row's data and journalPaper ID
            const year = rowToBeUpdated.querySelector('.year');
            const school = rowToBeUpdated.querySelector('.school');
            const campus = rowToBeUpdated.querySelector('.campus');
            const allAuthors = rowToBeUpdated.querySelector('.all-authors');
            const totalAuthors = rowToBeUpdated.querySelector('.total-authors');
            const nmimsAuthors = rowToBeUpdated.querySelector('.nmims-authors');
            const journalName = rowToBeUpdated.querySelector('.journal-name');
            const policyCadre = rowToBeUpdated.querySelector('.policy-cadre');
            const publisher = rowToBeUpdated.querySelector('.publisher');
            const countOtherFaculty = rowToBeUpdated.getAttribute('data-count-other-faculty');
            const titleOfPaper = rowToBeUpdated.getAttribute('data-title-of-paper');
            const volume = rowToBeUpdated.getAttribute('data-volume');
            const iss = rowToBeUpdated.getAttribute('data-iss');
            const pages = rowToBeUpdated.getAttribute('data-pages');
            const issnNo = rowToBeUpdated.getAttribute('data-issn-no');
            const dateOfPublishing = rowToBeUpdated.getAttribute('data-date-of-publishing');
            const impactFactor = rowToBeUpdated.getAttribute('data-impact-factor');
            const scsCiteScore = rowToBeUpdated.getAttribute('data-scs-cite-score');
            const wosIndexed = rowToBeUpdated.getAttribute('data-wos-indexed');
            const gsIndexed = rowToBeUpdated.getAttribute('data-gs-indexed');
            const abcdIndexed = rowToBeUpdated.getAttribute('data-abdc-indexed');
            const ugcIndexed = rowToBeUpdated.getAttribute('data-ugc-indexed');
            const webLink = rowToBeUpdated.getAttribute('data-web-link');
            const uid = rowToBeUpdated.getAttribute('data-uid');
            const scsIndexed = rowToBeUpdated.getAttribute('data-scs-indexed');
            const researchType = rowToBeUpdated.getAttribute('data-research-type');
            const nmimsAuthorsCount = rowToBeUpdated.getAttribute('data-nmims-authors-count');

            // for displaying alredy stored value
            document.getElementById('year').value = year.textContent;
            document.getElementById('school').value = school.textContent;
            document.getElementById('campus').value = campus.textContent;
            document.getElementById('all-authors').value = allAuthors.textContent;
            document.getElementById('publisher').value = publisher.textContent;
            console.log('publisher.textContent ==>>',publisher.textContent)
            document.getElementById('nmims-authors').value = nmimsAuthors.textContent;
            document.getElementById('journal-name').value = journalName.textContent;
            document.getElementById('total-authors').value = totalAuthors.textContent;
            document.getElementById('policy-cadre').value = policyCadre.textContent;
            document.getElementById('count-other-faculty').value = countOtherFaculty;
            document.getElementById('title-of-paper').value = titleOfPaper;
            document.getElementById('volume').value = volume;
            document.getElementById('iss').value = iss;
            document.getElementById('pages').value = pages;
            document.getElementById('issn-no').value = issnNo;
            document.getElementById('date-of-publishing').value = dateOfPublishing;
            document.getElementById('impact-factor').value = impactFactor;
            document.getElementById('scs-cite-score').value = scsCiteScore;
            document.getElementById('wos-indexed').value = wosIndexed;
            document.getElementById('gs-indexed').value = gsIndexed;
            document.getElementById('abdc-indexed').value = abcdIndexed;
            document.getElementById('ugc-indexed').value = ugcIndexed;
            document.getElementById('web-link').value = webLink;
            document.getElementById('uid').value = uid;
            document.getElementById('research-type').value = researchType;
            document.getElementById('nmims-authors-count').value = nmimsAuthorsCount;
            console.log('nmimsAuthorsCount ==>>', nmimsAuthorsCount)
            document.getElementById('scs-indexed').value = scsIndexed;
        }
        // for viewing record of journal paper
        if(event.target.classList.contains('view')){
            journalPaperId = event.target.getAttribute('data-journalPaper-id');
            // updating value with actuall value
            const viewYear = document.getElementById('view-year');
            const viewSchool=  document.getElementById('view-school');
            const viewCampus = document.getElementById('view-campus');
            const viewAllAuthors = document.getElementById('view-all-authors');
            const viewPublisher = document.getElementById('view-publisher');
            const viewNmimsAuthors = document.getElementById('view-nmims-authors');
            const viewJournalName = document.getElementById('view-journal-name');
            const viewTotalAuthors =  document.getElementById('view-total-authors');
            const viewPolicyCadre = document.getElementById('view-policy-cadre');
            const viewCountFaculty = document.getElementById('view-count-of-other-faculty');
            const viewIss = document.getElementById('view-iss');
            const viewIssNo = document.getElementById('view-issn-no');
            const viewAbcdIndexed = document.getElementById('view-abdc-indexed');
            const viewWebLink = document.getElementById('view-web-link');
            const viewPages = document.getElementById('view-pages');
            const viewScsCiteScore = document.getElementById('view-scs-cite-score');
            const viewImpactFactor = document.getElementById('view-impact-factor');
            const viewScsIndexed = document.getElementById('view-scs-indexed');
            const viewWosIndexed = document.getElementById('view-wos-indexed');
            const viewGsIndexed = document.getElementById('view-gs-indexed');
            const viewUgcIndexed = document.getElementById('view-ugc-indexed');
            const viewDateOfPublishing = document.getElementById('view-date-of-publishing');
            const viewUid = document.getElementById('view-uid');
            const viewVolume = document.getElementById('view-volume');
            const viewTitle = document.getElementById('view-title-of-paper');
            const viewRsearch = document.getElementById('view-research-type');
            const viewNmimsAuthorsCount = document.getElementById('view-nmims-authors-count');

            fetch('/research/journal-paper/view' , {
                method : 'POST',
                headers : {
                    'content-type': 'application/json'
                },
                body : JSON.stringify({
                    journalPaperId : journalPaperId
                })

             })
             .then((result) => {
                    return result.json();
             })
             .then((data) => {
                    console.log('data is viewing',data);  
                    viewYear.innerText = data[0].year;
                    viewAllAuthors.innerText = data[0].all_authors;
                    viewCampus.innerText = data[0].campus;
                    viewTotalAuthors.innerText = data[0].total_authors;
                    viewJournalName.innerText = data[0].journal_name;
                    viewPolicyCadre.innerText = data[0].policy_cadre;
                    viewNmimsAuthors.innerText = data[0].nmims_authors;
                    viewSchool.innerText = data[0].school;
                    viewPublisher.innerText = data[0].publisher;
                    viewCountFaculty.innerText = data[0].count_other_faculty; 
                    viewIss.innerText = data[0].iss;
                    viewIssNo.innerText = data[0].issn_no;
                    viewAbcdIndexed.innerText = data[0].abdc_indexed;
                    viewWebLink.innerText = data[0].web_link;
                    viewPages.innerText = data[0].pages; 
                    viewScsCiteScore.innerText = data[0].pages; 
                    viewImpactFactor.innerText = data[0].impact_factor;
                    viewScsIndexed.innerText = data[0].scs_indexed;
                    viewGsIndexed.innerText = data[0].gs_indexed;
                    viewUgcIndexed.innerText = data[0].ugc_indexed; 
                    viewDateOfPublishing.innerText = data[0].date_of_publishing; 
                    viewVolume.innerText = data[0].volume; 
                    viewTitle.innerText = data[0].title_of_paper;
                    viewRsearch.innerText = data[0].research_type;
                    viewWosIndexed.innerText = data[0].wos_indexed;
                    viewUid.innerText = data[0].uid;
                    viewNmimsAuthorsCount.innerText = data[0].nmims_authors_count;

             }).catch((error) =>{
                console.log('error:', error);

             });
            $('#journal-paper-modal-view').modal('show');
        }
        
    });
    // adding event listner in update button
    updateBtn.addEventListener('click', async function () {
        // for assigning store value in our data base
        const updatedYear = document.getElementById('year').value;
        const updatedSchool = document.getElementById('school').value;
        const updatedCampus = document.getElementById('campus').value;
        const updatedPolicyCadre = document.getElementById('policy-cadre').value;
        const updatedPublisher = document.getElementById('publisher').value;
        const updatedAllAuthor = document.getElementById('all-authors').value;
        const updatedTotalAuthors = document.getElementById('total-authors').value;
        const updatedNmimsAuthors = document.getElementById('nmims-authors').value;
        const updatedJournalName = document.getElementById('journal-name').value;
        const updatedCountOtherFaculty = document.getElementById('count-other-faculty').value;
        const updatedTitleOfPaper = document.getElementById('title-of-paper').value ;
        const updatedVolume = document.getElementById('volume').value;
        const updatedIss = document.getElementById('iss').value;
        const updatedPages = document.getElementById('pages').value;
        const updatedIssnNo = document.getElementById('issn-no').value;
        const updatedDateOfPublishing =  document.getElementById('date-of-publishing').value ;
        const updatedImpactFactor = document.getElementById('impact-factor').value;
        const updatedScsCiteScore = document.getElementById('scs-cite-score').value;
        const updatedWosIndexed = document.getElementById('wos-indexed').value;
        const updatedGsIndexed = document.getElementById('gs-indexed').value;
        const updatedAbcdIndexed = document.getElementById('abdc-indexed').value;
        const updatedUgcIndexed  = document.getElementById('ugc-indexed').value;
        const updatedWebLink = document.getElementById('web-link').value;
        const updatedUid = document.getElementById('uid').value;
        const updatedResearchType = document.getElementById('research-type').value;
        const updatedNmimsAuthorsCount = document.getElementById('nmims-authors-count').value;
        const updatedScsIndexed= document.getElementById('scs-indexed').value

        let updatedJournalPaperDetails = {};

        updatedJournalPaperDetails.journalPaperId = journalPaperId
        updatedJournalPaperDetails.year = updatedYear
        updatedJournalPaperDetails.school = updatedSchool
        updatedJournalPaperDetails.campus = updatedCampus
        updatedJournalPaperDetails.policyCadre = updatedPolicyCadre
        updatedJournalPaperDetails.publisher = updatedPublisher
        updatedJournalPaperDetails.allAuthors = updatedAllAuthor
        updatedJournalPaperDetails.totalAuthors = updatedTotalAuthors
        updatedJournalPaperDetails.nmimsAuthors = updatedNmimsAuthors
        updatedJournalPaperDetails.journalName = updatedJournalName
        updatedJournalPaperDetails.countOtherFaculty = updatedCountOtherFaculty;
        updatedJournalPaperDetails.titleOfPaper = updatedTitleOfPaper;
        updatedJournalPaperDetails.volume = updatedVolume;
        updatedJournalPaperDetails.iss = updatedIss;
        updatedJournalPaperDetails.pages = updatedPages;
        updatedJournalPaperDetails.issnNo = updatedIssnNo;
        updatedJournalPaperDetails.dateOfPublishing = updatedDateOfPublishing;
        updatedJournalPaperDetails.impactFactor = updatedImpactFactor;
        updatedJournalPaperDetails.scsCiteScore = updatedScsCiteScore;
        updatedJournalPaperDetails.wosIndexed = updatedWosIndexed;
        updatedJournalPaperDetails. gsIndexed = updatedGsIndexed;
        updatedJournalPaperDetails.abcdIndexed = updatedAbcdIndexed;
        updatedJournalPaperDetails.ugcIndexed = updatedUgcIndexed;
        updatedJournalPaperDetails.webLink = updatedWebLink;
        updatedJournalPaperDetails.uid = updatedUid;
        updatedJournalPaperDetails.researchType = updatedResearchType;
        updatedJournalPaperDetails.nmimsAuthorsCount = updatedNmimsAuthorsCount;
        updatedJournalPaperDetails.scsIndexed = updatedScsIndexed;

        // sending  updated data to database by fetch api for update the value in db
        fetch('/research/journal-paper/update', {
            method: 'post',
            headers: {
                'content-type': 'application/json'
            },
            body: JSON.stringify(updatedJournalPaperDetails)
        })
            .then((result) => {
                if (result) {
                    return result.json();
                }
                else {
                    console.log('failed update data on server ');
                }
            })
            .then((data) => {
                console.log('data ==>>>', data);

                if (data.status === 'done') {
                    console.log('journalPaperId >>>> ', journalPaperId);
                    rowToBeUpdated.querySelector('.year').innerText = updatedJournalPaperDetails.year;
                    rowToBeUpdated.querySelector('.school').innerText = updatedJournalPaperDetails.school;
                    rowToBeUpdated.querySelector('.campus').innerText = updatedJournalPaperDetails.campus;
                    rowToBeUpdated.querySelector('.all-authors').innerText = updatedJournalPaperDetails.allAuthors;
                    rowToBeUpdated.querySelector('.total-authors').innerText = updatedJournalPaperDetails.totalAuthors;
                    rowToBeUpdated.querySelector('.nmims-authors').innerText = updatedJournalPaperDetails.nmimsAuthors;
                    rowToBeUpdated.querySelector('.journal-name').innerText = updatedJournalPaperDetails.journalName;
                    rowToBeUpdated.querySelector('.policy-cadre').innerText = updatedJournalPaperDetails.policyCadre;
                    rowToBeUpdated.querySelector('.publisher').innerText = updatedJournalPaperDetails.publisher;
                    rowToBeUpdated.setAttribute('data-count-other-faculty', updatedCountOtherFaculty );
                    rowToBeUpdated.setAttribute('data-volume' , updatedVolume);
                    rowToBeUpdated.setAttribute('data-iss' , updatedIss);
                    rowToBeUpdated.setAttribute('data-pages' , updatedPages);
                    rowToBeUpdated.setAttribute('data-issn-no' , updatedIssnNo);
                    rowToBeUpdated.setAttribute('data-scs-cite-score' , updatedScsCiteScore);
                    rowToBeUpdated.setAttribute('data-impact-factor' , updatedImpactFactor);
                    rowToBeUpdated.setAttribute('data-scs-indexed' , updatedScsIndexed );
                    rowToBeUpdated.setAttribute('data-wos-indexed' , updatedWosIndexed);
                    rowToBeUpdated.setAttribute('data-gs-indexed' , updatedGsIndexed);
                    rowToBeUpdated.setAttribute('data-abdc-indexed' , updatedAbcdIndexed);
                    rowToBeUpdated.setAttribute('data-ugc-indexed' , updatedUgcIndexed);
                    rowToBeUpdated.setAttribute('data-web-link' , updatedWebLink);
                    rowToBeUpdated.setAttribute('data-uid' , updatedUid);
                    rowToBeUpdated.setAttribute('data-date-of-publishing' , updatedDateOfPublishing);
                    rowToBeUpdated.setAttribute('data-title-of-paper' , updatedTitleOfPaper);
                    rowToBeUpdated.setAttribute('data-research-type' , updatedResearchType);
                    rowToBeUpdated.setAttribute('data-nmims-author-count' , updatedNmimsAuthorsCount);
                }
                $('#journal-paper-modal').modal('hide');
                alert('data updated SuccessFully');
            })
            .catch((error) => {
                console.log("ERROIR : ", error);
                alert('An error occurred while updating the element');
                $('#journal-paper-modal').modal('hide');
               
            })
        })

    </script>
<%- include('./partials/footer') %>
<%- include('./partials/footer-end') %>