<%- include('./partials/head') %>
<!-- inline css -->
<!-- Navbar section -->
<%- include('./partials/header') %>
<!-- This is left sidebar  -->
<%- include('./partials/left-sidebar') %>
<!-- This is right side section -->
<main class="main" id="mainContent">
    <div class="base-section coustom-section">
        <!--DASHBOARD CONTENT START-->
        <!-- <div class="breadcrumbs-container">
        </div> -->
        <div class="errorHtml"></div>
        <div class="card table-card">
            <div class="table-card-header text-uppercase d-flex align-items-center justify-content-between">
                <div>
                    <h3>MEETING STACKHOLDER</h3>
                </div>
                <div class="me-2">
                    <button id="meeting-stackholders-add-modal" type="button" class="btn btn-primary add-modal"
                        data-toggle="modal" data-target="#meeting-stackholders-modal">
                        <i class="fas fa-plus plus"></i></button>
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <div class="d-flex justify-content-between">
                    <div>
                        <label>Show Entries</label>
                        <select class="form-select" id="changeEntry">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="250">250</option>
                            <option value="300">300</option>
                            <option value="350">350</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="800">800</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                    <div>
                        <div class="table-searchbar-container">
                            <button type="button" id="searchBtn"><i class="fas fa-search"></i></button>
                            <input type="search" id="searchKeyword" placeholder="Enter keywords" class="table-searchbar">
                        </div>
                    </div>
                </div>
                <table class="table custom-table table-responsive research-pagination" id="meeting-stackholders-list">
                    <thead>
                        <th>#</th>
                        <th>Ranking Description</th>
                        <th>Accreditation</th>
                        <th>Convocation at NMIMS</th>
                        <th>School/Campus Achievements</th>
                        <th>Inaugural Program at NMIMS</th>
                        <th>Events at NMIMS</th>
                        <th>Action</th>
                    </thead>
                    <% meetingData.forEach(function(meeting, index) { %>
                        <tr scope="row" data-meeting-id="<%- meeting.id %>"
                            data-ranking-documents="<%- meeting.ranking_documents %>"
                            data-ranking-link="<%- meeting.ranking_link %>"
                            data-accreditation-documents="<%- meeting.accreditation_documents %>"
                            data-accreditation-link="<%- meeting.accreditation_link %>"
                            data-achievements-documents="<%- meeting.achievements_documents %>"
                            data-achievements-link="<%- meeting.achievements_link %>"
                            data-convocation-documents="<%- meeting.convocation_documents %>"
                            data-convocation-link="<%- meeting.convocation_link %>"
                            data-inaugural-program-documents="<%- meeting.inaugural_program_documents %>"
                            data-inaugural-program-link="<%- meeting.inaugural_program_link %>"
                            data-events-documents="<%- meeting.events_documents %>"
                            data-events-link="<%- meeting.events_link %>">
                            <td><%- index+1 %></td>
                            <td class="ranking"><%- meeting.ranking %></td>
                            <td class="accreditation"><%- meeting.accreditation %></td>
                            <td class="convocation"><%- meeting.convocation %></td>
                            <td class="achievements"><%- meeting.school_campus_achievements %></td>
                            <td class="inaugural-program"><%- meeting.inaugural_program %></td>
                            <td class="events"><%- meeting.events %></td>
                            <td>
                                <label class="view" data-meeting-id="<%- meeting.id %>"><i class="fa-solid fa-eye view text-danger"
                                    data-meeting-id="<%- meeting.id %>"></i></label>
                                <label class="edit" data-meeting-id="<%- meeting.id %>"><i class="fa fa-edit edit text-danger"
                                    data-meeting-id="<%- meeting.id %>"></i></label>
                                <label class="delete" data-meeting-id="<%- meeting.id %>"><i
                                    class="fa-solid fa-trash delete text-danger" data-meeting-id="<%- meeting.id %>"></i></label>
                            </td>
                        </tr>
                        <% }); %>
                </table>
                <div class="d-flex justify-content-between">
                    <div>
                        <label> Total entries: <%- rowCount %> </label>
                        <label class="d-none" id="row-count"> <%- rowCount %> </label>
                    </div>
                    <div>
                        <button id="prevBtn" class="btn btn-primary">Previous</button>
                        <button id="nextBtn" class="btn btn-primary">Next</button>
                        <p id="pagination" class="pagination-search"></p>
                    </div>
                </div>
            </div>
        </div>
        <!--Import Modal -->
        <div class="modal fade" id="open-program-modal" tabindex="-1" aria-labelledby="open-program-modal"
            aria-hidden="true">
        </div>
        <!-- EDIT PROGRAM AND UPDATE -->
        <div class="modal fade" id="edit-program-modal" tabindex="-1" aria-labelledby="editModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Update Program</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="errorHtml"></div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Program Name</label>
                            <input type="text" class="form-control" id="program_name" name="program_name">
                            <input type="hidden" class="form-control" id="hidden_id" name="hidden_id">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Program Type</label>
                            <select class="form-control" name="program_type_lid" id="program_type_lid">
                                <option value="1">Full Time</option>
                                <option value="2">Part Time</option>
                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="abbr" class="form-label">Program Abbr</label>
                            <input type="text" class="form-control" id="abbr" name="abbr">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Metting stackholder Modal  form -->
<div class="modal fade " id="meeting-stackholders-modal" tabindex="-1" role="dialog" aria-labelledby="meeting-execellance"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content validate-input">
            <div class="modal-header">
                <h5 class="modal-title" id="meeting-stackholders">MEETING STACKHOLDERS </h5>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                </div>
            </div>
            <div class="modal-body">
                    <!-- Ranking -->
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="ranking" class="form-label fw-bold">Ranking</label>
                            <input type="text" name="rank" id="ranking" data-validate="isEmpty,isAlphaNumeric" data-err-msg="AlphaNumeric value is required" class="form-control" required/>
                        </div>
                        <!-- file upload -->
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="upload" class="form-label fw-bold ">Upload documents</label>
                            <div class=" d-flex">
                            <input type="file" name="rankingDocuments" data-validate="isEmpty,isExist,isFile" data-err-msg="File is required." id="ranking-documents" class="form-control " id="upload"
                                required>
                                <button class="download-btn" id="rankingFile">
                                    <i class="fas fa-download text-danger"></i>
                                </button>
                            </div>
                        </div>
                        <!-- link -->
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="link" class="form-label fw-bold">Link</label>
                            <input type="text" name="pada" id="ranking-link" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="Link is required." class="form-control" required />
                        </div>
                    </div>
                    
                    <!-- Accreditation -->
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="Accreditation" class="form-label fw-bold">Accreditation</label>
                            <input type="text" name="Accreditation" id="accreditation" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="This field is required and min length > 1." class="form-control" required/>
                        </div>
                        <!-- file upload -->
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="accreditation-file" class="form-label fw-bold ">Upload documents</label>
                            <div class="d-flex">
                                <input type="file" name="accreditationFile" id="accreditation-file" data-validate="isEmpty,isExist,isFile"
                                    data-err-msg="File is required." class="form-control " id="upload" required>
                                <button class="download-btn" id="accreditationDataFile">
                                    <i class="fas fa-download text-danger"></i>
                                </button>
                            </div>
                        </div>
                        <!-- link -->
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="link" class="form-label fw-bold">Link</label>
                            <input type="text" name="pada" id="accreditation-link" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="Link is required." class="form-control" required/>
                        </div>
                    </div>

                    <!-- School/Campus Achievements -->
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="achievements" class="form-label fw-bold">School/Campus
                                Achievements</label>
                            <input type="text" name="school-campus" id="achievements" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="This field is required and min length > 1." class="form-control" required>
                        </div>
                        <!-- file upload -->
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="achievements-file" class="form-label fw-bold ">Upload documents</label>
                            <div class="d-flex">
                                <input type="file" name="achievementsFile" id="achievements-file" class="form-control"
                                    data-validate="isEmpty,isExist,isFile" data-err-msg="File is required." required>
                                <button class="download-btn" id="schoolFile">
                                    <i class="fas fa-download text-danger"></i>
                                </button>
                            </div>
                        </div>
                        <!-- link -->
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="achievements-link" class="form-label fw-bold">Link</label>
                            <input type="text" name="pada" id="achievements-link" class="form-control" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="Link is required." required/>
                        </div>
                    </div>

                    <!-- Convocation at NMIMS  -->
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="convocation" class="form-label fw-bold">Convocation at
                                NMIMS</label>
                            <input type="text" name="con" id="convocation" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="This field is required and min length > 1." class="form-control" required/>
                        </div>
                        <!-- file upload -->
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="convocation-file" class="form-label fw-bold ">Upload documents</label>
                            <div class="d-flex">
                                <input type="file" name="convocationFile" id="convocation-file" class="form-control " id="upload"
                                    data-validate="isEmpty,isExist,isFile" data-err-msg="File is required." required>
                                <button class="download-btn" id="convocationDocuments">
                                    <i class="fas fa-download text-danger"></i>
                                </button>
                            </div>
                        </div>
                        <!-- link -->
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="convocation-link" class="form-label fw-bold">Link</label>
                            <input type="text" name="pada" id="convocation-link" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="Link is required." class="form-control" required/>
                        </div>
                    </div>

                    <!-- Inaugural Program at NMIMS-->
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="inaugural-program" class="form-label fw-bold">Inaugural Program at NMIMS</label>
                            <input type="text" name="inu" id="inaugural-program" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255"  data-err-msg="This field is required and min length > 1."class="form-control" required>
                        </div>
                        <!-- file upload -->
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="inaugural-file" class="form-label fw-bold ">Upload documents</label>
                            <div class="d-flex">
                                <input type="file" name="inauguralFile" id="inaugural-file" data-validate="isEmpty,isExist,isFile"
                                    data-err-msg="File is required." class="form-control " id="upload" required>
                                <button class="download-btn" id="ProgramFile">
                                    <i class="fas fa-download text-danger"></i>
                                </button>
                            </div>
                        </div>
                        <!-- link -->
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="inaugural-program-link" class="form-label fw-bold">Link</label>
                            <input type="text" name="pada" id="inaugural-program-link" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="Link is required." class="form-control" required/>
                        </div>
                    </div>

                    <!-- Events at NMIMS -->
                    <div class="row">
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="event" class="form-label fw-bold">Events at NMIMS</label>
                            <input type="text" name="evnt" id="event" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="This field is required and min length > 1." class="form-control" required/>
                        </div>
                        <!-- file upload -->
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="event-file" class="form-label fw-bold ">Upload documents</label>
                            <div class="d-flex">
                                <input type="file" name="eventFile" id="event-file" class="form-control" data-validate="isEmpty,isExist,isFile"
                                    data-err-msg="File is required." id="upload" required>
                                <button class="download-btn" id="nmimsEventFile">
                                    <i class="fas fa-download text-danger"></i>
                                </button>
                            </div>
                        </div>
                        <!-- link -->
                        <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                            <label for="event-link" class="form-label fw-bold">Link</label>
                            <input type="text" name="eventLink" id="event-link" class="form-control" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="Link is required." required/>
                        </div>
                    </div>
            </div>
            <!-- footer button -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary d-none" id="submit-btn">Submit</button>
                <button type="button" class="btn btn-primary d-none" id="update-btn">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- Meeting stack holder view-modal -->
<div class="modal fade " id="meeting-excellance-view-modal" tabindex="-1" role="dialog" aria-labelledby="meeting-execellance"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content validate-input">
            <div class="modal-header">
                <h5 class="modal-title" id="meeting-stackholders">MEETING STACKHOLDERS </h5>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Ranking -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> Ranking:</div>
                            <label class="view-content" id="view-ranking"></label>
                        </div>
                    </div>
                    <!-- file -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">
                                <button class="btn btn-primary h-10 w-10" id="rankingFile">
                                    <i class="fas fa-download text-danger"></i> Ranking Documents
                                </button>
                            </div>
                            <label class="view-content" id="view-ranking-file"></label>
                        </div>
                    </div>
                    <!--  link -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Link :</div>
                            <label class="view-content" id="view-ranking-link"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Accreditation-->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> Accreditation :</div>
                            <label class="view-content" id="view-accreditation"></label>
                        </div>
                    </div>
                    <!--   file -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">
                                <button class="btn btn-primary h-10 w-10" id="accreditationDataFile">
                                    <i class="fas fa-download text-danger"></i> Accreditation Documents
                                </button>
                            </div>
                            <label class="view-content" id="view-accreditation-file"></label>
                        </div>
                    </div>
                    <!-- ACCREDITATION link -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">LINK :</div>
                            <label id="view-accreditation-link"></label>
                        </div>
                    </div>
                </div>
                <!-- School/Campus Achievements -->
                <div class="row">
                    <!-- School/Campus Achievements -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">School/Campus Achievements:</div>
                            <label class="view-content" id="view-achievement"></label>
                        </div>
                    </div>
                    <!-- School/Campus Achievements file -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">
                                <button class="btn btn-primary h-10 w-10" id="schoolFile">
                                    <i class="fas fa-download text-danger"></i> School/Campus Achievements
                                </button>
                            </div>
                            <label class="view-content" id="view-achievement-file"></label>
                        </div>
                    </div>
                    <!--School/Campus Achievements LINK -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Link :</div>
                            <label class="view-content" id="view-achievement-link"></label>
                        </div>
                    </div>
                </div>
                <!-- Convocation at NMIMS -->
                <div class="row">
                    <!-- Convocation at NMIMS -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> Convocation at NMIMS  :</div>
                            <label class="view-content" id="view-convocation"></label>
                        </div>
                    </div>
                    <!--Convocation at NMIMS file -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">  <button class="btn btn-primary h-10 w-10" id="convocationDocuments">
                                <i class="fas fa-download text-danger"></i> Convocation at NMIMS File
                            </button>
                        </div>
                            <label class="view-content" id="view-convocation-file"></label>
                        </div>
                    </div>
                    <!-- Convocation at NMIMS link -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Link:</div>
                            <label class="view-content" id="view-convocation-link"></label>
                        </div>
                    </div>
                </div>
                <!-- Inaugural Program at NMIMS -->
                <div class="row">
                    <!-- Inaugural Program at NMIMS -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Inaugural Program at NMIMS :</div>
                            <label class="view-content" id="view-inaugural"></label>
                        </div>
                    </div>
                    <!-- Inaugural Program at NMIMS file -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                                <div class="task-sub-title sub-title-text">
                                    <button class="btn btn-primary h-10 w-10" id="ProgramFile">
                                        <i class="fas fa-download text-danger"></i> Convocation at NMIMS File
                                    </button>
                                </div>
                            <label class="view-content" id="view-inaugural-file"></label>
                        </div>
                    </div>
                    <!-- Inaugural Program at NMIMS link -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Link :</div>
                            <label class="view-content" id="view-inaugural-link"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <!-- Events at NMIMS -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Events at NMIMS :</div>
                            <label class="view-content" id="view-events"></label>
                        </div>
                    </div>
                    <!-- Events at NMIMS file -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">
                                <button class="btn btn-primary h-10 w-10" id="nmimsEventFile">
                                    <i class="fas fa-download text-danger"></i> Convocation at NMIMS File
                                </button>
                            </div>
                            <label class="view-content" id="view-events-file"></label>
                        </div>
                    </div>
                    <!-- Events at NMIMS link-->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Link :</div>
                            <label class="view-content" id="view-events-link"></label>
                        </div>
                    </div>
                </div>
                </div>
            <!-- footer button -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- inline javascript -->
<script>
    //   for index icrement
    const rowCount = document.getElementById('row-count');
    let rowIndex = rowCount.innerText;
    let indexValue = parseInt(rowIndex, 10);
    const meetingSatckholdersAddModal = document.getElementById('meeting-stackholders-add-modal');
    const meetingStackholdersList = document.getElementById('meeting-stackholders-list')
    const submitBtn = document.getElementById('submit-btn');
    const updateBtn = document.getElementById('update-btn');
    let rankingFile = document.getElementById('rankingFile');
    let accreditationDataFile = document.getElementById('accreditationDataFile');
    let schoolFile = document.getElementById('schoolFile');
    let convocationDocuments = document.getElementById('convocationDocuments');
    let ProgramFile = document.getElementById('ProgramFile');
    let nmimsEventFile = document.getElementById('nmimsEventFile');
    let meetingId, meetingRowToBeUpdated;
    meetingSatckholdersAddModal.addEventListener('click', (event) => {
        if (event.target.tagName === 'BUTTON' && event.target.classList.contains('add-modal') || event.target.classList.contains('plus')) {
            // for button visualization
            submitBtn.classList.remove('d-none');
            updateBtn.classList.add('d-none');
            rankingFile.classList.add('d-none');
            accreditationDataFile.classList.add('d-none');
            schoolFile.classList.add('d-none');
            convocationDocuments.classList.add('d-none');
            ProgramFile.classList.add('d-none');
            nmimsEventFile.classList.add('d-none');

            const ranking = document.getElementById('ranking');
            const rankingLink = document.getElementById('ranking-link');
            const accreditation = document.getElementById('accreditation');
            const accreditationLink = document.getElementById('accreditation-link');
            const achievements = document.getElementById('achievements');
            const achievementsLink = document.getElementById('achievements-link');
            const convocation = document.getElementById('convocation');
            const convocationLink = document.getElementById('convocation-link');
            const inauguralProgram = document.getElementById('inaugural-program');
            const inauguralProgramLink = document.getElementById('inaugural-program-link');
            const events = document.getElementById('event');
            const eventsLink = document.getElementById('event-link');
            const rankingDocuments = document.querySelector('input[name="rankingDocuments"]');
            const accreditationFile = document.querySelector('input[name="accreditationFile"]');
            const achievementsFile = document.querySelector('input[name="achievementsFile"]');
            const convocationFile = document.querySelector('input[name="convocationFile"]');
            const inauguralProgramFile = document.querySelector('input[name="inauguralFile"]');
            const eventFile = document.querySelector('input[name="eventFile"]');

            // making input file empty
            ranking.value = '';
            rankingLink.value = '';
            accreditation.value = '';
            accreditationLink.value = '';
            achievements.value = '';
            achievementsLink.value = '';
            convocation.value = '';
            convocationLink.value = '';
            inauguralProgram.value = '';
            inauguralProgramLink.value = '';
            events.value = '';
            eventsLink.value = '';
            rankingDocuments.value = '';
            accreditationFile.value = '';
            achievementsFile.value = '';
            convocationFile.value = '';
            inauguralProgramFile.value = '';
            eventFile.value = '';
        }
    })

    const insertMeetingStackholders = async (url) => {
        const meetingStackholdersData = new FormData();
        const rankingDocuments = document.querySelector('input[name="rankingDocuments"]');
        const accreditationFile = document.querySelector('input[name="accreditationFile"]');
        const achievementsFile = document.querySelector('input[name="achievementsFile"]');
        const convocationFile = document.querySelector('input[name="convocationFile"]');
        const inauguralProgramFile = document.querySelector('input[name="inauguralFile"]');
        const eventFile = document.querySelector('input[name="eventFile"]');
        const ranking = document.getElementById('ranking').value;
        const rankingLink = document.getElementById('ranking-link').value;
        const accreditation = document.getElementById('accreditation').value;
        const accreditationLink = document.getElementById('accreditation-link').value;
        const achievements = document.getElementById('achievements').value;
        const achievementsLink = document.getElementById('achievements-link').value;
        const convocation = document.getElementById('convocation').value;
        const convocationLink = document.getElementById('convocation-link').value;
        const inauguralProgram = document.getElementById('inaugural-program').value;
        const inauguralProgramLink = document.getElementById('inaugural-program-link').value;
        const events = document.getElementById('event').value;
        const eventsLink = document.getElementById('event-link').value;

        meetingStackholdersData.append('rankingDocuments', rankingDocuments.files[0]);
        meetingStackholdersData.append('accreditationFile', accreditationFile.files[0]);
        meetingStackholdersData.append('achievementsFile', achievementsFile.files[0]);
        meetingStackholdersData.append('convocationFile', convocationFile.files[0]);
        meetingStackholdersData.append('inauguralProgramFile', inauguralProgramFile.files[0]);
        meetingStackholdersData.append('eventFile', eventFile.files[0]);
        meetingStackholdersData.append('ranking', ranking);
        meetingStackholdersData.append('rankingLink', rankingLink);
        meetingStackholdersData.append('accreditation', accreditation)
        meetingStackholdersData.append('accreditationLink', accreditationLink);
        meetingStackholdersData.append('achievements', achievements);
        meetingStackholdersData.append('achievementsLink', achievementsLink);
        meetingStackholdersData.append('convocation', convocation)
        meetingStackholdersData.append('convocationLink', convocationLink);
        meetingStackholdersData.append('inauguralProgram', inauguralProgram)
        meetingStackholdersData.append('inauguralProgramLink', inauguralProgramLink);
        meetingStackholdersData.append('events', events);
        meetingStackholdersData.append('eventsLink', eventsLink);

        fetch(url, {
            method: 'POST',
            body: meetingStackholdersData
        })
            .then((result) => {
                return result.json()
            })
            .then((data) => {
                if (data.status === 'done') {
                    console.log('data ==>', data);
                    const newMeeting = document.createElement('tr');
                    newMeeting.setAttribute('data-ranking-documents', data.rankingDocuments[0].filename);
                    newMeeting.setAttribute('data-accreditation-documents', data.accreditationFile[0].filename);
                    newMeeting.setAttribute('data-achievements-documents', data.achievementsFile[0].filename);
                    newMeeting.setAttribute('data-convocation-documents', data.convocationFile[0].filename);
                    newMeeting.setAttribute('data-inaugural-program-documents', data.inauguralProgramFile[0].filename);
                    newMeeting.setAttribute('data-events-documents', data.eventFile[0].filename);
                    newMeeting.setAttribute('data-ranking-link', data.meetingData.rankingLink);
                    newMeeting.setAttribute('data-accreditation-link', data.meetingData.accreditationLink);
                    newMeeting.setAttribute('data-achievements-link', data.meetingData.achievementsLink);
                    newMeeting.setAttribute('data-convocation-link', data.meetingData.convocationLink);
                    newMeeting.setAttribute('data-inaugural-program-link', data.meetingData.inauguralProgramLink);
                    newMeeting.setAttribute('data-events-link', data.meetingData.eventsLink);

                    newMeeting.innerHTML = `
                    <td >${indexValue}</td>
                    <td class="ranking">${data.meetingData.ranking}</td>
                    <td class="accreditation">${data.meetingData.accreditation}</td>
                    <td class="convocation">${data.meetingData.convocation}</td>
                    <td class="achievements">${data.meetingData.achievements}</td>
                    <td class="inaugural-program">${data.meetingData.inauguralProgram}</td>
                    <td class="events">${data.meetingData.events}</td>
                    <td>
                        <label class="view" data-meeting-id="${data.meetingId}"><i class="fa-solid fa-eye view text-danger"
                            data-meeting-id="${data.meetingId}"></i></label>
                        <label class="edit" data-meeting-id="${data.meetingId}"><i class="fa fa-edit edit text-danger"
                            data-meeting-id="${data.meetingId}"></i></label>
                        <label class="delete" data-meeting-id="${data.meetingId}"><i class="fa-solid fa-trash delete text-danger"
                            data-meeting-id="${data.meetingId}"></i></label>
                    </td>`;

                    meetingStackholdersList.appendChild(newMeeting);
                }
                $('#meeting-stackholders-modal').modal('hide');
                alert('Data Inserted Successfully');
            })
    }

    submitBtn.addEventListener('click', async () => {
        const isValid = validateRequiredFormFields(submitBtn);
        if (isValid) {
            await insertMeetingStackholders('<%- BASE_URL %>meeting-stackholders/insert');
            indexValue += 1;
            console.log('data inserted successfully');
        }
        else {
            console.log('validation failed');
        }
    });

    meetingStackholdersList.addEventListener('click', (event) => {
        // for delete
        if (event.target.classList.contains('delete')) {
            console.log('clickeddd');
            const meetingRowToBeDeleted = event.target.closest('tr');
            meetingId = event.target.getAttribute('data-meeting-id');
            let confirmDelete = confirm("Do you want to delete the Meeting Stackholder?");
            if(!confirmDelete) {
                return;
            }
            fetch('<%- BASE_URL %>meeting-stackholders/delete', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({ meetingId })
            })
                .then((result) => {
                    return result.json()
                })
                .then((data) => {
                    if (data.status === 'done') {
                        console.log('data ==>>', data);
                        meetingRowToBeDeleted.remove();
                        location.reload();
                    }
                })
        }
        // for view
        if (event.target.classList.contains('view')) {
            console.log('clcikedd');
            const meetingRowToBeViewed = event.target.closest('tr');
            meetingId = event.target.getAttribute('data-meeting-id');
            console.log('meetingId', meetingId);
            console.log('meetingRowToBeViewed ==>>>', meetingRowToBeViewed)
            let rankingDocuments = meetingRowToBeViewed.getAttribute('data-ranking-documents');
            console.log('rankingDocuments ==>>', rankingDocuments)
            let accreditationFile = meetingRowToBeViewed.getAttribute('data-accreditation-documents');
            let achievementsFile = meetingRowToBeViewed.getAttribute('data-achievements-documents');
            let convocationFile = meetingRowToBeViewed.getAttribute('data-convocation-documents');
            let inauguralProgramFile = meetingRowToBeViewed.getAttribute('data-inaugural-program-documents');
            let eventFile = meetingRowToBeViewed.getAttribute('data-events-documents');

             const buttonToFile = {
                rankingFile: rankingDocuments,
                accreditationDataFile: accreditationFile,
                schoolFile: achievementsFile,
                convocationDocuments: convocationFile,
                ProgramFile: inauguralProgramFile,
                nmimsEventFile: eventFile
            }
                  console.log('buttonToFile ===>>:', buttonToFile);
                  document.addEventListener('click', function (event) {
                    console.log('Clicked');
                    const button = event.target.closest('button');
                    console.log('Button:', button);
                    if (button && button.id in buttonToFile) {
                        const fileName = buttonToFile[button.id];
                        console.log('FileName:', fileName);

                        const fileUrl = `<%- BASE_URL %>meeting-stackholders/download/${fileName}`;
                        console.log('FileUrl:', fileUrl);

                        downloadFile(fileName, fileUrl);
                    }
                });

            const viewRankingDocuments = document.getElementById('view-ranking-file');
            const viewAccreditationFile = document.getElementById('view-accreditation-file');
            const viewAchievementsFile = document.getElementById('view-achievement-file');
            const viewConvocationFile = document.getElementById('view-convocation-file');
            const viewInauguralProgramFile = document.getElementById('view-inaugural-file');
            const viewEventFile = document.getElementById('view-events-file');
            const viewranking = document.getElementById('view-ranking');
            const viewrankingLink = document.getElementById('view-ranking-link');
            const viewAccreditation = document.getElementById('view-accreditation');
            const viewAccreditationLink = document.getElementById('view-accreditation-link');
            const viewAchievements = document.getElementById('view-achievement');
            const viewAchievementsLink = document.getElementById('view-achievement-link');
            const viewConvocation = document.getElementById('view-convocation');
            const viewConvocationLink = document.getElementById('view-convocation-link');
            const viewInauguralProgram = document.getElementById('view-inaugural');
            const viewInauguralProgramLink = document.getElementById('view-inaugural-link');
            const viewEvents = document.getElementById('view-events');
            const viewEventsLink = document.getElementById('view-events-link');

            fetch('<%- BASE_URL %>meeting-stackholders/view', {
                method: 'POST',
                headers: {
                    'content-type': 'application/json'
                },
                body: JSON.stringify({ meetingId })
            })
                .then((result) => {
                    return result.json()
                })
                .then((data) => {
                    if (data.status === 'done') {
                        console.log('data', data);

                        viewRankingDocuments.innerText = data.meetingStackholderView.ranking_documents;
                        viewAccreditationFile.innerText = data.meetingStackholderView.accreditation_documents;
                        viewAchievementsFile.innerText = data.meetingStackholderView.achievements_documents;
                        viewConvocationFile.innerText = data.meetingStackholderView.convocation_documents;
                        viewInauguralProgramFile.innerText = data.meetingStackholderView.inaugural_program_documents;
                        viewEventFile.innerText = data.meetingStackholderView.events_documents;
                        viewranking.innerText = data.meetingStackholderView.ranking;
                        viewrankingLink.innerText = data.meetingStackholderView.ranking_link;
                        viewAccreditation.innerText = data.meetingStackholderView.accreditation;
                        viewAccreditationLink.innerText = data.meetingStackholderView.accreditation_link;
                        viewAchievements.innerText = data.meetingStackholderView.school_campus_achievements;
                        viewAchievementsLink.innerText = data.meetingStackholderView.achievements_link;
                        viewConvocation.innerText = data.meetingStackholderView.convocation;
                        viewConvocationLink.innerText = data.meetingStackholderView.convocation_link;
                        viewInauguralProgram.innerText = data.meetingStackholderView.inaugural_program;
                        viewInauguralProgramLink.innerText = data.meetingStackholderView.inaugural_program_link;
                        viewEvents.innerText = data.meetingStackholderView.events
                        viewEventsLink.innerText = data.meetingStackholderView.events_link;

                    }
                })
            $('#meeting-excellance-view-modal').modal('show');
        }
        
        if (event.target.classList.contains('edit')) {
            console.log('clcikeddd');
            removeErrorMsg();
            submitBtn.classList.add('d-none');
            updateBtn.classList.remove('d-none');
            rankingFile.classList.remove('d-none');
            accreditationDataFile.classList.remove('d-none');
            schoolFile.classList.remove('d-none');
            convocationDocuments.classList.remove('d-none');
            ProgramFile.classList.remove('d-none');
            nmimsEventFile.classList.remove('d-none');
            meetingRowToBeUpdated = event.target.closest('tr');
            meetingId = event.target.getAttribute('data-meeting-id');
            console.log('meetingId ::', meetingId);
            const ranking = document.getElementById('ranking');
            const rankingLink = document.getElementById('ranking-link');
            console.log('rankingLink ==>>', rankingLink)
            const accreditation = document.getElementById('accreditation');
            const accreditationLink = document.getElementById('accreditation-link');
            const achievements = document.getElementById('achievements');
            const achievementsLink = document.getElementById('achievements-link');
            const convocation = document.getElementById('convocation');
            const convocationLink = document.getElementById('convocation-link');
            const inauguralProgram = document.getElementById('inaugural-program');
            const inauguralProgramLink = document.getElementById('inaugural-program-link');
            const events = document.getElementById('event');
            const eventsLink = document.getElementById('event-link');


            // assigning with acutual value
            ranking.value = meetingRowToBeUpdated.querySelector('.ranking').innerText;
            accreditation.value = meetingRowToBeUpdated.querySelector('.accreditation').innerText;
            achievements.value = meetingRowToBeUpdated.querySelector('.achievements').innerText;
            convocation.value = meetingRowToBeUpdated.querySelector('.convocation').innerText;
            inauguralProgram.value = meetingRowToBeUpdated.querySelector('.inaugural-program').innerText;
            events.value = meetingRowToBeUpdated.querySelector('.events').innerText;
            rankingLink.value = meetingRowToBeUpdated.getAttribute('data-ranking-link');
            accreditationLink.value = meetingRowToBeUpdated.getAttribute('data-accreditation-link');
            convocationLink.value = meetingRowToBeUpdated.getAttribute('data-convocation-link');
            achievementsLink.value = meetingRowToBeUpdated.getAttribute('data-achievements-link');
            console.log('achievementsLink ===>>>>', achievementsLink.value)
            inauguralProgramLink.value = meetingRowToBeUpdated.getAttribute('data-inaugural-program-link');
            eventsLink.value = meetingRowToBeUpdated.getAttribute('data-events-link');
            const rankingDocuments = meetingRowToBeUpdated.getAttribute('data-ranking-documents');
            const accreditationFile = meetingRowToBeUpdated.getAttribute('data-accreditation-documents');
            const achievementsFile = meetingRowToBeUpdated.getAttribute('data-achievements-documents');
            const convocationFile = meetingRowToBeUpdated.getAttribute('data-convocation-documents');
            const inauguralProgramFile = meetingRowToBeUpdated.getAttribute('data-inaugural-program-documents');
            const eventFile = meetingRowToBeUpdated.getAttribute('data-events-documents');
            const buttonToFile = {
                rankingFile: rankingDocuments,
                accreditationDataFile: accreditationFile,
                schoolFile: achievementsFile,
                convocationDocuments: convocationFile,
                ProgramFile: inauguralProgramFile,
                nmimsEventFile: eventFile
            }
                  console.log('buttonToFile ===>>:', buttonToFile);
                  document.addEventListener('click', function (event) {
                    console.log('Clicked');
                    const button = event.target.closest('button');
                    console.log('Button:', button);
                    if (button && button.id in buttonToFile) {
                        const fileName = buttonToFile[button.id];
                        console.log('FileName:', fileName);

                        const fileUrl = `<%- BASE_URL %>meeting-stackholders/download/${fileName}`;
                        console.log('FileUrl:', fileUrl);

                        downloadFile(fileName, fileUrl);
                    }
                });

            $('#meeting-stackholders-modal').modal('show');

        }
    })

    const updateMeetingStackholder = async(url) => {
        const updatedMeetingData = new FormData();
        let updatedRankingDocuments = document.querySelector('input[name="rankingDocuments"]');
        let updatedAccredItationFile = document.querySelector('input[name="accreditationFile"]');
        let updatedAchievementsFile = document.querySelector('input[name="achievementsFile"]');
        let updatedConvocationFile = document.querySelector('input[name="convocationFile"]');
        let updatedInauguralProgramFile = document.querySelector('input[name="inauguralFile"]');
        let updatedEventFile = document.querySelector('input[name="eventFile"]');
        const updatedRanking = document.getElementById('ranking').value;
        const updatedRankingLink = document.getElementById('ranking-link').value;
        const updatedAccredItation = document.getElementById('accreditation').value;
        const updatedAccredItationLink = document.getElementById('accreditation-link').value;
        const updatedAchievements = document.getElementById('achievements').value;
        const updatedAchievementsLink = document.getElementById('achievements-link').value;
        const updatedConvocation = document.getElementById('convocation').value;
        const updatedConvocationLink = document.getElementById('convocation-link').value;
        console.log('updatedConvocationLink', updatedConvocationLink)
        const updatedInauguralProgram = document.getElementById('inaugural-program').value;
        const updatedInauguralProgramLink = document.getElementById('inaugural-program-link').value;
        const updatedEvents = document.getElementById('event').value;
        const updatedEventsLink = document.getElementById('event-link').value;

        updatedMeetingData.append('meetingId', meetingId);
        if(updatedRankingDocuments && updatedRankingDocuments.files && updatedRankingDocuments.files.length > 0){
            updatedMeetingData.append('rankingDocuments', updatedRankingDocuments.files[0]);
        }
        else{
            updatedRankingDocuments = null;
            updatedMeetingData.append('rankingDocuments', updatedRankingDocuments);
        }

        if(updatedAccredItationFile && updatedAccredItationFile.files && updatedAccredItationFile.files.length > 0){
            updatedMeetingData.append('accreditationFile', updatedAccredItationFile.files[0]);
        }
        else{
            updatedAccredItationFile = null;
            updatedMeetingData.append('accreditationFile', updatedAccredItationFile);
        } 

        if(updatedAchievementsFile && updatedAchievementsFile.files && updatedAchievementsFile.files.length > 0){
            updatedMeetingData.append('achievementsFile', updatedAchievementsFile.files[0]);
        } 
        else{
            updatedAchievementsFile = null;
            updatedMeetingData.append('achievementsFile', updatedAchievementsFile);
        }

        if(updatedConvocationFile && updatedConvocationFile.files && updatedConvocationFile.files.length > 0){
            updatedMeetingData.append('convocationFile', updatedConvocationFile.files[0]);
        }
        else{
            updatedConvocationFile = null;
            updatedMeetingData.append('convocationFile', updatedConvocationFile);
        }
        if(updatedInauguralProgramFile && updatedInauguralProgramFile.files && updatedInauguralProgramFile.files.length > 0){
            updatedMeetingData.append('inauguralProgramFile', updatedInauguralProgramFile.files[0]);
        }
        else{
            updatedInauguralProgramFile = null;
            updatedMeetingData.append('inauguralProgramFile', updatedInauguralProgramFile);
        }
        if(updatedEventFile && updatedEventFile.files && updatedEventFile.files.length > 0){
            updatedMeetingData.append('eventFile', updatedEventFile.files[0]);
        }
        else{
            updatedEventFile = null;
            updatedMeetingData.append('eventFile', updatedEventFile);
        }
        updatedMeetingData.append('ranking', updatedRanking);
        updatedMeetingData.append('rankingLink', updatedRankingLink);
        updatedMeetingData.append('accreditation', updatedAccredItation)
        updatedMeetingData.append('accreditationLink', updatedAccredItationLink);
        updatedMeetingData.append('achievements', updatedAchievements);
        updatedMeetingData.append('achievementsLink', updatedAchievementsLink);
        updatedMeetingData.append('convocation', updatedConvocation)
        updatedMeetingData.append('convocationLink', updatedConvocationLink);
        updatedMeetingData.append('inauguralProgram', updatedInauguralProgram)
        updatedMeetingData.append('inauguralProgramLink', updatedInauguralProgramLink);
        updatedMeetingData.append('events', updatedEvents);
        updatedMeetingData.append('eventsLink', updatedEventsLink);

        fetch(url, {
            method: 'POST',
            body: updatedMeetingData
        })
            .then((result) => {
                return result.json()
            })
            .then((data) => {

                if (data.status === 'done') {
                    console.log('data ==>>', data);
                    if(updatedRankingDocuments){
                        meetingRowToBeUpdated.setAttribute('data-ranking-document', data.rankingDocuments[0].filename);
                    }

                    if(updatedAccredItationFile){
                        meetingRowToBeUpdated.setAttribute('data-accreditation-documents', data.accreditationFile[0].filename);
                    }

                    if(updatedAchievementsFile){
                        meetingRowToBeUpdated.setAttribute('data-achievements-documents', data.achievementsFile[0].filename);
                    }

                    if(updatedConvocationFile){
                        meetingRowToBeUpdated.setAttribute('data-convocation-documents', data.convocationFile[0].filename);
                    }

                    if(updatedInauguralProgramFile){
                        meetingRowToBeUpdated.setAttribute('data-inaugural-program-documents', data.inauguralProgramFile[0].filename);
                    }

                    if(updatedEventFile){
                        meetingRowToBeUpdated.setAttribute('data-events-documents', data.eventFile[0].filename);
                    }
                    meetingRowToBeUpdated.setAttribute('data-ranking-link', data.updateMeetingData.rankingLink);
                    meetingRowToBeUpdated.setAttribute('data-accreditation-link', data.updateMeetingData.accreditationLink);
                    meetingRowToBeUpdated.setAttribute('data-achievements-link', data.updateMeetingData.achievementsLink);
                    meetingRowToBeUpdated.setAttribute('data-convocation-link', data.updateMeetingData.convocationLink);
                    meetingRowToBeUpdated.setAttribute('data-inaugural-program-link', data.updateMeetingData.inauguralProgramLink);
                    meetingRowToBeUpdated.setAttribute('data-events-link', data.updateMeetingData.eventsLink);
                    meetingRowToBeUpdated.querySelector('.ranking').innerText = data.updateMeetingData.ranking;
                    meetingRowToBeUpdated.querySelector('.accreditation').innerText = data.updateMeetingData.accreditation;
                    meetingRowToBeUpdated.querySelector('.achievements').innerText = data.updateMeetingData.achievements;
                    meetingRowToBeUpdated.querySelector('.convocation').innerText = data.updateMeetingData.convocation;
                    meetingRowToBeUpdated.querySelector('.inaugural-program').innerText = data.updateMeetingData.inauguralProgram;
                    meetingRowToBeUpdated.querySelector('.events').innerText = data.updateMeetingData.events;
                }
                $('#meeting-stackholders-modal').modal('hide');
                alert('Updated Successfully');
            })


    };

    updateBtn.addEventListener('click' , async() => {
        formGroup = updateBtn.closest('.validate-input')
        console.log("formGroup::::::::", formGroup)
        formGroup.querySelectorAll('input[type="file"]')?.forEach(elm => {
            console.log("elm:::::::::", elm);
            elm.removeAttribute('data-validate')
        })
        const isValid = validateRequiredFormFields(submitBtn);
        if (isValid) {
            await updateMeetingStackholder('<%- BASE_URL %>meeting-stackholders/update');
        }
        else {
            console.log('Validation Failed');
        }
    })

</script>
<!-- footer section -->
<%- include('./partials/pagination') %>
<%- include('./partials/footer') %>
<%- include('./partials/footer-end') %>
           