<%- include('./partials/head') %>
<!-- inline css -->

<!-- Navbar section -->
<%- include('./partials/header') %>
<!-- This is left sidebar  -->
<%- include('./partials/left-sidebar') %>
<main class="main" id="main-content">
    <div class="base-section coustom-section">
        <!--DASHBOARD CONTENT START-->
        <div class="errorHtml"></div>
        <div class="breadcrumbs-container">
            <ul class="breadcrumb">
                <li class="breadcrumb-link">
                    <a href="<%- BASE_URL %>research"> RESEARCH </a>
                </li>
                <li class="breadcrumb-link">SVKM's NMIMS Deemed to be University Mumbai</li>
            </ul>
        </div>
        <div>
            <div class="table-card-header text-uppercase d-flex align-items-center justify-content-between">
                <div>
                    <h5 class="pl-2">Consultancy Approval Form LIST</h5>
                </div>
                <div>
                    <button id="Consultancy-add-new-form" type="button" class="btn btn-primary add-modal"
                        data-toggle="modal" data-target="#consultancy-modal-form">
                        <i class="fas fa-plus plus"></i></button>
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <div class="d-flex justify-content-between">
                    <div>
                        <label>Show Entries</label>
                        <select class="form-select" id="changeEntry">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="250">250</option>
                            <option value="300">300</option>
                            <option value="350">350</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="800">800</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                    <div>
                        <div class="table-searchbar-container">
                            <button type="button" id="searchBtn"><i class="fas fa-search"></i></button>
                            <input type="search" id="searchKeyword" placeholder="Enter keywords"
                                class="table-searchbar">
                        </div>
                    </div>
                </div>
                <table class="table custom-table table-responsive research-pagination" id="approved-consultancy-form-data-list">
                    <thead>
                        <th class="col-lg-1">#</th>
                        <th class="col-lg-1">Faculty Name </th>
                        <th class="col-lg-1">Title</th>
                        <th class="col-lg-1">Year</th>
                        <th class="col-lg-1">Total Payment</th>
                        <th class="col-lg-1">Action</th>
                    </thead>
                    <% consultancyFormData.forEach(function(consultancyData , index) { %>
                        <tr data-consultancy-id="<%- consultancyData.consultancy_id %>"
                            data-faculty-id="<%- consultancyData.faculty_id %>" >
                            <td class="col-lg-1"><%- index + 1 %></td>
                            <td class="col-lg-1 faculty-name"><%- consultancyData.faculty_name %> </td>
                            <td class="col-lg-1 project-title"><%- consultancyData.title %></td>
                            <td class="col-lg-1 year"><%- consultancyData.year %></td>
                            <td class="col-lg-1 total-amount"><%- consultancyData.total_payment %></td>
                            <td class="col-lg-1">
                                <label class="view" data-consultancy-id="<%- consultancyData.consultancy_id %>"
                                    data-faculty-id="<%- consultancyData.faculty_id %>"><i
                                        class="fa-solid fa-eye view text-danger"
                                        data-consultancy-id="<%- consultancyData.consultancy_id %>"
                                        data-faculty-id="<%- consultancyData.faculty_id %>"></i></label>
                                <label class="edit" data-consultancy-id="<%- consultancyData.consultancy_id %>"><i
                                        class="fa fa-edit edit text-danger"
                                        data-consultancy-id="<%- consultancyData.consultancy_id %>"></i></label>
                                <label class="delete" data-consultancy-id="<%- consultancyData.consultancy_id %>"><i
                                        class="fa-solid fa-trash delete text-danger"
                                        data-consultancy-id="<%- consultancyData.consultancy_id %>"></i></label>
                            </td>
                        </tr>
                        <%}) %>

                </table>
                <div class="d-flex justify-content-between">
                    <div>
                        <label id="total-row-count">Total entries : <%- rowCount %> </label>
                        <label class="d-none" id="row-count"> <%- rowCount %></label>
                    </div>
                    <div>
                        <button id="prevBtn" class="btn btn-primary">Previous</button>
                        <button id="nextBtn" class="btn btn-primary">Next</button>
                        <p id="pagination" class="pagination-search"></p>
                    </div>
                </div>
                <!--Import Modal -->
                <div class="modal fade" id="open-program-modal" tabindex="-1" aria-labelledby="open-program-modal"
                    aria-hidden="true">
                </div>
                <!-- EDIT PROGRAM AND UPDATE -->
                <div class="modal fade" id="edit-program-modal" tabindex="-1" aria-labelledby="editModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel">Update Program</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div id="errorHtml"></div>
                            <div class="modal-body">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class=" sub-title">Program Name</label>
                                    <input type="text" class="form-control" id="program_name" name="program_name">
                                    <input type="hidden" class="form-control" id="hidden_id" name="hidden_id">
                                </div>
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class=" sub-title">Program Type</label>
                                    <select class="form-control" name="program_type_lid" id="program_type_lid">
                                        <option value="1">Full Time</option>
                                        <option value="2">Part Time</option>
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label for="abbr" class=" sub-title">Program Abbr</label>
                                    <input type="text" class="form-control" id="abbr" name="abbr">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary updateProgram">Update</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</main>
<div class="modal fade " id="consultancy-modal-form" tabindex="-1" role="dialog" aria-labelledby="consultancy-modal-form"
aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content modal-content-data validate-input">
            <div class="modal-header">
                <h5 class="modal-title" id="consultancyData-study">Consultancy Approval Form </h5>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times "></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- year -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="year" class=" sub-title fw-bold">Year </label>
                        <input type="number" name="year" id="year" data-validate="isEmpty,isNumber,isValidYear" data-err-msg="Year is required." class="form-control"  required/>
                    </div>
                    <!-- title -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="campus" class=" sub-title fw-bold"> Title(Brif) </label>
                        <input type="number" name="SchoolName" id="title" data-validate="isEmpty,isNotNumber,isExist,isNotSpecialChar" data-err-msg="This field is required and min length > 1." class="form-control"
                             required/>
                    </div>
                    <!-- Faculty ID -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="faculty-id" class=" sub-title fw-bold"> Faculty ID </label>
                        <input type="text" name="faculty-id" id="faculty-id" data-validate="isEmpty,isNotNumber,isExist,isNotSpecialChar" data-err-msg="This field is required and min length > 1." class="form-control"
                             required/>
                    </div>
                    <!--Date of Commencement-->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="commencement-date" class=" sub-title fw-bold"> Date of Commencement </label>
                        <input type="Date" name="policy-cadre" id="commencement-date" data-validate="isEmpty,isExist" data-err-msg="Date is requird." class="form-control"
                             required />
                    </div>
                    <!-- Date of Completion -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="completion-date" class=" sub-title fw-bold">Date of Completion</label>
                        <input type="date" name="completion-date" id="completion-date" data-validate="isEmpty,isExist" data-err-msg="Date is requird." class="form-control" required>
                    </div>
                    <!-- Days -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="days" class=" sub-title fw-bold">Days/Sessions</label>
                        <input type="number" name="days" id="no-of-session" data-validate="isEmpty,isNumber" data-err-msg="Numeric value is required." class="form-control"
                            required>
                    </div>

                    <!-- Sessions -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="sessions" class=" sub-title fw-bold">Fee per Day/Session	(Rs.)</label>
                        <input type="number" name="sessions" id="sessions-fees" data-validate="isEmpty,isNumber" data-err-msg="Numeric value is required." class="form-control"
                            required>
                    </div>

                    <!-- Total Fess -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="total-fees" class=" sub-title fw-bold">Total Fees</label>
                        <input type="number" name="total-fees" id="total-fees" data-validate="isEmpty,isNumber" data-err-msg="Numeric value is required." class="form-control"
                            required>
                    </div>
                    <!-- Gross Fees -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="gross-fees" class=" sub-title fw-bold">(a) Gross Fees</label>
                        <input type="number" name="gross-fees" id="gross-fees" data-validate="isEmpty,isNumber"  data-err-msg="Numeric value is required." class="form-control"
                        required>
                    </div>

                    <!-- Faculty Share -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="total-fees" class=" sub-title fw-bold">Faculty Share 70%(a)</label>
                        <input type="text" name="total-fees" id="faculty-share" data-validate="isEmpty,isExist" data-err-msg="Value is required." class="form-control"
                            readonly value="70%">
                    </div>
                    <!-- NMIMS Share -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="NMIMSAuthors" class=" sub-title fw-bold">NMIMS Share 30%(a)</label>
                        <input type="text" name="volumes" id="nmims-share" data-validate="isEmpty,isExist" data-err-msg="Value is required." class="form-control"
                             readonly value="30%">
                    </div>
                    <!-- Details of Distribution of Faculty Share (if more than one faculty) -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="journalName" class=" sub-title fw-bold">Details of Distribution of Faculty Share (if more than one faculty)</label>
                        <table class="table">
                            <tbody id="dynamic-rows">
                                <!-- Dynamic rows will be added here -->
                            </tbody>
                        </table>
                        <button id="add-row-button">Add More Details</button>
                    </div>
                     
                    <!-- Research Staff Expenses -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="research-staff-expenses" class=" sub-title fw-bold">(b) Research Staff Expenses </label>
                        <input type="number" name="research-staff-expenses" id="research-staff-expenses" data-validate="isEmpty,isNumber"  data-err-msg="Numeric value is required." class="form-control"
                        required>
                    </div>
                    <!-- travel-->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="travel" class=" sub-title fw-bold">(C) Travel</label>
                        <input type="number" name="travel" id="travel" data-validate="isEmpty,isNumber" data-err-msg="Numeric value is required" class="form-control"
                             required>
                    </div>
                    <!-- (d) Computer Charges/Printing/publication/Editing/Communication/Consumables -->
                    <div class="form-group">
                        <label for="computer-charges" class=" sub-title fw-bold"> (d) Computer Charges/Printing/publication/Editing/Communication/Consumables </label>
                        <input type="number" name="computer-charges" id="computer-charges" data-validate="isEmpty,isNumber" data-err-msg="This field is required and min length > 1." class="form-control" required/>
                    </div>
                    <!-- (e) Charges for NMIMS Facilities (Class-room, Conference room), if applicable: -->
                    <div class="form-group">
                        <label for="facility-charges" class=" sub-title fw-bold">(e) Charges for NMIMS Facilities (Class-room, Conference room), if applicable:</label>
                        <input type="number" name="facility-charges" id="facility-charges"  data-validate="isEmpty,isNumber" data-err-msg="Numeric value is required." class="form-control" required/>
                    </div>
                    <!-- (f) Miscellaneous including Contingency-->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="miscellaneous-contingency" class=" sub-title fw-bold">(f) Miscellaneous including Contingency</label>
                        <input type="number" name="miscellaneous-contingency" id="miscellaneous-contingency" class="form-control" data-validate="isEmpty,isNumber" data-err-msg="Numeric value is required."  required>
                    </div>
                     <!-- Final Payment -->
                     <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="final-payment" class=" sub-title fw-bold">Final Payment </label>
                        <input type="number" name="final-payment" id="final-payment"  class="form-control" data-validate="isEmpty,isNumber" data-err-msg="Numeric value is required" required>
                    </div>
                      <!-- Advance Payment. -->
                      <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="advance-payment" class=" sub-title fw-bold">Advance Payment.</label>
                        <input type="number" name="advance-payment" id="advance-payment" class="form-control" data-validate="isEmpty,isNumber" data-err-msg="Numeric value is required." required>
                    </div>

                </div>
            </div>
            
            <!-- Add your modal footer buttons if needed -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-md btn-primary submit-btn d-none" id="submit-btn">Submit</button>
                <button class="btn btn-md btn-primary update-btn d-none" id="update-btn">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- modal form for view -->
<div class="modal fade " id="approoved-form-data" tabindex="-1" role="dialog" aria-labelledby="approoved-form-data"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content modal-content-data">
            <div class="modal-header">
                <h4 class="modal-title" id="journal-paper-title">Consultancy Approved Form</h4>
                <div class="close" data-dismiss="modal" aria-label="Close">
                    <span type="button" aria-hidden="true"><i class="fas fa-times "></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row justify-content-md-center">
                        <div class="row">
                            <div class="col  sub-title">
                                This form is for internal use only. It should be filled out and sent to the Dean/Director for
                                approval
                            </div>
                            <div class="col col-lg-2">
                                <label for="" class=" sub-title"> Year:</label>
                                <label class="view-content" id="view-year"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr style="color: black;">
                <table class="table table-bordered">
                    <tbody>
                        <tr>
                            <td class="sub-title-text sub-title text-start col-lg-6">Title (Brief)</td>
                            <td class="view-content col-lg-6" id="view-title">Doe</td>
                        </tr>
                        <tr>
                            <td class=" sub-title text-start col-lg-6  sub-title-text">Name of Faculty</td>
                            <td class="view-content col-lg-6" id="view-faculty-name">Doe</td>
                        </tr>
                        <tr>
                            <td class=" sub-title text-start col-lg-6 sub-title-text">Designation and address of Contact Person for Client</td>
                            <td class="view-content col-lg-6" id="view-facult-details">Doe</td>
                        </tr>
                        <tr>
                            <td class="col-lg-6 text-start">
                                <label for="" class=" sub-title text-start sub-title-text">Date of Commencement : </label>
                                <label class="view-content ps-4" id="view-commencement-date">10-02-2024</label>
                            </td>
                            <td class=" col-lg-6 text-start">
                                <label for="" class="sub-title sub-title-text">Date of Completion : </label>
                                <label class="view-content ps-4" id="view-completion-date">10-02-2024</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class=" sub-title text-start fw-bold">BUDGET</div>
                <hr>
                <table class="table table-bordered">
                    <thead>
                        <th class=" sub-title col-lg-3"></th>
                        <th class=" sub-title col-lg-3">Days/Sessions</th>
                        <th class=" sub-title col-lg-3">Fee per Day/Session (Rs).</th>
                        <th class=" sub-title col-lg-3">Total Fee (Rs.)</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td class=" sub-title col-lg-3"></td>
                            <td class=" sub-title col-lg-4">
                                <label for="" class="view-content" id="view-days">10 / </label>
                                <label for="" class="view-content" id="view-sessions">20</label>
                            </td>
                            <td class="view-content" id="view-per-session-fees">500</td>
                            <td class="view-content" id="view-total-amount">15000</td>
                        </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <tr>
                        <td class=" sub-title col-lg-4 text-start" id="view-gross-fees">(a) Gross Fees</td>
                        <td for="" class="view-content col-lg-4" id="view-gross-fees">15000</td>
                    </tr>
                    <tr>
                        <td class=" sub-title col-lg-4 text-start">Faculty Shares (70% a)</td>
                        <td class="view-content col-lg-4" id="view-faculty-shares"></td>
                
                    </tr>
                    <tr>
                        <td class=" sub-title col-lg-4 text-start">NMIMS Share(30% a)</td>
                        <td class="view-content col-lg-4" id="view-nmims-shares"></td>
                    </tr>
                        <tr>
                        <th class=" sub-title col-lg-8 text-start">Details of Distribution of Faculty Share (if more than one faculty)</th>
                        <th class=" sub-title col-lg-4">Fees(Rs.)</th>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class=" sub-title col-lg-4 text-start">(b) Research Staff Expenses</td>
                        <td class="view-content col-lg-4" id="view-research-staff-expenses"></td>
                    </tr>
                    <tr>
                        <td class=" sub-title col-lg-4 text-start">(c) Travel </td>
                        <td class="view-content col-lg-4" id="view-research-staff-expenses"></td>
                    </tr>
                    <tr>
                        <td class=" sub-title col-lg-8 text-start">(d) Computer Charges/Printing/publication/Editing/Communication/Consumables </td>
                        <td class="view-content col-lg-4" id="view-computer-expenses"></td>
                    </tr>
                    <tr>
                        <td class=" sub-title col-lg-8 text-start">(e) Charges for NMIMS Facilities (Class-room, Conference room), if applicable	 </td>
                        <td class="view-content col-lg-4" id="view-nmims-facility-charges"></td>
                    </tr>
                    <tr>
                        <td class=" sub-title col-lg-8 text-start">(f) Miscellaneous including Contingency</td>
                        <td class="view-content col-lg-4" id="view-miscellaneous-charges"></td>
                    </tr>
                    <tr>
                        <td class=" sub-title col-lg-8 text-start fw-bold">Total (a to f)</td>
                        <td class="view-content col-lg-4" id="view-total-charges-a-to-f"></td>
                    </tr>
                    <tr>
                        <td class=" sub-title col-lg-8 text-start">GST as per Government Rules (if consulting is routed through NMIMS)</td>
                        <td class="view-content col-lg-4" id="view-gst-charges"></td>
                    </tr>

                    <tr>
                        <td class=" sub-title col-lg-8 text-start fw-bold">Grand Total</td>
                        <td class="view-content col-lg-4" id="view-grand-total"></td>
                    </tr>
                    <tr>
                        <td class=" sub-title col-lg-4 text-start">Payment Schedule as discussed and agreed with the clinet</td>
                        <td class="view-content col-lg-8" id="view-grand-total">
                            <table class="table">
                                <thead>
                                  <tr>
                                    <td class=" sub-title col-lg-8 text-start">Advance Payment</td>
                                    <td class="col-lg-8" id="view-advanced-payment">5000</td>
                                  </tr>
                                </thead>
                                <thead>
                                    <tr>
                                        <td class=" sub-title col-lg-8 text-start">Final Payment</td>
                                        <td class="col-lg-8" id="view-final-payment">5000</td>
                                    </tr>
                                  </thead>
                                  <thead>
                                    <tr>
                                        <td class=" sub-title col-lg-8 text-start">Total Payment</td>
                                        <td class="col-lg-8" id="view-total-payment">5000</td>
                                    </tr>
                                  </thead>
                              </table>
                        </td>
                    </tr>
                    
                </table>
                <div class="row">
                <div class="col-lg-8">
                    <div class="box">
                        <div class=" sub-title">Faculty Coordinator :</div>
                        <label class="view-content" id="view-coordinator-faculty">Ankit</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="box">
                        <div class=" sub-title">Vice Chancellor :</div>
                        <label class="view-content" id="view-coordinator-faculty">Ankit Kumar Mishra</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8">
                    <div class="d-flex">
                        <div class=" sub-title">Date : </div>
                        <label class="view-content pl-4" id="view-coordinator-faculty" >10-02-2024</label>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="d-flex">
                        <div class=" sub-title">Date :</div>
                        <label class="view-content pl-4" id="view-coordinator-faculty">10-02-2024</label>
                    </div>
                </div>
            </div>
            </div>

            


           
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('add-row-button').addEventListener('click', function () {
        addRow();
    });

    function addRow() {
        const dynamicRows = document.getElementById('dynamic-rows');

        const newRow = document.createElement('tr');
        newRow.innerHTML = `
        <td><input type="text" class="input-field" ></td>
        <td><input type="number" class="input-field"></td>
    `;
        dynamicRows.appendChild(newRow);
    }

    const approvedFormList = document.getElementById('approved-consultancy-form-data-list');
    approvedFormList.addEventListener('click' , (event) => {
        if(event.target.classList.contains('view')){
            console.log('clickedddd in view ');
            $('#approoved-form-data').modal('show');
            const consultancyFormRow = event.target.closest('tr');
            console.log('consultancyFormRow ====>>>>>', consultancyFormRow);
            const nmimsConsultancyFormId = consultancyFormRow.getAttribute('data-consultancy-id');
            console.log('nmimsConsultancyFormId ===>>>>', nmimsConsultancyFormId);

            fetch('<%- BASE_URL %>research/NMIMS-consultancy-form/view' , {
                method: 'POST',
                    headers: {
                        'content-type': 'application/json'
                    },
                    body: JSON.stringify({nmimsConsultancyFormId}
                         )
            })
            .then((Response) => {
                return Response.ok ? Response.json() : "Network response was not okk"
            })
            .then((data) => {
                if(data.status === "Done"){
                    console.log('data ===>>>>>', data)
                }
            })
            
        }
    })


</script>

<%- include('./partials/pagination') %>
<%- include('./partials/footer') %>
<%- include('./partials/footer-end') %>
  
