<%- include('./partials/head') %>
<!-- inline css -->
<style>
    .custom-modal {
     max-width: 1000px;
     max-height: 800px;
 }
 .sub-title-text{
     font-size: 15px;
     font-weight:500;
 }
</style>
<!-- Navbar section -->
<%- include('./partials/header') %>

<!-- This is left sidebar  -->
<%- include('./partials/left-sidebar') %>

<main class="main" id="mainContent">
    <div class="base-section custom-section mt-5 p-5 ">
        <!--DASHBOARD CONTENT START-->
        <div class="breadcrumbs-container">
        </div>
        <div class="errorHtml"></div>
        <div class="card table-card">
            <div class="card-header table-card-header text-upperpatent d-flex align-items-center justify-content-between">
                <div>
                    <h5>RESEARCH PROJECT CONSULTANCY</h5>
                </div>
                <div class="me-2">
                    <button id="add-research-project-consultancy" type="button" class="btn btn-primary add-modal" data-toggle="modal" data-target="#consultancy-modal">
                        <i class="fas fa-plus plus "></i>
                    </button>
                  
                </div>
            </div>
            <div class="card-body table-responsive">
                <div class="d-flex justify-content-between">
                    <div>
                        <label>Show Entries</label>
                        <select class="form-select" id="changeEntry">
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="250">250</option>
                            <option value="300">300</option>
                            <option value="350">350</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="800">800</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                    <div>
                        <div class="table-searchbar-container"><button type="button"><i class="fas fa-search"></i>
                            </button><input type="search" id="searchkeyword" placeholder="Enter keywords"
                                class="table-searchbar">
                        </div>
                    </div>
                </div>
                <table class="table custom-table" id="consultancy-list">
                    <thead>
                            <th>#</th>
                            <th>Title of Project</th>
                            <th>Thrust area of Research</th>
                            <th>Name of Funding Agency</th>
                            <th>Funding Amount</th>
                            <th> Project Status</th>
                            <th>Action</th>
                    </thead>
                <% reseachConsultancyDataList.forEach(function(consultancy)  { %>
                    <tr scope="row" data-consultancy-id="<%- consultancy.id %>" data-grant-type="<%- consultancy.type_of_grant %>"
                        data-grant-proposal="<%- consultancy.grant_proposal_category %>" data-submission-date="<%- consultancy.submission_grant_date %>"
                        data-faulty-type="<%- consultancy.faculty_type %>" data-supports-document="<%- consultancy.supporting_documents %>">
                        <td data-consultancy-id="<%- consultancy.id %>"><%- consultancy.id %></td>
                        <td class="title-of-project"><%- consultancy.title_of_project %> </td>
                        <td class="thurst-area"><%- consultancy.thrust_area_of_research %></td>
                        <td class="funding-agency"><%- consultancy.name_of_funding_agency %></td>
                        <td class="funding-amount"><%- consultancy.funding_amount %></td>
                        <td class="research-project-status"><%- consultancy.status_of_research_project %></td>
                        <td>
                            <a class="view" data-consultancy-id="<%- consultancy.id %>"><i class="fa-solid fa-eye view"
                                     data-consultancy-id="<%- consultancy.id %>"></i></a>
                            <a class="edit" data-consultancy-id="<%- consultancy.id %>"><i class="fa fa-edit edit"
                                     data-consultancy-id="<%- consultancy.id %>"></i></a>
                            <a class="delete" data-consultancy-id="<%- consultancy.id %>"><i class="fa-solid fa-trash delete"
                                     data-consultancy-id="<%- consultancy.id %>"></i></a>
                        </td>
                    </tr>
               <% }); %>
                <div class="d-flex justify-content-between">
                    <div>
                        <p>Total entries:1
                        </p>
                    </div>
                    <div>
                        <p id="pagination" class="pagination-search"></p>
                    </div>
                </div>
            </div>
        </div>
        <!--Import Modal -->
        <div class="modal fade" id="open-program-modal" tabindex="-1" aria-labelledby="open-program-modal"
            aria-hidden="true">
        </div>
        <!-- EDIT PROGRAM AND UPDATE -->
        <div class="modal fade" id="edit-program-modal" tabindex="-1" aria-labelledby="editModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Update Program</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="errorHtml"></div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Program Name</label>
                            <input type="text" class="form-control" id="program_name" name="program_name">
                            <input type="hidden" class="form-control" id="hidden_id" name="hidden_id">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Program Type</label>
                            <select class="form-control" name="program_type_lid" id="program_type_lid">

                                <option value="1">Full Time</option>

                                <option value="2">Part Time</option>

                            </select>
                        </div>

                        <div class="mb-3">
                            <label for="abbr" class="form-label">Program Abbr</label>
                            <input type="text" class="form-control" id="abbr" name="abbr">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary updateProgram">Update</button>
                    </div>
                </div>
            </div>
        </div>
</main>
<!-- research consultancy modal form -->
<div class="modal fade " id="consultancy-modal" tabindex="-1" role="dialog" aria-labelledby="consultancy-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content validate-input">
            <div class="modal-header">
                <h3 class="text-center">RESEARCH PROJECT CONSULTANCY </h3>
                <div class="close" data-dismiss="modal" aria-label="Close">
                    <button class="border-0 " aria-hidden="true"><i class="fas fa-times fa-2x text-danger"></i></button>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Grant Proposal -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="grant-proposal" class="form-label fw-bold mb-3">Grant Proposal</label><br>
                        <div class="form-check-inline">
                            <label for="goverment" class="form-check-label">
                                <input type="radio" class="form-check-input" id="goverment" name="grant-proposal"
                                    value="Goverment"> Goverment
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="non-Goverment" class="form-check-label">
                                <input type="radio" class="form-check-input" id="non-goverment" name="grant-proposal"
                                    value="NonGovernment"> NonGovernment
                            </label>
                        </div>
                    </div>
                    <!-- Type of Grant -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="type-of-grant" class="form-label fw-bold mb-3">Type of Grant</label><br>
                        <div class="form-check-inline">
                            <label for="research" class="form-check-label">
                                <input type="radio" class="form-check-input" id="research" name="type-of-grant"
                                    value="Research Project"> Research Project
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="consultancy" class="form-check-label">
                                <input type="radio" class="form-check-input" id="consultancy" name="type-of-grant"
                                    value="Consultancy"> Consultancy
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="capacity" class="form-check-label">
                                <input type="radio" class="form-check-input" id="capacity" name="type-of-grant"
                                    value="Capacity Building"> Capacity Building
                            </label>
                        </div>
                    </div>
                    <!-- Title of Project -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="title-of-project" class="form-label fw-bold">Title of Project</label>
                        <input type="text" name="titleOfProject" id="title-of-project" data-validate="isEmpty,isAlphabeticWords" class="form-control" placeholder="Title of Project" required>
                    </div>
                    <!-- Thrust area of Research -->
                    <div class=" form-group col-md-6 col-sm-12 mb-4">
                        <label for="thurst-area" class="form-label fw-bold">Thrust area of Research</label>
                        <input type="text" name="thurst-area" id="thurst-area" data-validate="isEmpty,isAlphabeticWords" class="form-control" placeholder="Thrust area of Research" required> 
                    </div>
                    <!-- Name of Funding Agency -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="funding-agency" class="form-label fw-bold">Name of Funding Agency</label>
                        <input type="text" name="funding-agency" id="funding-agency" data-validate="isEmpty,isAlphabeticWords" class="form-control" placeholder="Name of Funding Agency" required>
                    </div>
                    <!-- Funding Amount -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="funding-amount" class="form-label fw-bold">Funding Amount</label>
                        <input type="text" name="funding-amount" id="funding-amount" data-validate="isEmpty,isNumber" class="form-control" placeholder="Funding Amount" required>
                    </div>
                    <!-- Status of Research Project -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="research-project-status" class="form-label fw-bold mb-3">Status of Research Project</label><br>
                        <div class="form-check-inline">
                            <label for="submited" class="form-check-label">
                                <input type="radio" class="form-check-input" id="submitted" name="research-project-status"
                                    value="Submitted"> Submitted
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="presentation" class="form-check-label">
                                <input type="radio" class="form-check-input" id="presentation-held" name="research-project-status"
                                    value="Presentation held"> Presentation held
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="granted" class="form-check-label">
                                <input type="radio" class="form-check-input" id="granted" name="research-project-status"
                                    value="Granted"> Granted
                            </label>
                        </div>
                    </div>
                    <!-- Submission/Grant date-->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="submission-grant-date" class="form-label fw-bold">
                            Submission/Grant date
                        </label>
                        <input type="text" name="submission-grant-date" id="submission-grant-date"  data-validate="isEmpty,isDate" class="form-control" required>
                    </div>
                    <!-- if faculty choose internal Authors then show search bar -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="faculty-type" class="form-label fw-bold mb-3">Faculty Type</label><br>
                        <div class="form-check-inline">
                            <label for="Internal" class="form-check-label">
                                <input type="radio" class="form-check-input" id="internal" name="faculty-type"
                                    value="Internal"> Internal
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label for="External" class="form-check-label">
                                <input type="radio" class="form-check-input" id="external" name="faculty-type"
                                    value="External"> External
                            </label>
                        </div>
                    </div>
                    <!-- Upload Supporting Documents-->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="supporting-documents" class="form-label fw-bold">
                            Upload Supporting Documents
                        </label>
                        <input type="file" name="researchSupportingDocument" id="supporting-documents" data-validate="isEmpty,isFile" class="form-control" min='2000-01-01' max="2023-10-02">
                    </div>
                </div>
            </div>
            <!--  footer buttons if needed -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button class="btn btn-md btn-success d-none" id="submit-btn">Submit</button>
                <button class="btn btn-md btn-success d-none" id="update-btn">update</button>
            </div>
        </div>
    </div>
</div>
<!-- research consultancy modal for view -->
<div class="modal fade" id="research-consultancy-view" tabindex="-1" role="dialog" aria-labelledby="research-consultancy-view" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-center" id="exampleModalLongTitle">RESEARCH PROJECT CONSULTANCY </h5>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times fa"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Grant Proposal -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">GRANT PROPOSAL : </div>
                            <label id="view-grant-proposal"></label>
                        </div>
                    </div>
                    <!-- Type of Grant -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">TYPE OF GRANT : </div>
                            <label id="view-grant-type"></label>
                        </div>
                    </div>
                    <!-- Title of Project -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> TYPE OF PROJECT : </div>
                            <label id="view-project-title"></label>
                        </div>
                    </div>
                     <!-- Thrust area of Research -->
                     <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> THRUST AREA OF RESEARCH : </div>
                            <label id="view-thurst-aria"></label>
                        </div>
                    </div>
                     <!-- Name of Funding Agency -->
                     <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> NAME OF FUNDING AGENCY : </div>
                            <label id="view-funding-agency"></label>
                        </div>
                    </div>
                     <!-- Funding Amount -->
                     <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> FUNDING AMOUNT: </div>
                            <label id="view-funding-amount"></label>
                        </div>
                    </div>
                     <!-- Status of Research Project -->
                     <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> RESEARCH PROJECT STATUS: </div>
                            <label id="view-project-status"></label>
                        </div>
                    </div>
                    <!-- Submission/Grant date -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> SUBMISSION /GRANT DATE: </div>
                            <label id="view-date"></label>
                        </div>
                    </div>
                    <!-- Faculty Type -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> FACULTY TYPE: </div>
                            <label id="view-faculty-type"></label>
                        </div>
                    </div>
                     <!-- Upload Supporting Documents -->
                     <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> SUPPORTING DOCUMENTS: </div>
                            <label id="view-supporting-document"></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script>
    const researchProjectConsultancyList = document.getElementById('consultancy-list');
    const submitBtn = document.getElementById('submit-btn');
    const updateBtn = document.getElementById('update-btn');
    let consultantId, consultantRowToBeUpdated ;
    const addResearchConsultancyModal = document.getElementById('add-research-project-consultancy');
    addResearchConsultancyModal.addEventListener('click', function(event) {
        if(event.target.tagName === 'BUTTON' && event.target.classList.contains('add-modal') || event.target.classList.contains('plus')){
            submitBtn.classList.remove('d-none');
            updateBtn.classList.add('d-none');
            const isGrantProposalCategoryGoverement = document.getElementById('goverment');
            const isGrantProposalCategoryNonGoverement = document.getElementById('non-goverment');
            const grantResearchProject = document.getElementById('research');
            const grantConsultancy = document.getElementById('consultancy');
            const grantCapacityBuilding = document.getElementById('capacity');
            const titleOfProject = document.getElementById('title-of-project');
            const thurstAreaOfResearch = document.getElementById('thurst-area');
            const fundingAgency = document.getElementById('funding-agency');
            const fundingAmount = document.getElementById('funding-amount');
            const statusSubmitted = document.getElementById('submitted');
            const statusPresentationHeld = document.getElementById('presentation-held');
            const statusGranted = document.getElementById('granted');
            const submissionGrantDate = document.getElementById('submission-grant-date');
            const facultyTypeInternal = document.getElementById('internal');
            const facultyTypeExternal = document.getElementById('external');
            const supportingDocument = document.getElementById('supporting-documents');

            // making input fields empty
            isGrantProposalCategoryGoverement.checked = false;
            isGrantProposalCategoryNonGoverement.checked = false;
            grantResearchProject.checked = false; 
            grantConsultancy.checked = false; 
            grantCapacityBuilding.checked = false; 
            titleOfProject.value = '';
            thurstAreaOfResearch.value = '';
            fundingAgency.value = '';
            fundingAmount.value = '';
            statusSubmitted.checked = false; 
            statusPresentationHeld.checked = false; 
            statusGranted.checked = false; 
            submissionGrantDate.value = '';
            facultyTypeInternal.checked = false; 
            facultyTypeExternal.checked = false; 
            supportingDocument.value = '';     
        }
    })

    const insertResearchConsultancyForm = async(url) => {
        const researchConsultancyData = new FormData();
        const grantProposalCategory = document.querySelector('input[name="grant-proposal"]:checked').value;
        const typeOfGrant = document.querySelector('input[name="type-of-grant"]:checked').value;
        const titleOfProject = document.getElementById('title-of-project').value;
        const thurstAreaOfResearch = document.getElementById('thurst-area').value;
        const fundingAgency = document.getElementById('funding-agency').value;
        const fundingAmount = document.getElementById('funding-amount').value;
        const statusOfResearchProject = document.querySelector('input[name="research-project-status"]:checked').value;
        const submissionGrantDate = document.getElementById('submission-grant-date').value;
        const facultyType = document.querySelector('input[name="faculty-type"]:checked').value;
        const supportingDocument = document.querySelector('input[type="file"]');

        // appending into form
        researchConsultancyData.append('grantProposalCategory' , grantProposalCategory);
        researchConsultancyData.append('typeOfGrant' , typeOfGrant);
        researchConsultancyData.append('titleOfProject' , titleOfProject);
        researchConsultancyData.append('thurstAreaOfResearch' , thurstAreaOfResearch);
        researchConsultancyData.append('fundingAgency' , fundingAgency);
        researchConsultancyData.append('fundingAmount' , fundingAmount);
        researchConsultancyData.append('statusOfResearchProject' , statusOfResearchProject);
        researchConsultancyData.append('submissionGrantDate' , submissionGrantDate);
        researchConsultancyData.append('facultyType' , facultyType);
        researchConsultancyData.append('researchSupportingDocument' , supportingDocument.files[0]);

        fetch(url , {
            method : 'POST',
            body : researchConsultancyData
        })
        .then((result) => {
            return result.json()
        })
        .then((data) => {
            if(data.status === 'done'){
                console.log('data ==>>', data);
                const consultantId = data.consultantId
                console.log('id ==', consultantId)
                const newResearchConsultant = document.createElement('tr');
                newResearchConsultant.setAttribute('data-grant-type' , data.researchConsultantData.typeOfGrant);
                newResearchConsultant.setAttribute('data-grant-proposal' , data.researchConsultantData.grantProposalCategory)
                newResearchConsultant.setAttribute('data-submission-date' , data.researchConsultantData.submissionGrantDate);
                newResearchConsultant.setAttribute('data-faulty-type' , data.researchConsultantData.facultyType);
                newResearchConsultant.setAttribute('data-supports-document' , data.researchConsultantData.filename);
                newResearchConsultant.innerHTML = `
                        <td>${consultantId}</td>
                        <td class="title-of-project">${data.researchConsultantData.titleOfProject}</td>
                        <td class="thurst-area">${data.researchConsultantData.thurstAreaOfResearch}</td>
                        <td class="funding-agency">${data.researchConsultantData.fundingAgency}</td>
                        <td class="funding-amount">${data.researchConsultantData.fundingAmount}</td>
                        <td class="research-project-status">${data.researchConsultantData.statusOfResearchProject}</td>
                        <td>
                            <a class="view" data-consultancy-id="${consultantId}"><i class="fa-solid fa-eye view"
                                    data-consultancy-id="${consultantId}"></i></a>
                            <a class="edit" data-consultancy-id="${consultantId}"><i class="fa fa-edit edit"
                                    data-consultancy-id="${consultantId}"></i></a>
                            <a class="delete" data-consultancy-id="${consultantId}"><i class="fa-solid fa-trash delete"
                                    data-consultancy-id="${consultantId}"></i></a>
                        </td>`;

                        researchProjectConsultancyList.appendChild(newResearchConsultant);
                        $('#consultancy-modal').modal('hide');
                        alert('data is inserted  successFully');
            }
        })
    }
    
    submitBtn.addEventListener('click', async () => {
        const isValid = validateRequiredFormFields(submitBtn);
            if (isValid) {
                await insertResearchConsultancyForm('/research/research-project-consultancy/insert');
                console.log('data inserted successfully');
            }
            else {
                alert('validation failed');
            }
    });

    researchProjectConsultancyList.addEventListener('click' , function(event) {
            if(event.target.classList.contains('edit')){
                submitBtn.classList.add('d-none');
                updateBtn.classList.remove('d-none');
                $('#consultancy-modal').modal('show');
                consultantRowToBeUpdated = event.target.closest('tr');
                consultantId = event.target.getAttribute('data-consultancy-id');
                console.log('consultantId ==>>', consultantId);
                const isGrantProposalCategoryGoverement = document.getElementById('goverment');
                const isGrantProposalCategoryNonGoverement = document.getElementById('non-goverment');
                const grantResearchProject = document.getElementById('research');
                const grantConsultancy = document.getElementById('consultancy');
                const grantCapacityBuilding = document.getElementById('capacity');
                const titleOfProject = consultantRowToBeUpdated.querySelector('.title-of-project');
                const thurstAreaOfResearch = consultantRowToBeUpdated.querySelector('.thurst-area');
                const fundingAgency = consultantRowToBeUpdated.querySelector('.funding-agency');
                const fundingAmount = consultantRowToBeUpdated.querySelector('.funding-amount');
                const statusSubmitted = document.getElementById('submitted');
                const statusPresentationHeld = document.getElementById('presentation-held');
                const statusGranted = document.getElementById('granted');
                const submissionGrantDate = document.getElementById('submission-grant-date');
                const facultyTypeInternal = document.getElementById('internal');
                const facultyTypeExternal = document.getElementById('external');
                const supportingDocument = document.getElementById('supporting-documents');

                // assigning value with actuall value
                const GrantProposalCategory = consultantRowToBeUpdated.getAttribute('data-grant-proposal');
                if(GrantProposalCategory === 'Goverment'){
                    isGrantProposalCategoryGoverement.checked = true;
                }
                else{
                    isGrantProposalCategoryNonGoverement.checked = true;
                }
                const grantType = consultantRowToBeUpdated.getAttribute('data-grant-type');
                console.log('grantType', grantType)
                if(grantType){
                    if(grantType === 'Research Project'){
                        grantResearchProject.checked = true;
                        grantConsultancy.checked = false;
                        grantCapacityBuilding.checked = false;
                    }
                    else if(grantType === 'Consultancy'){
                            grantConsultancy.checked = true;
                            grantResearchProject.checked = false;
                            grantCapacityBuilding.checked = false;
                        }
                    else if (grantType === 'Capacity Building'){
                        grantCapacityBuilding.checked = true;
                        grantResearchProject.checked = false;
                        grantConsultancy.checked = false;
                    }
            }
                
                document.getElementById('title-of-project').value = titleOfProject.textContent;
                document.getElementById('thurst-area').value = thurstAreaOfResearch.textContent;
                document.getElementById('funding-agency').value = fundingAgency.textContent;
                document.getElementById('funding-amount').value = fundingAmount.textContent;
                const projectStatus = consultantRowToBeUpdated.querySelector('.research-project-status');
                if(projectStatus){
                    if(projectStatus.innerText === 'Presentation held'){
                        statusPresentationHeld.checked = true;
                        statusGranted.checked = false;
                        statusSubmitted.checked = false;
                    }
                    if(projectStatus.innerText === 'Submitted'){
                        statusPresentationHeld.checked = false;
                        statusGranted.checked = false;
                        statusSubmitted.checked = true;
                    }
                    if(projectStatus.innerText === 'Granted'){
                        statusPresentationHeld.checked = false;
                        statusGranted.checked = true;
                        statusSubmitted.checked = false;
                    }
                }
                submissionGrantDate.value = consultantRowToBeUpdated.getAttribute('data-submission-date');
                const facultyType = consultantRowToBeUpdated.getAttribute('data-faulty-type');
                if(facultyType === 'External'){
                    facultyTypeExternal.checked = true;
                }
                else{
                    facultyTypeInternal.checked = true;
                }
                const supportingDocuments = consultantRowToBeUpdated.getAttribute('data-supports-document');
                console.log('supportingDocuments ==>>', supportingDocuments)
                if(supportingDocuments){
                    supportingDocument.textContent = supportingDocuments;
                }
            }
            if(event.target.classList.contains('delete')){
                console.log('clekeddddd');
                const consultantRowToBEDeleted = event.target.closest('tr');
                console.log('consultantRowToBEDeleted  ==>>', consultantRowToBEDeleted);
                consultantId = consultantRowToBEDeleted.getAttribute('data-consultancy-id');
                console.log('consultantId ===>>', consultantId);
                
                fetch('/research/research-project-consultancy/delete' , {
                    method : 'POST',
                    headers : {
                        'content-type' : 'application/json'
                    },
                    body : JSON.stringify({consultantId})
                })
                .then((result) => {
                    return result.json()
                })
                .then((data) => {
                    if(data.status === 'done'){
                        consultantRowToBEDeleted.remove();
                    }
                })
            }
            if(event.target.classList.contains('view')){
                console.log('clickeddddd');
                const consultantRowToBeViewed = event.target.closest('tr');
                consultantId = consultantRowToBeViewed.getAttribute('data-consultancy-id');
                console.log('ID ==>>', consultantId);
                const viewGrantProposalCategory = document.getElementById('view-grant-proposal');
                const viewTypeOfGrant = document.getElementById('view-grant-type');
                const viewTitleOfProject = document.getElementById('view-project-title');
                const viewThurstAreaOfResearch = document.getElementById('view-thurst-aria');
                const viewFundingAgency = document.getElementById('view-funding-agency');
                const viewFundingAmount = document.getElementById('view-funding-amount');
                const viewStatusOfResearchProject = document.getElementById('view-project-status');
                const viewSubmissionGrantDate = document.getElementById('view-date');
                const viewFacultyType = document.getElementById('view-faculty-type');
                const viewSupportingDocument = document.getElementById('view-supporting-document');
                fetch('/research/research-project-consultancy/view' , {
                    method : 'POST',
                    headers : {
                        'content-type' : 'application/json'
                    },
                    body : JSON.stringify({consultantId})
                })
                .then((result) => {
                    return result.json()
                })
                .then((data) => {
                    if(data.status === 'done'){
                        console.log('data ==>>' , data)
                        viewGrantProposalCategory.innerText = data.consultantData.grant_proposal_category;
                        viewTypeOfGrant.innerText = data.consultantData.type_of_grant;
                        viewTitleOfProject.innerText = data.consultantData.title_of_project;
                        viewThurstAreaOfResearch.innerText = data.consultantData.thrust_area_of_research; 
                        viewFundingAgency.innerText = data.consultantData.name_of_funding_agency; 
                        viewFundingAmount.innerText = data.consultantData.funding_amount;
                        viewStatusOfResearchProject.innerText = data.consultantData.status_of_research_project;
                        viewSubmissionGrantDate.innerText = data.consultantData.submission_grant_date;               
                        viewFacultyType.innerText = data.consultantData.faculty_type;
                        viewSupportingDocument.innerText = data.consultantData.supporting_documents; 
                    }
                })

                $('#research-consultancy-view').modal('show');

            }
        })

    updateBtn.addEventListener('click' , () => {
        console.log('clickeddd')
        const updatedConsultantData = new FormData();
        const updatedGrantProposalCategory = document.querySelector('input[name="grant-proposal"]:checked').value;
        const updatedTypeOfGrant = document.querySelector('input[name="type-of-grant"]:checked').value;
        const updatedTitleOfProject = document.getElementById('title-of-project').value;
        const updatedThurstAreaOfResearch = document.getElementById('thurst-area').value;
        const updatedFundingAgency = document.getElementById('funding-agency').value;
        const updatedFundingAmount = document.getElementById('funding-amount').value;
        const updatedStatusOfResearchProject = document.querySelector('input[name="research-project-status"]:checked').value;
        const updatedSubmissionGrantDate = document.getElementById('submission-grant-date').value;
        const updatedFacultyType = document.querySelector('input[name="faculty-type"]:checked').value;
        const updatedSupportingDocument = document.querySelector('input[type="file"]');

        updatedConsultantData.append('consultantId' , consultantId);
        updatedConsultantData.append('grantProposalCategory' ,updatedGrantProposalCategory);
        updatedConsultantData.append('typeOfGrant' , updatedTypeOfGrant);
        updatedConsultantData.append('titleOfProject' , updatedTitleOfProject);
        updatedConsultantData.append('thurstAreaOfResearch' , updatedThurstAreaOfResearch);
        updatedConsultantData.append('fundingAgency' , updatedFundingAgency);
        updatedConsultantData.append('fundingAmount' , updatedFundingAmount);
        updatedConsultantData.append('statusOfResearchProject' , updatedStatusOfResearchProject);
        updatedConsultantData.append('submissionGrantDate' , updatedSubmissionGrantDate);
        updatedConsultantData.append('facultyType' , updatedFacultyType);
        if(updatedSupportingDocument && updatedSupportingDocument.files && updatedSupportingDocument.files.length > 0){
            updatedConsultantData.append('researchSupportingDocument' , updatedSupportingDocument.files[0]);
        }
        
        fetch('/research/research-project-consultancy/update' , {
            method : 'POST',
            body : updatedConsultantData
        })
        .then((result) => {
                return result.json()
        })
        .then((data) => {
           if(data.status === 'done'){
            console.log('data ==>', data);
            consultantRowToBeUpdated.setAttribute('data-grant-type' , data.updatedConsultant.typeOfGrant);
            consultantRowToBeUpdated.setAttribute('data-grant-proposal' , data.updatedConsultant.grantProposalCategory)
            consultantRowToBeUpdated.setAttribute('data-submission-date' , data.updatedConsultant.submissionGrantDate);
            consultantRowToBeUpdated.setAttribute('data-faulty-type' , data.updatedConsultant.facultyType);
            consultantRowToBeUpdated.setAttribute('data-supports-document' , data.updateFileName);
            consultantRowToBeUpdated.setAttribute('data-funding-amount' , data.updatedConsultant.fundingAmount);
            consultantRowToBeUpdated.querySelector('.title-of-project').innerText = data.updatedConsultant.titleOfProject;
            consultantRowToBeUpdated.querySelector('.thurst-area').innerText = data.updatedConsultant.thurstAreaOfResearch;
            consultantRowToBeUpdated.querySelector('.funding-agency').innerText = data.updatedConsultant.fundingAgency;
            consultantRowToBeUpdated.querySelector('.research-project-status').innerText = data.updatedConsultant.statusOfResearchProject;
           }
        })
        $('#consultancy-modal').modal('hide');
        alert('data updated successfully');
    })
    
</script>
  <!-- inline javascript -->
  <%- include('./partials/footer') %>
<%- include('./partials/footer-end') %>