<%- include('./partials/head') %>
<!-- inline css -->
<!-- Navbar section -->
<%- include('./partials/header') %>
<!-- This is left sidebar  -->
<%- include('./partials/left-sidebar') %>

<!-- This is right side section -->
<main class="main" id="main-content">
    <div class="main-content">
        <div class="row">
            <!-- Journal Articles Published -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/journal-paper"
                    class="card_school_vf text-center  d-flex flex-column justify-content-center align-items-center">
                    <img src="<%- BASE_URL %>image/journal.png" alt="Research Journal Paper" class="sidebar-icon" />
                    <p>Journal Articles Published</p>
                </a>
            </div>

            <!-- Book Publications -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/book-publication-main"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center">
                    <img src="<%- BASE_URL %>image/book-publication.png" alt="Book Publications " class="sidebar-icon" />
                    <p> Book Publications </p>
                </a>
            </div>

            <!-- Conference Presentations -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/conference-publication"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="<%- BASE_URL %>image/conference.png" alt="Conference Presentations" class="sidebar-icon" />
                    <p>Conference Presentations</p>
                </a>
            </div>

            <!-- Patent Submissions and Grant -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/patent-submission"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="<%- BASE_URL %>image/submission-grant.png" alt="Patent Submissions and Grant" class="sidebar-icon">
                    <p>Patent Submissions and Grant</p>
                </a>
            </div>

            <!-- Research Projects/Grants -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/research-project-grant"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="<%- BASE_URL %>image/consultancy.png" class="sidebar-icon" alt="Research Project, Consultancy">
                    <p> Research Projects/Grants</p>
                </a>
            </div>

            <!-- ipr -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                    <a href="<%- BASE_URL %>research/IPR"
                        class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                        <img src="<%- BASE_URL %>image/IPR1.png" class="sidebar-icon" alt="Research Project, Consultancy">
                        <p>IPR</p>
                    </a>
                </div>
                <!-- research-award. -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                    <a href="<%- BASE_URL %>research/research-award"
                        class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                        <img src="<%- BASE_URL %>image/research-award.png" class="sidebar-icon" alt="Research Project, Consultancy">
                        <p>Research award</p>
                    </a>
                </div>

               <!-- e content development . -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/e-content"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="<%- BASE_URL %>image/e-content.png" class="sidebar-icon" alt="Research Project, Consultancy">
                    <p>E-Content Development</p>
                </a>
            </div>

                <!-- Research Seminars at NMIMS -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/research-seminar"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="<%- BASE_URL %>image/seminar.png" class="sidebar-icon" alt="Research Seminars at NMIMS">
                    <p>Research Seminars at NMIMS</p>
                </a>
            </div>
            <!-- Case Study -->

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/case-study"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="<%- BASE_URL %>image/study.png" class="sidebar-icon" alt="case-study">
                    <p>Case Study</p>
                </a>
            </div>
            <!-- NMIMS CONSULTANCY FORM -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/nmims-consultancy-approval-form"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="<%- BASE_URL %>image/consultancy-approval.png" class="sidebar-icon" alt="case-study">
                    <p>NMIMS Consultancy Form </p>
                </a>
            </div>

             <!--  NMIMS Seed Grant Non-pharmacy -->
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/nmims-seed-grant-non-pharmacy"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="<%- BASE_URL %>image/seed-grant.png" class="sidebar-icon" alt="case-study">
                    <p> NMIMS Seed Grant Non-pharmacy </p>
                </a>
            </div>

             <!--  Pharmacy Seed Grant Form -->
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>research/pharmacy-seed-grant-form"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="<%- BASE_URL %>image/pharmacy-seed-grant.png" class="sidebar-icon" alt="case-study">
                    <p> Pharmacy Seed Grant Form </p>
                </a>
            </div>

            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>teaching-excellance"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center">
                    <img src="<%- BASE_URL %>image/excellence.png" alt="" class="fix-image" />
                    <p>Teaching Excellence</p>
                </a>
            </div>

            <!-- Meeting Stakeholders -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>meeting-stackholders"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="<%- BASE_URL %>image/meeting.png" alt="" class="fix-image" />
                    Meeting Stakeholders
                </a>
            </div>

            <!-- Branding & Advertising -->
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href="<%- BASE_URL %>branding-advertising"
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="<%- BASE_URL %>image/advertising.png" alt="" class="fix-image" />
                    Branding & Advertising
                </a>
            </div>

              <!-- Research Incentive page -->
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href=""
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="<%- BASE_URL %>image/incentive.png" alt="" class="fix-image" />
                    Research Incentive page
                </a>
            </div>

              <!-- SBM Incentive Policy -->
              <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href=""
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="<%- BASE_URL %>image/policy.png" alt="" class="fix-image" />
                    SBM Incentive Policy
                </a>
            </div>

             <!-- Other School Incentive Policy -->
             <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 p-4">
                <a href=""
                    class="card_school_vf text-center d-flex flex-column justify-content-center align-items-center ">
                    <img src="<%- BASE_URL %>image/school.png" alt="" class="fix-image" />
                    Other School Incentive Policy
                </a>
            </div>
        </div>
    </div>
</main>
<%- include('./partials/footer') %>
<%- include('./partials/footer-end') %>

