<%- include('./partials/head') %>
<!-- inline css -->
<!-- Navbar section -->
<%- include('./partials/header') %>
<!-- This is left sidebar  -->
<%- include('./partials/left-sidebar') %>
<!-- This is right side section -->
<main class="main" id="mainContent">
    <div class="base-section coustom-section">
        <!--DASHBOARD CONTENT START-->
        <div class="errorHtml"></div>
        <div class="breadcrumbs-container">
            <ul class="breadcrumb">
                <li class="breadcrumb-link">
                    <a href="<%- BASE_URL %>dashboard"> ADMIN  DASHBOARD </a>
                </li>
                <li class="breadcrumb-link"> TEACHING EXECELLANCE </li>
            </ul>
        </div>
        <div class="card table-card">
            <div class="table-card-header text-uppercase d-flex align-items-center justify-content-between p-1">
                <div>
                    <h3>TEACHING EXECELLANCE LIST</h3>
                </div>
                <div class="me-2">
                    <button id="teaching-execellance-add-modal" type="button" class="btn btn-primary add-modal"
                        data-toggle="modal" data-target="#teaching-execellance-modal">
                        <i class="fas fa-plus plus"></i></button>
                    </button>
                </div>
            </div>
            <div class="card-body table-responsive">
                <div class="d-flex justify-content-between">
                    <div>
                        <label>Show Entries</label>
                        <select class="form-select" id="changeEntry">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="25">25</option>
                            <option value="50">50</option>
                            <option value="100">100</option>
                            <option value="150">150</option>
                            <option value="200">200</option>
                            <option value="250">250</option>
                            <option value="300">300</option>
                            <option value="350">350</option>
                            <option value="400">400</option>
                            <option value="500">500</option>
                            <option value="800">800</option>
                            <option value="1000">1000</option>
                        </select>
                    </div>
                    <div>
                        <div class="table-searchbar-container">
                            <button type="button" id="searchBtn"><i class="fas fa-search"></i></button>
                            <input type="search" id="searchKeyword" placeholder="Enter keywords" class="table-searchbar">
                        </div>
                    </div>
                </div>
                <table class="table custom-table table-responsive research-pagination" id="teaching-execellance-data-list">
                    <thead>
                        <th>#</th>
                        <th>Pedagogy innovation</th>
                        <th>FDP Program on academic</th>
                        <th>Workshop for Students</th>
                        <th>Inviting visiting faculty from the industry to handle workshops</th>
                        <th>Program Orientation</th>
                        <th>Action</th>
                    </thead>
                    <% teachingExecellance.forEach(function(teaching, index) { %>
                        <tr scope="row" data-teaching-id="<%- teaching.id %>"
                            data-pedagogy-innovation-file="<%- teaching.pedagogy_innovation_file %>"
                            data-fdp-program-file="<%- teaching.fdp_program_file %>"
                            data-workshop-file="<%- teaching.workshop_file %>"
                            data-pedagogy-innovation-link="<%- teaching.pedagogy_innovation_link %>"
                            data-fdp-program-link="<%- teaching.fdp_program_link %>"
                            data-workshop-link="<%- teaching.workshop_link %>"
                            data-inviting-faculty-file="<%- teaching.inviting_faculty_file %>"
                            data-inviting-faculty-link="<%- teaching.inviting_faculty_link %>"
                            data-program-orientation-file="<%- teaching.program_orientation_file %>"
                            data-program-orientation-link="<%- teaching.program_orientation_link %>">
                            <td><%- index+1 %></td>
                            <td class="pedagogy-innovation"><%- teaching.pedagogy_innovation %></td>
                            <td class="fdp-program"><%- teaching.fdp_program %></td>
                            <td class="workshop-details"><%- teaching.workshop_details %></td>
                            <td class="inviting-faculty"><%- teaching.inviting_faculty %></td>
                            <td class="program-orientation"><%- teaching.program_orientation %></td>
                            <td class="cell ">
                                <label class="view" data-teaching-id="<%- teaching.id %>"><i class="fa-solid fa-eye view text-danger"
                                    data-teaching-id="<%- teaching.id %>"></i></label>
                                <label class="edit" data-teaching-id="<%- teaching.id %>"><i class="fa fa-edit edit text-danger"
                                    data-teaching-id="<%- teaching.id %>"></i></label>
                                <label class="delete" data-teaching-id="<%- teaching.id %>"><i class="fa-solid fa-trash delete text-danger"
                                    data-teaching-id="<%- teaching.id %>"></i></label>
                            </td>
                        </tr>
                        <% }); %>
                </table>
                <div class="d-flex justify-content-between">
                    <div>
                        <label> Total entries: <%- rowCount %> </label>
                        <label class="d-none" id="row-count"> <%- rowCount %> </label>
                    </div>
                    <div>
                        <button id="prevBtn" class="btn btn-primary">Previous</button>
                        <button id="nextBtn" class="btn btn-primary">Next</button>
                        <p id="pagination" class="pagination-search"></p>
                    </div>
                </div>
            </div>
        </div>
        <!--Import Modal -->
        <div class="modal fade" id="open-program-modal" tabindex="-1" aria-labelledby="open-program-modal"
            aria-hidden="true">
        </div>
        <!-- EDIT PROGRAM AND UPDATE -->
        <div class="modal fade" id="edit-program-modal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Update Program</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div id="errorHtml"></div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Program Name</label>
                            <input type="text" class="form-control" id="program_name" name="program_name">
                            <input type="hidden" class="form-control" id="hidden_id" name="hidden_id">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Program Type</label>
                            <select class="form-control" name="program_type_lid" id="program_type_lid">
                                <option value="1">Full Time</option>
                                <option value="2">Part Time</option>
                            </select>
                        </div>
    
                        <div class="mb-3">
                            <label for="abbr" class="form-label">Program Abbr</label>
                            <input type="text" class="form-control" id="abbr" name="abbr">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary updateProgram">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- Modal  form -->
<div class="modal fade " id="teaching-execellance-modal" tabindex="-1" role="dialog" aria-labelledby="teaching-execellance"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content validate-input">
            <div class="modal-header">
                <h5 class="modal-title" id="teaching-execellance">TEACHING EXECELLANCE </h5>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- Pedagogy innovation -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="pedagogy-innovation" class="form-label fw-bold">Pedagogy Innovation</label>
                        <input type="text" name="PedagogyInnovation" id="pedagogy-innovation" data-validate="isEmpty,isNotNumber,isExist" data-err-msg="This field is required and min length > 1." class="form-control" required/>
                    </div>

                    <!-- file upload -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="pedagogy-innovation-file" class="form-label fw-bold ">Upload Documents</label>
                        <div class="d-flex">
                            <input type="file" name="pedagogyInnovationFile" id="pedagogy-innovation-file"
                                data-validate="isEmpty,isExist,isFile" data-err-msg="File is required." class="form-control" required>
                            <button class="download-btn" id="pedagogyFile">
                                <i class="fas fa-download text-danger"></i>
                            </button>
                        </div>
                    </div>
                    <!-- link -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="pedagogy-innovation-link" class="form-label fw-bold">Link</label>
                        <input type="text" name="pedagogyLink" id="pedagogy-innovation-link" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="Link is required." class="form-control" required/>
                    </div>
                </div>

                <div class="row">
                    <!-- FDP Program on academic processes (pedagogy, case teaching, simulations) -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="fdp-program" class="form-label fw-bold">FDP Program on Academic Processes (Pedagogy,
                            Case Teaching, Simulations)</label>
                        <input type="text" name="fdp-program" id="fdp-program" data-validate="isEmpty,isNotNumber,isExist" data-err-msg="This field is required and min length > 1." class="form-control" required>
                    </div>

                    <!-- file upload -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="fdp-program" class="form-label fw-bold  mb-4">Upload Documents</label>
                        <div class="d-flex">
                            <input type="file" name="fdpProgramFile" fdpProgramFile="fdp-program-file" id="fdp-program"
                                data-validate="isEmpty,isExist,isFile" data-err-msg="File is required." class="form-control" required>
                            <button class="download-btn" id="FdpFile">
                                <i class="fas fa-download text-danger"></i>
                            </button>
                        </div>
                    </div>
                    <!-- link -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="fdp-program-link" class="form-label fw-bold mb-4">Link</label>
                        <input type="text" name="pada" id="fdp-program-link" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="Link is required." class="form-control" required/>
                    </div>
                </div>

                <div class="row">
                    <!-- Workshop for Students -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="workshop-details" class="form-label fw-bold">Workshop For Students</label>
                        <input type="text" name="workshop-details" id="workshop-details" data-validate="isEmpty,isNotNumber,isExist" data-err-msg="This field is required and min length > 1." class="form-control" required>
                    </div>
                    <!-- file upload -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="work-shop-file" class="form-label fw-bold ">Upload Documents</label>
                        <div class="d-flex">
                            <input type="file" name="workShopFile" id="work-shop-file" class="form-control"
                                data-validate="isEmpty,isExist,isFile" data-err-msg="file is required." required>
                            <button class="download-btn" id="workShopDataFile">
                                <i class="fas fa-download text-danger"></i>
                            </button>
                        </div>
                    </div>
                    <!-- link -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="workshop-details-link" class="form-label fw-bold">Link</label>
                        <input type="text" name="pada" id="workshop-details-link" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="Link is required." class="form-control" required/>
                    </div>
                </div>
                <div class="row">
                    <!-- Inviting visiting faculty from the industry to handle niche workshops  -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="inviting-faculty" class="form-label fw-bold">Inviting Visiting Faculty From
                            the industry to Handle Niche Workshops</label>
                        <input type="text" name="inviting-faculty" id="inviting-faculty" data-validate="isEmpty,isNotNumber,isExist" data-err-msg="This field is required and min length > 1." class="form-control "required>
                    </div>
                    <!-- file upload -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="inviting-faculty-file" class="form-label fw-bold mb-4">Upload Documents</label>
                        <div class="d-flex">
                            <input type="file" name="invitingFacultyFile" id="inviting-faculty-file" data-validate="isEmpty,isExist,isFile"
                                data-err-msg="File is required." class="form-control " required>
                            <button class="download-btn" id="invitingFile">
                                <i class="fas fa-download text-danger"></i>
                            </button>
                        </div>
                    </div>
                    <!-- link -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="inviting-faculty-link" class="form-label fw-bold mb-4">Link</label>
                        <input type="text" name="pada" id="inviting-faculty-link" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" class="form-control"  data-err-msg="Link is required." required/>
                    </div>
                </div>

                <div class="row">
                    <!-- Program Orientation -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12">
                        <label for="program-orientation" class="form-label fw-bold ">Program Orientation</label>
                        <input type="text" name="program-orientation" data-validate="isEmpty,isNotNumber,isExist" data-err-msg="This field is required and min length > 1." id="program-orientation" class="form-control" required>
                    </div>
                    <!-- file upload -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="program-orientation-file" class="form-label fw-bold ">Upload Documents</label>
                        <div class="d-flex">
                            <input type="file" name="programOrientationFile" class="form-control file-err"
                                data-validate="isEmpty,isExist,isFile" data-err-msg="File is required." id="program-orientation-file" required>
                            <button class="download-btn" id="orientationFile">
                                <i class="fas fa-download text-danger"></i>
                            </button>
                        </div>
                    </div>
                    <!-- link -->
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 mb-4">
                        <label for="program-orientation-link" class="form-label fw-bold">Link</label>
                        <input type="text" name="programOrientationLink" id="program-orientation-link" data-validate="isEmpty,isNotNumber,isExist,isLength:2:255" data-err-msg="Link is required." class="form-control" required/>
                    </div>
                </div>
            </div>
            <!-- footer button -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary d-none" id="submit-btn">Submit</button>
                <button type="button" class="btn btn-primary d-none" id="update-btn">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- teaching execellance view-modal -->
<div class="modal fade" id="teaching-excellance-view-modal" tabindex="-1" role="dialog" aria-labelledby="teaching-execellance"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
        <div class="modal-content validate-input">
            <div class="modal-header">
                <h5 class="modal-title" id="teaching-execellance">TEACHING EXECELLANCE </h5>
                <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"><i class="fas fa-times fa-2x"></i></span>
                </div>
            </div>
            <div class="modal-body">
                <!-- Pedagogy Innovation -->
                <div class="row">
                    <!-- pedagogy_innovation -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> Pedagogy Innovation:</div>
                            <label class="view-content" id="view-pedagogy-innovation"></label>
                        </div>
                    </div>
                    <!-- pedagogy_innovation_file -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">
                                <button data-filename="pedagogyDataFile" class="btn btn-primary h-10 w-10 download-file download-button" id="pedagogy-file-view">
                                    <i class="fas fa-download text-danger"></i> Pedagogy Innovation file
                                </button>
                            </div>
                            <label class="view-content" id="view-pedagogy-innovation-file"></label>
                        </div>
                    </div>
                    <!-- pedagogy innovation link -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Link :</div>
                            <label class="view-content" id="view-pedagogy-innovation-link"></label>
                        </div>
                    </div>
                </div>
                <!-- fdp_program -->
                <div class="row">
                    <!-- fdp_program -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> FDP Program on Academic Processs (Pedagogy, Case Teaching, Simulations):</div>
                            <label class="view-content" id="view-fdp-program"></label>
                        </div>
                    </div>
                    <!-- fdp_program_file -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">
                                <button data-filename="fdpDataFile" class="btn btn-primary h-10 w-10 download-file" id="fdp-file-view">
                                    <i class="fas fa-download text-danger"></i> FDP Program file
                                </button></div>
                            <label class="view-content" id="view-fdp-program-file"></label>
                        </div>
                    </div>
        
                    <!-- fdp_program_link -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Link :</div>
                            <label class="view-content" id="view-fdp-program-link"></label>
                        </div>
                    </div>
                </div>
                <!-- WORKSHOP DETAILS -->
                <div class="row">
                    <!-- workshop_details -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> WorkShop For Students:</div>
                            <label class="view-content" id="view-workshop-details"></label>
                        </div>
                    </div>
                    <!-- workshop_file -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">
                                <button data-filename="workDataFile" class="btn btn-primary h-10 w-10 download-file" id="work-shop-file-view">
                                    <i class="fas fa-download text-danger"></i> WorkShop File
                                </button>
                            </div>
                            <label class="view-content" id="view-workshop-file"></label>
                        </div>
                    </div>
                    <!-- LINK -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Link :</div>
                            <label class="view-content" id="view-workshop-link"></label>
                        </div>
                    </div>
                </div>
                <!-- inviting_faculty -->
                <div class="row">
                    <!-- inviting_faculty -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text"> Inviting Visiting Faculty From The Industry To Handle Niche :</div>
                            <labelv class="view-content" id="view-inviting-faculty"></label>
                        </div>
                    </div>
                    <!--inviting_faculty_file -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">
                                <button data-filename="facultyDataFile" class="btn btn-primary h-10 w-10 download-file" id="inviting-file-view">
                                    <i class="fas fa-download text-danger"></i> Inviting Faculty File
                                </button>
                            </div>
                            <label class="view-content" id="view-inviting-faculty-file"></label>
                        </div>
                    </div>
                    <!-- inviting_faculty_link -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Link:</div>
                            <label class="view-content" id="view-inviting-faculty-link"></label>
                        </div>
                    </div>
                </div>
                <!-- program_orientation -->
                <div class="row">
                    <!-- program_orientation -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Program Orientation :</div>
                            <label class="view-content" id="view-program-orientation"></label>
                        </div>
                    </div>
                    <!-- program_orientation_file -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">
                                <button data-filename="programDataFile" class="btn btn-primary h-10 w-10 download-file" id="orientation-file-view">
                                    <i class="fas fa-download text-danger"></i> Program Orientation  File
                                </button>
                            </div>
                            <label class="view-content" id="view-program-orientation-file"></label>
                        </div>
                    </div>
                    <!-- program_orientation_link -->
                    <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                        <div class="box">
                            <div class="task-sub-title sub-title-text">Link :</div>
                            <label class="view-content" id="view-program-orientation-link"></label>
                        </div>
                    </div>
                </div>
            </div>
            <!-- footer button -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- inline script -->
<script>
    // for index icrement
    const rowCount = document.getElementById('row-count');
    let rowIndex = rowCount.innerText;
    let indexValue = parseInt(rowIndex, 10);
    const teachingExecellanceAddModal = document.getElementById('teaching-execellance-add-modal');
    const teachingExecellanceList = document.getElementById('teaching-execellance-data-list');
    const submitBtn = document.getElementById('submit-btn');
    const updateBtn = document.getElementById('update-btn');
    let teachingRowToBeUpdated , teachingId;
    // const downloadFileBtn = document.querySelectorAll('.download-file');
    teachingExecellanceAddModal.addEventListener('click' , (event) => {
        if(event.target.tagName === 'BUTTON' && event.target.classList.contains('add-modal') || event.target.classList.contains('plus')){
            // for button visualization
            submitBtn.classList.remove('d-none');
            updateBtn.classList.add('d-none');
            pedagogyFile.classList.add('d-none');
            FdpFile.classList.add('d-none');
            workShopDataFile.classList.add('d-none');
            invitingFile.classList.add('d-none');
            orientationFile.classList.add('d-none');

            const pedagogyInnovation = document.getElementById('pedagogy-innovation');
            const pedagogyLink = document.getElementById('pedagogy-innovation-link');
            const fdpProgram = document.getElementById('fdp-program');
            const fdpProgramLink = document.getElementById('fdp-program-link');
            const workShopDetails = document.getElementById('workshop-details');
            const workShopLink = document.getElementById('workshop-details-link');
            const invitingFaculty = document.getElementById('inviting-faculty');
            const invitingFacultyLink = document.getElementById('inviting-faculty-link');
            const programOrientation = document.getElementById('program-orientation');
            const programOrientationLink = document.getElementById('program-orientation-link');
            const pedagogyInnovationFile = document.querySelector('input[name="pedagogyInnovationFile"]');
            const programOrientationFile = document.querySelector('input[name="programOrientationFile"]');
            const fdpProgramFile = document.querySelector('input[name="fdpProgramFile"]');
            const workShopFile = document.querySelector('input[name="workShopFile"]');
            const invitingFacultyFile = document.querySelector('input[name="invitingFacultyFile"]');

            // making input fileds empty
            pedagogyInnovation.value = '';
            pedagogyLink.value = '';
            fdpProgram.value = '';
            fdpProgramLink.value = '';
            workShopDetails.value = '';
            workShopLink.value = '';
            invitingFaculty.value = '';
            invitingFacultyLink.value = '';
            programOrientation.value = '';
            programOrientationLink.value = '';
            pedagogyInnovationFile.value = '';
            programOrientationFile.value = '';
            workShopFile.value = '';
            fdpProgramFile.value = '';
            invitingFacultyFile.value = '';
        }
    });

    const insertTeachingExecellance = async (url) => {
        const teachingExecellanceData = new FormData();
        const pedagogyInnovation = document.getElementById('pedagogy-innovation').value;
        const pedagogyInnovationFile = document.querySelector('input[name="pedagogyInnovationFile"]');
        const pedagogyLink = document.getElementById('pedagogy-innovation-link').value;
        const fdpProgram = document.getElementById('fdp-program').value;
        const fdpProgramFile = document.querySelector('input[name="fdpProgramFile"]');
        const fdpProgramLink = document.getElementById('fdp-program-link').value;
        const workShopDetails = document.getElementById('workshop-details').value;
        const workShopFile = document.querySelector('input[name="workShopFile"]');
        const workShopLink = document.getElementById('workshop-details-link').value;
        const invitingFaculty = document.getElementById('inviting-faculty').value;
        const invitingFacultyFile = document.querySelector('input[name="invitingFacultyFile"]');
        const invitingFacultyLink = document.getElementById('inviting-faculty-link').value;
        const programOrientation = document.getElementById('program-orientation').value;
        const programOrientationFile = document.querySelector('input[name="programOrientationFile"]');
        const programOrientationLink = document.getElementById('program-orientation-link').value;

        teachingExecellanceData.append('pedagogyInnovation' , pedagogyInnovation);
        teachingExecellanceData.append('pedagogyInnovationFile' , pedagogyInnovationFile.files[0]); 
        teachingExecellanceData.append('pedagogyLink' , pedagogyLink);
        teachingExecellanceData.append('fdpProgram' , fdpProgram);
        teachingExecellanceData.append('fdpProgramFile' , fdpProgramFile.files[0]); 
        teachingExecellanceData.append('fdpProgramLink' , fdpProgramLink);
        teachingExecellanceData.append('workShopDetails' , workShopDetails); 
        teachingExecellanceData.append('workShopFile' , workShopFile.files[0]); 
        teachingExecellanceData.append('workShopLink' , workShopLink); 
        teachingExecellanceData.append('invitingFaculty' , invitingFaculty); 
        teachingExecellanceData.append('invitingFacultyFile' , invitingFacultyFile.files[0]); 
        teachingExecellanceData.append('invitingFacultyLink' , invitingFacultyLink);
        teachingExecellanceData.append('programOrientation' , programOrientation) 
        teachingExecellanceData.append('programOrientationFile' , programOrientationFile.files[0]); 
        teachingExecellanceData.append('programOrientationLink' , programOrientationLink); 

        fetch(url , {
            method : 'POST', 
            body : teachingExecellanceData
        })
        .then((result) => {
            return result.json()
        })
        .then((data) => {
            if(data.status === 'done'){
                console.log('data ==>>', data)
                const newTeachingExecellance = document.createElement('tr');
                newTeachingExecellance.setAttribute('data-pedagogy-innovation-file' , data.pedagogyInnovationFile[0].filename);
                newTeachingExecellance.setAttribute('data-fdp-program-file' , data.fdpProgramFile[0].filename); 
                newTeachingExecellance.setAttribute('data-workshop-file' , data.workShopFile[0].filename); 
                newTeachingExecellance.setAttribute('data-pedagogy-innovation-link' , data.teachingData.pedagogyLink);
                newTeachingExecellance.setAttribute('data-fdp-program-link' , data.teachingData.fdpProgramLink); 
                newTeachingExecellance.setAttribute('data-workshop-link' , data.teachingData.workShopLink); 
                newTeachingExecellance.setAttribute('data-inviting-faculty-file' , data.invitingFacultyFile[0].filename); 
                newTeachingExecellance.setAttribute('data-inviting-faculty-link' , data.teachingData.invitingFacultyLink); 
                newTeachingExecellance.setAttribute('data-program-orientation-file' , data.pedagogyInnovationFile[0].filename); 
                newTeachingExecellance.setAttribute('data-program-orientation-link' , data.teachingData.programOrientationLink);
                newTeachingExecellance.innerHTML = `
                                    <td >${indexValue}</td>
                                    <td class="pedagogy-innovation">${data.teachingData.pedagogyInnovation}</td>
                                    <td class="fdp-program">${data.teachingData.fdpProgram}</td>
                                    <td class="workshop-details">${data.teachingData.workShopDetails}</td>
                                    <td class="inviting-faculty">${data.teachingData.invitingFaculty}</td>
                                    <td class="program-orientation">${data.teachingData.programOrientation}</td>
                                    <td class="cell ">
                                        <label class="view" data-teaching-id=${data.teachingId}><i class="fa-solid fa-eye view text-danger"
                                            data-teaching-id=${data.teachingId}></i></label>
                                        <label class="edit" data-teaching-id=${data.teachingId}><i class="fa fa-edit edit text-danger"
                                            data-teaching-id=${data.teachingId}></i></label>
                                        <label class="delete" data-teaching-id=${data.teachingId}><i class="fa-solid fa-trash delete text-danger"
                                            data-teaching-id=${data.teachingId}></i></label>
                                    </td>`;
                                    teachingExecellanceList.appendChild(newTeachingExecellance);
            }
            $('#teaching-execellance-modal').modal('hide');
            alert('Data Inserted Successfully')
        })
    }

    submitBtn.addEventListener('click', async () => {
        const isValid = validateRequiredFormFields(submitBtn);
            if (isValid) {
                await insertTeachingExecellance('<%- BASE_URL %>teaching-excellance/insert');
                indexValue += 1;
            }
            else {
                console.log('validation failed');
            }
    });

    teachingExecellanceList.addEventListener('click' , (event) => {
        if(event.target.classList.contains('view')){
            console.log('clickedddd')
            const teachingExecellanceRowToBeViewed = event.target.closest('tr');
            teachingId = event.target.getAttribute('data-teaching-id');
            console.log('teachingId ==>>', teachingId);
            // const pedagogyFile = document.getElementById('pedagogyFile');
            // const FdpFile = document.getElementById('FdpFile');
            // const workShopDataFile = document.getElementById('workShopDataFile');
            // const invitingFile = document.getElementById('invitingFile');
            // const orientationFile = document.getElementById('orientationFile');

            const viewPedagogyInnovation = document.getElementById('view-pedagogy-innovation');
            const viewPedagogyInnovationFile = document.getElementById('view-pedagogy-innovation-file');
            const viewPedagogyLink = document.getElementById('view-pedagogy-innovation-link');
            const viewFdpProgram = document.getElementById('view-fdp-program');
            const viewFdpProgramFile = document.getElementById('view-fdp-program-file');
            const viewFdpProgramLink = document.getElementById('view-fdp-program-link');
            const viewWorkShopDetails = document.getElementById('view-workshop-details');
            const viewWorkShopFile = document.getElementById('view-workshop-file');
            const viewWorkShopLink = document.getElementById('view-workshop-link');
            const viewInvitingFaculty = document.getElementById('view-inviting-faculty');
            const viewInvitingFacultyFile = document.getElementById('view-inviting-faculty-file');
            const viewInvitingFacultyLink = document.getElementById('view-inviting-faculty-link');
            const viewProgramOrientation = document.getElementById('view-program-orientation');
            const viewProgramOrientationFile = document.getElementById('view-program-orientation-file');
            const viewProgramOrientationLink = document.getElementById('view-program-orientation-link');

            fetch('<%- BASE_URL %>teaching-excellance/view' , {
                method : 'POST',
                headers : {
                    'content-type' : 'application/json'
                },
                body : JSON.stringify({teachingId})
            })
            .then((result) => {
                return result.json()
            })
            .then((data) => {
                if(data.status === 'done'){
                    console.log('data ==>>', data);
                    setFileNameInButtons(data);
                    viewPedagogyInnovation.innerText =  data.teachingExecellanceView.pedagogy_innovation;
                    viewPedagogyInnovationFile.innerText =  data.teachingExecellanceView.pedagogy_innovation_file;
                    viewPedagogyLink.innerText =  data.teachingExecellanceView.pedagogy_innovation_link;
                    viewFdpProgram.innerText =  data.teachingExecellanceView.fdp_program;
                    viewFdpProgramFile.innerText = data.teachingExecellanceView.fdp_program_file;
                    viewFdpProgramLink.innerText =  data.teachingExecellanceView.fdp_program_link;
                    viewWorkShopDetails.innerText =  data.teachingExecellanceView.workshop_details;
                    viewWorkShopFile.innerText =  data.teachingExecellanceView.workshop_file;
                    viewWorkShopLink.innerText =  data.teachingExecellanceView.workshop_link;
                    viewInvitingFaculty.innerText =  data.teachingExecellanceView.inviting_faculty;
                    viewInvitingFacultyFile.innerText =  data.teachingExecellanceView.inviting_faculty_file;
                    viewInvitingFacultyLink.innerText =  data.teachingExecellanceView.inviting_faculty_link;
                    viewProgramOrientation.innerText =  data.teachingExecellanceView.program_orientation;
                    viewProgramOrientationFile.innerText =  data.teachingExecellanceView.program_orientation_file;
                    viewProgramOrientationLink.innerText =  data.teachingExecellanceView.program_orientation_link;
                    
                }
            })            
            $('#teaching-excellance-view-modal').modal('show');
        }

        if(event.target.classList.contains('delete')){
            console.log('clickedd');
            teachingExecellanceRowToBeDeleted = event.target.closest('tr');
            teachingId = event.target.getAttribute('data-teaching-id');
            let confirmDelete = confirm("Do you want to delete the Execellance?");
            if(!confirmDelete) {
                return;
            }

            fetch('<%- BASE_URL %>teaching-excellance/delete' , {
                method : 'POST',
                headers: {
                    'content-type' : 'application/json'
                },
                body : JSON.stringify({teachingId})
            })
            .then((result) => {
                return result.json()
            })
            .then((data) => {
                if(data.status === 'done'){
                    teachingExecellanceRowToBeDeleted.remove();
                    location.reload();
                }
            })
        }
        
        if(event.target.classList.contains('edit')){
            console.log('clickeddddd')
            removeErrorMsg();
            submitBtn.classList.add('d-none');
            updateBtn.classList.remove('d-none');
            // pedagogyFile.classList.remove('d-none');
            // FdpFile.classList.remove('d-none');
            // workShopDataFile.classList.remove('d-none');
            // invitingFile.classList.remove('d-none');
            // orientationFile.classList.remove('d-none');
            teachingRowToBeUpdated = event.target.closest('tr');
            console.log('teachingRowToBeUpdated ==>>', teachingRowToBeUpdated);
            teachingId = event.target.getAttribute('data-teaching-id');
            console.log('id for updated ==>>', teachingId);

            const pedagogyInnovation = document.getElementById('pedagogy-innovation');
            const pedagogyLink = document.getElementById('pedagogy-innovation-link');
            const fdpProgram = document.getElementById('fdp-program');
            const fdpProgramLink = document.getElementById('fdp-program-link');
            const workShopDetails = document.getElementById('workshop-details');
            const workShopLink = document.getElementById('workshop-details-link');
            const invitingFaculty = document.getElementById('inviting-faculty');
            const invitingFacultyLink = document.getElementById('inviting-faculty-link');
            const programOrientation = document.getElementById('program-orientation');
            const programOrientationLink = document.getElementById('program-orientation-link');

            // assigning actually value
            pedagogyInnovation.value = teachingRowToBeUpdated.querySelector('.pedagogy-innovation').innerText;
            const pedagogyInnovationFile  = teachingRowToBeUpdated.getAttribute('data-pedagogy-innovation-file');
            pedagogyLink.value = teachingRowToBeUpdated.getAttribute('data-pedagogy-innovation-link');
            fdpProgram.value = teachingRowToBeUpdated.querySelector('.fdp-program').innerText;
            const fdpProgramFile  = teachingRowToBeUpdated.getAttribute('data-fdp-program-file');
            fdpProgramLink.value = teachingRowToBeUpdated.getAttribute('data-fdp-program-link');
            console.log('fdpProgramLink.value ==>>', fdpProgramLink.value)
            workShopDetails.value = teachingRowToBeUpdated.querySelector('.workshop-details').innerText;
            const workShopFile  = teachingRowToBeUpdated.getAttribute('data-workshop-file');
            console.log('workShopFile ===>>>::::', workShopFile)
            workShopLink.value = teachingRowToBeUpdated.getAttribute('data-workshop-link');
            invitingFaculty.value = teachingRowToBeUpdated.querySelector('.inviting-faculty').innerText;
            const invitingFacultyFile  = teachingRowToBeUpdated.getAttribute('data-inviting-faculty-file');
            invitingFacultyLink.value = teachingRowToBeUpdated.getAttribute('data-inviting-faculty-link');
            programOrientation.value = teachingRowToBeUpdated.querySelector('.program-orientation').innerText;
            const programOrientationFile = teachingRowToBeUpdated.getAttribute('data-program-orientation-file');
            programOrientationLink.value = teachingRowToBeUpdated.getAttribute('data-program-orientation-link');

            $('#teaching-execellance-modal').modal('show');
        }
    
    })
   
    
    const updatedTeachingExecellanceData = async(url) => {
        const updatedTeachingData = new FormData();
        const updatedPedagogyInnovation = document.getElementById('pedagogy-innovation').value;
        let updatedPedagogyInnovationFile = document.querySelector('input[name="pedagogyInnovationFile"]');
        const updatedPedagogyLink = document.getElementById('pedagogy-innovation-link').value;
        const updatedFdpProgram = document.getElementById('fdp-program').value;
        let updatedFdpProgramFile = document.querySelector('input[name="fdpProgramFile"]');
        const updatedFdpProgramLink = document.getElementById('fdp-program-link').value;
        const updatedWorkShopDetails = document.getElementById('workshop-details').value;
        let updatedWorkShopFile = document.querySelector('input[name="workShopFile"]');
        const updatedWorkShopLink = document.getElementById('workshop-details-link').value;
        const updatedInvitingFaculty = document.getElementById('inviting-faculty').value;
        let updatedInvitingFacultyFile = document.querySelector('input[name="invitingFacultyFile"]');
        const updatedInvitingFacultyLink = document.getElementById('inviting-faculty-link').value;
        const updatedProgramOrientation = document.getElementById('program-orientation').value;
        let updatedProgramOrientationFile = document.querySelector('input[name="programOrientationFile"]');
        const updatedProgramOrientationLink = document.getElementById('program-orientation-link').value;

        updatedTeachingData.append('teachingId' , teachingId)
        updatedTeachingData.append('pedagogyInnovation' , updatedPedagogyInnovation);
        if(updatedPedagogyInnovationFile && updatedPedagogyInnovationFile.files && updatedPedagogyInnovationFile.files.length > 0){
            updatedTeachingData.append('pedagogyInnovationFile' , updatedPedagogyInnovationFile.files[0]); 
        }
        else{
            updatedPedagogyInnovationFile = null;
            updatedTeachingData.append('pedagogyInnovationFile' , updatedPedagogyInnovationFile); 

        }
        updatedTeachingData.append('pedagogyLink' , updatedPedagogyLink);
        updatedTeachingData.append('fdpProgram' , updatedFdpProgram);
        if(updatedFdpProgramFile && updatedFdpProgramFile.files && updatedFdpProgramFile.files.length > 0){
            updatedTeachingData.append('fdpProgramFile' , updatedFdpProgramFile.files[0]); 
        }
        else{
            updatedFdpProgramFile = null;
            updatedTeachingData.append('fdpProgramFile' , updatedFdpProgramFile); 
        }
        updatedTeachingData.append('fdpProgramLink' , updatedFdpProgramLink);
        updatedTeachingData.append('workShopDetails' , updatedWorkShopDetails); 
        if(updatedWorkShopFile  &&  updatedWorkShopFile.files && updatedWorkShopFile.files.length > 0){
            updatedTeachingData.append('workShopFile' , updatedWorkShopFile.files[0]); 
        }
        else{
            updatedWorkShopFile = null;
            updatedTeachingData.append('workShopFile' , updatedWorkShopFile); 
        }
        updatedTeachingData.append('workShopLink' , updatedWorkShopLink); 
        updatedTeachingData.append('invitingFaculty' , updatedInvitingFaculty); 
        if(updatedInvitingFacultyFile && updatedInvitingFacultyFile.files && updatedInvitingFacultyFile.files.length > 0){
            updatedTeachingData.append('invitingFacultyFile' , updatedInvitingFacultyFile.files[0]); 
        }
        else{
            updatedInvitingFacultyFile = null;
            updatedTeachingData.append('invitingFacultyFile' , updatedInvitingFacultyFile); 
        }
        updatedTeachingData.append('invitingFacultyLink' , updatedInvitingFacultyLink);
        updatedTeachingData.append('programOrientation' , updatedProgramOrientation) 
        if(updatedProgramOrientationFile && updatedProgramOrientationFile.files && updatedProgramOrientationFile.files.length > 0){
            updatedTeachingData.append('programOrientationFile' , updatedProgramOrientationFile.files[0]); 
        }
        else{
            updatedProgramOrientationFile = null;
            updatedTeachingData.append('programOrientationFile' , updatedProgramOrientationFile); 
        }
        updatedTeachingData.append('programOrientationLink' , updatedProgramOrientationLink);

        fetch(url , {
            method : 'POST',
            body : updatedTeachingData
        })
        .then((result) => {
            return result.json()
        })
        .then((data) => {
            if(data.status === 'done'){
                console.log('data ==>>', data);
                teachingRowToBeUpdated.querySelector('.pedagogy-innovation').innerText = data.updatedTeachingExecellance.pedagogyInnovation;
                teachingRowToBeUpdated.querySelector('.fdp-program').innerText = data.updatedTeachingExecellance.fdpProgram;
                teachingRowToBeUpdated.querySelector('.workshop-details').innerText = data.updatedTeachingExecellance.workShopDetails;
                teachingRowToBeUpdated.querySelector('.inviting-faculty').innerText = data.updatedTeachingExecellance.invitingFaculty;
                teachingRowToBeUpdated.querySelector('.program-orientation').innerText = data.updatedTeachingExecellance.programOrientation;
               
                if(updatedPedagogyInnovationFile){
                    teachingRowToBeUpdated.setAttribute('data-pedagogy-innovation-file' , data.pedagogyInnovationFile[0].filename);
                }
                
                if(updatedFdpProgramFile){
                    teachingRowToBeUpdated.setAttribute('data-fdp-program-file' , data.fdpProgramFile[0].filename); 
                }
                
                if(updatedWorkShopFile){
                    teachingRowToBeUpdated.setAttribute('data-workshop-file' , data.workShopFile[0].filename); 
                }
                
                teachingRowToBeUpdated.setAttribute('data-pedagogy-innovation-link' , data.updatedTeachingExecellance.pedagogyLink);
                teachingRowToBeUpdated.setAttribute('data-fdp-program-link' , data.updatedTeachingExecellance.fdpProgramLink); 
                teachingRowToBeUpdated.setAttribute('data-workshop-link' , data.updatedTeachingExecellance.workShopLink); 
                
                if(updatedInvitingFacultyFile){
                    teachingRowToBeUpdated.setAttribute('data-inviting-faculty-file' , data.invitingFacultyFile[0].filename); 
                }
                teachingRowToBeUpdated.setAttribute('data-inviting-faculty-link' , data.updatedTeachingExecellance.invitingFacultyLink); 
                
                if(updatedProgramOrientationFile){
                    teachingRowToBeUpdated.setAttribute('data-program-orientation-file' , data.programOrientationFile[0].filename); 
                } 

                teachingRowToBeUpdated.setAttribute('data-program-orientation-link' , data.updatedTeachingExecellance.programOrientationLink);
            }
            $('#teaching-execellance-modal').modal('hide');
            alert('Data Updated SuccessFully')
        })

    };

    updateBtn.addEventListener('click', async () => {
            formGroup = updateBtn.closest('.validate-input')
            console.log("formGroup::::::::", formGroup)
            formGroup.querySelectorAll('input[type="file"]')?.forEach(elm => {
                console.log("elm:::::::::", elm);
                elm.removeAttribute('data-validate')
            })
            const isValid = validateRequiredFormFields(updateBtn);
            if (isValid) {
                await updatedTeachingExecellanceData('<%- BASE_URL %>teaching-excellance/update');
            }
            else {
                console.log('Validation Failed');
            }
        })

    // for set attribute tpo button for download file
    function setFileNameInButtons(result) {
        console.log('result ===>>>', result);
        const pedagogyFile = document.getElementById('pedagogy-file-view');
        const FdpFile = document.getElementById('fdp-file-view');
        const workShopDataFile = document.getElementById('work-shop-file-view');
        const invitingFile = document.getElementById('inviting-file-view');
        const orientationFile = document.getElementById('orientation-file-view');
        pedagogyFile.setAttribute('data-filename' , result.teachingExecellanceView.pedagogy_innovation_file);
        FdpFile.setAttribute('data-filename' , result.teachingExecellanceView.pedagogy_innovation_file)
        workShopDataFile.setAttribute('data-filename' , result.teachingExecellanceView.workshop_file);
        invitingFile.setAttribute('data-filename' , result.teachingExecellanceView.inviting_faculty_file);
        console.log('invitingFile ===>>>::::', invitingFile)
        orientationFile.setAttribute('data-filename' , result.teachingExecellanceView.program_orientation_file);
        console.log('pedagogyFile in side setFileNameInButtons  ==>>', pedagogyFile);
        console.log('workShopDataFile ==>>::::', workShopDataFile);
        }
    //for dowload file
    document.addEventListener('click', function (event) {
            const button = event.target.closest('button');
            // console.log('button ===>>>:::', button);
            if (button && button.id && button.classList.contains('download-file')) {
                console.log('button in side if ==>>', button)
                const fileName = button.getAttribute('data-filename');
                console.log('file ===>>>>', fileName);
                const fileUrl = `<%- BASE_URL %>teaching-excellance/download/${fileName}`;
                console.log('fileUrl ===>>>', fileUrl)
                downloadFile(fileName, fileUrl);
            }
        });


 
</script>   
<!-- footer section -->
<%- include('./partials/pagination') %>
<%- include('./partials/footer') %>
<%- include('./partials/footer-end') %>
           