<%- include('./partials/head') %>
    <!-- inline css -->
    <!-- Navbar section -->
    <%- include('./partials/header') %>
        <!-- This is left sidebar  -->
        <%- include('./partials/left-sidebar') %>

        <style>
/* #modalHeader {
    position: absolute;
    left: 0;
    top: 0;
    right:0;
}

.modal-title {
    text-align: center;
    display: flex;
    align-items: center;
} */


        </style>
            <!-- This is right side section -->
           
            <main class="main" id="main-content">

                <%- include('./partials/loader') %>

                <div class="base-section coustom-section">
                    <!--DASHBOARD CONTENT START-->
                    <div class="errorHtml"></div>
                    <div class="breadcrumbs-container">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-link">
                                <a href="<%- BASE_URL %>research"> Research </a>
                            </li>
                            <li class="breadcrumb-link"> Teaching Execellence </li>
                        </ul>
                    </div>
                    <div>
                        <div class="table-card-header text-uppercase d-flex align-items-center justify-content-between">
                            <div>
                                <h5  class="pl-2">TEACHING EXECELLENCE LIST</h5>
                            </div>
                            <div>
                                <button id="teaching-execellance-add-modal" type="button"
                                    class="btn btn-primary add-modal" data-toggle="modal"
                                    data-target="#teaching-execellance-modal">
                                    <i class="fas fa-plus plus"></i></button>
                                </button>
                            </div>
                        </div>
                        <div class="card-body table-responsive">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <!-- <label>Show Entries</label>
                                    <select class="form-select" id="changeEntry">
                                        <option value="5">5</option>
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="150">150</option>
                                        <option value="200">200</option>
                                        <option value="250">250</option>
                                        <option value="300">300</option>
                                        <option value="350">350</option>
                                        <option value="400">400</option>
                                        <option value="500">500</option>
                                        <option value="800">800</option>
                                        <option value="1000">1000</option>
                                    </select> -->
                                </div>
                                <div>
                                    <!-- <div class="table-searchbar-container">
                                        <button type="button" id="searchBtn"><i class="fas fa-search"></i></button>
                                        <input type="search" id="searchKeyword" placeholder="Enter keywords"
                                            class="table-searchbar">
                                    </div> -->
                                </div>
                            </div>
                            <table class="table custom-table table-responsive data-list research-pagination"
                                id="teaching-execellance-data-list">
                                <thead>
                                    <tr scope="row">
                                        <th class="col-lg-1">#</th>
                                        <th class="col-lg-1">Pedagogy innovation</th>
                                        <th class="col-lg-1">FDP Program on academic</th>
                                        <th class="col-lg-1">Workshop for Students</th>
                                        <th class="col-lg-1">Inviting visiting faculty from the industry to handle
                                            workshops
                                        </th>
                                        <th class="col-lg-1">Program Orientation</th>
                                        <th class="col-lg-1">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% teachingExecellance.forEach(function(teaching, index) { %>
                                        <tr scope="row" data-teaching-id="<%- teaching.id %>"
                                            data-pedagogy-innovation-file="<%- teaching.pedagogy_innovation_file %>"
                                            data-fdp-program-file="<%- teaching.fdp_program_file %>"
                                            data-workshop-file="<%- teaching.workshop_file %>"
                                            data-pedagogy-innovation-link="<%- teaching.pedagogy_innovation_link %>"
                                            data-fdp-program-link="<%- teaching.fdp_program_link %>"
                                            data-workshop-link="<%- teaching.workshop_link %>"
                                            data-inviting-faculty-file="<%- teaching.inviting_faculty_file %>"
                                            data-inviting-faculty-link="<%- teaching.inviting_faculty_link %>"
                                            data-program-orientation-file="<%- teaching.program_orientation_file %>"
                                            data-program-orientation-link="<%- teaching.program_orientation_link %>"
                                            data-pedagogy-innovation-description="<%-teaching.pedagogy_innovation_description %>"
                                            data-fdp-program-description="<%-teaching.fdp_program_description %>"
                                            data-workshop-details-description="<%-teaching.workshop_details_description %>"
                                            data-inviting-faculty-description="<%-teaching.inviting_faculty_description %>"
                                            data-program-orientation-description="<%-teaching.program_orientation_description %>">
                                            <td><%- index+1 %></td>
                                            <td class="pedagogy-innovation col-lg-1"><%- teaching.pedagogy_innovation %>
                                            </td>
                                            <td class="fdp-program col-lg-1"><%- teaching.fdp_program %></td>
                                            <td class="workshop-details col-lg-1"><%- teaching.workshop_details %></td>
                                            <td class="inviting-faculty col-lg-1"><%- teaching.inviting_faculty %></td>
                                            <td class="program-orientation col-lg-1"><%- teaching.program_orientation %>
                                            </td>
                                            <!-- <td class="cell col-lg-1">
                                <label class="view" data-teaching-id="<%- teaching.id %>"><i class="fa-solid fa-eye view text-danger"
                                    data-teaching-id="<%- teaching.id %>"></i></label>
                                <label class="edit" data-teaching-id="<%- teaching.id %>"><i class="fa fa-edit edit text-danger"
                                    data-teaching-id="<%- teaching.id %>"></i></label>
                                <label class="delete" data-teaching-id="<%- teaching.id %>"><i class="fa-solid fa-trash delete text-danger"
                                    data-teaching-id="<%- teaching.id %>"></i></label>
                            </td> -->
                                            <td style="display:flex;justify-content: center;">
                                                <b title="View" class="border-right-0 view" style="cursor: pointer;"
                                                    data-teaching-id="<%- teaching.id %>">
                                                    &#128065;
                                                </b>&ensp;
                                                <b title="Edit" class="border-right-0 edit" style="cursor: pointer;"
                                                    data-teaching-id="<%- teaching.id %>">
                                                    &#9998;
                                                </b>&ensp;
                                                <b title="Delete" class="border-right-0 delete" style="cursor: pointer;"
                                                    data-teaching-id="<%- teaching.id %>">
                                                    &#128465;
                                                </b>
                                            </td>
                                        </tr>
                                        <% }); %>
                                </tbody>
                                <tr>
                                    <div id="no-records-message"
                                        style="display: none; color: red; margin-top: 10px; padding-left: 40%;">
                                        <b class="no-record">No records found.</b>
                                    </div>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <label id="total-row-count"></label>
                            <label class="d-none" id="row-count"></label>
                        </div>
                        <div>
                            <!-- <button id="prevBtn" class="btn btn-primary">Previous</button>
                            <button id="nextBtn" class="btn btn-primary">Next</button>
                            <p id="pagination" class="pagination-search"></p> -->
                        </div>
                    </div>
                    <!--Import Modal -->
                    <div class="modal fade" id="open-program-modal" tabindex="-1" aria-labelledby="open-program-modal"
                        aria-hidden="true">
                    </div>
                    <!-- EDIT PROGRAM AND UPDATE -->
                    <div class="modal fade" id="edit-program-modal" tabindex="-1" aria-labelledby="editModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editModalLabel">Update Program</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div id="errorHtml"></div>
                                <div class="modal-body">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Program Name</label>
                                        <input type="text" class="form-control" id="program_name" name="program_name">
                                        <input type="hidden" class="form-control" id="hidden_id" name="hidden_id">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Program Type</label>
                                        <select class="form-control" name="program_type_lid" id="program_type_lid">
                                            <option value="1">Full Time</option>
                                            <option value="2">Part Time</option>
                                        </select>
                                    </div>

                                    <div class="mb-3">
                                        <label for="abbr" class="form-label">Program Abbr</label>
                                        <input type="text" class="form-control" id="abbr" name="abbr">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary updateProgram">Update</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <!-- Modal  form -->

            <!-- Arun -->
            <div class="modal fade " id="teaching-execellance-modal" tabindex="-1" role="dialog"
                aria-labelledby="teaching-execellance" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
                    <div class="modal-content modal-content-data validate-input">
                        <div class="modal-header">
                            <div style="width:80%;" class="d-flex justify-content-center">
                            <h2 style="position: absolute;left: 20px;"  id="modalHeader" class="d-none">Edit</h2>
                            <h5 class="modal-title ml-4">TEACHING EXECELLENCE </h5>
                            </div>
                            <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fas fa-times"></i></span>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <!-- Pedagogy innovation -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="pedagogy-innovation" class="form-label fw-bold">Pedagogy
                                        Innovation</label>
                                    <input type="text" name="PedagogyInnovation" id="pedagogy-innovation"
                                        data-validate="isEmpty,isNotNumber,isExist"
                                        data-err-msg="Provide Valid Input" class="form-control"
                                        required />
                                </div>
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="pedagogy-innovation" class="form-label fw-bold">Description
                                        </label>
                                    <input type="text" name="pedagogyInnovationDescription" id="pedagogy-innovation-description"
                                        data-validate="isEmpty,isNotNumber,isExist"
                                        data-err-msg="This field is required and min length > 1." class="form-control"
                                        required />
                                </div>

                                <!-- file upload -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="pedagogy-innovation-file" class="form-label fw-bold ">Upload
                                        Documents</label>
                                    <div class="d-flex">
                                        <input type="file" name="pedagogyInnovationFile" id="pedagogy-innovation-file"
                                            data-validate="isEmpty,isExist,isFile" data-err-msg="File is required."
                                            class="col-md-12 form-control" required multiple>
                                        <button class="download-btn download-file" id="pedagogy-file-edit">
                                            <i class="fas fa-download text-danger"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- link -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="pedagogy-innovation-link" class="form-label fw-bold">Link</label>
                                    <input type="text" name="pedagogyLink" id="pedagogy-innovation-link"
                                        data-validate="isEmpty,isValidHttpUrl,isExist,isLength:10:255"
                                        data-err-msg="Link is required." class="form-control" required />
                                </div>
                            </div>

                            <div class="row">
                                <!-- FDP Program on academic processes (pedagogy, case teaching, simulations) -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="fdp-program" class="form-label fw-bold">FDP Program on Academic
                                        Processes (Pedagogy,
                                        Case Teaching, Simulations)</label>
                                    <input type="text" name="fdp-program" id="fdp-program"
                                        data-validate="isEmpty,isNotNumber,isExist"
                                        data-err-msg="Provide Valid Input" class="form-control"
                                        required>
                                </div>
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="fdp-program" class="form-label fw-bold">Description</label>
                                    <input type="text" name="FdpProgramDescription" id="fdp-program-description"
                                        data-validate="isEmpty,isNotNumber,isExist"
                                        data-err-msg="This field is required and min length > 1." class="form-control"
                                        required>
                                </div>

                                <!-- file upload -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="fdp-program" class="form-label fw-bold  mb-4">Upload Documents</label>
                                    <div class="d-flex">
                                        <input type="file" name="fdpProgramFile" id="fdp-program-file"
                                            data-validate="isEmpty,isExist,isFile" data-err-msg="File is required."
                                            class="col-md-12 form-control" required multiple>
                                        <button class="download-btn download-file" id="fdp-file-edit">
                                            <i class="fas fa-download text-danger"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- link -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="fdp-program-link" class="form-label fw-bold mb-4">Link</label>
                                    <input type="text" name="pada" id="fdp-program-link"
                                        data-validate="isEmpty,isValidHttpUrl,isExist,isLength:10:255"
                                        data-err-msg="Link is required." class="form-control" required />
                                </div>
                            </div>

                            <div class="row">
                                <!-- Workshop for Students -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="workshop-details" class="form-label fw-bold">Workshop For
                                        Students</label>
                                    <input type="text" name="workshop-details" id="workshop-details"
                                        data-validate="isEmpty,isNotNumber,isExist"
                                        data-err-msg="Provide Valid Input" class="form-control"
                                        required>
                                </div>
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="workshop-details" class="form-label fw-bold">Description</label>
                                    <input type="text" name="workshopDetailsDescription" id="workshop-details-description"
                                        data-validate="isEmpty,isNotNumber,isExist"
                                        data-err-msg="This field is required and min length > 1." class="form-control"
                                        required>
                                </div>
                                <!-- file upload -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="work-shop-file" class="form-label fw-bold ">Upload Documents</label>
                                    <div class="d-flex">
                                        <input type="file" name="workShopFile" id="work-shop-file"
                                            class="col-md-12 form-control" data-validate="isEmpty,isExist,isFile"
                                            data-err-msg="file is required." required multiple>
                                        <button class="download-btn download-file" id="work-shop-file-edit">
                                            <i class="fas fa-download text-danger"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- link -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="workshop-details-link" class="form-label fw-bold">Link</label>
                                    <input type="text" name="pada" id="workshop-details-link"
                                        data-validate="isEmpty,isValidHttpUrl,isExist,isLength:10:255"
                                        data-err-msg="Link is required." class="form-control" required />
                                </div>
                            </div>
                            <div class="row">
                                <!-- Inviting visiting faculty from the industry to handle niche workshops  -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="inviting-faculty" class="form-label fw-bold">Inviting Visiting Faculty
                                        From
                                        the industry to Handle Niche Workshops</label>
                                    <input type="text" name="inviting-faculty" id="inviting-faculty"
                                        data-validate="isEmpty,isNotNumber,isExist"
                                        data-err-msg="Provide Valid Input" class="form-control "
                                        required>
                                </div>
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="inviting-faculty" class="form-label fw-bold">Description</label>
                                    <input type="text" name="invitingFacultyDescription" id="inviting-faculty-description"
                                        data-validate="isEmpty,isNotNumber,isExist"
                                        data-err-msg="This field is required and min length > 1." class="form-control "
                                        required>
                                </div>
                                <!-- file upload -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="inviting-faculty-file" class="form-label fw-bold mb-4">Upload
                                        Documents</label>
                                    <div class="d-flex">
                                        <input type="file" name="invitingFacultyFile" id="inviting-faculty-file"
                                            data-validate="isEmpty,isExist,isFile" data-err-msg="File is required."
                                            class="col-md-12 form-control" required multiple>
                                        <button class="download-btn download-file" id="inviting-file-edit">
                                            <i class="fas fa-download text-danger"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- link -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="inviting-faculty-link" class="form-label fw-bold mb-4">Link</label>
                                    <input type="text" name="pada" id="inviting-faculty-link"
                                        data-validate="isEmpty,isValidHttpUrl,isExist,isLength:10:255" class="form-control"
                                        data-err-msg="Link is required." required />
                                </div>
                            </div>

                            <div class="row">
                                <!-- Program Orientation -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                    <label for="program-orientation" class="form-label fw-bold ">Program
                                        Orientation</label>
                                    <input type="text" name="program-orientation"
                                        data-validate="isEmpty,isNotNumber,isExist"
                                        data-err-msg="This field is required and min length > 1."
                                        id="program-orientation" class="form-control" required>
                                </div>
                                <div class="form-group col-lg-3 col-md-6 col-sm-12">
                                    <label for="program-orientation" class="form-label fw-bold ">Description</label>
                                    <input type="text" name="programOrientationDescription"
                                        data-validate="isEmpty,isNotNumber,isExist"
                                        data-err-msg="This field is required and min length > 1."
                                        id="program-orientation-description" class="form-control" required>
                                </div>
                                <!-- file upload -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="program-orientation-file" class="form-label fw-bold ">Upload
                                        Documents</label>
                                    <div class="d-flex">
                                        <input type="file" name="programOrientationFile" class="col-md-12 form-control"
                                            data-validate="isEmpty,isExist,isFile" data-err-msg="File is required."
                                            id="program-orientation-file" required multiple>
                                        <button class="download-btn download-file" id="orientation-file-edit">
                                            <i class="fas fa-download text-danger"></i>
                                        </button>
                                    </div>
                                </div>
                                <!-- link -->
                                <div class="form-group col-lg-3 col-md-6 col-sm-12 mb-4">
                                    <label for="program-orientation-link" class="form-label fw-bold">Link</label>
                                    <input type="text" name="programOrientationLink" id="program-orientation-link"
                                        data-validate="isEmpty,isValidHttpUrl,isExist,isLength:10:255"
                                        data-err-msg="Link is required." class="form-control" required />
                                </div>
                            </div>
                        </div>
                        <!-- footer button -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary d-none" id="submit-btn">Submit</button>
                            <button type="button" class="btn btn-primary d-none" id="update-btn">Update</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- teaching execellance view-modal -->
            <div class="modal fade" id="teaching-excellance-view-modal" tabindex="-1" role="dialog"
                aria-labelledby="teaching-execellance" aria-hidden="true">
                <div class="modal-dialog modal-dialog-scrollable modal-lg modal-fullscreen p-5" role="document">
                    <div class="modal-content modal-content-data">
                        <div class="modal-header">
                            <h5 class="modal-title" id="teaching-execellance">TEACHING EXECELLANCE </h5>
                            <div type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true"><i class="fas fa-times"></i></span>
                            </div>
                        </div>
                        <div class="modal-body">
                            <!-- Pedagogy Innovation -->
                            <div class="row">
                                <!-- pedagogy_innovation -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text"> Pedagogy Innovation:</div>
                                        <label class="view-content" id="view-pedagogy-innovation"></label>
                                    </div>
                                </div>
                                <!-- pedagogy_innovation_file -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">
                                            <button class="btn btn-primary h-10 w-10 download-file download-button"
                                                id="pedagogy-file-view">
                                                <i class="fas fa-download text-danger"></i> Pedagogy Innovation file
                                            </button>
                                        </div>
                                        <label class="view-content d-none" id="view-pedagogy-innovation-file"></label>
                                    </div>
                                </div>
                                <!-- pedagogy innovation link -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Link :</div>
                                        <label class="view-content" id="view-pedagogy-innovation-link"></label>
                                    </div>
                                </div>
                            </div>
                            <!-- fdp_program -->
                            <div class="row">
                                <!-- fdp_program -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text"> FDP Program on Academic Processs
                                            (Pedagogy, Case Teaching, Simulations):</div>
                                        <label class="view-content" id="view-fdp-program"></label>
                                    </div>
                                </div>
                                <!-- fdp_program_file -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">
                                            <button class="btn btn-primary h-10 w-10 download-file"
                                                id="fdp-file-data-view">
                                                <i class="fas fa-download text-danger"></i> FDP Program file
                                            </button>
                                        </div>
                                        <label class="view-content d-none" id="view-fdp-program-file"></label>
                                    </div>
                                </div>

                                <!-- fdp_program_link -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Link :</div>
                                        <label class="view-content" id="view-fdp-program-link"></label>
                                    </div>
                                </div>
                            </div>
                            <!-- WORKSHOP DETAILS -->
                            <div class="row">
                                <!-- workshop_details -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text"> WorkShop For Students:</div>
                                        <label class="view-content" id="view-workshop-details"></label>
                                    </div>
                                </div>
                                <!-- workshop_file -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">
                                            <button data-filename="workDataFile"
                                                class="btn btn-primary h-10 w-10 download-file"
                                                id="work-shop-file-view">
                                                <i class="fas fa-download text-danger"></i> WorkShop File
                                            </button>
                                        </div>
                                        <label class="view-content d-none" id="view-workshop-file"></label>
                                    </div>
                                </div>
                                <!-- LINK -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Link :</div>
                                        <label class="view-content" id="view-workshop-link"></label>
                                    </div>
                                </div>
                            </div>
                            <!-- inviting_faculty -->
                            <div class="row">
                                <!-- inviting_faculty -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text"> Inviting Visiting Faculty From The
                                            Industry To Handle Niche :</div>
                                        <labelv class="view-content" id="view-inviting-faculty"></label>
                                    </div>
                                </div>
                                <!--inviting_faculty_file -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">
                                            <button data-filename="facultyDataFile"
                                                class="btn btn-primary h-10 w-10 download-file" id="inviting-file-view">
                                                <i class="fas fa-download text-danger"></i> Inviting Faculty File
                                            </button>
                                        </div>
                                        <label class="view-content d-none" id="view-inviting-faculty-file"></label>
                                    </div>
                                </div>
                                <!-- inviting_faculty_link -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Link:</div>
                                        <label class="view-content" id="view-inviting-faculty-link"></label>
                                    </div>
                                </div>
                            </div>
                            <!-- program_orientation -->
                            <div class="row">
                                <!-- program_orientation -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Program Orientation :</div>
                                        <label class="view-content" id="view-program-orientation"></label>
                                    </div>
                                </div>
                                <!-- program_orientation_file -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">
                                            <button data-filename="programDataFile"
                                                class="btn btn-primary h-10 w-10 download-file"
                                                id="orientation-file-view">
                                                <i class="fas fa-download text-danger"></i> Program Orientation File
                                            </button>
                                        </div>
                                        <label class="view-content d-none" id="view-program-orientation-file"></label>
                                    </div>
                                </div>
                                <!-- program_orientation_link -->
                                <div class="col-lg-4 col-md-6  col-sm-12 p-3">
                                    <div class="box">
                                        <div class="task-sub-title sub-title-text">Link :</div>
                                        <label class="view-content" id="view-program-orientation-link"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- footer button -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- inline script -->
            <script>
                // for index icrement
                let rowCount = document.getElementById('row-count');
                const totalRowCount = document.getElementById('total-row-count');
                let rowIndex = rowCount.innerText;
                let indexValue = parseInt(rowIndex, 10);

                const teachingExecellanceAddModal = document.getElementById('teaching-execellance-add-modal');
                const teachingExecellanceList = document.getElementById('teaching-execellance-data-list');
                const submitBtn = document.getElementById('submit-btn');
                const updateBtn = document.getElementById('update-btn');
                let teachingRowToBeUpdated, teachingId;
                // const downloadFileBtn = document.querySelectorAll('.download-file');
                teachingExecellanceAddModal.addEventListener('click', (event) => {

                     let modalHeader = document.getElementById('modalHeader');
                     modalHeader.classList.add('d-none');

                    if (event.target.tagName === 'BUTTON' && event.target.classList.contains('add-modal') || event.target.classList.contains('plus')) {
                        // for button visualization
                        submitBtn.classList.remove('d-none');
                        updateBtn.classList.add('d-none');
                        removeErrorMsg();

                        $('#teaching-execellance-modal').modal({
                            backdrop: 'static'
                        });

                        const pedagogyDataFiles = document.querySelector('#pedagogy-file-edit');
                        const FdpDataFiles = document.querySelector('#fdp-file-edit');
                        const workShopDataFiles = document.querySelector('#work-shop-file-edit');
                        const invitingDataFiles = document.querySelector('#inviting-file-edit');
                        const orientationDataFiles = document.querySelector('#orientation-file-edit');

                        // making download button d-none
                        pedagogyDataFiles.classList.add('d-none');
                        FdpDataFiles.classList.add('d-none');
                        workShopDataFiles.classList.add('d-none');
                        invitingDataFiles.classList.add('d-none');
                        orientationDataFiles.classList.add('d-none');
                        const pedagogyInnovation = document.getElementById('pedagogy-innovation');
                        const pedagogyLink = document.getElementById('pedagogy-innovation-link');
                        const fdpProgram = document.getElementById('fdp-program');
                        const fdpProgramLink = document.getElementById('fdp-program-link');
                        const workShopDetails = document.getElementById('workshop-details');
                        const workShopLink = document.getElementById('workshop-details-link');
                        const invitingFaculty = document.getElementById('inviting-faculty');
                        const invitingFacultyLink = document.getElementById('inviting-faculty-link');
                        const programOrientation = document.getElementById('program-orientation');
                        const programOrientationLink = document.getElementById('program-orientation-link');
                        const pedagogyInnovationFile = document.querySelector('input[name="pedagogyInnovationFile"]');
                        const programOrientationFile = document.querySelector('input[name="programOrientationFile"]');
                        const fdpProgramFile = document.querySelector('input[name="fdpProgramFile"]');
                        const workShopFile = document.querySelector('input[name="workShopFile"]');
                        const invitingFacultyFile = document.querySelector('input[name="invitingFacultyFile"]');

                        // making input fileds empty
                        pedagogyInnovation.value = '';
                        pedagogyLink.value = '';
                        fdpProgram.value = '';
                        fdpProgramLink.value = '';
                        workShopDetails.value = '';
                        workShopLink.value = '';
                        invitingFaculty.value = '';
                        invitingFacultyLink.value = '';
                        programOrientation.value = '';
                        programOrientationLink.value = '';
                        pedagogyInnovationFile.value = '';
                        programOrientationFile.value = '';
                        workShopFile.value = '';
                        fdpProgramFile.value = '';
                        invitingFacultyFile.value = '';

                        
                    }
                });

                const insertTeachingExecellance = async (url) => {
                    const teachingExecellanceData = new FormData();
                    const pedagogyInnovation = document.getElementById('pedagogy-innovation').value;
                    const pedagogyLink = document.getElementById('pedagogy-innovation-link').value;
                    const fdpProgram = document.getElementById('fdp-program').value;
                    const fdpProgramLink = document.getElementById('fdp-program-link').value;
                    const workShopDetails = document.getElementById('workshop-details').value;
                    const workShopLink = document.getElementById('workshop-details-link').value;
                    const invitingFaculty = document.getElementById('inviting-faculty').value;
                    const invitingFacultyLink = document.getElementById('inviting-faculty-link').value;
                    const programOrientation = document.getElementById('program-orientation').value;
                    const programOrientationLink = document.getElementById('program-orientation-link').value;
                    const pedagogyInnovationFile = document.getElementById('pedagogy-innovation-file');
                    const fdpProgramFile = document.getElementById('fdp-program-file');
                    const workShopFile = document.getElementById('work-shop-file');
                    const invitingFacultyFile = document.getElementById('inviting-faculty-file');
                    const programOrientationFile = document.getElementById('program-orientation-file');



                    // Arun
                    const pedagogyInnovationDescription = document.getElementById('pedagogy-innovation-description').value;
                    const FdpProgramDescription = document.getElementById('fdp-program-description').value;
                    const workshopDetailsDescription = document.getElementById('workshop-details-description').value;
                    const invitingFacultyDescription = document.getElementById('inviting-faculty-description').value;
                    const programOrientationDescription = document.getElementById('program-orientation-description').value;

                    // making files array
                    const pedagogyInnovationDataFiles = pedagogyInnovationFile.files;
                    const fdpProgramDataFiles = fdpProgramFile.files;
                    const workShopDataFiles = workShopFile.files;
                    const invitingFacultyDataFiles = invitingFacultyFile.files;
                    const programOrientationDataFiles = programOrientationFile.files;
                    // storing input fields multiple values in  an array
                    const dataFilesArray = [
                        pedagogyInnovationDataFiles,
                        fdpProgramDataFiles,
                        workShopDataFiles,
                        invitingFacultyDataFiles,
                        programOrientationDataFiles
                    ];
                    // array keys name for using store files
                    const nameKeyArray = [
                        'pedagogyInnovationFile',
                        'fdpProgramFile',
                        'workShopFile',
                        'invitingFacultyFile',
                        'programOrientationFile'
                    ];

                    // appending key and value pairs on there specific keys
                    if (dataFilesArray.length > 0 && nameKeyArray.length > 0) {
                        for (let arrayFile = 0; arrayFile <= dataFilesArray.length - 1; arrayFile++) {
                            let keyName = nameKeyArray[arrayFile];
                            console.log('keyName ===>>>', keyName);
                            for (let i = 0; i <= dataFilesArray[arrayFile].length - 1; i++) {
                                if (dataFilesArray[arrayFile][i].name) {
                                    console.log('dataFilesArrayFiles Name  ==>>', dataFilesArray[arrayFile][i].name)
                                    teachingExecellanceData.append(keyName, dataFilesArray[arrayFile][i])
                                }
                            }
                        }
                    }
                    teachingExecellanceData.append('pedagogyInnovation', pedagogyInnovation);
                    teachingExecellanceData.append('pedagogyLink', pedagogyLink);
                    teachingExecellanceData.append('fdpProgram', fdpProgram);
                    // teachingExecellanceData.append('fdpProgramFile' , fdpProgramFile.files[0]); 
                    teachingExecellanceData.append('fdpProgramLink', fdpProgramLink);
                    teachingExecellanceData.append('workShopDetails', workShopDetails);
                    // teachingExecellanceData.append('workShopFile' , workShopFile.files[0]); 
                    teachingExecellanceData.append('workShopLink', workShopLink);
                    teachingExecellanceData.append('invitingFaculty', invitingFaculty);
                    // teachingExecellanceData.append('invitingFacultyFile' , invitingFacultyFile.files[0]); 
                    teachingExecellanceData.append('invitingFacultyLink', invitingFacultyLink);
                    teachingExecellanceData.append('programOrientation', programOrientation)
                    // teachingExecellanceData.append('programOrientationFile' , programOrientationFile.files[0]); 
                    teachingExecellanceData.append('programOrientationLink', programOrientationLink);

                    // Arun
                    teachingExecellanceData.append('pedagogyInnovationDescription', pedagogyInnovationDescription);
                    teachingExecellanceData.append('FdpProgramDescription', FdpProgramDescription);
                    teachingExecellanceData.append('workshopDetailsDescription', workshopDetailsDescription);
                    teachingExecellanceData.append('invitingFacultyDescription', invitingFacultyDescription);
                    teachingExecellanceData.append('programOrientationDescription', programOrientationDescription);

                    fetch(url, {
                        method: 'POST',
                        body: teachingExecellanceData
                    })
                        .then((result) => {
                            return result.json()
                        })
                        .then((data) => {
                            let loader =document.getElementById('loader');
                             loader.style.display='none';

                            if (data.status === 'done') {
                                // console.log('data ==>>', data);
                                // const rowCountInteger = parseInt(data.rowCount, 10);
                                // const IndexEntry = rowCountInteger + indexValue;
                                // indexValue = IndexEntry;
                                // console.log('IndexEntry ===>>>', IndexEntry);

                                // const newTeachingExecellance = document.createElement('tr');
                                // newTeachingExecellance.setAttribute('data-pedagogy-innovation-file', data.pedagogyInnovationFile);
                                // newTeachingExecellance.setAttribute('data-fdp-program-file', data.fdpProgramFile);
                                // newTeachingExecellance.setAttribute('data-workshop-file', data.workShopFile);
                                // newTeachingExecellance.setAttribute('data-pedagogy-innovation-link', data.teachingData.pedagogyLink);
                                // newTeachingExecellance.setAttribute('data-fdp-program-link', data.teachingData.fdpProgramLink);
                                // newTeachingExecellance.setAttribute('data-workshop-link', data.teachingData.workShopLink);
                                // newTeachingExecellance.setAttribute('data-inviting-faculty-file', data.invitingFacultyFile);
                                // newTeachingExecellance.setAttribute('data-inviting-faculty-link', data.teachingData.invitingFacultyLink);
                                // newTeachingExecellance.setAttribute('data-program-orientation-file', data.programOrientationFile);
                                // newTeachingExecellance.setAttribute('data-program-orientation-link', data.teachingData.programOrientationLink);
                                // newTeachingExecellance.innerHTML = `
                                //     <td >${IndexEntry}</td>
                                //     <td class="pedagogy-innovation">${data.teachingData.pedagogyInnovation}</td>
                                //     <td class="fdp-program">${data.teachingData.fdpProgram}</td>
                                //     <td class="workshop-details">${data.teachingData.workShopDetails}</td>
                                //     <td class="inviting-faculty">${data.teachingData.invitingFaculty}</td>
                                //     <td class="program-orientation">${data.teachingData.programOrientation}</td>
                                //     <td title="View" class="border-right-0 view" style="cursor: pointer;" data-teaching-id=${data.teachingId}>
                                //         &#128065;
                                //     </td>
                                //     <td title="Edit" class="border-right-0 edit" style="cursor: pointer;" data-teaching-id=${data.teachingId}>
                                //         &#9998;
                                //     </td>
                                //     <td title="Delete" class="border-right-0 delete" style="cursor: pointer;"  data-teaching-id=${data.teachingId}>
                                //         &#128465;
                                //     </td>
                                //     `;
                                // teachingExecellanceList.appendChild(newTeachingExecellance);
                                $('#teaching-execellance-modal').modal('hide');
                                // rowCount.classList.remove('d-none');
                                // totalRowCount.classList.add('d-none');
                                Swal.fire({
                                    position: "top-center",
                                    icon: "success",
                                    title: `Data Inserted successfully`,
                                    showConfirmButton: true,
                                    confirmButtonText: "OK",
                                    confirmButtonColor: "#DD6B55"

                                }).then(() => {
                                    document.location.reload()
                                });
                            }
                            else {
                                console.log('data in failed condition ====>>>>', data)
                                Swal.fire({
                                    position: "top-center",
                                    icon: "error",
                                    title: "Failed To Insert",
                                    color: "red",
                                    with: "20PX",
                                    showConfirmButton: true,
                                    confirmButtonText: "OK",
                                    confirmButtonColor: "#DD6B55"
                                });
                            }

                        })
                        .catch((error) => {
                            console.error("ERROR:", error);
                            const message = "Internal Server Error";
                            const errTitle = error
                            Swal.fire({
                                position: "top-center",
                                icon: "error",
                                title: `${message}`,
                                color: "red",
                                with: "20PX",
                                html: `<span style="color: red;">${errTitle}</span>`,
                                showConfirmButton: true,
                                confirmButtonText: "OK",
                                confirmButtonColor: "#DD6B55"
                            });
                        })
                }

                submitBtn.addEventListener('click', async () => {

              
                   const isValid = validateRequiredFormFields(submitBtn);
                    if (isValid) {

                        $('#teaching-execellance-modal').hide();

                        let loader = document.getElementById('loader');
                        loader.style.display='block';
                        await insertTeachingExecellance('<%- BASE_URL %>teaching-excellance/insert');
                    }
                    else {
                        console.log('validation failed');
                    }  
                 
                    
                });

                teachingExecellanceList.addEventListener('click', (event) => {
                    if (event.target.classList.contains('view')) {

                        $('#teaching-excellance-view-modal').modal({
                            backdrop: 'static'
                        });

                        console.log('clickedddd')
                        const teachingExecellanceRowToBeViewed = event.target.closest('tr');
                        teachingId = event.target.getAttribute('data-teaching-id');
                        console.log('teachingId ==>>', teachingId);
                        // const pedagogyFile = document.getElementById('pedagogyFile');
                        // const FdpFile = document.getElementById('FdpFile');
                        // const workShopDataFile = document.getElementById('workShopDataFile');
                        // const invitingFile = document.getElementById('invitingFile');
                        // const orientationFile = document.getElementById('orientationFile');

                        const viewPedagogyInnovation = document.getElementById('view-pedagogy-innovation');
                        const viewPedagogyInnovationFile = document.getElementById('view-pedagogy-innovation-file');
                        const viewPedagogyLink = document.getElementById('view-pedagogy-innovation-link');
                        const viewFdpProgram = document.getElementById('view-fdp-program');
                        const viewFdpProgramFile = document.getElementById('view-fdp-program-file');
                        const viewFdpProgramLink = document.getElementById('view-fdp-program-link');
                        const viewWorkShopDetails = document.getElementById('view-workshop-details');
                        const viewWorkShopFile = document.getElementById('view-workshop-file');
                        const viewWorkShopLink = document.getElementById('view-workshop-link');
                        const viewInvitingFaculty = document.getElementById('view-inviting-faculty');
                        const viewInvitingFacultyFile = document.getElementById('view-inviting-faculty-file');
                        const viewInvitingFacultyLink = document.getElementById('view-inviting-faculty-link');
                        const viewProgramOrientation = document.getElementById('view-program-orientation');
                        const viewProgramOrientationFile = document.getElementById('view-program-orientation-file');
                        const viewProgramOrientationLink = document.getElementById('view-program-orientation-link');

                        fetch('<%- BASE_URL %>teaching-excellance/view', {
                            method: 'POST',
                            headers: {
                                'content-type': 'application/json'
                            },
                            body: JSON.stringify({ teachingId })
                        })
                            .then((result) => {
                                return result.json()
                            })
                            .then((data) => {
                                if (data.status === 'done') {
                                    console.log('data ==>>', data);
                                    setFileNameInButtons(data);
                                    viewPedagogyInnovation.innerText = data.teachingExecellanceView.pedagogy_innovation;
                                    viewPedagogyInnovationFile.innerText = data.teachingExecellanceView.pedagogy_innovation_file;
                                    viewPedagogyLink.innerText = data.teachingExecellanceView.pedagogy_innovation_link;
                                    viewFdpProgram.innerText = data.teachingExecellanceView.fdp_program;
                                    viewFdpProgramFile.innerText = data.teachingExecellanceView.fdp_program_file;
                                    viewFdpProgramLink.innerText = data.teachingExecellanceView.fdp_program_link;
                                    viewWorkShopDetails.innerText = data.teachingExecellanceView.workshop_details;
                                    viewWorkShopFile.innerText = data.teachingExecellanceView.workshop_file;
                                    viewWorkShopLink.innerText = data.teachingExecellanceView.workshop_link;
                                    viewInvitingFaculty.innerText = data.teachingExecellanceView.inviting_faculty;
                                    viewInvitingFacultyFile.innerText = data.teachingExecellanceView.inviting_faculty_file;
                                    viewInvitingFacultyLink.innerText = data.teachingExecellanceView.inviting_faculty_link;
                                    viewProgramOrientation.innerText = data.teachingExecellanceView.program_orientation;
                                    viewProgramOrientationFile.innerText = data.teachingExecellanceView.program_orientation_file;
                                    viewProgramOrientationLink.innerText = data.teachingExecellanceView.program_orientation_link;

                                }
                            })
                        $('#teaching-excellance-view-modal').modal('show');
                    }

                    if (event.target.classList.contains('delete')) {
                        console.log('clickedd');
                        teachingExecellanceRowToBeDeleted = event.target.closest('tr');
                        teachingId = event.target.getAttribute('data-teaching-id');


                        let confirmDelete = "Do you want to delete the consultancy form  record?";
                        if (confirmDelete) {
                            Swal.fire({
                                title: "Are you sure?",
                                text: "You won't be able to revert this!",
                                icon: "warning",
                                showCancelButton: true,
                                confirmButtonColor: "#3085d6",
                                cancelButtonColor: "#d33",
                                confirmButtonText: "Yes, delete it!"
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    // Execute fetch request here after confirmation
                                    fetch('<%- BASE_URL %>teaching-excellance/delete', {
                                        method: 'POST',
                                        headers: {
                                            'content-type': 'application/json'
                                        },
                                        body: JSON.stringify({ teachingId })
                                    })
                                        .then((result) => result.json())
                                        .then((data) => {
                                            console.log("data in then>>>", data);
                                            if (data.status === 'done') {
                                                console.log('data ==>>', data);
                                                teachingExecellanceRowToBeDeleted.remove();
                                                Swal.fire({
                                                    title: "Deleted!",
                                                    text: "Record has been deleted.",
                                                    icon: "success",
                                                    showConfirmButton: true,
                                                    confirmButtonText: "OK",
                                                    confirmButtonColor: "#DD6B55"
                                                }).then(() => {
                                                    location.reload();
                                                });
                                            }
                                        })
                                        .catch((error) => {
                                            console.error('Error:', error);
                                            const message = error;
                                            Swal.fire({
                                                position: "top-center",
                                                icon: "error",
                                                title: `${message}`,
                                                color: "red",
                                                showConfirmButton: true,
                                                confirmButtonText: "OK",
                                                confirmButtonColor: "#DD6B55"
                                            });
                                        });
                                }
                            });
                        }
                        else {
                            return
                        }

                        // if (!confirmDelete) {
                        //     return;
                        // }

                        // fetch('<%- BASE_URL %>teaching-excellance/delete', {
                        //     method: 'POST',
                        //     headers: {
                        //         'content-type': 'application/json'
                        //     },
                        //     body: JSON.stringify({ teachingId })
                        // })
                        //     .then((result) => {
                        //         return result.json()
                        //     })
                        //     .then((data) => {
                        //         if (data.status === 'done') {
                        //             teachingExecellanceRowToBeDeleted.remove();
                        //             location.reload();
                        //         }
                        //     })
                    }

                    if (event.target.classList.contains('edit')) {

                        let modalHeader = document.getElementById('modalHeader');
                        modalHeader.classList.remove('d-none');
                        // modalHeader.innerText = 'TEACHING EXECELLENCE';

                        console.log('clickeddddd')
                        removeErrorMsg();

                        $('#teaching-execellance-modal').modal({
                            backdrop: 'static'
                        });

                        submitBtn.classList.add('d-none');
                        updateBtn.classList.remove('d-none');
                        teachingRowToBeUpdated = event.target.closest('tr');
                        // console.log('teachingRowToBeUpdated ==>>', teachingRowToBeUpdated);
                        // function call for stablish download button
                        setFileNameAttributeToBeDownload(teachingRowToBeUpdated)
                        teachingId = event.target.getAttribute('data-teaching-id');
                        console.log('id for updated ==>>', teachingId);

                        const pedagogyInnovation = document.getElementById('pedagogy-innovation');
                        const pedagogyLink = document.getElementById('pedagogy-innovation-link');
                        const fdpProgram = document.getElementById('fdp-program');
                        const fdpProgramLink = document.getElementById('fdp-program-link');
                        const workShopDetails = document.getElementById('workshop-details');
                        const workShopLink = document.getElementById('workshop-details-link');
                        const invitingFaculty = document.getElementById('inviting-faculty');
                        const invitingFacultyLink = document.getElementById('inviting-faculty-link');
                        const programOrientation = document.getElementById('program-orientation');
                        const programOrientationLink = document.getElementById('program-orientation-link');

                        document.getElementById('pedagogy-innovation-description').value = teachingRowToBeUpdated.getAttribute('data-pedagogy-innovation-description');
                        document.getElementById('fdp-program-description').value = teachingRowToBeUpdated.getAttribute('data-fdp-program-description');
                        document.getElementById('workshop-details-description').value = teachingRowToBeUpdated.getAttribute('data-workshop-details-description');
                        document.getElementById('inviting-faculty-description').value = teachingRowToBeUpdated.getAttribute('data-inviting-faculty-description');
                        document.getElementById('program-orientation-description').value = teachingRowToBeUpdated.getAttribute('data-program-orientation-description');

                        // assigning actually value
                        pedagogyInnovation.value = teachingRowToBeUpdated.querySelector('.pedagogy-innovation').innerText;
                        const pedagogyInnovationFile = teachingRowToBeUpdated.getAttribute('data-pedagogy-innovation-file');
                        pedagogyLink.value = teachingRowToBeUpdated.getAttribute('data-pedagogy-innovation-link');
                        fdpProgram.value = teachingRowToBeUpdated.querySelector('.fdp-program').innerText;
                        const fdpProgramFile = teachingRowToBeUpdated.getAttribute('data-fdp-program-file');
                        fdpProgramLink.value = teachingRowToBeUpdated.getAttribute('data-fdp-program-link');
                        console.log('fdpProgramLink.value ==>>', fdpProgramLink.value)
                        workShopDetails.value = teachingRowToBeUpdated.querySelector('.workshop-details').innerText;
                        const workShopFile = teachingRowToBeUpdated.getAttribute('data-workshop-file');
                        console.log('workShopFile ===>>>::::', workShopFile)
                        workShopLink.value = teachingRowToBeUpdated.getAttribute('data-workshop-link');
                        invitingFaculty.value = teachingRowToBeUpdated.querySelector('.inviting-faculty').innerText;
                        const invitingFacultyFile = teachingRowToBeUpdated.getAttribute('data-inviting-faculty-file');
                        invitingFacultyLink.value = teachingRowToBeUpdated.getAttribute('data-inviting-faculty-link');
                        programOrientation.value = teachingRowToBeUpdated.querySelector('.program-orientation').innerText;
                        const programOrientationFile = teachingRowToBeUpdated.getAttribute('data-program-orientation-file');
                        programOrientationLink.value = teachingRowToBeUpdated.getAttribute('data-program-orientation-link');

                        $('#teaching-execellance-modal').modal('show');
                    }

                })


                const updatedTeachingExecellanceData = async (url) => {
                    const updatedTeachingData = new FormData();
                    const updatedPedagogyInnovation = document.getElementById('pedagogy-innovation').value;
                    const updatedPedagogyLink = document.getElementById('pedagogy-innovation-link').value;
                    const updatedFdpProgram = document.getElementById('fdp-program').value;
                    const updatedFdpProgramLink = document.getElementById('fdp-program-link').value;
                    const updatedWorkShopDetails = document.getElementById('workshop-details').value;
                    const updatedWorkShopLink = document.getElementById('workshop-details-link').value;
                    const updatedInvitingFaculty = document.getElementById('inviting-faculty').value;
                    const updatedInvitingFacultyLink = document.getElementById('inviting-faculty-link').value;
                    const updatedProgramOrientation = document.getElementById('program-orientation').value;
                    const updatedProgramOrientationLink = document.getElementById('program-orientation-link').value;
                    const updatedPedagogyInnovationFile = document.getElementById('pedagogy-innovation-file');
                    const updatedFdpProgramFile = document.getElementById('fdp-program-file');
                    const updatedWorkShopFile = document.getElementById('work-shop-file');
                    const updatedInvitingFacultyFile = document.getElementById('inviting-faculty-file');
                    const updatedProgramOrientationFile = document.getElementById('program-orientation-file');
                    // files container array
                    const upadtedPedagogyInnovationFiles = updatedPedagogyInnovationFile.files;
                    const upadtedFdpProgramFiles = updatedFdpProgramFile.files;
                    const upadtedWorkShopFiles = updatedWorkShopFile.files;
                    const upadtedInvitingFacultyFiles = updatedInvitingFacultyFile.files;
                    const upadtedProgramOrientationFiles = updatedProgramOrientationFile.files;
                    // storing input fields multiple values in  an array
                    const dataFilesArray = [
                        upadtedPedagogyInnovationFiles,
                        upadtedFdpProgramFiles,
                        upadtedWorkShopFiles,
                        upadtedInvitingFacultyFiles,
                        upadtedProgramOrientationFiles
                    ];

                    // key for uploading files in by multer
                    const nameKeyArray = [
                        'pedagogyInnovationFile',
                        'fdpProgramFile',
                        'workShopFile',
                        'invitingFacultyFile',
                        'programOrientationFile'
                    ];

                    // appending key and value pairs on there specific keys
                    if (dataFilesArray.length > 0) {
                        for (let arrayFile = 0; arrayFile <= dataFilesArray.length - 1; arrayFile++) {
                            let keyName = nameKeyArray[arrayFile];
                            console.log('keyName ===>>>', keyName);
                            for (let i = 0; i <= dataFilesArray[arrayFile].length - 1; i++) {
                                if (dataFilesArray[arrayFile][i].name) {
                                    console.log('dataFilesArrayFiles Name  ==>>', dataFilesArray[arrayFile][i].name)
                                    updatedTeachingData.append(keyName, dataFilesArray[arrayFile][i])
                                }
                                else {
                                    dataFilesArray[arrayFile][i] = null;
                                    updatedTeachingData.append(keyName, dataFilesArray[arrayFile][i]);
                                }
                            }
                        }
                    }
                    else {
                        for (let arrayFile = 0; arrayFile <= nameKeyArray.length - 1; arrayFile++) {
                            let keyName = nameKeyArray[arrayFile];
                            updatedTeachingData.append(keyName, null);
                        }
                    }

                    const pedagogyInnovationDescription = document.getElementById('pedagogy-innovation-description').value;
                    const FdpProgramDescription = document.getElementById('fdp-program-description').value;
                    const workshopDetailsDescription = document.getElementById('workshop-details-description').value;
                    const invitingFacultyDescription = document.getElementById('inviting-faculty-description').value;
                    const programOrientationDescription = document.getElementById('program-orientation-description').value;


                    updatedTeachingData.append('teachingId', teachingId)
                    updatedTeachingData.append('pedagogyInnovation', updatedPedagogyInnovation);
                    updatedTeachingData.append('pedagogyLink', updatedPedagogyLink);
                    updatedTeachingData.append('fdpProgram', updatedFdpProgram);
                    updatedTeachingData.append('fdpProgramLink', updatedFdpProgramLink);
                    updatedTeachingData.append('workShopDetails', updatedWorkShopDetails);
                    updatedTeachingData.append('workShopLink', updatedWorkShopLink);
                    updatedTeachingData.append('invitingFaculty', updatedInvitingFaculty);
                    updatedTeachingData.append('invitingFacultyLink', updatedInvitingFacultyLink);
                    updatedTeachingData.append('programOrientation', updatedProgramOrientation)

                    updatedTeachingData.append('programOrientationLink', updatedProgramOrientationLink);
                    updatedTeachingData.append('pedagogyInnovationDescription', pedagogyInnovationDescription);
                    updatedTeachingData.append('FdpProgramDescription', FdpProgramDescription);
                    updatedTeachingData.append('workshopDetailsDescription', workshopDetailsDescription);
                    updatedTeachingData.append('invitingFacultyDescription', invitingFacultyDescription);
                    updatedTeachingData.append('programOrientationDescription', programOrientationDescription);
                    

                    fetch(url, {
                        method: 'POST',
                        body: updatedTeachingData
                    })
                        .then((result) => {
                            return result.json()
                        })
                        .then((data) => {

                            let loader = document.getElementById('loader');
                            loader.style.display='none';

                            if (data.status === 'done') {
                                console.log('data ==>>', data);
                                teachingRowToBeUpdated.querySelector('.pedagogy-innovation').innerText = data.updatedTeachingExecellance.pedagogyInnovation;
                                teachingRowToBeUpdated.querySelector('.fdp-program').innerText = data.updatedTeachingExecellance.fdpProgram;
                                teachingRowToBeUpdated.querySelector('.workshop-details').innerText = data.updatedTeachingExecellance.workShopDetails;
                                teachingRowToBeUpdated.querySelector('.inviting-faculty').innerText = data.updatedTeachingExecellance.invitingFaculty;
                                teachingRowToBeUpdated.querySelector('.program-orientation').innerText = data.updatedTeachingExecellance.programOrientation;
                                // for setAttribute to the files in table row
                                if (dataFilesArray.length > 0) {
                                    const pedagogyInnovationFile = data.pedagogyInnovationFile;
                                    const fdpProgramFile = data.fdpProgramFile;
                                    const workShopFile = data.workShopFile;
                                    const invitingFacultyFile = data.invitingFacultyFile;
                                    const programOrientationFile = data.programOrientationFile;

                                    // files array container
                                    const filesStrinContainer = [
                                        pedagogyInnovationFile,
                                        fdpProgramFile,
                                        workShopFile,
                                        invitingFacultyFile,
                                        programOrientationFile
                                    ];

                                    // setattribute keyName array
                                    const setAttributKeyName = [
                                        'data-pedagogy-innovation-file',
                                        'data-fdp-program-file',
                                        'data-workshop-file',
                                        'data-inviting-faculty-file',
                                        'data-program-orientation-file'
                                    ];
                                    // set attribut for files in table row

                                    for (let i = 0; i <= dataFilesArray.length - 1; i++) {
                                        const valueString = filesStrinContainer[i];
                                        if (valueString) {
                                            const setAtrKeyName = setAttributKeyName[i];
                                            teachingRowToBeUpdated.setAttribute(setAtrKeyName, valueString)
                                        }
                                    }
                                }
                                teachingRowToBeUpdated.setAttribute('data-pedagogy-innovation-link', data.updatedTeachingExecellance.pedagogyLink);
                                teachingRowToBeUpdated.setAttribute('data-fdp-program-link', data.updatedTeachingExecellance.fdpProgramLink);
                                teachingRowToBeUpdated.setAttribute('data-workshop-link', data.updatedTeachingExecellance.workShopLink);
                                teachingRowToBeUpdated.setAttribute('data-inviting-faculty-link', data.updatedTeachingExecellance.invitingFacultyLink);
                                teachingRowToBeUpdated.setAttribute('data-program-orientation-link', data.updatedTeachingExecellance.programOrientationLink);

                                $('#teaching-execellance-modal').modal('hide');

                                Swal.fire({
                                    position: "top-center",
                                    icon: "success",
                                    title: `Data Updated successfully`,
                                    showConfirmButton: true,
                                    confirmButtonText: "OK",
                                    confirmButtonColor: "#DD6B55"

                                });
                            }

                        })

                };

                updateBtn.addEventListener('click', async () => {
                    formGroup = updateBtn.closest('.validate-input')
                    console.log("formGroup::::::::", formGroup)
                    formGroup.querySelectorAll('input[type="file"]')?.forEach(elm => {
                        console.log("elm:::::::::", elm);
                        elm.removeAttribute('data-validate')
                    })
                    const isValid = validateRequiredFormFields(updateBtn);
                    if (isValid) {

                        $('#teaching-execellance-modal').hide();

                            let loader = document.getElementById('loader');
                            loader.style.display='block';
                        await updatedTeachingExecellanceData('<%- BASE_URL %>teaching-excellance/update');
                    }
                    else {
                        console.log('Validation Failed');
                    }
                })

                // for set attribute tpo button for download file
                function setFileNameInButtons(result) {
                    console.log('result ===>>>', result);
                    const pedagogyFile = document.getElementById('pedagogy-file-view');
                    const FdpFile = document.getElementById('fdp-file-data-view');
                    const workShopDataFile = document.getElementById('work-shop-file-view');
                    const invitingFile = document.getElementById('inviting-file-view');
                    const orientationFile = document.getElementById('orientation-file-view');
                    pedagogyFile.setAttribute('data-filename', result.teachingExecellanceView.pedagogy_innovation_file);
                    FdpFile.setAttribute('data-filename', result.teachingExecellanceView.fdp_program_file)
                    workShopDataFile.setAttribute('data-filename', result.teachingExecellanceView.workshop_file);
                    invitingFile.setAttribute('data-filename', result.teachingExecellanceView.inviting_faculty_file);
                    console.log('invitingFile ===>>>::::', invitingFile)
                    orientationFile.setAttribute('data-filename', result.teachingExecellanceView.program_orientation_file);
                    console.log('pedagogyFile in side setFileNameInButtons  ==>>', pedagogyFile);
                    console.log('workShopDataFile ==>>::::', workShopDataFile);
                }

                //eventlistner for download files
                document.addEventListener('click', async function (event) {


                    const button = event.target.closest('button');
                    if (button && button.id && button.classList.contains('download-file')) {

                        let modalHeader = document.getElementById('modalHeader');
                        modalHeader.classList.add('d-none');
                        console.log('button ===>>>', button)
                        try {
                            const fileDataString = button.getAttribute('data-filename');
                            if (!fileDataString) {
                                throw new Error('Data filename attribute not found on button.');
                            }

                            const fileArray = fileDataString.split(',').map(fileName => fileName.trim()).filter(Boolean);
                            if (fileArray.length === 0) {
                                throw new Error('No file names found in data filename attribute.');
                            }

                            const downloadPromises = fileArray.map(async (fileName) => {
                                console.log('fileName ===>>>', fileName)
                                const fileUrl = `<%- BASE_URL %>teaching-excellance/download/${fileName}`;
                                downloadFile(fileName, fileUrl)
                                try {
                                    const response = await fetch(fileUrl);
                                    if (!response.ok) {
                                        throw new Error(`Failed to download file: ${fileName}`);
                                    }
                                    console.log('File downloaded successfully:', fileName);
                                    return fileName;
                                } catch (error) {
                                    console.error('Error downloading file:', error);
                                    throw error;
                                }
                            });

                            const downloadedFiles = await Promise.all(downloadPromises);
                            console.log('All files downloaded successfully:', downloadedFiles);
                        } catch (error) {
                            console.error('Error downloading files:', error);
                            alert(`There was a problem downloading files: ${error.message}`);
                        }
                    }
                });

                // setAttribut for download inside edit button
                function setFileNameAttributeToBeDownload(data) {
                    console.log('data inside my fuction ==>>', data);
                    const pedagogyDataFiles = document.getElementById('pedagogy-file-edit');
                    const FdpDataFiles = document.getElementById('fdp-file-edit');
                    const workShopDataFiles = document.getElementById('work-shop-file-edit');
                    const invitingDataFiles = document.getElementById('inviting-file-edit');
                    const orientationDataFiles = document.getElementById('orientation-file-edit');
                    // storing file string value into variable
                    pedagogyDataFiles.classList.remove('d-none');
                    FdpDataFiles.classList.remove('d-none');
                    workShopDataFiles.classList.remove('d-none');
                    invitingDataFiles.classList.remove('d-none');
                    orientationDataFiles.classList.remove('d-none');

                    const pedagogyDataString = data.getAttribute('data-pedagogy-innovation-file');
                    const FdpDataString = data.getAttribute('data-fdp-program-file');
                    const workShopDataString = data.getAttribute('data-workshop-file');
                    const invitingDataString = data.getAttribute('data-inviting-faculty-file');
                    const orientationDataString = data.getAttribute('data-program-orientation-file');

                    // set the value into the download button
                    pedagogyDataFiles.setAttribute('data-filename', pedagogyDataString);
                    FdpDataFiles.setAttribute('data-filename', FdpDataString);
                    workShopDataFiles.setAttribute('data-filename', workShopDataString);
                    invitingDataFiles.setAttribute('data-filename', invitingDataString);
                    orientationDataFiles.setAttribute('data-filename', orientationDataString);
                }

                $("#teaching-execellance-data-list").DataTable({

                    "pageLength": 5,
                    "lengthMenu": [[5, 10, 25, 50, -1], [5, 10, 25, 50, "All"]],
                })


            </script>
            <!-- footer section -->
            <!-- <%- include('./partials/pagination') %> -->
            <%- include('./partials/footer') %>
                <%- include('./partials/footer-end') %>