<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />

  <title>Login</title>
  <link rel="icon" type="image/x-icon" href="<%- BASE_URL %>images.jpg" />

  <style>
    :root {
      --login-bg-color: radial-gradient(circle,
          rgb(143 0 0) 0%,
          rgb(0 0 0) 100%);
      --welcome-color: #740e00;
      --bottom-line-color: #ff1f00;
    }

    .background {
      background: var(--login-bg-color);
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100vh;
      width: 100%;
    }

    /* Custom CSS */
    .cust-btn-group {
      display: flex;
      align-items: center;
      padding: 7px 15px;
      background: #fff;
      border: 1px solid #c2c2c2;
      border-radius: 25px;
      font-size: 18px;
    }

    .cust-input-prepend {
      margin-right: 10px;
      width: 20px;
    }

    .cust-btn-group input {
      border: none;
      width: 100%;
    }

    .cust-btn-group input:focus {
      outline: none;
    }

    .bottom-line {
      width: 100px;
      position: relative;
      height: 1px;
      margin-bottom: 25px;
      background: var(--bottom-line-color);
      display: block;
    }

    .bottom-line::after {
      content: "";
      width: 100%;
      height: 2px;
      position: absolute;
      top: 2px;
      left: 0;
      background: #6b6d6d;
    }

    /* // Custom CSS */

    img {
      width: 100%;
    }

    .login-wrapper {
      overflow: hidden;
      padding: 15px;
      position: fixed;
      width: 1200px;
      left: calc(50% - 600px);
      top: calc(50% - 280px);
      box-shadow: 0px 0px 8px 1px;
      background: rgb(255 255 255 / 80%);
      border-radius: 30px;
    }

    section.login-wrapper::before {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      width: 50%;
      height: 100%;
      background: rgb(255 255 255 / 80%);
    }

    .inner-login-wrapper {
      height: 100%;
      width: 100%;
    }

    .logo img {
      width: 170px;
    }

    #login-left {
      padding: 150px 100px;
    }

    #login-left .cust-btn-group i {
      color: #757575;
    }

    #login-left h3 span {
      color: var(--welcome-color);
    }

    .login-btn {
      display: block;
      margin: auto;
      background: #000;
      padding: 7px 50px;
      border-radius: 25px;
    }

    .verify-button {
      display: block;
      margin: auto;
      background: #000;
      padding: 7px 50px;
      border-radius: 25px;
    }

    @media (max-width: 1200px) {
      .login-wrapper {
        width: 950px;
        top: calc(50% - 268px);
        left: calc(50% - 475px);
      }

      #login-left {
        padding: 133px 50px;
      }
    }

    @media (max-width: 1023px) {
      .login-wrapper {
        width: 700px;
        top: calc(50% - 230px);
        left: calc(50% - 350px);
      }

      #login-left {
        padding: 49px 15px;
      }
    }

    @media (max-width: 767px) {
      .login-wrapper {
        position: relative;
        width: 100%;
        min-height: 100vh;
        border-radius: 0;
        left: 0;
        top: 0;
      }

      .inner-login-wrapper {
        height: 100%;
        width: 100%;
      }
    }

    @import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

    * {
      box-sizing: border-box;
    }

    body {
      font-family: "Quicksand", sans-serif;
      width: 100%;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }

    .link {
      height: 30px;
      align-items: center;
      color: #000;
      text-decoration: none;
      display: flex;
    }

    /* Hide extra text */
    .mask {
      position: relative;
      padding: 0;
      height: 20px;

      /*  Remove overflow to see how it works　:) */
      overflow: hidden;
    }

    .link-container {
      transition: transform 0.4s ease;
    }

    .title {
      display: block;

      /*  Set same font-size and line height  */
      font-size: 20px;
      line-height: 20px;

      transition: transform 0.4s ease;
    }

    .link-title1 {
      transform-origin: right center;
    }

    .link-title2 {
      transform-origin: left center;
      transform: rotate(20deg);
    }

    .link-icon {
      position: relative;
      width: 30px;
      height: 30px;
      background: #f8f8ff;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;

      /*  Remove overflow to see how it works　:) */
      overflow: hidden;
    }

    .icon {
      display: block;
      position: absolute;
      transition: transform 0.4s ease;
    }

    .icon:nth-child(2) {
      transform: translate(-40px);
    }

    /* Hover Action*/

    /* Move up two texts (20px = font-size) */
    .link:hover .link-container {
      transform: translateY(-20px);
    }

    /* Rotate texts a little bit */
    .link:hover .link-title1 {
      transform: rotate(20deg);
    }

    .link:hover .link-title2 {
      transform: rotate(0);
    }

    /* Move arrows to right */
    .link:hover .icon:first-child {
      transform: translate(40px);
    }

    .link:hover .icon:nth-child(2) {
      transform: translate(0px);
    }
  </style>
</head>

<body>
  <canvas class="background"></canvas>

  <div
    class="login-success-alert alert alert-success alert-dismissible fade show d-flex justify-content-center align-items-center d-none">
    <strong>Success!</strong>&nbsp &nbsp You Can Now Login
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>

  <div
    class="password-reset-alert alert alert-success alert-dismissible fade show d-flex justify-content-center align-items-center d-none">
    <strong>Password Reset Successfull!</strong>&nbsp &nbsp You Can Now Login
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>

  <div
    class="login-error-alert alert alert-danger alert-dismissible fade show d-flex justify-content-center align-items-center d-none">
    <strong>Error!</strong>&nbsp &nbsp Invalid Credentials
    <button type="button" class="btn-close" data-dismiss="alert"></button>
  </div>

  <div
    class="session-timeout-alert alert alert-warning alert-dismissible fade show d-flex justify-content-center align-items-center d-none">
    <strong>Oops!</strong>&nbsp &nbsp Your Session has expired, Kindly Login
    again
    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  </div>

  <section class="login-wrapper">
    <div class="inner-login-wrapper">
      <div class="row">
        <div class="col-md-6" id="login-right">
          <div class="logo">
            <img src="<%- BASE_URL %>image\logo-nmims.png" />
          </div>
          <object style="    margin-top: 50px;" type="image/svg+xml"
            data="<%- BASE_URL %>image/login-animate-nmims.svg">
            <img src="<%- BASE_URL %>image/login-animate-nmims.svg" />
          </object>
        </div>
        <div class="col-md-6" id="login-left">
          <form>
            <div style="display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;">
              <div>
                <h3><span>Wel</span>come</h3>
              </div>
              <div>
                <span class="bottom-line mx-auto"></span>
              </div>
            </div>
            <div class="cust-btn-group mt-3 mb-3">
              <div class="cust-input-prepend">
                <i class="fa-solid fa-user"></i>
              </div>
              <input type="text" name="user_id" id="user_id" placeholder="Username" required />
            </div>

            <div class="cust-btn-group mb-3">
              <div class="cust-input-prepend">
                <i class="fas fa-key"></i>
              </div>
              <input type="password" name="password" id="password" placeholder="Password" autocomplete="off" required />

              <input type="hidden" name="devicecheck" id="devicecheck" />
            </div>
            <input type="checkbox" id="showPassword"><i> Show Password</i>

            <button id="login-btn" class="btn btn-dark login-btn">
              <i class="fas fa-sign-in-alt"></i> Sign In
            </button>
            <p class="text-left my-2"><strong>For any support queries please contact us at:</strong></p>
            <i class="fa fa-solid fa-envelope"></i> <a style="text-decoration: none; color: #740e00;"
              href="mailto:portal_app_team@svkm.ac.in">portal_app_team@svkm.ac.in</a><br>
            <i class="fa fa-solid fa-phone"></i> 022-35476608<br>
            (Between 10:00 am to 7:00 pm)</br></br>
            <!-- <a style="text-decoration: none;color:#000;font-weight: bold;font-size: 16px;"
              href="https://lms.svkm.ac.in/login">Reset Password
              Using
              LMS</a> -->
            <div>
              <a href="https://lms.svkm.ac.in/login" class="link">
                <span class="mask">
                  <div class="link-container">
                    <span style="font-size: 16px;font-weight:bold;" class="link-title1 title">Forgot Password</span>
                    <span style="font-size: 16px;font-weight:bold;" class="link-title2 title">Using LMS</span>
                  </div>
                </span>
                <div class="link-icon">
                  <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                    clip-rule="evenodd">
                    <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                  </svg>
                  <svg class="icon" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd"
                    clip-rule="evenodd">
                    <path d="M21.883 12l-7.527 6.235.644.765 9-7.521-9-7.479-.645.764 7.529 6.236h-21.884v1h21.883z" />
                  </svg>
                </div>
              </a>
            </div>
            <!-- <button type="button" class="btn btn-dark test-btn"><i class="fas fa-sign-in-alt"></i> Test Btn</button> -->
          </form>
        </div>
      </div>
    </div>
  </section>

  <div class="modal-loader d-none" id="main-loader">
    <svg version="1.1" id="L5" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
      y="0px" viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
      <circle fill="#FF4136" stroke="none" cx="6" cy="50" r="6">
        <animateTransform attributeName="transform" dur="1s" type="translate" values="0 15 ; 0 -15; 0 15"
          repeatCount="indefinite" begin="0.1" />
      </circle>
      <circle fill="#FF851B" stroke="none" cx="30" cy="50" r="6">
        <animateTransform attributeName="transform" dur="1s" type="translate" values="0 10 ; 0 -10; 0 10"
          repeatCount="indefinite" begin="0.2" />
      </circle>
      <circle fill="#FFDC00" stroke="none" cx="54" cy="50" r="6">
        <animateTransform attributeName="transform" dur="1s" type="translate" values="0 5 ; 0 -5; 0 5"
          repeatCount="indefinite" begin="0.3" />
      </circle>
    </svg>
  </div>

  <script>

    function dynamicFetch(url, method = 'GET', obj = null) {
      const options = {
        method: method.toUpperCase(),
        headers: {
          'Content-Type': 'application/json',
        },
      };

      if (obj && method.toUpperCase() !== 'GET') {
        options.body = JSON.stringify(obj);
      }

      return fetch(url, options)
        .then(response => {
          if (!response.ok) {
            throw new Error(`HTTP error! Status: ${response.status}`);
          }
          return response.json();
        })
        .catch(error => {
          console.error('Fetch error:', error);
          throw error;
        });
    }


    document.querySelector('#login-btn').addEventListener('click', async function (e) {

      e.preventDefault();
      let username = document.querySelector('#user_id').value;
      let password = document.querySelector('#password').value;

      if (!username) {
        alert('Please enter your username');
        return;
      }
      if (!password) {
        alert('Please enter your password');
        retur
      }

      let obj = {
        username,
        password
      }

      dynamicFetch('<%- BASE_URL %>user/login', 'POST', obj)
        .then(data => {
          console.log('POST request successful:', data);
          if (data.redirect.includes('dashboard')) {
            location.href = data.redirect;
          } else {
            document.querySelector('.login-error-alert').classList.remove('d-none');
          }

        })
        .catch(error => {
          document.querySelector('.login-error-alert').classList.remove('d-none');
          console.error('Error making POST request:', error);
        });


    });

    document.addEventListener('click', function (e) {
      if (e.target.classList.contains('btn-close')) {
        let alertVar = e.target.closest('.alert');
        console.log("Alert clicked:", alertVar);
        alertVar.classList.add('d-none');
      }
    });

    document.querySelector('#showPassword').addEventListener('click', function (e) {
      let password = document.querySelector('#password');
      if (password.type === 'password') {
        password.type = 'text';
      } else {
        password.type = 'password';
      }
    });

    document.addEventListener('DOMContentLoaded', function () {
      var usernameInput = document.getElementById('user_id');
      var passwordInput = document.getElementById('password');

      // Prevent copying

      passwordInput.addEventListener('copy', function (event) {
        event.preventDefault();
      });


      passwordInput.addEventListener('paste', function (event) {
        event.preventDefault();
      });
    });




  </script>
</body>

</html>